
/*------------------------ Content CSS--------------------------------*/

.gallery-offset{
    
	margin-top:20px;
    margin-left:42px;	
	padding:0px;
	
}

.content .col-md-3{
	
position: relative;
min-height: 1px;
padding-right:15px;
padding-left: 15px;
}

.horizontal-line-divider{
	height:13px;
	width: 100%;
	margin-bottom:0px;
	background:url(../images/news_bg_horizontal2.png) repeat-x;
}



.content-top-container{	
	margin-top:-15px;
	padding-top:15px;
	 height: 146px;
   width: 100%;
  	background-color: #56a1d5;	
}

.content-bg-container{	
	
	 height: 21px;
    /*width: 1024px;
	*/
  	background-color: #edecec;	
}

.gallery-left{	
	
	width: 145px;



	margin: 0 0 0 21px;
	
	
	 height: 275px;
	 margin: 0 0 0 21px;
    
  	background-color: #edecec;
}

.gallery-center{	
	
	 height: 275px;
    /*width: 1024px;
	*/
  	background-color: #ddd;	
}

.gallery1,.gallery2,.gallery3,.gallery4,.gallery5,.gallery6,.gallery7,.gallery8{
	 width: 219px;
	height: 189px;
   	background-color: #ddd;	
	
	
	
		
}


.view-category{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	padding: 10px 0px;	
	text-align:center;
	
}

.image-container{
	
	width: 219px;
	

border-top:1px solid #dcdcdc;
border-left:1px solid #dcdcdc;
border-right:1px solid #dcdcdc;
border-bottom:2px solid #7f7f7f;
	
}


.gallery-image{	
	position:absolute;
	left:0px;
	top:0px;
margin-left:15px;
	 width: 219px;	 
	height: 189px;
    /*width: 1024px;
	*/
  	background-color: #ddd;	
	/*background: url('../images/02-AMC_Product-page_final_27092013_05.png');*/
}



.desc{
	position: relative;		
	height: 86px;
	width: 216px;
	background-color: #edecec;
}

.category-mouseover-btn{
	width:149px;height:41px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;border:1px solid #DCDCDC;background-color:#F4911E;-webkit-box-shadow: #cccccc 2px 2px 2px;-moz-box-shadow: #cccccc 2px 2px 2px; box-shadow: #cccccc 2px 2px 2px;position:relative;left:35px;top:75px;
	
}



.gallery-content {
	color: #525151;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	/*padding: 30px 30px;	*/
	margin: 5px 5px;
	text-align:center;
	
}

.gallery-content-heading {
	color: #525151;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	margin: 5px 5px;
	/*padding: 30px 30px;	
	*/
	text-align:center;
	
}

.row.bgfill{
	background-color: #edecec;
}





.topspacer{
	margin-top:20px;
}


.col-md-12.topspacer{
	margin-top:20px;
	
}

.topspacer2{
	margin-top:30px;
}





.col-md-2.gallery-spacer {
	position: relative;
	
	float: left;
	width: 20%;
	padding: 0 2px 0 0;
	margin: 0 0 0 22px;
}
.content-top{	
	text-align:center;
	
	margin: 30px 30px;
    

}
.content-main{	
	text-align:center;
	
	margin-top: 10px;
	padding: 0px 25px;
    

}

p.subheader-content-heading {
	color: #fff;
	font-size: 20px;
	font-weight:bold;
	
	position: relative;
	top: 11px;	
	width: 100%;
	text-align:center;
	
}

p.subheader-content {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	
	position: relative;
	padding-top: 14px;
padding-right:8.7%;
	padding-left:8.7%;

	text-align:center;
	
}

/*------------------------ Content CSS--------------------------------*/

/* _____ [1] GLOBAL ________________________________________________________ */
/*.bgalign {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .6;
	display: block;

}*/
body {
	width: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
}
li{
	list-style-type: none;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;;
	font-weight: normal;
}
a:hover, a:focus {
color: #2A6496;
text-decoration: none !important;
}
a:active, a:hover {
outline: 0;
}

.col-md-4.logo {
	padding: 10px 0 0 41px !important;
}
.col-md-10.energymenu {
width: 73%;
}
.navbar-inverse{	
	background: url('../images/top_bg.png') repeat-x 0% 0%;
	/*height: 77px;*/
	border:0px !important;
}
.col-md-4.menu1 {
	position: relative;
	top: 27px;
	float: left;
	width: 20%;
}
.col-md-4.menu2 {
	position: relative;
	top: 27px;
	float: left;
	width: 25%;
}
.col-md-4.menu3 {
	position: relative;
	top: 27px;
	float: left;
	width: 29%;
}
.menu1 {
	position: relative;
	top: 27px;
	float: left;

}
.menu2 {
	position: relative;
	top: 27px;
	float: left;

}
.menu3 {
	position: relative;
	top: 27px;
	float: left;

}
.top-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
	
}

.top-icon2 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}

.top-icon3 {
	background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}

.top-icon6 {
background: url('../images/spritesheet.png') no-repeat 8.433% 58.273%;
padding: 11px;
width: 46px;
float: left;
}


.toplink1{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink2{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink3{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink4{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink5{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.toplink6 {
color: #525151;
font-size: 12px;
font-weight: bold;
text-decoration: none;
}


	
	.menu4 {
position: relative;
top: 27px;
float: left;
}



.topnav {
	margin-bottom: 0;
	list-style: none;
	width: 62%;
}

.mainnav{
	background: #e9e8e8;
	height: 77px;
	margin: 11px 0 0 0;
	position: relative;

}
.col-md-2.mainmenu1 {
	position: relative;
	top: 4px;
	float: left;
	width: 19.5%;
	padding: 0 1px 0 0;
/*	margin: 0 0 0 9px;*/
}
.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 20px;
}
.col-md-5.breadcrumbs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 17px;
	top: 4px;
	float: left;
	width: 17%;
	padding: 0 2px 0 0;
}
.mainmenu-icon{
	background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon2{
	background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon3{
	background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon4{
	background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon5{
	background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon6 {
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
	padding: 14px;
	width: 48px;
	height: 81px;
	float: left;
}
.mainmenulink {
	color: #525151;
	font-size: 12px;
	font-weight:normal;
	text-decoration: none;
	position: relative;
	top: 11px;
	left: 7px;
	width: 100%;
}

.prog-link {
	background: #525151;
	width: 142px !important;
	height: 77px;
	color: #fff;
	padding: 20px 32px 0 38px !important;
	margin: 0 0 0 40px;
}
.search {
	width: 8%;
	float: right;
	position: relative;
	right: 9px;
	/*top: 0px;*/
}
.car-menu {
	background: #e9e8e8;
	height: 52px;
	margin: -52px 0 0 0;
	position: relative;

}
.carmenus {
	width:70%;
	height: 50px;
	margin: auto;
}
ul
.menusession{
 	width:90%;
 	margin:0 auto;
}
.menu {
	float: left;
	padding: 0px 15px 0 20px;
	border-right: 1px solid #ccc;
	height: 31px;
	position: relative;
	top: 12px;
}
.menulast {
	border-right: none;
	float: left;
	padding: 0px 15px 0 20px;
	height: 31px;
	position: relative;
	top: 12px;
}
.topnav-right {
	position: relative;
	right: 40px;
	float: right;
	}

.breadcrumb>li+li:before {
	position: relative;
	top: 3px;
	background: url('../images/breadcrumbs-arrow.png') no-repeat;
	content: "";
	margin: 0 6px;
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
}
.breadcrumb li a {
	color: #494949;
}

.breadcrumb>.active {
	color: #3968b1 !important;
}
.headerlabel {
	color: orange;
	font-size: 20px;
	font-weight: normal;
	padding: 0 0 0 44px;
	margin-top: 8px;
}
.col-md-12.aboutbanner {
	padding: 0 41px 0 41px;
	background: #d0d2d3;
	margin: 2px 0 0 0;
}
.aboutmenu-container {
	height: 35px;
	background: #8e8e8e;
	font-size: 12px;
}
.menus {
	width: 95%;
	margin: 0 auto;
}
.abtmenu {
	float: left;
/*	padding: 0px 12px 0 12px;*/
	position: relative;
	top: 9px;
}
ul li.abtmenu-active a {
	color: #fff;
	font-size: 12px;
	background: orange;
	padding: 9px 12px 9px 12px;
	float: left;
	text-decoration: none;
}
ul.menus li.abtmenu a {
	color: #fff;
	padding: 9.2px 14px;
}
ul li.abtmenu a:hover {
	background: orange;
	text-decoration: none;
}
.row.headersession {
	background: #edecec;
	height: 38px;
}
.col-md-12.aboutbanner img {
	width:100%;
}
.caro-menulink {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 11px;
}
.menu-container{
	width:100%;
	margin:0 auto;
}
.am_conversion {
	background: #f4911e;
	height: 240px;
	margin: -20px 0 0 0;
}
.am-container{
	width: 64%;
	margin: 0 auto;
	text-align: center;
}
.am-header {
	padding: 12px;
	width: 61%;
	margin: 20px auto;
	margin-bottom: 28px;
	color: #fff;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}
.dot {
	background: url('../images/spritesheet.png') no-repeat 54.433% 58.273%;
	padding: 14px;
	width: 48px;
	height: 49px;
	position: relative;
	top: -26px;
}
.yourone-txt {
	color: #fff;
	font-size: 16px;
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	margin-top: 14px;
	margin-right: 13px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-default {
	color: #FC9B0B !important;
	background-color: #525151 !important;
	font-size: 16px !important;
}
.arrowicon {
	background: url('../images/spritesheet.png') no-repeat 86.433% 50.273%;
	padding: 29px;
	width: 51px;
	height: 51px;
}
.programs-container{
	background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
	background-size: 100%;
	height: 404px;	
}
/*.horizontal-line-divider {
	height: 13px;
	width: 100%;
	margin-bottom: 0px;
	background: url(../images/news_bg_horizontal.png) repeat-x;
}*/
.col-md-6.social-left {
	background: #ccc;
	height: 47px;
}
.social-container{
    position:relative;
    top:15px;
    left: 39px;
    width: 130%;

}
.p-icon{
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon{
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;	
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
background-position: -197px -82px;
}
.t-icon:hover {
background-position: -241px -82px;
}
.f-icon:hover {
background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 171px;
	width: 100%;
}
.bs-example.twinbtn {
	width: 102%;
}
.phoneno{
	float:left;
	width:30%;
}
.catalog{
	float:left;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.bottom-icon2{
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.col-md-4.control-label {
	color: #fff;
	padding: 15px 0 0 24px;
	font-size: 13px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37% !important;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	margin: 7px 0 0 -2px;
	padding:8px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
	padding: 18px 16px 0 16px;
	width: 48px;
	height: 12px;
	position: relative;
	left: 243px;
	top: -15px;
}


.row.footerbg {
	background: #777777;
}
.foot-container{
	height: 44px;
}

.bot {
	float:left;
	padding: 12px 0 0 0;
	color: #b3b3b3;
	font-size: 11px;
}
.foonav {
	padding: 0 0 0 0;
	display: inline;
	color: #b3b3b3;
}
.foonav a {
	color: #b3b3b3;
	padding-right: 2px;
}
.subnav_web_templates {
	padding: 12px 35px 0 0;
/*	background: #777777;*/
	color: #b3b3b3;
	font-size: 11px;
	float: right;
	line-height: 18px;
}




/*_______content  ___________________________________________________________________*/
.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.container.amc-innerpages{
	background:#edecec;
}
.mainnav-subpage {
	background: #FFFFFF;
	height: 77px;
	margin: 0 0 0 0;
	position: relative;
}
.contact-container {
	background: #fff;
	overflow: hidden;
}
.col-md-2.divider {
padding: 15px 80px;
}
.contact-get-txt {
	color: #3968b1;
	font-size: 24px;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}
.contact-parag-txt{
	color:#494949;
	font-size: 13px;
	font-weight: normal;
}

.contact-form-container {
	width: 80%;
	margin: 0 auto;
	position: relative;
	left: 10%;
	top: 8px;
}
.contact-form-field {
	display: block;
	padding: 0 0 0 11px;
	width: 300px;
	height: 41px;
	margin: 22px 0 -9px 0px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact-form-field2 {
	display: block;
	padding: 5px 0 0 11px;
	width: 300px;
	margin: 22px 0 0 0px;
	font-size: 13px;
	resize: vertical;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.contact-parag-txt2{
	color:#494949;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	margin:5px 0 0 0;
}
.submit-btn {
	display: inline-block;
	background: #f4911e;
	padding: 13px 12px;
	width: 40%;
	margin: 37px 0 0 68px;
	font-weight: normal;
	font-size: 13px;
	white-space: nowrap;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	text-transform: uppercase;
	-webkit-user-select: none;
}
b, strong {
	font-weight: bold;
	font-size: 13px;
}
p {
	margin: 0 0 10px;
	font-size: 13px;
}

/*_______Product listing ___________________________________________________________________*/
.container.productlisting-container{
	background:#edecec;
}
.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.mainnav-subpage {
	background: #FFFFFF;
	height: 77px;
	margin: 0 0 0 0;
	position: relative;
}
.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 20px;
}
/*.col-md-2.mainmenu1.select{
	height: 75px;
	border-bottom: 4px solid #f4911e;

}*/
.col-md-5.bcs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	padding: 14px 0 7px 24px;
	text-align: right;
	right: 8px;
	top:-5px;
}
.row.content-session {
	width: 99%;
	margin: 0 auto;
}
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #414141;
	/* content: "#00a0"; */ 
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
	}
.breadcrumb li a {
	color: #494949;
}

.breadcrumb>.active {
	color: #3968b1 !important;
}
.col-md-5.bcs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	padding: 9px 0 14px 24px;
	text-align: right;
	right: 18px;
	top: -5px;
}
.headerrow{
	background: orange;
	padding:5px;
	padding: 7px 0 7px 11px;
	margin: -33px 0 0 0;
	font-size: 16px;
	font-weight:normal;
	color: #fff;
}
.headerrow2{
	background: orange;
	padding:5px;
	padding: 7px 0 7px 11px;
	margin: -33px 0 0 0;
	font-size: 16px;
	font-weight:normal;
	color: #fff;
	margin-bottom: 6px;
}
.bodyrow {
	background: white;
	padding: 5px;
	font-size: 16px; 
	font-weight: normal;
	color: #504E4E;
}
.col-md-3.space {
	padding: 20px;
}
.col-md-9.space {
	padding: 20px;
}
.panel-body.accordion {
	padding: 0 0 0 15px;
	font-size: 14px;
}
a.accordion-toggle.collapsed h4 {
	color: #494949;
	font-size: 16px;
}
a.accordion-toggle.collapsed h4:hover {
	color: #494949;
	font-size: 16px;
	text-decoration: none;
}
.panel-group .panel {


}
.panel {
	background-color: #fff;
	border: none !important;
}
.panel-title1 {
	margin-top: 0;
	margin-bottom: 0;
	color:#5A5A5A;
	font-size: 16px;
	border: 1px solid #ddd;
	padding: 10px;
	width: 94%;
	margin: 6px auto;
	padding: 10px;
	background-image: url('../images/accordion-uparrow.png');
	background-repeat: no-repeat;
	background-position: 97% 50%;
/*	background-position-x: 97%;
	background-position-y: 50%;*/
}
.panel-title2 {
	margin-top: 0;
	margin-bottom: 0;
	color:#5A5A5A;
	font-size: 16px;
	border: 1px solid #ddd;
	padding: 10px;
	width: 94%;
	margin: 6px auto;
	padding: 10px;
	background-image: url('../images/accordion-uparrow.png');
	background-repeat: no-repeat;
	background-position: 97% 50%;
/*	background-position-x: 97%;
	background-position-y: 50%;*/
}
.panel-title3 {
	margin-top: 0;
	margin-bottom: 0;
	color:#5A5A5A;
	font-size: 16px;
	border: 1px solid #ddd;
	padding: 10px;
	width: 94%;
	margin: 6px auto;
	padding: 10px;
	background-image: url('../images/accordion-uparrow.png');
	background-repeat: no-repeat;
	background-position: 97% 50%;
/*	background-position-x: 97%;
	background-position-y: 50%;*/
}
.addtocompare-checkbox {
	display: block;
	vertical-align: middle;
}
.compare-container {
	background: #f59d36;
	font-size: 11px;
	text-transform: uppercase;
	padding: 5px 35px 0px 6px;
	color: #fff;
	width: 92%;
	position: absolute;
	bottom: 0px;
}
.addlabel {
	top: 1px;
	left:-4px;
	position: relative;
}
.addtocompare {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-left: 17px !important;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	float: left;
	margin-left: -20px;
	margin-top: 2px;
}
.pl-productname {
	background: #f5f3f3;
/*	width: 140px;*/
	font-size: 11px;
	padding: 12px;
	margin: 0 0 0 0;
	text-align: center;
	border-bottom: 1px solid #a5a5a5;
}
.product-header{
	background: #66aad9;
	overflow:hidden;

}

.leftarrow{
	background:url('../images/blue-leftarrow.png')  no-repeat transparent;
	width:9px;
	height:22px;
	position: absolute;
	top: 12px;
	left: 3px;
}
.product-heading-container {
	background: #66aad9;
/*	padding: 7px;*/
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	float: left;
	width: 98%;
	margin: 0 0 0 2%;
}
.product-heading1{
    width:15%;
    float: left;
	padding: 2%;
	text-align: center;
}
.product-heading2{
    width:15%;
    float: left;
	padding: 2%;
	text-align: center;
	border-right: 1px solid #B4B1B1;
}
.product-heading3{
    width:25%;
    float: left;
	padding: 2%;
	text-align: center;
	border-right: 1px solid #B4B1B1;
}
.product-heading4{
    width:15%;
    float: left;
	padding: 2%;
	text-align: center;
}
.product-heading5{
    width:30%;
    float: left;
	padding: 2%;
	text-align: center;
}
.blue-leftarrow.png{
	width:100%;
}
img.productcode{
	width:100%;
}
img.small-productcode{
	width:100%;
}
.product-content1 {
	width: 15%;
	float: left;
	padding: 0 0 0 0px;
	margin: -1% 0 0 0%;
	position: relative;
}

.product-content2{
    width:15%;
    float: left;
	padding: 4.4%;
	text-align: center;
	border-right: 1px solid #D5D2D2;
}
.product-content3{
    width:25%;
    float: left;
	padding: 4.4%;
	text-align: center;
	border-right: 1px solid #D5D2D2;
}
.product-content4{
    width:15%;
    float: left;
	padding: 24px 0 0 0;
	text-align: center;
}
.product-content5.btn-primary {
	width: 30%;
	float: left;
}
.pl-btn.btn-primary {
	font-size: 11px;
	margin: 2px;
	text-transform: uppercase;
}
.btn-primary {
	color: #fff;
	background-color: #525151;
	border-color: #525151;
}
.pl-btn {
	display: inline-block;
	padding: 6px 12px;
	width: 28%;
	margin: 0 0 8px 0;
	font-weight: normal;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 3px;
	-webkit-user-select: none;
}
.pl-btn.btn-primary:hover {
	background: #f4911e;
}
.product-content-container {
	background: #FFFFFF;
/*	padding: 6px 0 0 0;*/
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: 0 0 0 2%;
}
.product-content-container2 {
	background: #e2e2e2;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: 0 0 4% 2%;
/*	border-bottom: 1px solid #818080;*/
}
.product-content-container3 {
	background: #FFFFFF;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: -4% 0 0 2%;
}
.product-content-container4 {
	background: #FFFFFF;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: -4% 0 5% 2%;
	border-bottom: 1px solid #818080;
}
.product-content-container5 {
	background: #e2e2e2;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: 0 0 4% 2%;
	border-bottom: 1px solid #818080;
}
.loadingmore-row {
	background: #5D5D5D;
	padding: 7px 0 7px 11px;
	margin: -23px 0 0 0;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	margin-bottom: 6px;
	margin-top: 15px;
	}
.col-md-12.loadmore {
	float: left;
	padding: 20px 0 0 0;
	text-align: center;
}
.col-md-9.topspace {
	padding: 0 20px;
	margin: -12px 0 23px 0;
}	
.product-compare-container {
	background: #66aad9;
	padding: 14px 5px;
	height: 94px;
	position: relative;
}
.col-md-3.graybg {
	background: #525151;
	margin: 0 0 0 7px;
	width: 20%;
	position: relative;
}
.col-md-3.bluebg {
	background: #89cfff;
	margin: 0 0 0 7px;
	width: 20%;
}
.product-img {
	float: left;
}
.product-codeid {
	color: #fff;
	font-size: 13px;
	float: left;
	width: 47%;
	word-break: break-word;
}
.model {
	font-size: 12px;
	font-weight: bold;
}
.codenum {
	font-size: 10px;
	font-weight: normal;
	/*word-wrap: break-word;*/
	float:left;
}
.smallclose {
	position: absolute;
	top: -3px;
	right: 5px;
}
.compare-btn {
	display: inline-block;
	padding: 6px 12px;
	margin: 17px 0 8px 13px;
	font-weight: normal;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	background-color: #525151;
	border: 0px solid transparent;
	border-radius: 3px;
	-webkit-user-select: none;
	text-transform: uppercase;
}
.btn-compare:hover, .btn-compare:focus, .btn-compare:active, .btn-compare.active, .open .dropdown-toggle.btn-compare {
	color: #fff;
	background-color: #f4911e;
	border-color: #dd7c0b;
}
.bigclose {
	position: absolute;
	top: 0px;
	right: 7px;
}


/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */

@media (min-width: 1200px){
	.container {
		max-width: 100%;
	}
	.col-md-4.logo{
		padding:12px 0 0 0;
	}
	.carmenus {
		width: 37% !important;
		height: 50px;
		margin: auto;
	}
	.menus {
		width: 950px;
		margin: 0 auto;
	}
	.leftarrow {
		background: url('../images/blue-leftarrow.png') no-repeat transparent;
		width: 9px;
		height: 22px;
		position: absolute;
		top: 6px;
		left: 14px;
	}
	.pl-productname {
		background: #f5f3f3;
		font-size: 11px;
		padding: 36px 22px;
		margin: 0 !important;
		text-align: center;
		border-bottom: 1px solid #a5a5a5;
	}
	.contact-form-container {
		width: 60%;
		margin: 0 auto;
		position: relative;
		left: 63px;
	}

}	
@media (min-width: 992px){
	.container {
		max-width: 100%;
	}
	.col-md-4.logo{
		padding: 12px 0 0 37px;
	}
	


	 .col-md-1 {
	padding: 0;
	}
	 .col-md-2 {
	padding: 0;
	}
	 .col-md-3 {
	padding: 0;
	}	
	 .col-md-4 {
	padding: 0;
	}
	 .col-md-5{
	padding: 0;
	}
	 .col-md-6{
	padding: 0;
	}
	 .col-md-7 {
	padding: 0;
	}	
	 .col-md-8 {
	padding: 0;
	}	
	 .col-md-9 {
	padding: 0;
	}
	 .col-md-10 {
	padding: 0;
	}
	 .col-md-11 {
	padding: 0;
	}	
	 .col-md-12 {
	padding: 0;
	}	
	.carmenus {
	width: 70%;
	height: 50px;
	margin: auto;
	}
}