
.mainmenulink {
    top: 17px;
}

.px-BtmBox {
    overflow: hidden;
}

.px-BtmBox-hotspot {
    top: -320px;
}

.px-BtmBox:hover .px-BtmBox-hotspot {
    top: 0;
}

.px-BtmBox {
    background: url(../images/white_trans_bg.png) repeat;
}


.newsletter.col-md-6 {
    float: left;
}

.social-left.col-md-6 {
    float: left;
    width: 50%;
}

.px-BtmBox-hotspot {
    display: none;
}

    #px-Program:hover .px-BtmBox-hotspot ,
	#px-Talktous:hover .px-BtmBox-hotspot
	{
        display: block;
    }

.px-BtmBox {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
    background: transparent;
}


/* to fix ie8 on program & services*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */


.col-md-1.search {
    width: auto;
    float: right;
}



.mainnav-subpage, .mainnav-home,.col-md-2 ul.sub-menu1, .col-md-2 ul.sub-menu2, .col-md-2 ul.sub-menu3, .col-md-2 ul.sub-menu4, .col-md-2 ul.sub-menu5 {
    filter: initial;
}
 /*.col-md-2 ul.sub-menu1, .col-md-2 ul.sub-menu2, .col-md-2 ul.sub-menu3, .col-md-2 ul.sub-menu4, .col-md-2 ul.sub-menu5 {
     background:rgb(97,97,97);
	background: transparent\9;
	background:rgba(97,97,97,0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5616161,endColorstr=#e5616161);
	zoom: 1;
}*/

.col-md-2.mainmenu5 ul.sub-menu5 {
    width: 93%;
}

    .col-md-2.mainmenu5 ul.sub-menu5 li {
        float: left;
    }

.product-heading-container, .product-content-container {
    zoom: 1;
}

.col-md-9.topspace {
    padding-right: 18px;
}

.content-top-container {
    margin: 0;
}

.product-content-container {
    margin-left: 2%;
}

    .product-content-container.even {
        background: #FFFFFF;
    }

.product-content1 {
    margin-top: 0;
}

product-content-container.odd {
    background: #e2e2e2;
    border-bottom: 1px solid #818080;
}

.product-content-container .product-content2, .product-content-container .product-content3, .product-content-container .product-content4 {
    margin-top: 0;
}
.ips select,.ips2 select,.ips3 select{
    background:#fff none !important;
      padding-right:0 !important;
   padding-top:9px !important;
   padding-bottom:10px !important;
   line-height:1 !important;
   height:auto !important;
   color:#555 !important;
   
}
.download-btn a, .download-btn a:focus, .download-btn a:hover {
    color:#fff;
}

.search-form-field {
    padding-top:23px !important;
    height:71px !important;
}
ul.slides .text_bg {
    max-width:500px !important;
    max-height:500px !important;
    overflow:hidden !important;
}
a, a:focus {
    outline:none !important;
}
.ips select:focus, .ips select,.ips2 select,.ips3 select{
    outline:none !important;
  
}
.contact-form-container .back-btn a img {
    display:none;
}
.contact-form-container .back-btn a {
    background:url('../images/back_btn.png') no-repeat ;
    padding-left:20px;
}


.rac-form-field,.rac-form-field2,.rac-form-field3,.rac-form-field5 {
    padding-top:10px;
}


input[type=submit][disabled=disabled] {
    color:initial !important;
    
}
.top-search a {
    display:block;
    overflow:hidden;
}



/*footer icons */

.p-icon {
   background-position:-341px 6px;
}
.t-icon {
    background-position:-385px 6px;
}
.f-icon {
    background-position:-435px 6px;
}


.page-footer .col-md-6,
.page-footer .col-md-9,
.page-footer .col-md-3{
float:left;
}
.page-footer .col-md-6{
width:50%;
}
.page-footer .col-md-3{
width:25%;
}
.page-footer .col-md-9{
width:75%;
}


#product_main_image {
    max-height:400px !important;
}
.table-prddisplay .pl-btn.btn-primary {
    margin-left:-.5%;
     margin-right:0;
     width:96%;
}

.top-icon6{
/*background-position:9.43% 58.57% !important*/
}

.tooltip-inner {
border-radius:0;
}

li.top-li-5.last ul li ul{ margin-left:90px;}
.ips2 select {
    margin-top:0 !important;
}
.radio-group2 {
    float:left;
}
.rac-radio1, .rac-checkbox {
    margin-bottom:0 !important;
}
.ips2 {
    padding-top:15px;
}
.rac-form-field,.rac-form-field5,.rac-form-field2,.rac-form-field3 {
    padding:10px 0 0 12px !important;
}
.form-control {
    padding:5px 0 0 12px !important;
}

.mainnav-home {
    background-color: #fff !important;
}

.login-form-container .form-control{
	  font-family:Arial;
	  
	  }
	  
.place-password{ font-family:Arial;color:#555;}

.passwrap input{  background: url(../images/bg-none.png) repeat !important; position:relative !important; z-index:3 !important; zoom:1; }

.comparesession.col_width{ padding-top:5px !important;}
.compare-bigclose{ top:-3px !Important;}
.comparesession.col-md-3 .product-content2.wp-post-image{ width:100% !important;}
.comparesession.col-md-3 img{ width:auto !important;}

.css_noNarrow img.productcode {
        max-width: 261px !important;
		width:auto !important;
    } 
	
	.col-md-8 {
	padding-left:15px !important;
	padding-right:15px !important;
	}
	.search{ width:46px !important; }
	.am-header{ width:315px !important;}
	.alert-warning {
color: #38630A !important;
background-color: #DEF7CC !important;
border-color: #CCF0C7 !important;
}

.rc-form-field{
padding-top:12px !Important;
}
.contact-form-field, .contact-form-field3{padding-top:9px !Important; }

.ps-container .ps-scrollbar-y-rail {
    right:12px !important;
}

@media (min-width:992px) and (max-width:1024px) {
    
}


.top-icon, .top-icon2, .top-icon3, .top-icon6{
float:left;
}
.toplink1, .toplink2, .toplink3, .toplink6{
float:left;	
}
.mainnav-subpage form {
    margin-bottom:0 !important;
}

