/* _____ [1] GLOBAL ________________________________________________________ */

body {
	width: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;;
	overflow-x:hidden;
}
li{
	list-style-type: none;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;;
	font-weight: normal;
}
a:hover, a:focus {
color: #2A6496;
text-decoration: none !important;
}
a:active, a:hover {
outline: 0;
}
.car-menu {
	background: #e9e8e8;
	height: 52px;
	margin: -52px 0 0 0;
	position: relative;

}
.carmenus {
	width:70%;
	height: 50px;
	margin: auto;
}



.parsley-error-list li{
	
	padding-top:10px;
	color:orange;
}


ul
.menusession{
 	width:90%;
 	margin:0 auto;
}
.menu {
	float: left;
	padding: 0px 15px 0 20px;
	border-right: 1px solid #ccc;
	height: 31px;
	position: relative;
	top: 12px;
}
.menulast {
	border-right: none;
	float: left;
	padding: 0px 15px 0 20px;
	height: 31px;
	position: relative;
	top: 12px;
}
.col-md-5.breadcrumbs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 17px;
	top: 4px;
}
.breadcrumb>li+li:before {
	position: relative;
	top: 3px;
	background: url('../images/breadcrumbs-arrow.png') no-repeat;
	content: "";
	margin: 0 6px;
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
}
.breadcrumb li a {
	color: #494949;
}

.breadcrumb>.active {
	color: #3968b1 !important;
}
.headerlabel{
	color: orange;
	font-size: 20px;
	font-weight: normal;
	padding: 0 0 0 44px;
	margin-top: 8px;
}
.col-md-12.aboutbanner {
	padding: 0 41px 0 41px;
	background: #d0d2d3;
	margin: 2px 0 0 0;
	}
.aboutmenu-container {
	height: 35px;
	background: #8e8e8e;
	font-size: 12px;
}
.menus {
	width: 95%;
	margin: 0 auto;
}
.abtmenu {
	float: left;
	position: relative;
	top: 9px;
}
ul li.abtmenu-active a {
	color: #fff;
	font-size: 12px;
	background: orange;
	padding: 9px 12px 9px 12px;
	float: left;
	text-decoration: none;
}
ul.menus li.abtmenu a {
	color: #fff;
	padding: 9.2px 14px;
}
ul li.abtmenu a:hover {
	background: orange;
	text-decoration: none;
}
.col-md-12.aboutbanner img {
	width:100%;
}
.caro-menulink {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 11px;
}
.menu-container{
	width:100%;
	margin:0 auto;
}
.am_conversion {
	background: #f4911e;
	height: 240px;
	margin: -20px 0 0 0;
}
.am-container{
	width: 64%;
	margin: 0 auto;
	text-align: center;
}
.am-header {
	padding: 12px;
	width: 61%;
	margin: 20px auto;
	margin-bottom: 28px;
	color: #fff;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}
.dot {
	background: url('../images/spritesheet.png') no-repeat 54.433% 58.273%;
	padding: 14px;
	width: 48px;
	height: 49px;
	position: relative;
	top: -26px;
}
.yourone-txt {
	color: #fff;
	font-size: 16px;
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	margin-top: 14px;
	margin-right: 13px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-default {
	color: #FC9B0B !important;
	background-color: #525151 !important;
	font-size: 16px !important;
}
.arrowicon {
	background: url('../images/spritesheet.png') no-repeat 86.433% 50.273%;
	padding: 29px;
	width: 51px;
	height: 51px;
}
.programs-container{
	background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
	background-size: 100%;
	height: 404px;	
}
.horizontal-line-divider {
	height: 13px;
	width: 100%;
	margin-bottom: 0px;
	background: url(../images/news_bg_horizontal.png) repeat-x;
}
.col-md-6.social-left {
	background: #ccc;
	height: 47px;
}
.social-container{
    position:relative;
    top:15px;
    left: 39px;
    width: 130%;

}
.p-icon{
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon{
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;	
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
background-position: -197px -82px;
}
.t-icon:hover {
background-position: -241px -82px;
}
.f-icon:hover {
background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 160px;
	width: 100%;
}
.bs-example.twinbtn {
	width: 102%;
}
.phoneno{
	float:left;
	width:30%;
}
.catalog{
	float:left;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.bottom-icon2{
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.col-md-4.control-label {
	color: #fff;
	padding: 15px 0 0 24px;
	font-size: 13px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37% !important;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	margin: 7px 0 0 -2px;
	padding: 8px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
	padding: 18px 16px 0 16px;
	width: 48px;
	height: 12px;
	position: relative;
	left: 243px;
	top: -15px;
}
.row.footerbg {
	background: #777777;
}
.foot-container{
	height: 44px;
}
.bot {
	float:left;
	padding: 12px 0 0 0;
	color: #b3b3b3;
	font-size: 11px;
/*	margin-left: -27px;*/
}
.foonav {
	padding: 0 0 0 0;
	display: inline;
	color: #b3b3b3;
	font-size:9px;
}
.foonav a {
	color: #b3b3b3;
	padding-right: 2px;
}

.foonav a:hover{
	color: #f4911e;
	padding-right: 2px;
}.subnav_web_templates {
	padding: 12px 35px 0 0;
	color: #b3b3b3;
	font-size: 11px;
	float: right;
	line-height: 18px;
}

/* _____  header secsion________________________________________________________ */

.container.amc-innerpages{
	background:#edecec;
}
.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.topnav-right {
	position: relative;
	right: 40px;
	float: right;
}
.col-md-4.menu1 {
	position: relative;
	top: 27px;
	float: left;
	width: 20%;
}
.col-md-4.menu2 {
	position: relative;
	top: 27px;
	float: left;
	width: 25%;
}
.col-md-4.menu3 {
	position: relative;
	top: 27px;
	float: left;
	width: 29%;
}
.menu1 {
	position: relative;
	top: 27px;
	float: left;

}
.menu2 {
	position: relative;
	top: 27px;
	float: left;

}
.menu3 {
	position: relative;
	top: 27px;
	float: left;

}
.top-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
	
}

.top-icon2 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}

.top-icon3 {
	background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink1{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink2{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink3{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.mainnav-home {
	background: #FFFFFF;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	height: 76px;
	margin: 0 0 0 0;
	position: absolute;
	z-index: 4;
	width: 100%;
}
.mainnav-subpage{
	background: #FFFFFF;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	height: 76px;
	margin: 0 0 0 0;
	position: relative;
	z-index: 4;
	width: 100%;
}
.prog-link {
	background: #3C3C3C;
	width: 142px !important;
	height: 76px;
	color: #fff;
	padding: 20px 32px 0 38px !important;
	margin: 0 0 0 40px;
}
.col-md-1.prog-link:hover {
	background: #f4911e;
	color: #fff;
}
.col-md-10.energymenu {
	width: 72%;
	margin: 0 9px;
	position: relative;
	top: -3px;
}
.col-md-2.mainmenu1 {
	position: relative;
	top: 7px;
	float: left;
	width: 17%;
	padding: 0 3px 0 0;
}
.col-md-2.mainmenu2 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu3 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu4 {
	position: relative;
	top: 7px;
	float: left;
	width: 22.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu5 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu2:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu3:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu4:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu5:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.mainmenu-icon{
	background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon2{
	background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon3{
	background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon4{
	background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon5{
	background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon6 {
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
	padding: 14px;
	width: 48px;
	height: 81px;
	float: left;
}
.mainmenulink {
	color: #020202;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	top: 6px;
	left: 7px;
	width: 100%;
}
.search {
	width: 8%;
	float: right;
	position: relative;
	right: 9px;

}
/*_________________ search popup ________________*/


.search-form-field {
	display: block;
	padding: 0 0 0 11px;
	width: 100%;
	height: 51px;
	margin: 0 0 -9px 0px;
	font-size: 16px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 0px solid #ccc;
	border-radius: 0px;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	text-align: right;
}

.popover-content {
	padding: 9px 14px;
	width: 878px;
}

.popover.left .arrow {
	top: 50%;
	right: -6px;
	margin-top: -11px;
	border-left-color: #fff;
	border-right-width: 0;
}
.popover {
	position: absolute;
	top: 0px !important;
/*	left: -869px !important;*/
	z-index: 1010;
/*	display: none;*/
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	background-clip: padding-box;
	max-width: 1162% !important;
	height: 76px !important;
	border-radius: 0px !important;
	border: 0px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*_______dropdown menu _________________________________________________________________*/

.sub-menu1 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter: Alpha(Opacity=90);
		width: 92.5%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
.col-md-2.mainmenu1:hover ul.sub-menu1{
    display:block;
}


.sub-menu2 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu2 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -274px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu2:hover ul.sub-menu2{
    display:block;
}
.sub-menu3 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu3 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -416px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu3:hover ul.sub-menu3{
    display:block;
}

.sub-menu4 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu4 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -557px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu4:hover ul.sub-menu4{
    display:block;
}

.sub-menu5 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu5 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -720px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu5:hover ul.sub-menu5{
    display:block;
}
.row.headersession {
	background: #edecec;
	height: 38px;
}
.headerlabel {
	color: #f4911e;
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 0 44px;
	margin-top: 8px;
}
.col-md-5.breadcrumbs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 17px;
	top: 4px;
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
}
.breadcrumb>li+li:before {
	position: relative;
	top: 3px;
	background: url('../images/breadcrumbs-arrow.png') no-repeat;
	content: "";
	margin: 0 6px;
}

.breadcrumb>.active {
	color: #3968b1 !important;
}

/* _____________footersection_________________________*/
.horizontal-line-divider {
	height: 13px;
	width: 100%;
	margin-bottom: 0px;
	background: url(../images/news_bg_horizontal.png) repeat-x;
}
.row.socialfooter {
	background: #edecec;
}
.col-md-6.social-left {
	background: #edecec;
	height: 47px;
}
.social-container {
	position: relative;
	top: 15px;
	left: 39px;
	width: 130%;
}
.p-icon{
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon{
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;	
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
	background-position: -197px -82px;
}
.t-icon:hover {
	background-position: -241px -82px;
}
.f-icon:hover {
	background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 160px;
	width: 100%;
}
.phoneno {
	float: left;
	width: 30%;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink4{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.catalog {
	float: left;
}
.bottom-icon2 {
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink5{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.form-group {
	margin-bottom: 15px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37% !important;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	padding: 8px;
	margin: 7px 0 0 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
	padding: 18px 16px 0 16px;
	width: 48px;
	height: 12px;
	position: relative;
	left: 243px;
	top: -15px;
}
.row.footerbg {
	background: #777777;
}
.foot-container {
	height: 44px;
}
.bot {
	float: left;
	padding: 17px 0 0 0;
	color: #b3b3b3;
	font-size: 10px;
	width: 104%;
}
.foonav {
	padding: 0 0 0 0;
	display: inline;
	color: #b3b3b3;
	font-size:9px;
}
.foonav a {
	color: #E9E9E9;
	padding-right: 2px;
}
.subnav_web_templates {
	padding: 17px 35px 0 0;
	background: #777777;
	color: #E9E9E9;
	font-size: 10px;
	float: right;
}



/* _____ conservationresources ________________________________________________________ */
.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.container.amc-innerpages{
	background:#edecec;
}
.mainnav-subpage {
	background: #FFFFFF;
	height: 77px;
	margin:0 0 0 0;
}	

.row.cr {
	background: #fff;
	padding-bottom: 32px;
	margin-bottom: -12px;

}

/*.cr-container {
	width: 88%;
	margin: 0 auto;
	position: relative;
	left: 2%;
	top: 8px;
}*/
.cr-headertxt {
	color: #3968b1;
	font-size: 24px;
	font-weight: normal;
	font-family: "open sans";
	margin: 32px 0 0 0;
}
.cr-paragtxt1{
/*	color: #525151;*/
	color: #000;
	font-size: 13px;
	font-weight: bold;
	font-family: "open sans";
	margin: 28px 0 0 0;

}
.cr-imagecontainer {
	text-align: center;
	margin: 26px 0 0 0;
}
.cr-paragtxt2{
/*	color: #525151;*/
	color: #000;
	font-size: 13px;
	font-weight: normal;
	font-family: "open sans";
	line-height: 18px;
	margin: 28px 0 -12px 0;

}
.col-md-1.cr-middledivider img {
width: 20px;
height: 1840px;
}
.col-md-1.cr-middledivider{
/*	height: 2891px;*/
/*	background: url("../images/cr-divider1.png") no-repeat 100% 100%;*/
	/*vertical-align: bottom;
	width: 20px;
	padding: 0 23px 0 20px;*/

}
.cr-divider {
	margin: 44px 0 0 -30px;
	text-align: center;
}
.cr-headertxt2 {	
/*	color: #525151;*/
	color: #000;
	font-size: 18px;
	font-weight: bold;
	font-family: "open sans";
	margin: 12px 0 0 0;
}
.cr-paragtxt3 {
	color: #525151;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	font-family: "open sans";
	margin: 5px 0 0 0;
}
.cr-headertxt3 {
	color: #3968b1;
	font-size: 24px;
	font-weight: bold;
	font-family: "open sans";
	margin: 40px 0 24px 22px;
}
.cr-ulist li{
	list-style-type: disc !important;
	margin: 17px 0 -5px 0;
	color: #3968b1;
	font-size: 13px;
	font-weight: normal;
	font-family: "open sans";
	line-height: 15px;
	width: 90%;
}
.cr-headertxt4 {
	color: #000;
	font-size: 18px;
	font-weight: normal;
	font-family: "open sans";
	margin: 30px 0 0 21px;
	width: 90%;
	line-height: 24px;
}
.cr-ulist2 li {
	list-style-type: disc !important;
	margin: 17px 0 -5px 0;
	color: #3968b1;
	font-size: 13px;
	font-weight: normal;
	font-family: "open sans";
	line-height: 11px;
	width: 95%;
}
.enviro-txt{
	font-size: 13px;
	font-weight: normal;
	font-family: "open sans";
	color:#000;
	line-height: 16px;
	padding: 8px;
}
.cr-headertxt5{
	color: #000;
	font-size: 24px;
	font-weight: normal;
	font-family: "open sans";
	margin: 30px 0 0 21px;
	width: 90%;
}
.suggest-txt {
	font-size: 18px;
	font-weight: normal;
	margin: 64px 0 0 24px;
}

/*----------------------------------modalbox popup-----------------------------------------*/
.form-group-rac {
margin-bottom: 15px;
position: relative;
top: -50px;

}

.modal-dialog {
	width: 750px !important;
	right: auto;
	left: 50%;
	padding-top: 170px;
	padding-bottom: 30px;
}
.modal-header-rac {
	min-height: 16.428571429px !important;
	padding: 15px !important;
	border-bottom: 0px solid #e5e5e5 !important;;
}
.modal-content-rac {
	position: relative;
	background-color: #edecec;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px!important;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	background-clip: padding-box;
    overflow: hidden;
}
.form-header-txt {
	color: #3968b1;
	font-size: 24px;
	font-weight: bold;

}
.form-headercaption-txt {
	color: #494949;
	font-size: 13px;
	font-weight: normal;
}
.form-contact-method{
	color: #494949;
	font-size: 13px;
	font-weight: normal;
	margin:10px 0 0 0;
}
.rac-container {
	overflow: hidden;
	margin: -10px 0 0 0;
}
.alert-warning button.close{margin-top: -3px;}
.rac-form-field {
	display: block;
	padding: 0 0 0 11px;
	width: 100%;
	height: 41px;
	margin: 18px 0 0 0px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 7px #ccc;
	-moz-box-shadow: inset 0 0 7px #ccc;
	box-shadow: inset 0 0 7px #ccc;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mandatory-txt {
	position: relative;
	top: 41px;
	font-size: 11px;
	color: #AFADAD;
}
.submit-btn {
	display: block;
	background: #525151;
	padding: 0 12px;
	width: 20%;
    height:46px;
    line-height:46px;
	margin: 14px 0;
	font-weight: normal;
	font-size: 14px;
	white-space: nowrap;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	-webkit-user-select: none;
	text-transform: uppercase;
	float: right;
    position:relative;
    z-index:100;
	
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #f59c34;
}
.search {
	float: right;
	position: relative;
	right: 37px;
	top: 0px;
	width: auto;
}
button.close {
padding: 0;
background: transparent;
-webkit-appearance: none;
width: 30px;
height: 29px;
position:relative;
z-index:100;
}
.alert {
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
width: 107%;
}
/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */

@media (min-width: 1200px){
	.container {
		max-width: 100%;
	}
	.col-md-4.logo{
		padding:12px 0 0 0;
	}
	.carmenus {
		width: 37% !important;
		height: 50px;
		margin: auto;
	}
/*	.col-md-1.search {
		position: relative;
		left: 0.3%;
	}*/
	.menus {
		width: 950px;
		margin: 0 auto;
	}
	.leftarrow {
		background: url('../images/blue-leftarrow.png') no-repeat transparent;
		width: 9px;
		height: 22px;
		position: absolute;
		top: 6px;
		left: 14px;
	}
	.pl-productname {
		background: #f5f3f3;
		font-size: 11px;
		padding: 36px 22px;
		margin: 0 !important;
		text-align: center;
		border-bottom: 1px solid #a5a5a5;
	}
	/*.col-md-1.cr-middledivider {
		height: 1995px !important;
		background: none!important;
		vertical-align: bottom;
		width: 20px;
		padding: 0 20px 0 20px;

	}*/
	.col-md-1.cr-middledivider img {
		height: 1995px;

	}
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter: Alpha(Opacity=90);
		width: 94.2%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width:94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
	}
	.col-md-2.mainmenu2:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu3:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu4:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu5:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.mainmenulink {
	top: 17px;
	}
@media (min-width: 1600px){
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter:Alpha(Opacity=90);
		width: 96%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}


}
	
}	
@media (min-width: 992px){
	
	.mainnav-subpage {
		display: block;
	}
	
	
	.container {
		max-width: 100%;
	}
	
	.carmenus {
	width: 70%;
	height: 50px;
	margin: auto;
	}
	
	.col-md-1.cr-middledivider {
display:block;
}


}

@media (min-width: 767px )  and (max-width : 1023px) {
	
		



	
	.container{
		overflow-x:hidden;
		
	}
	
	.col-md-1.cr-middledivider {
display:none;
}

	

	
	.aboutmenu-container {
font-size: 11px;
overflow-x: hidden;
}

.menus {
	

margin-left: -30px;
width: 1024px;
}
ul.menus li.abtmenu a {

padding: 9.2px 8px;
}

.col-md-5.breadcrumbs {

right: 18px;
top: -32px;
}



.closebtn {
margin-top: -72px;
margin-right: 56px;
float: right;
cursor: pointer;
}

.subscription {

padding-top: 10px;
padding-left: 40px;
font-size: 13px;
color: #fff;

}


.mainmenu-icon {

margin-left: -10px;
}


.mainmenu-icon2{
	
margin-left: -10px;
}
.mainmenu-icon3{
	
margin-left: -22px;

}
.mainmenu-icon4{
	
margin-left: -29px;
}
.mainmenu-icon5{
	
margin-left: -8px;
}



	
	.container {
		max-width: 100%;
	}
	

	
	
	
	.subnav_web_templates {
padding: 0px 84px 10px 0;
background: #777777;
color: #E9E9E9;
font-size: 9px;
float: right;
}


	.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}
.col-md-2.mainmenu2:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}
.col-md-2.mainmenu3:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}
.col-md-2.mainmenu4:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu5:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}

	
	.col-md-6.newsletter {
background: #f39a32;
height: 47px;
margin: 0 0 0px 0;
width: 100%;
}

.col-md-2.control-label {
color: #fff;
width: 37%;
padding: 14px 0 0 0px;
margin: 0 0 0 -25%;

}

.form-control-nl {

margin: -27px 0 0 50%;
}

.newsletter-btn {
margin-left: 50%;
}



	.col-md-4.logo {
	padding: 12px 0 0 37px;
	}

	/*.col-md-1 {
	padding: 0;
	}
	.col-md-2 {
	padding: 0;
	}
	.col-md-3 {
	padding: 0;
	}	
	.col-md-4 {
	padding: 0;
	}
	.col-md-5{
	padding: 0;
	}
	.col-md-6{
	padding: 0;
	}
	.col-md-7 {
	padding: 0;
	}	
	.col-md-8 {
	padding: 0;
	}	
	.col-md-9 {
	padding: 0;
	}
	.col-md-10 {
	padding: 0;
	}
	.col-md-11 {
	padding: 0;
	}	
	.col-md-12 {
	padding: 0;
	}*/
	
	.prog-link {
background: #3C3C3C;
width: 76px !important;
height: 76px;
color: #fff;
padding: 14px 0px 0 0px !important;
margin: 0 0 0 0px;
text-align: center;
}


ul.sub-menu1 {
left:0px;
top: 152px;
width:100%;
}

ul.sub-menu2 {
left:0px;
top: 152px;
width:100%;
}

ul.sub-menu3 {
left:0px;
top: 152px;
width:100%;
}

ul.sub-menu4 {
left:0px;
top: 152px;
width:100%;
}

ul.sub-menu5 {
left:0px;
top: 152px;
width:100%;
}


.col-md-10.energymenu {
width: 85%;
margin: 0 0 0 0px;
position: relative;
top: -3px;
}

.mainmenulink {

left: 0px;
font-size: 12px;

}



.mainmenu-icon6{
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;

height: 81px;
float: left;
	

}

.col-md-2.mainmenu1 {
	position: relative;
top: 7px;
float: left;
width: 16%;
padding: 0 3px 0 0px;
}
.col-md-2.mainmenu2 {
	position: relative;
top: 7px;
float: left;
width: 20.5%;
padding: 0 3px 0 0;

}
.col-md-2.mainmenu3 {
	position: relative;
top: 7px;
float: left;
width: 25.5%;
	/* padding: 0 3px 0 0; */

}
.col-md-2.mainmenu4 {
position: relative;
top: 7px;
float: left;
width: 17.5%;
padding: 0 3px 0 0;

}
.col-md-2.mainmenu5 {
	position: relative;
top: 9px;

width: 19.5%;
padding: 0 0px 0 0px;

}
.search {
width: 4%;
float: right;
position: relative;
right: 18px;
top: 0px;
}




.search-form-field {

height: 66px;
margin: -10px 6px -9px 12px;

}



	






	
}	


@media (max-width: 767px){
	
	
/* Header style */

		.foonav {

font-size: 9px;
}
	.container.homepg {
		overflow-x:hidden;
	}
	.col-md-2.mainmenu1, .col-md-2.mainmenu2, .col-md-2.mainmenu3, .col-md-2.mainmenu4, .col-md-2.mainmenu5{
		width: 100%;
	}
	.row.header {
		height: 100%;
	}
	.row.header .col-xs-12 {
		border-top: 1px solid rgb(167, 162, 162);
	}
	.topnav-right {
		right: 10px;
		float: left;
		margin-top: 10px;
	}
	.prog-link {
		width: 100% !important;
		height: 100%;
		padding: 20px 32px 40px 38px !important;
		margin: 0px;
		position: absolute;
	}
	.col-md-10.energymenu {
		background: white;
		width: 100%;
		margin: 0;
		position: absolute;
		top: 60px;
		padding-bottom: 15px;
	}
	.menu1, .menu2, .menu3 {
		top: 0px;
		float: none;
	}
	.collapsableMenu {
		display: inline;
	}
	.top-icon4{
		background: url('../images/spritesheet.png') no-repeat 9.433% 60%;
		padding: 14px;
		width: 48px;
		float: left;
	}
	.toplink4 {
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
	}
	.search {
		width: 75px;
		float: right;
		position: absolute;
		right: -16px;
		top: 54px;
	}
	.search .popover{
		height: 39px !important;
	}
	.search .popover-content {
		padding-top: 4px;
	}
	.search-form-field{
		height: 100%;
	}
	.mainmenu-icon6 {
		width: 100%;
		height: 40px;
	}
	.toplink1, .toplink2, .toplink3 {
		display: none;
	}
	.mainnav-home {
		display: none;
		opacity: 1;
		position: relative;
		height: 100%;
		border-top: none;
	}
	.flex-viewport{
		width: 100%;
	}
	.flex-direction-nav {
		display: none;
	}
	.menu-container {
		overflow: scroll;
	}
	.menu:hover {
		background: none;
		color: #333;
	}
	.mainmenulink {
		top: 22px;
	}
	ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5{
		position: fixed;
		display: block;
		/*left: 0px;*/
		left: 100%;
		top: 0;
		padding: 0px;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
	}
	.sub-menu1 li, .sub-menu2 li , .sub-menu3 li, .sub-menu4 li, .sub-menu5 li{
		display: block;
		padding: 0px;
		left: 0px;
	}
	.submenu-btn {
		display: block;
		border-radius: 0px;
	}
	.subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}

	
	/* --Header style-- */
	
	/* Footer style */
	.col-md-2.control-label {
		color: #fff;
		width: 86%;
		text-align: center;
/*		margin: 10px 0 10px 0;*/
	}
	
	.col-md-4.contact-info {
		position: relative;
		top: 0;
		left: 0;
		width: 0;
	}
	.horizontal-line-divider {
		height: 18px;
		width: 100%;
		margin-bottom: 0px;
		background: url(../images/news_bg_horizontal.png) repeat-x;
	}
	.social-container {
		margin: 3px auto;
		width: 64%;
		padding: 0px;
		height: 39px;
	}
	.col-md-6.newsletter {
		background: #f39a32;
		height: 94px;
		width: 100%;
		margin: 61px 0 0 0;
	}
	.phoneno {
		float: left;
		width: 55%;
		position: relative;
		left: -26px;
		top: 15px;
	}
	.catalog {
		float: left;
		position: relative;
		left: 107px;
		top: 12px;
		width: 200px;
	}
	.form-control-nl {
		display: block;
		width: 245px;
		height: 34px;
		padding: 8px;
		margin: 0;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555;
		vertical-align: middle;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	/* --Footer style-- */
.leftarrow{background-image: url('../images/product-table-arrow.gif') ; width:37px; height:59px; left:inherit; right:0px; top:0; background-repeat:no-repeat; background-position:left top; position: absolute; z-index:9999; cursor:pointer;}
	.SlideOnn{background-position:left bottom; }

	/* Footer menus style */
	
	
	.footermenu-container {
		width: 100px;
		position: relative;
		top: 17px;
		left: -17px;
	}

	.footer-sub-menu1 {
		position: fixed;
		left:0px;
		top: 100%;
		padding: 0px;
		width: 100%;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
	}
	.footer-sub-menu1 li {
		display: block;
		padding: 0px;
		left: 0px;
	}
	.subnav_web_templates {
		background: #777777;
		color: #CACACA;
		font-size: 10px;
		float: right;
		position: relative;
		right: -15px;
		top: -18px;
		width: 220px;
	}
	.footer-subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}
	.footer-subBack-btn:hover {
		color: white;
	}
	
	
		/* ____________mobile header footer ends_____________________*/
		
		
	.container.amc-innerpages {
	 	overflow-x: hidden;
	}
	.row.headersession {
		background: #edecec;
		height: 54px;
	}
	.mainnav-subpage {
		display: none;
	}
	.aboutmenu-container {
		display: none;
	}
	.col-md-12.aboutbanner {
		padding: 0;
		background: #d0d2d3;
		margin: 0;
	}
	.headerlabel {
		color: #f4911e;
		font-size: 20px;
		font-weight: normal;
		margin-top: 8px;
		width:50%;
		padding:0px;
		overflow: hidden;
	}
	.col-md-5.breadcrumbs {
		display:none;
	}
	.cr-container {
		width: 100%;
		margin: 0 auto;
		position: relative;
		top: -20px;
		left:0;
	}

	.cr-headertxt {
		color: #3968b1;
		font-size: 24px;
		font-weight: normal;
		font-family: "open sans";
		margin: 32px 0 0 0;
		letter-spacing: -0.08em;
	}
	.cr-paragtxt2 {
		color: #525151;
		color: #000;
		font-size: 13px;
		font-weight: normal;
		font-family: "open sans";
		line-height: 18px;
		margin: 28px 0 -12px 0;
	}
	.col-md-1.cr-middledivider {
		display:none;
	}
	.cr-divider img {
		width: 100%;
		position: relative;
		top: -30px;
		left: 10px;
	}
	/*.cr-ulist{
		display: none;
	}
	.cr-ulist2{
		display: none;
	}
	.cr-headertxt3 {
		display: none;
	}
	.cr-headertxt4 {
		display: none;
	}
	.cr-headertxt5 {
		display: none;
	}
	.topnav-right {
		display: none;
	}
	.suggest-txt {
		display:none;
	}*/
	/*__________________request a code___________________*/
	.modal-body {
		position: relative;
		padding: 12px;
	}
	.modal-dialog {
		width: auto !important;	
	}
	.col-md-4.rac-left {
		clear: both;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.form-group-rac {
		margin-bottom: 15px;
		position: relative;
		top: -35px;
	}
	.rac-form-field {
		width: 100%;
	}
	.mandatory-txt {
		display:none;
	}
	.submit-btn {
		display: inline-block;
		background: #525151;
		padding: 13px 12px;
		width: 100%;
		margin: 23px 0;
		font-weight: normal;
		font-size: 14px;
		white-space: nowrap;
		border-radius: 3px;
		vertical-align: middle;
		cursor: pointer;
		border: 0px solid transparent;
		-webkit-user-select: none;
		text-transform: uppercase;
		float: right;
		position: relative;
		right: 1px;
	}

}	


@media (max-width: 767px){

/* Header style */

		.foonav {

font-size: 9px;
}
	.container.homepg {
		overflow-x:hidden;
	}
	.col-md-2.mainmenu1, .col-md-2.mainmenu2, .col-md-2.mainmenu3, .col-md-2.mainmenu4, .col-md-2.mainmenu5{
		width: 100%;
	}
	.row.header {
		height: 100%;
	}
	.row.header .col-xs-12 {
		border-top: 1px solid rgb(167, 162, 162);
	}
	.topnav-right {
		right: 10px;
		float: left;
		margin-top: 10px;
	}
	.prog-link {
		width: 100% !important;
		height: 100%;
		padding: 20px 32px 40px 38px !important;
		margin: 0px;
		position: absolute;
	}
	.col-md-10.energymenu {
		background: white;
		width: 100%;
		margin: 0;
		position: absolute;
		top: 60px;
		padding-bottom: 15px;
	}
	.menu1, .menu2, .menu3 {
		top: 0px;
		float: none;
	}
	.collapsableMenu {
		display: inline;
	}
	.top-icon4{
		background: url('../images/spritesheet.png') no-repeat 9.433% 60%;
		padding: 14px;
		width: 48px;
		float: left;
	}
	.toplink4 {
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
	}
/*	.search {
		width: 75px;
		float: right;
		position: absolute;
		right: -16px;
		top: 54px;
	}*/
	.search {
		width: 75px;
		float: right;
		position: absolute;
		right: 0;
		top: 53px;
		padding: 0 0 0 16px;
	}	
	.search .popover{
		height: 39px !important;
	}
	.search .popover-content {
		padding-top: 4px;
	}
	.search-form-field{
		height: 100%;
	}
	.mainmenu-icon6 {
		width: 100%;
		height: 40px;
	}
	.toplink1, .toplink2, .toplink3 {
		display: none;
	}
	.mainnav-home {
		display: none;
		opacity: 1;
		position: relative;
		height: 100%;
		border-top: none;
	}
	.mainnav-subpage {
		display: none;
		opacity: 1;
		position: relative;
		height: 100%;
		border-top: none;
	}
	.flex-viewport{
		width: 100%;
	}
	.flex-direction-nav {
		display: none;
	}
	.menu-container {
		overflow: scroll;
	}
	.menu:hover {
		background: none;
		color: #333;
	}
	.mainmenulink {
		top: 22px;
	}
	ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5{
		position: fixed;
		display: block;
		/*left: 0px;*/
		left: 100%;
		top: 0;
		padding: 0px;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
	}
	.sub-menu1 li, .sub-menu2 li , .sub-menu3 li, .sub-menu4 li, .sub-menu5 li{
		display: block;
		padding: 0px;
		left: 0px;
	}
	.submenu-btn {
		display: block;
		border-radius: 0px;
	}
	.subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}

	
	/* --Header style-- */
	
	/* Footer style */
	.col-md-2.control-label {
		color: #fff;
		width: 86%;
		text-align: center;
/*		margin: 10px 0 10px 0;*/
	}
	
	.col-md-4.contact-info {
position: relative;
top: 0px;
left: 0;
width: 90%;
margin: auto;
height: 62px;
}
	.horizontal-line-divider {
height: 18px;
width: 100%;
margin-bottom: -8px;
background: url(../images/news_bg_horizontal.png) repeat-x;
}
	.social-container {
		margin: 3px auto;
		width: 64%;
		padding: 0px;
		height: 39px;
	}
	.col-md-6.newsletter {
		background: #f39a32;
		height: 94px;
		width: 100%;
		margin: 61px 0 0 0;
	}
	.phoneno {
		float: left;
		width: 55%;
		position: relative;
		left: -26px;
		top: 22px;
	}
.catalog {
		float: left;
		position: relative;
		left: 0px;
		top: 20px;
		width: 200px;
	}
	.form-control-nl {
		display: block;
		width: 245px;
		height: 34px;
		padding: 8px;
		margin: 0;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555;
		vertical-align: middle;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	/* --Footer style-- */
.leftarrow{background-image: url('../images/product-table-arrow.gif') ; width:37px; height:59px; left:inherit; right:0px; top:0; background-repeat:no-repeat; background-position:left top; position: absolute; z-index:9999; cursor:pointer;}
	.SlideOnn{background-position:left bottom; }

	/* Footer menus style */
	
	
	.footermenu-container {
		width: 100px;
		position: relative;
		top: 17px;
		left: 0px;
	}

	.footer-sub-menu1 {
		position: fixed;
		left:0px;
		top: 100%;
		padding: 0px;
		width: 100%;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
		z-index: 20;
	}
	.footer-sub-menu1 li {
		display: block;
		padding: 0px;
		left: 0px;
	}
.subnav_web_templates {
background: #777777;
color: #CACACA;
font-size: 10px;
float: right;
position: relative;
right: -15px;
top: -18px;
width: 225px;
}
	.footer-subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}
	.footer-subBack-btn:hover {
		color: white;
	}
	
	
		/* ____________mobile header footer ends_____________________*/
		
		
/*	.mainnav-subpage,.topnav-right{
	display:none;
}*/

	
	.container.amc-innerpages {
	 	overflow-x: hidden;
	}

.headerlabel {
	
	font-size: 18px;
	font-weight:300;
	padding: 0 0 0 3%;
	
}

.back-btn {
top: -31px;

}

.back-btn a {
color:#525151;

}

.back-btn a:hover {
color: #3968b1;

}
	
	.abt-caption{
		width:92%;
		
	}
	
	.abt-caption2{
		width:100%;
	}
	
	.abt-parag{
		width:92%;
	}
	
	.aboutmenu-container{
		display:none;	
	}
	

	
	.container.amc-innerpages{
		
		width:100%;
		position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
		
	}
	
	/*.mainnav-subpage,.topnav-right{
	display:none;
}*/
	
	.form-group{
		
	width: 97%;
padding-left: 3%;
padding-top: 0%;
left: 0px;
	}
	
	
	.form-contact-method a {
padding-left: 3%;
}


	.breadcrumb{
		display:none;
	}
	
	/*.back-btn {
top: -218px;
left: 88%;
position:absolute;
}*/

.offset-top-1 {

margin-top: 40px;
padding-left: 15px !important;
padding-right: 15px;

}


.request-quote-text{
	
	text-align:center;
}

/*
.col-md-6.social-left,.col-md-6.newsletter{
	display:none;
}
*/
.col-md-8.offset-3 {
margin-top: 0px;
}

.col-md-2.control-label {

width: 100% !important;
padding: 10px 0 0 0;


}

.socialfooter {
background: #edecec;
}

.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
display: block;
position: relative;
float: right;
width: 32px;
height: 38px;
top: -31px;
margin-bottom: -32px;
}


.form-control-nl {

width: 80%;
}


.subscription{
	
	padding: 30px;
	font-size:13px;
	color:#fff;
}

.closebtn {
margin-top: -53px;
margin-right: 10px;
float: right;
cursor: pointer;
}

@media (max-width:320px) {
	.catalog {
		float: left;
		position: relative;
		left: 107px;
		top: -7px;
		width: 200px;
	}
}


}
.cr-middledivider {
    text-align:center;
}
@media only screen and (min-width:992px) {
	.ipadp-cont{float:left;  position: static;}	
	.ipadp-c1{display:block !important;}
	.ipadp-c2{display:block !important; }
	.ipad-back1{display:none;}
	.ipad-back2{display:none !important;}
}
@media only screen and (min-width:768px) and (max-width:991px)  {
	.ipadp-cont{float:left; width:200%; position:relative;}	
	.ipadp-c1{float:left; width:50%; display:block;}
	.ipadp-c2{float:left; width:50%; display:none;}
	.ipad-back1{background:	url(../images/cr_rightarrow.png); background-repeat:no-repeat; background-position:left top; float:left; position:absolute; width:12px; height:17px; left:47%; top:39px; cursor:pointer; display:block; z-index:10;}
	.ipad-back2{background:	url(../images/cr_leftarrow.png); background-repeat:no-repeat; background-position:left 1px; float:left; position:absolute; width:12px; height:17px; left:47%; top:38px; cursor:pointer; padding-left:15px; display:none;z-index:10; }
}