/* _____ [1] GLOBAL ________________________________________________________ */

body {
	width: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;;
	overflow-x:hidden;
}
li{
	list-style-type: none;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;;
	font-weight: normal;
}
a:hover, a:focus {
color: #2A6496;
text-decoration: none !important;
}
a:active, a:hover {
outline: 0;
}
.car-menu {
	background: #e9e8e8;
	height: 52px;
	margin: -52px 0 0 0;
	position: relative;

}
.carmenus {
	width:70%;
	height: 50px;
	margin: auto;
}
ul
.menusession{
 	width:90%;
 	margin:0 auto;
}
.menu {
	float: left;
	padding: 0px 15px 0 20px;
	border-right: 1px solid #ccc;
	height: 31px;
	position: relative;
	top: 12px;
}
.menulast {
	border-right: none;
	float: left;
	padding: 0px 15px 0 20px;
	height: 31px;
	position: relative;
	top: 12px;
}
/* _____________breadcrumb_________________________*/

.col-md-5.breadcrumbs {	
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 17px;
	top: 4px;
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
	color: #3968b1;
}
.breadcrumb>li+li:before {
	position: relative;
	top: 3px;
	background: url('../images/breadcrumbs-arrow.png') no-repeat;
	content: "";
	margin: 0 6px;
}

.breadcrumb a {
	color: #000000 ;
}

.breadcrumb a:hover  {
	color: #3968b1 ;
}

.breadcrumb>.active {
	color: #3968b1 !important;
}

.headerlabel{
	color: orange;
	font-size: 20px;
	font-weight: normal;
	padding: 0 0 0 44px;
	margin-top: 8px;
}
.col-md-12.aboutbanner {
	padding: 0 41px 0 41px;
	background: #d0d2d3;
	margin: 2px 0 0 0;
	}
.aboutmenu-container {
	height: 35px;
	background: #8e8e8e;
	font-size: 12px;
}
.menus {
	width: 95%;
	margin: 0 auto;
}
.abtmenu {
	float: left;
	position: relative;
	top: 9px;
}
ul li.abtmenu-active a {
	color: #fff;
	font-size: 12px;
	background: orange;
	padding: 9px 12px 9px 12px;
	float: left;
	text-decoration: none;
}
ul.menus li.abtmenu a {
	color: #fff;
	padding: 9.2px 14px;
}
ul li.abtmenu a:hover {
	background: orange;
	text-decoration: none;
}
.col-md-12.aboutbanner img {
	width:100%;
}
.caro-menulink {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 11px;
}
.menu-container{
	width:100%;
	margin:0 auto;
}
.am_conversion {
	background: #f4911e;
	height: 240px;
	margin: -20px 0 0 0;
}
.am-container{
	width: 64%;
	margin: 0 auto;
	text-align: center;
}
.am-header {
	padding: 12px;
	width: 61%;
	margin: 20px auto;
	margin-bottom: 28px;
	color: #fff;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}
.dot {
	background: url('../images/spritesheet.png') no-repeat 54.433% 58.273%;
	padding: 14px;
	width: 48px;
	height: 49px;
	position: relative;
	top: -26px;
}
.yourone-txt {
	color: #fff;
	font-size: 16px;
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	margin-top: 14px;
	margin-right: 13px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-default {
	color: #FC9B0B !important;
	background-color: #525151 !important;
	font-size: 16px !important;
}
.arrowicon {
	background: url('../images/spritesheet.png') no-repeat 86.433% 50.273%;
	padding: 29px;
	width: 51px;
	height: 51px;
}
.programs-container{
	background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
	background-size: 100%;
	height: 404px;	
}
.horizontal-line-divider {
	height: 13px;
	width: 100%;
	margin-bottom: 0px;
	background: url(../images/news_bg_horizontal.png) repeat-x;
}
.col-md-6.social-left {
	background: #ccc;
	height: 47px;
}
.social-container{
    position:relative;
    top:15px;
    left: 39px;
    width: 130%;

}
.p-icon{
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon{
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;	
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
background-position: -197px -82px;
}
.t-icon:hover {
background-position: -241px -82px;
}
.f-icon:hover {
background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 160px;
	width: 100%;
}
.bs-example.twinbtn {
	width: 102%;
}
.phoneno{
	float:left;
	width:30%;
}
.catalog{
	float:left;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.bottom-icon2{
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.col-md-4.control-label {
	color: #fff;
	padding: 15px 0 0 24px;
	font-size: 13px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37% !important;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	margin: 7px 0 0 -2px;
	padding: 8px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
	padding: 18px 16px 0 16px;
	width: 48px;
	height: 12px;
	position: relative;
	left: 243px;
	top: -15px;
}
.row.footerbg {
	background: #777777;
}
.foot-container{
	height: 44px;
}
.bot {
	float:left;
	padding: 12px 0 0 0;
	color: #b3b3b3;
	font-size: 11px;
/*	margin-left: -27px;*/
}
.foonav {
	padding: 0 0 0 0;
	display: inline;
	color: #b3b3b3;
	font-size:9px;
}
.foonav a {
	color: #b3b3b3;
	padding-right: 2px;
}

.foonav a:hover{
	color: #f4911e;
	padding-right: 2px;
}.subnav_web_templates {
	padding: 12px 35px 0 0;
	color: #b3b3b3;
	font-size: 11px;
	float: right;
	line-height: 18px;
}

/* _____  header secsion________________________________________________________ */

.container.amc-innerpages{
	background:#edecec;
}
.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.topnav-right {
	position: relative;
	right: 40px;
	float: right;
}
.col-md-4.menu1 {
	position: relative;
	top: 27px;
	float: left;
	width: 20%;
}
.col-md-4.menu2 {
	position: relative;
	top: 27px;
	float: left;
	width: 25%;
}
.col-md-4.menu3 {
	position: relative;
	top: 27px;
	float: left;
	width: 29%;
}
.menu1 {
	position: relative;
	top: 27px;
	float: left;

}
.menu2 {
	position: relative;
	top: 27px;
	float: left;

}
.menu3 {
	position: relative;
	top: 27px;
	float: left;

}

/* middle menu */

.toplink6 {
color: #525151;
font-size: 12px;
font-weight: bold;
text-decoration: none;
}

.top-icon6 {
background: url('../images/spritesheet.png') no-repeat 8.433% 58.273%;
padding: 11px;
width: 46px;
float: left;
}

	
	.menu4 {
position: relative;
top: 27px;
float: left;
}

/* middle menu ends */

.top-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
	
}

.top-icon2 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}

.top-icon3 {
	background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink1{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink2{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink3{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.mainnav-home {
	background: #FFFFFF;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	height: 76px;
	margin: 0 0 0 0;
	position: absolute;
	z-index: 4;
	width: 100%;
}
.mainnav-subpage{
	background: #FFFFFF;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	height: 76px;
	margin: 0 0 0 0;
	position: relative;
	z-index: 4;
	width: 100%;
}
.prog-link {
	background: #3C3C3C;
	width: 142px !important;
	height: 76px;
	color: #fff;
	padding: 20px 32px 0 38px !important;
	margin: 0 0 0 40px;
}
.col-md-1.prog-link:hover {
	background: #f4911e;
	color: #fff;
}
.col-md-10.energymenu {
	width: 72%;
	margin: 0 9px;
	position: relative;
	top: -3px;
}
.col-md-2.mainmenu1 {
	position: relative;
	top: 7px;
	float: left;
	width: 17%;
	padding: 0 3px 0 0;
}
.col-md-2.mainmenu2 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu3 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu4 {
	position: relative;
	top: 7px;
	float: left;
	width: 22.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu5 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu2:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu3:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu4:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu5:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.mainmenu-icon{
	background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon2{
	background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon3{
	background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon4{
	background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon5{
	background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon6 {
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
	padding: 14px;
	width: 48px;
	height: 81px;
	float: left;
}
.mainmenulink {
	color: #020202;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	top: 6px;
	left: 7px;
	width: 100%;
}
.search {
	float: right;
	position: relative;
	right: 37px;
	top: 0px;
	width: auto;
}
/*_________________ search popup ________________*/


.search-form-field {
	display: block;
	padding: 0 0 0 11px;
	width: 100%;
	height: 51px;
	margin: 0 0 -9px 0px;
	font-size: 16px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 0px solid #ccc;
	border-radius: 0px;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.popover-content {
	padding: 9px 14px;
	width: 878px;
}

.popover.left .arrow {
	top: 50%;
	right: -6px;
	margin-top: -11px;
	border-left-color: #fff;
	border-right-width: 0;
}
.popover {
	position: absolute;
	top: 0px !important;
/*	left: -869px !important;*/
	z-index: 1010;
/*	display: none;*/
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	background-clip: padding-box;
	max-width: 1162% !important;
	height: 76px !important;
	border-radius: 0px !important;
	border: 0px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*_______dropdown menu _________________________________________________________________*/

.sub-menu1 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter:Alpha(Opacity=90);
		width: 92.5%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter:Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter:Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter:Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter:Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
.col-md-2.mainmenu1:hover ul.sub-menu1{
    display:block;
}


.sub-menu2 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu2 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -274px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu2:hover ul.sub-menu2{
    display:block;
}
.sub-menu3 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu3 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -416px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu3:hover ul.sub-menu3{
    display:block;
}

.sub-menu4 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu4 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -557px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu4:hover ul.sub-menu4{
    display:block;
}

.sub-menu5 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu5 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -720px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu5:hover ul.sub-menu5{
    display:block;
}
.row.headersession {
	background: #edecec;
	height: 38px;
}
.headerlabel {
	color: #f4911e;
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 0 44px;
	margin-top: 8px;
}
.col-md-5.breadcrumbs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 17px;
	top: 4px;
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
}
.breadcrumb>li+li:before {
	position: relative;
	top: 3px;
	background: url('../images/breadcrumbs-arrow.png') no-repeat;
	content: "";
	margin: 0 6px;
}

.breadcrumb>.active {
	color: #3968b1 !important;
}

/* _____________footersection_________________________*/
.horizontal-line-divider {
	height: 13px;
	width: 100%;
	margin-bottom: 0px;
	background: url(../images/news_bg_horizontal.png) repeat-x;
}
.row.socialfooter {
	background: #edecec;
}
.col-md-6.social-left {
	background: #edecec;
	height: 47px;
}
.social-container {
	position: relative;
	top: 15px;
	left: 39px;
	width: 130%;
}
.p-icon{
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon{
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;	
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
	background-position: -197px -82px;
}
.t-icon:hover {
	background-position: -241px -82px;
}
.f-icon:hover {
	background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 160px;
	width: 100%;
}
.phoneno {
	float: left;
	width: 30%;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink4{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.catalog {
	float: left;
}
.bottom-icon2 {
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink5{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.form-group {
	margin-bottom: 15px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37% !important;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	padding: 8px;
	margin: 7px 0 0 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
	padding: 18px 16px 0 16px;
	width: 48px;
	height: 12px;
	position: relative;
	left: 243px;
	top: -15px;
}
.row.footerbg {
	background: #777777;
}
.foot-container {
	height: 44px;
}
.bot {
	float: left;
	padding: 17px 0 0 0;
	color: #b3b3b3;
	font-size: 10px;
	width: 104%;
}
.foonav {
	padding: 0 0 0 0;
	display: inline;
	color: #b3b3b3;
	font-size:9px;
}
.foonav a {
	color: #E9E9E9;
	padding-right: 2px;
}
.subnav_web_templates {
	padding: 17px 35px 0 0;
	background: #777777;
	color: #E9E9E9;
	font-size: 10px;
	float: right;
}







.staticpages-menu{
	
opacity: 1;

height: 30%;
border-top: none;
z-index:500;
position:absolute;
display:none;



}



.sub-menu-links li:hover{
	
background:orange;
cursor:pointer;
}

.submenu-button{
background: #525151;
padding: 15px;
margin-right: 10px;
color: #fff;
border-bottom: 1px solid white;

}

.submenu-button a{

color: #fff;


}

.submenu-button :hover{




}


/* _____ customer service ________________________________________________________ */
.top-spacer{
	margin-top:40px;
	background:#fff;
}

.image-2{
	
	padding-left:30px;
}

/*.centered1{
	margin-left: 12.5%;
}*/


.cus-list {
	margin-top: 20px;
	color: #3968b1;
	line-height: 14px;
}

.cus-list li{

margin-top: 10px;
list-style-type:disc;

}

.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.container.amc-innerpages{
	background:#edecec;
}
.mainnav-subpage {
	background: #FFFFFF;
	height: 77px;
	margin:0 0 0 0;
}	

.row.cr {
	background: #fff;
	margin-bottom: -12px;
}
.cr-container {
	width: 88%;
	margin: 0 auto;
	position: relative;
	left: 2%;
	top: 8px;
}
.cr-headertxt {
	color: #3968b1;
	font-size: 24px;
	font-weight: 600;
	font-family: "Open Sans";
	margin: 32px 0 0 0;
}
.row.align-row .cr-headertxt{
	margin-left:15px;
}
.cr-paragtxt1{
/*	color: #525151;*/
	color: #000;
	font-size: 13px;
	font-weight: bold;
	font-family: "Open Sans";
	margin: 10px 0 0 0;

}
.cr-imagecontainer {
	text-align: center;
	margin: 26px 0 0 0;
}
.cr-paragtxt2{
/*	color: #525151;*/
	color: #000;
	font-size: 13px;
	font-weight: normal;
	font-family: "Open Sans";
	line-height: 18px;
	margin: 9px 0 0 0;

}

.cr-paragtxt3{
/*	color: #525151;*/
	color: #3968b1;
	font-size: 18px;
	font-weight: 600;
	font-family: "Open Sans";
	line-height: 18px;
	margin: 28px 0 -12px 0;

}

.cr-paragtxt4{
/*	color: #525151;*/
	color: #000;
	font-size: 18px;
	font-weight: 600;
	font-family: "Open Sans";
	line-height: 18px;
	margin: 28px 0 -12px 0;

}

.col-md-1.cr-middledivider{
	height: 2891px;
	background: url("../images/cr-divider1.png") no-repeat 100% 100%;
	vertical-align: bottom;
	width: 20px;
	padding: 0 20px 0 20px;
}
.cr-divider {
	margin: 44px 0 0 -30px;
	text-align: center;
}
.cr-headertxt2 {	
/*	color: #525151;*/
	color: #000;
	font-size: 18px;
	font-weight: bold;
	font-family: "Open Sans";
	margin: 12px 0 0 0;
}
.cr-paragtxt3 {
	color: #525151;
	color: #000;
	font-size: 18px;
	font-weight: normal;
	font-family: "Open Sans";
	margin: 5px 0 0 0;
}
.cr-headertxt3 {
	color: #3968b1;
	font-size: 18px;
	font-weight: bold;
	font-family: "Open Sans";
	/* margin: 40px 0 24px 22px; */
}
.cr-ulist li{
	list-style-type: disc !important;
	margin: 17px 0 -5px 0;
	color: #3968b1;
	font-size: 13px;
	font-weight: normal;
	font-family: "Open Sans";
	line-height: 15px;
	width: 90%;
}
.cr-headertxt4 {
	color: #525151;
	font-size: 18px;
	font-weight: 300;
	font-family: "Open Sans";
	margin: 19px 0 0 -1px;
	width: 90%;
	padding: 0px 0 5px 0;
	line-height: 24px;
}
.cr-ulist2 li {
	list-style-type: disc !important;
	margin: 17px 0 -5px 0;
	color: #3968b1;
	font-size: 13px;
	font-weight: normal;
	font-family: "Open Sans";
	line-height: 11px;
	width: 95%;
}
.enviro-txt{
	font-size: 13px;
	font-weight: normal;
	font-family: "Open Sans";
	color:#000;
	line-height: 16px;
	padding: 8px;
}
.cr-headertxt5{
	color: #000;
	font-size: 24px;
	font-weight: normal;
	font-family: "Open Sans";
	margin: 30px 0 0 21px;
	width: 90%;
}


/*----------------------------------modalbox popup-----------------------------------------*/
.form-group-rac {
margin-bottom: 15px;
position: relative;
top: -50px;
}
form {
margin-bottom: -55px !important;
}
.modal-dialog {
	width: 750px !important;
	right: auto;
	left: 50%;
	padding-top: 170px;
	padding-bottom: 30px;
}
.modal-header-rac {
	min-height: 16.428571429px !important;
	padding: 15px !important;
	border-bottom: 0px solid #e5e5e5 !important;;
}
.modal-content-rac {
	position: relative;
	background-color: #edecec;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px!important;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	background-clip: padding-box;
	height: 200px;
}
.form-header-txt {
	color: #3968b1;
	font-size: 24px;
	font-weight: bold;
}
.form-headercaption-txt {
	color: #494949;
	font-size: 13px;
	font-weight: normal;
}
.form-contact-method{
	color: #494949;
	font-size: 13px;
	font-weight: normal;
	margin:10px 0 0 0;
}
.rac-container {
	overflow: hidden;
	margin: -10px 0 0 0;
}
.rac-form-field {
	display: block;
	padding: 0 0 0 11px;
	width: 684px;
	height: 41px;
	margin: 18px 0 -9px 0px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 7px #ccc;
	-moz-box-shadow: inset 0 0 7px #ccc;
	box-shadow: inset 0 0 7px #ccc;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mandatory-txt {
	position: relative;
	top: 41px;
	font-size: 11px;
	color: #AFADAD;
}
.submit-btn {
	display: inline-block;
	background: #525151;
	padding: 13px 12px;
	width: 20%;
	margin: 14px 0;
	font-weight: normal;
	font-size: 14px;
	white-space: nowrap;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	-webkit-user-select: none;
	text-transform: uppercase;
	float: right;
	position: relative;
	right: 4px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #f59c34;
/*border-color: #285e8e;*/
}
/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */

@media (min-width: 1200px){
	.container {
		max-width: 100%;
	}
	.col-md-4.logo{
		padding:12px 0 0 0;
	}
	.carmenus {
		width: 37% !important;
		height: 50px;
		margin: auto;
	}

	.menus {
		width: 950px;
		margin: 0 auto;
	}
/*	.col-md-1.search {
		position: relative;
		left: 0.3%;
	}*/
/*	.search {
	width: 4.4%;
	float: right;
	position: relative;
	right: 9px;
	top: 0px;
	}*/
	.leftarrow {
		background: url('../images/blue-leftarrow.png') no-repeat transparent;
		width: 9px;
		height: 22px;
		position: absolute;
		top: 6px;
		left: 14px;
	}
	.pl-productname {
		background: #f5f3f3;
		font-size: 11px;
		padding: 36px 22px;
		margin: 0 !important;
		text-align: center;
		border-bottom: 1px solid #a5a5a5;
	}
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter: Alpha(Opacity=90);
		width: 94.2%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	.col-md-2.mainmenu1:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu2:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu3:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu4:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu5:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.mainmenulink {
	top: 17px;
	}
@media (min-width: 1600px){
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter:Alpha(Opacity=90);
		width: 96%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}

}
		
}	
@media (min-width: 992px){
	.container {
		max-width: 100%;
	}
/*	.col-md-4.logo{
		padding:12px 0 0 16px !important;
	}*/
/*	.col-md-1.search {
		position: relative;
		left: 3.3%;
	}*/
	
	/*.col-md-1 {
	padding: 0;
	}
	.col-md-2 {
	padding: 0;
	}
	.col-md-3 {
	padding: 0;
	}	
	.col-md-4 {
	padding: 0;
	}
	.col-md-5{
	padding: 0;
	}
	.col-md-6{
	padding: 0;
	}
	.col-md-7 {
	padding: 0;
	}	
	.col-md-8 {
	padding: 0;
	}	
	.col-md-9 {
	padding: 0;
	}
	.col-md-10 {
	padding: 0;
	}

	.col-md-11 {
	padding: 0;
	}	
	.col-md-12 {
	padding: 0;
	}*/	
	.carmenus {
	width: 70%;
	height: 50px;
	margin: auto;
	}
}


	@media (max-width: 767px){

/* Header style */

		.foonav {

font-size: 9px;
}
	.container.homepg {
		overflow-x:hidden;
	}
	.col-md-2.mainmenu1, .col-md-2.mainmenu2, .col-md-2.mainmenu3, .col-md-2.mainmenu4, .col-md-2.mainmenu5{
		width: 100%;
	}
	.row.header {
		height: 100%;
	}
	.row.header .col-xs-12 {
		border-top: 1px solid rgb(167, 162, 162);
	}
	.topnav-right {
		right: 10px;
		float: left;
		margin-top: 10px;
	}
	.prog-link {
		width: 100% !important;
		height: 100%;
		padding: 20px 32px 40px 38px !important;
		margin: 0px;
		position: absolute;
	}
	.col-md-10.energymenu {
		background: white;
		width: 100%;
		margin: 0;
		position: absolute;
		top: 60px;
		padding-bottom: 15px;
	}
	.menu1, .menu2, .menu3 {
		top: 0px;
		float: none;
	}
	.collapsableMenu {
		display: inline;
	}
	.top-icon4{
		background: url('../images/spritesheet.png') no-repeat 9.433% 60%;
		padding: 14px;
		width: 48px;
		float: left;
	}
	.toplink4 {
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
	}
	.search {
		width: 75px;
		float: right;
		position: absolute;
		right: -16px;
		top: 54px;
	}
	.search .popover{
		height: 39px !important;
	}
	.search .popover-content {
		padding-top: 4px;
	}
	.search-form-field{
		height: 100%;
	}
	.mainmenu-icon6 {
		width: 100%;
		height: 40px;
	}
	.toplink1, .toplink2, .toplink3 {
		display: none;
	}
	.mainnav-home {
		display: none;
		opacity: 1;
		position: relative;
		height: 100%;
		border-top: none;
	}
	.flex-viewport{
		width: 100%;
	}
	.flex-direction-nav {
		display: none;
	}
	.menu-container {
		overflow: scroll;
	}
	.menu:hover {
		background: none;
		color: #333;
	}
	.mainmenulink {
		top: 22px;
	}
	ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5{
		position: fixed;
		display: block;
		/*left: 0px;*/
		left: 100%;
		top: 0;
		padding: 0px;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
	}
	.sub-menu1 li, .sub-menu2 li , .sub-menu3 li, .sub-menu4 li, .sub-menu5 li{
		display: block;
		padding: 0px;
		left: 0px;
	}
	.submenu-btn {
		display: block;
		border-radius: 0px;
	}
	.subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}

	
	/* --Header style-- */
	
	/* Footer style */
	.col-md-2.control-label {
		color: #fff;
		width: 86%;
		text-align: center;
/*		margin: 10px 0 10px 0;*/
	}
	
	.col-md-4.contact-info {
		position: relative;
		top: 0;
		left: 0;
		width: 0;
	}
	.horizontal-line-divider {
		height: 18px;
		width: 100%;
		margin-bottom: 0px;
		background: url(../images/news_bg_horizontal.png) repeat-x;
	}
	.social-container {
		margin: 3px auto;
		width: 64%;
		padding: 0px;
		height: 39px;
	}
	.col-md-6.newsletter {
		background: #f39a32;
		height: 94px;
		width: 100%;
		margin: 61px 0 0 0;
	}
	.phoneno {
		float: left;
		width: 55%;
		position: relative;
		left: -26px;
		top: 15px;
	}
	.catalog {
		float: left;
		position: relative;
		left: 107px;
		top: 12px;
		width: 200px;
	}
	.form-control-nl {
		display: block;
		width: 245px;
		height: 34px;
		padding: 8px;
		margin: 0;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555;
		vertical-align: middle;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	/* --Footer style-- */
.leftarrow{background-image: url('../images/product-table-arrow.gif') ; width:37px; height:59px; left:inherit; right:0px; top:0; background-repeat:no-repeat; background-position:left top; position: absolute; z-index:9999; cursor:pointer;}
	.SlideOnn{background-position:left bottom; }

	/* Footer menus style */
	
	
	.footermenu-container {
		width: 100px;
		position: relative;
		top: 17px;
		left: -17px;
	}

	.footer-sub-menu1 {
		position: fixed;
		left:0px;
		top: 100%;
		padding: 0px;
		width: 100%;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
	}
	.footer-sub-menu1 li {
		display: block;
		padding: 0px;
		left: 0px;
	}
	.subnav_web_templates {
		background: #777777;
		color: #CACACA;
		font-size: 10px;
		float: right;
		position: relative;
		right: -15px;
		top: -18px;
		width: 220px;
	}
	.footer-subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}
	.footer-subBack-btn:hover {
		color: white;
	}
	
	
		/* ____________mobile header footer ends_____________________*/
		}
		
		
		
@media (max-width: 780px){
	
	
.topnav-right {
position: relative;
height: 10px;
right: 40px;
top: -64px;
float: right;
}
		
		
.cs-drop-shadow {
width: 70%;
height: 70px;
}
	.cs-drop-shadow img{
		
		float:left;
		
		}

.col-md-offset-2.fileformat {

padding-top: 0px;
}


.headerlabel {
	
	font-size: 18px;
	font-weight:300;
	padding: 0 0 0 3%;
	
}

.cs-content-align1 {

margin-right: 6.25%;

margin-left: 0%;
}


.back-btn {
top: -31px;

}

.back-btn a {
color:#525151;

}

.back-btn a:hover {
color: #3968b1;

}
	
	.abt-caption{
		width:100%;
		
	}
	
	.abt-caption2{
		width:100%;
	}
	
	.abt-parag{
		width:100%;
	}
	
	.aboutmenu-container{
		display:none;	
	}
	
	.ourvalues-btn{
		
		width:auto;
	}
	
	
	.container.amc-innerpages{
		
		width:100%;
		position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
		
	}
	
	.mainnav-subpage{
	display:none;
}
	
	.form-group{
		
	width: 97%;
padding-left: 3%;
padding-top: 8%;
left: 0px;
	}
	
	
	.form-contact-method a {
padding-left: 3%;
}

.back-btn{
display:none;
}


.offset-top-1 {

margin-top: 40px;
padding-left: 15px !important;
padding-right: 15px;

}

.cr-container {
width: 100%;

left: 0px;

}

.image-2 {
padding-left: 0px;
}


.request-quote-text{
	
	text-align:center;
}



.col-md-6.social-left,.col-md-6.newsletter{
	display:none;
}
.col-md-8.offset-3 {
margin-top: 0px;
}

}

.custom_serv p {
font-size:13px;
}