
/* For generic page styles. Not for sliders. */

/*body {background:#F6F6F6;font:normal 0.9em Arial; margin:0; padding:0; padding-bottom:60px;}*/
h2 {display:inline;}
.div1, .div2 {width:300px;margin:0 auto;}
.div1 {margin-top:30px;margin-bottom:60px;text-align:center;line-height:20px;}
.div1 P {font-size:18px;}
.div1 a, .div2 a {color:#07C;}
.div2 {margin-top:0px;}
.div2 li {padding-top:6px;padding-bottom:6px;}
.floatLeft {float:left;}
