#wrap{
	border:solid #CCCCCC 1px;
	width:203px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:3px;
}


.msgwrap, .security{
	margin-left: 16px;
}

.error {
    color: #cc0000;
    float: left;
    font-size: 12px;
    font-style: italic;
    margin-left: 16px;
    margin-top: -30px;
    width: 200px;
}

.success{ color:#009900; font-size:12px; margin:4px; font-style:italic; width:200px;}

img#refreshs{
	float:left;
	margin-top:30px;
	margin-left:4px;
	cursor:pointer;
}

img#refresh{
	float:left;
	margin-top:30px;
	margin-left:4px;
	cursor:pointer;
}


#name,#email{float:left;margin-bottom:3px; height:20px; border:#CCCCCC 1px solid;}

#message{ /*width:260px;*/ height:100px;float:left;margin-bottom:3px; border:#CCCCCC 1px solid;}

label{  color:#666666; width:80px;}

.col-md-12.security{padding:20px 0px;overflow:hidden; margin:0px;}
/* ______________________ CAPTCHA END ________________ */


body {
    width: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    ;
    font-weight: normal;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: none !important;
}

a:active, a:hover {
    outline: 0;
}



.modal-body {
    top: 20px;
}

.close {
    width: 50px;
    height: 30px;
}

.tel.col-md-7 {
    padding-left: 15px;
}

.bigclose2 img {
    vertical-align: text-top;
}

.mainnav-home {
    background: #FFFFFF;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    height: 76px;
    margin: 0 0 0 0;
    position: relative;
    z-index: 4;
    width: 99.99%;
}

.parsley-error-list li {
    padding-top: 15px;
    color: #f4911e;
    text-align: left;
    font-size: 12px;
}

.message-group {
    margin-bottom: 30px;
}


.pr-content-1 {
    color: #525151;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
}

:required {
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    font-size: 13px;
    font-weight: 300 !important;
    font-variant: normal !important;
}

textarea {
    box-shadow: inset 0 0 7px #ccc !important;
}

.navbar-inverse {
    background: url('../images/top_bg.png') repeat-x 0% 0%;
    /*height: 77px;*/
    border: 0px !important;
}

.col-md-4.menu1 {
    position: relative;
    top: 27px;
    float: left;
    width: 20%;
}

.col-md-4.menu2 {
    position: relative;
    top: 27px;
    float: left;
    width: 25%;
}

.col-md-4.menu3 {
    position: relative;
    top: 27px;
    float: left;
    width: 29%;
}

.menu1 {
    position: relative;
    top: 27px;
    float: left;
}

.menu2 {
    position: relative;
    top: 27px;
    float: left;
}

.menu3 {
    position: relative;
    top: 27px;
    float: left;
}

.top-icon {
    background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.top-icon2 {
    background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.top-icon3 {
    background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.toplink1 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.toplink2 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.toplink3 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.toplink4 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.toplink5 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}


.toplink6 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.top-icon6 {
    background: url('../images/spritesheet.png') no-repeat 8.433% 58.273%;
    padding: 11px;
    width: 46px;
    float: left;
}


.menu4 {
    position: relative;
    top: 27px;
    float: left;
}


.topnav {
    margin-bottom: 0;
    list-style: none;
    width: 62%;
}


.mainnav {
    background: #e9e8e8;
    height: 77px;
    margin: 11px 0 0 0;
    position: relative;
}

.col-md-2.mainmenu1 {
    position: relative;
    top: 4px;
    float: left;
    width: 19.5%;
    padding: 0 1px 0 0;
    /*	margin: 0 0 0 9px;*/
}

.col-md-2.mainmenu2 {
    position: relative;
    top: 4px;
    float: left;
    width: 17%;
    padding: 0 1px 0 0;
}


    .col-md-2.mainmenu2:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 18px;
    }

.col-md-2.mainmenu1:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 18.5px;
}

.mainmenu-icon {
    background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon2 {
    background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon3 {
    background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon4 {
    background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon5 {
    background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon6 {
    background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
    padding: 14px;
    width: 48px;
    height: 81px;
    float: left;
}


.prog-link {
    background: #525151;
    width: 142px !important;
    height: 77px;
    color: #fff;
    padding: 20px 32px 0 38px !important;
    margin: 0 0 0 40px;
}

.col-md-1.prog-link:hover {
    background: #f4911e;
    color: #fff;
}

.prog-link:hover {
    background: #f4911e;
    color: #fff;
}

.search {
    float: right;
    position: relative;
    right: 37px;
    top: 0px;
    width: auto;
}
/*_________________ search popup ________________*/


.search-form-field {
    display: block;
    padding: 0 0 0 11px;
    width: 100%;
    height: 51px;
    margin: 0 0 -9px 0px;
    font-size: 16px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 0px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-align: right;
}

.popover-content {
    padding: 9px 14px;
    width: 878px;
}

.popover.left .arrow {
    top: 50%;
    right: -6px;
    margin-top: -11px;
    border-left-color: #fff;
    border-right-width: 0;
}

.popover {
    position: absolute;
    top: 0px !important;
    /*	left: -869px !important;*/
    z-index: 1010;
    /*	display: none;*/
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    max-width: 1162% !important;
    height: 76px !important;
    border-radius: 0px !important;
    border: 0px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.car-menu {
    background: #e9e8e8;
    height: 52px;
    margin: -52px 0 0 0;
    position: relative;
}

.carmenus {
    width: 70%;
    height: 50px;
    margin: auto;
}

ul .menusession {
    width: 90%;
    margin: 0 auto;
}

.menu {
    float: left;
    padding: 0px 15px 0 20px;
    border-right: 1px solid #ccc;
    height: 31px;
    position: relative;
    top: 12px;
}

.menulast {
    border-right: none;
    float: left;
    padding: 0px 15px 0 20px;
    height: 31px;
    position: relative;
    top: 12px;
}

.topnav-right {
    position: relative;
    right: 40px;
    float: right;
}

.col-md-5.breadcrumbs {
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    right: 17px;
    top: 4px;
}

.breadcrumb {
    padding: 8px 23px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent !important;
    border-radius: 4px;
    color: #3968b1;
}

    .breadcrumb > li + li:before {
        position: relative;
        top: 3px;
        background: url('../images/breadcrumbs-arrow.png') no-repeat;
        content: "";
        margin: 0 6px;
    }

    .breadcrumb a {
        color: #000000;
    }

        .breadcrumb a:hover {
            color: #3968b1;
        }

    .breadcrumb > .active {
        color: #3968b1 !important;
    }


.headerlabel {
    color: orange;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 0 44px;
    margin-top: 8px;
}

.col-md-12.aboutbanner {
    padding: 0 41px 0 41px;
    background: #d0d2d3;
    margin: 2px 0 0 0;
}

.aboutmenu-container {
    height: 35px;
    background: #8e8e8e;
    font-size: 12px;
}

.menus {
    width: 95%;
    margin: 0 auto;
}

.abtmenu {
    float: left;
    /*	padding: 0px 12px 0 12px;*/
    position: relative;
    top: 9px;
}

ul li.abtmenu-active a {
    color: #fff;
    font-size: 12px;
    background: orange;
    padding: 9px 12px 9px 12px;
    float: left;
    text-decoration: none;
}

ul.menus li.abtmenu a {
    color: #fff;
    padding: 9.2px 14px;
}

ul li.abtmenu a:hover {
    background: orange;
    text-decoration: none;
}

.row.headersession {
    background: #edecec;
    height: 38px;
    margin-top: -4px;
}

}

.col-md-12.aboutbanner img {
    width: 100%;
}

.caro-menulink {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 11px;
}

.menu-container {
    width: 100%;
    margin: 0 auto;
}

.am_conversion {
    background: #f4911e;
    height: 240px;
    margin: -20px 0 0 0;
}

.am-container {
    width: 64%;
    margin: 0 auto;
    text-align: center;
}

.am-header {
    padding: 12px;
    width: 61%;
    margin: 20px auto;
    margin-bottom: 28px;
    color: #fff;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}

.dot {
    background: url('../images/spritesheet.png') no-repeat 54.433% 58.273%;
    padding: 14px;
    width: 48px;
    height: 49px;
    position: relative;
    top: -26px;
}

.yourone-txt {
    color: #fff;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 14px;
    margin-right: 13px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-default {
    color: #FC9B0B !important;
    background-color: #525151 !important;
    font-size: 16px !important;
}

.arrowicon {
    background: url('../images/spritesheet.png') no-repeat 86.433% 50.273%;
    padding: 29px;
    width: 51px;
    height: 51px;
}

.programs-container {
    background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
    background-size: 100%;
    height: 404px;
}

.horizontal-line-divider {
    height: 13px;
    width: 100%;
    margin-bottom: 0px;
    background: url(../images/news_bg_horizontal2.png) repeat-x;
}

.col-md-6.social-left {
    background: #ccc;
    height: 47px;
}

.social-container {
    position: relative;
    top: 15px;
    left: 39px;
    width: 130%;
}

.p-icon {
    background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
    padding: 17px;
    width: 48px;
    height: 49px;
}

.t-icon {
    background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
    padding: 17px 17px 13px 17px;
    width: 48px;
    height: 49px;
}

.f-icon {
    background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
    padding: 17px;
    width: 48px;
    height: 49px;
    margin-left: 5px;
}

.p-icon:hover {
    background-position: -197px -82px;
}

.t-icon:hover {
    background-position: -241px -82px;
}

.f-icon:hover {
    background-position: -292px -82px;
}

.col-md-4.contact-info {
    position: relative;
    top: -6px;
    left: 160px;
    width: 100%;
}

.bs-example.twinbtn {
    width: 102%;
}

.phoneno {
    float: left;
    width: 30%;
}

.catalog {
    float: left;
}

.bottom-icon1 {
    background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.bottom-icon2 {
    background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.col-md-6.newsletter {
    background: #f39a32;
    height: 47px;
    margin: 0 0 0 -13px;
    width: 48%;
}

.col-md-4.control-label {
    color: #fff;
    padding: 15px 0 0 24px;
    font-size: 13px;
}

.col-md-2.control-label {
    color: #fff;
    width: 37% !important;
    padding: 14px 0 0 0;
    margin: 0 0 0 11px;
}

.top-spacer-link {
    padding-top: 30px;
}

.col-md-8.offset-3 {
    margin-top: 10px;
}


.form-control-nl {
    display: block;
    width: 224px;
    height: 34px;
    margin: 7px 0 0 -2px;
    padding: 8px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.arrowbtn {
    background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
    padding: 18px 16px 0 16px;
    width: 32px;
    height: 38px;
    position: relative;
    left: 80%;
    float: right;
    top: -32px;
}

.row.footerbg {
    background: #777777;
}

.foot-container {
    height: 44px;
}

.bot {
    float: left;
    padding: 12px 0 0 0;
    color: #b3b3b3;
    font-size: 11px;
}

.foonav {
    padding: 0 0 0 0;
    display: inline;
    color: #b3b3b3;
    font-size: 9px;
}

    .foonav a {
        color: #b3b3b3;
        padding-right: 2px;
    }

        .foonav a:hover {
            color: #f4911e;
            padding-right: 2px;
        }

.subnav_web_templates {
    padding: 12px 35px 0 0;
    /*	background: #777777;*/
    color: #b3b3b3;
    font-size: 11px;
    float: right;
    line-height: 18px;
}

.row.header {
    border-bottom: 1px solid #a3a2a2;
    height: 76px;
}

.container.amc-innerpages {
    background: #edecec;
    overflow-x: hidden;
}

.mainnav-subpage {
    background: #FFFFFF;
    height: 77px;
    margin: 0 0 0 0;
    position: relative;
}


/*          content          */

.submit-btn {
    position: relative;
    width: 130px;
    height: 38px;
    background: orange;
    margin-left: auto;
}

/*input.parsley-success
            {
              color: #468847 !important;
              background-color: #DFF0D8 !important;
              border: 1px solid #D6E9C6 !important;
            }
            input.parsley-error
            {
              color: #B94A48 !important;
              background-color: #F2DEDE !important;
              border: 1px solid #EED3D7 !important;
            }
			
			*/

.back-btn {
    margin-top: 18px;
}

.text-align1 {
    text-align: center;
    padding: 10px;
}

.contact-form-field {
    display: block;
    padding: 0 0 0 11px;
    width: 100%;
    height: 41px;
    margin: 22px 0 -9px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.contact-parag-txt {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
}

.contact-form-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 10%;
    top: 8px;
}

.offset-top-1 {
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.fp-submit-btn:hover {
    background: #f4911e !important;
    color: #fff;
}

.fp-submit-btn {
    display: inline-block;
    background: #525151 !important;
    width: 100%;
    float: right;
    height: 38px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 14px;
    margin-left: -35px;
    color: #fff;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    border: 0px solid transparent;
    -webkit-user-select: none;
    text-transform: uppercase;
    padding: 0;
}



.right-align-1 {
    text-align: right;
}

.gallery-offset {
    margin-top: 20px;
    margin-left: 42px;
    padding: 0px;
}

.content .col-md-3 {
    position: relative;
    min-height: 1px;
}

.horizontal-line-divider {
    height: 13px;
    width: 100%;
    margin-bottom: 0px;
    background: url(../images/news_bg_horizontal.png) repeat-x;
}



.content-top-container {
    margin-top: -15px;
    padding-top: 15px;
    height: 146px;
    width: 100%;
    background-color: #56a1d5;
}

.content-bg-container {
    height: 21px;
    /*width: 1024px;
	*/
    background-color: #edecec;
}

.gallery-left {
    width: 145px;
    margin: 0 0 0 21px;
    height: 275px;
    margin: 0 0 0 21px;
    background-color: #edecec;
}

.gallery-center {
    height: 275px;
    /*width: 1024px;
	*/
    background-color: #ddd;
}

.gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8 {
    width: 219px;
    height: 189px;
    background-color: #fff;
}


.view-category {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    padding: 10px 0px;
    text-align: center;
}

.image-container {
    width: 222px;
    border-top: 2px solid #dcdcdc;
    border-left: 2px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
}


.gallery-image {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 35px;
    margin-top: 35px;
    width: 187px;
    height: 111px;
    /*width: 1024px;
	*/
    background-color: #fff;
    /*background: url('../images/02-AMC_Product-page_final_27092013_05.png');*/
}



.desc {
    position: relative;
    height: 86px;
    width: 216px;
    background-color: #edecec;
}

.category-mouseover-btn {
    width: 149px;
    height: 41px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    background-color: #F4911E;
    -webkit-box-shadow: #cccccc 2px 2px 2px;
    -moz-box-shadow: #cccccc 2px 2px 2px;
    box-shadow: #cccccc 2px 2px 2px;
    position: relative;
    left: 35px;
    top: 75px;
}



.gallery-content {
    color: #525151;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    /*padding: 30px 30px;	*/
    margin: 5px 5px;
    text-align: center;
}

.gallery-content-heading {
    color: #525151;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    margin: 5px 5px;
    /*padding: 30px 30px;	
	*/
    text-align: center;
}

. tl-offset-bottom {
    margin-top: 20px;
}


.row.bgfill {
    background-color: #fff;
}


.space-above-footer {
    margin-top: 20px;
    background-color: #fff;
}




.topspacer {
    margin-top: 40px;
    margin-bottom: 40px;
}


.col-md-12.topspacer {
    margin-top: 20px;
}

.topspacer2 {
    margin-top: 30px;
}





.col-md-2.gallery-spacer {
    position: relative;
    float: left;
    width: 20%;
    padding: 0 2px 0 0;
    margin: 0 0 0 22px;
}

.content-top {
    text-align: center;
    margin: 30px 30px;
}

.content-main {
    text-align: center;
    margin-top: 10px;
    padding: 0px 25px;
}

p.subheader-content-heading {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 11px;
    width: 100%;
    text-align: center;
}

p.subheader-content {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    padding-top: 14px;
    padding-right: 8.7%;
    padding-left: 8.7%;
    text-align: center;
}

.ips select {
    background-color: #fff!important;
    -webkit-appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    background-position: 97% 50%;
    height: 41px;
}


select::-ms-expand {
    display: none;
}



.form-control-select {
    -moz-appearance: none;
    display: block;
    margin: 10px 0 0 0;
    text-indent: 0.01px;
    text-overflow: "" !important;
    width: 100%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
}

.offset-2 {
    padding-left: 15px;
}







.form-contact-method {
    font-size: 13px;
    font-weight: 300;
    color: #006666;
}

    .form-contact-method a {
        color: #525151;
    }

        .form-contact-method a:hover {
            color: #f4911e;
            text-decoration: underline !important;
        }


.radio-group {
    font-size: 13px;
    font-weight: 300;
}

.rac-form-field4 {
    display: block;
    padding: 5px 0 0 11px;
    width: 100%;
    height: 80px;
    margin: 12px 0 0 0px;
    font-size: 13px;
    resize: none;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.row.header {
    border-bottom: 1px solid #a3a2a2;
    height: 76px;
}

.ips3 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    height: 41px;
    margin: 11px 0 0 -24px;
    width: 214px;
    float: left;
}

.form-control-select3 {
    display: block;
    margin: 10px 0 0 0;
    width: 97%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
}


/* _________Scroll________________  */
form ::-webkit-scrollbar {
    width: 12px;
}


form ::-webkit-scrollbar-track {
    background: #e3e3e3;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


form ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #4f4f4f;
}

    form ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(227,227,227,0.4);
    }

/* ______________________  */


/*          Content CSS        */


/* news letter sign up */

.col-md-6.newsletter {
    background: #f39a32;
    height: 47px;
    margin: 0 0 0 -13px;
    width: 48%;
}


.form-group {
    margin-bottom: 15px;
    margin-top: -15px;
}

.col-md-2.control-label {
    color: #fff;
    width: 37% !important;
    padding: 14px 0 0 0;
    margin: 0 0 0 11px;
}

.form-control-nl {
    display: block;
    width: 224px;
    height: 34px;
    padding: 8px;
    margin: 7px 0 0 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.subscription {
    padding: 30px;
    font-size: 13px;
    color: #fff;
}

.closebtn {
    margin-top: -53px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

input[type="submit"].arrowbtn {
    background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
    padding: 18px 16px 0 16px;
    position: relative;
    left: 245px;
    top: -32px;
    cursor: pointer;
    margin-top: 14px;
    margin: 0 auto;
    border: 0px;
}



/* news letter sign up */


/*_________________ search popup ________________*/


.search-form-field {
    display: block;
    padding: 0 0 0 11px;
    width: 100%;
    height: 51px;
    margin: 0 0 -9px 0px;
    font-size: 16px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 0px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-align: right;
}

.popover-content {
    padding: 9px 14px;
    width: 878px;
}

.popover.left .arrow {
    top: 50%;
    right: -6px;
    margin-top: -11px;
    border-left-color: #fff;
    border-right-width: 0;
}

.popover {
    position: absolute;
    top: 0px !important;
    /*	left: -869px !important;*/
    z-index: 1010;
    /*	display: none;*/
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    max-width: 1162% !important;
    height: 76px !important;
    border-radius: 0px !important;
    border: 0px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*_________________ search popup ________________*/

/*_______dropdown menu _________________________________________________________________*/
.col-md-10.energymenu {
    width: 72%;
    margin: 0 9px;
    position: relative;
    top: -3px;
}

.mainmenulink {
    color: #525151;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    top: 6px;
    left: 7px;
    width: 100%;
}

.col-md-2.mainmenu1 {
    position: relative;
    top: 7px;
    float: left;
    width: 17%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu2 {
    position: relative;
    top: 7px;
    float: left;
    width: 19.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu3 {
    position: relative;
    top: 7px;
    float: left;
    width: 19.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu4 {
    position: relative;
    top: 7px;
    float: left;
    width: 22.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu5 {
    position: relative;
    top: 7px;
    float: left;
    width: 19.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu1:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 14px;
}

.col-md-2.mainmenu2:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 14px;
}

.col-md-2.mainmenu3:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 14px;
}

.col-md-2.mainmenu4:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 19px;
}

.col-md-2.mainmenu5:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 19px;
}

.sub-menu1 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }

ul.sub-menu1 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu2 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu3 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu4 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu5 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

.col-md-2.mainmenu1:hover ul.sub-menu1 {
    display: block;
}


.sub-menu2 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }

.col-md-2.mainmenu2:hover ul.sub-menu2 {
    display: block;
}




.sub-menu3 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }

.col-md-2.mainmenu3:hover ul.sub-menu3 {
    display: block;
}

.sub-menu4 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }

.col-md-2.mainmenu4:hover ul.sub-menu4 {
    display: block;
}

.sub-menu5 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }

.col-md-2.mainmenu5:hover ul.sub-menu5 {
    display: block;
}

/*----------------------------------modalbox popup-----------------------------------------*/
.form-group-rac {
    margin-bottom: 15px;
    position: relative;
    top: -50px;
}

form {
    margin-bottom: -55px !important;
}

.modal-dialog {
    right: auto;
    left: 50%;
    padding-top: 170px;
    padding-bottom: 30px;
}

.modal-header-rac {
    min-height: 16.428571429px !important;
    padding: 15px !important;
    border-bottom: 0px solid #e5e5e5 !important;
    ;
}

.modal-content-rac {
    position: relative;
    background-color: #edecec;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0px!important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}

.form-header-txt {
    color: #3968b1;
    font-size: 24px;
    font-weight: bold;
}

.form-headercaption-txt {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
}

.form-contact-method {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
    margin: 10px 0 0 0;
}

.request-quote-text {
    text-decoration: underline;
}

.rac-container {
    overflow: hidden;
    margin: -10px 0 0 0;
}

.rac-form-field {
    display: block;
    padding: 0 0 0 11px;
    width: 100%;
    height: 41px;
    margin: 20px 0 0 0px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field2 {
    display: inline;
    padding: 0 0 0 11px;
    width: 100%;
    height: 41px;
    margin: 20px 0 0 0;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field3 {
    padding: 0 0 0 11px;
    width: 100%;
    height: 41px;
    margin: 20px 0 0 0;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field4 {
    display: block;
    padding: 5px 0 0 11px;
    width: 100%;
    height: 80px;
    margin: 20px 0 0 0px;
    font-size: 13px;
    resize: none;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field5 {
    display: block;
    padding: 0 0 0 11px;
    width: 100%;
    height: 41px;
    margin: 20px 0 0 0;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.col-md-4.rac-left {
    float: left;
    width: 45%;
}

.ips select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    width: 100%;
    background: transparent url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    background-position: 97%,50%;
    height: 41px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
}

.form-control-select {
    display: block;
    margin: 20px 0 0 0;
    width: 100%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
}

.shipping-txt {
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 0 0;
}

.shipping-parag-txt {
    color: #494949;
    font-size: 11px;
    font-weight: bold;
}

.rac-radio, .rac-checkbox {
    display: inline;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

    .rac-radio label, .rac-checkbox label {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        width: 77px;
    }

.rac-radio1, .rac-checkbox {
    display: inline;
    min-height: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

    .rac-radio1 label, .rac-checkbox label {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

.rac-radio2, .rac-checkbox {
    display: inline;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

    .rac-radio2 label, .rac-checkbox label {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

/*.radio-group {
	margin: 5px 0 0 -18px;
}*/
.account-txt {
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 0 0;
}

.account-selectbox select, select[size] {
    height: 41px;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}


.goto-link {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
}

.col-md-1.split {
    margin-left: 10px;
}

.col-md-4.rac-right {
    float: left;
    width: 45%;
}

.radio-group2 {
    margin: 20px 0 20px 0;
}

.ips2 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    background-position: 97%,50%;
    height: 41px;
    margin: 11px 0 0 -24px;
    width: 100%;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    text-indent: 0.01px;
    text-overflow: "" !important;
    padding: 0px 31px 0 5px;
}

.form-control-select2 {
    display: block;
    margin: 10px 0 0 0;
    width: 97%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
}

.ips3 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    background-repeat: no-repeat;
    background-position: 97%,50%;
    height: 41px;
    margin: 20px 0 0 0;
    width: 100%;
    float: left;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    text-indent: 0.01px;
    text-overflow: "" !important;
    padding: 0px 31px 0 5px;
}

.form-control-select3 {
    display: block;
    margin: 10px 0 0 0;
    width: 97%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
}

.ips4 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    background-position: 97%,50%;
    height: 41px;
    margin: 11px 0 0 10px;
    width: 95px;
    float: left;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
}

.form-control {
    display: block;
    width: 100%;
    height: 41px;
    padding: 6px 12px;
    margin-top:20px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control-select4 {
    display: inline;
    margin: 20px 0 0 0;
    width: 100%;
    height: 41px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.addproducts-btn {
    display: inline-block;
    background: #525151;
    padding: 13px 12px;
    width: 40%;
    float: right;
    clear: left;
    min-width: 120px;
    margin: 14px 0 8px 172px;
    font-weight: normal;
    font-size: 13px;
    white-space: nowrap;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    border: 0px solid transparent;
    -webkit-user-select: none;
    text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #f59c34;
}

.tabpanel {
    position: relative;
    width: 100%;
    float: left;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    background: #525151;
    height: 24px;
    width: 100%;
    margin: 30px 0 0 0;
}

    .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
        position: relative;
        top: -8px;
    }

        .nav-tabs > li > a {
            margin-right: 2px;
            line-height: 1.428571429;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
        }

            .nav-tabs > li > a:hover {
                background: none;
                border: 1px solid transparent;
                outline: 0px;
            }

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px;
    color: #fff;
    font-size: 13px;
    top: -7px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: default;
    background-color: #FF7000;
    border: 0px;
    border-bottom-color: transparent;
    color: #fff;
    font-size: 13px;
    border-radius: 0;
    line-height: 0px;
    height: 20px;
    position: relative;
    top: 1px;
}

.producttab {
    display: block;
    border: 1px solid #CACACA;
    list-style-type: none;
    float: left;
    line-height: 22px;
    background: #fff;
    width: 100%;
    height: 250px;
    overflow: auto;
    margin: -26px 0 0 0;
}

.product-even {
    background: #f8f8f8;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
}

.product-odd {
    background: #eeeeee;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
}

.servicetab {
    display: block;
    border: 1px solid #CACACA;
    list-style-type: none;
    float: left;
    line-height: 22px;
    background: #fff;
    width: 100%;
    height: 250px;
    overflow: auto;
    margin: -26px 0 0 0;
}

.service-even {
    background: #f8f8f8;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
    height: 36px;
}

.servicelist {
    float: left;
}

.bigclose2 {
    float: right;
    padding: 4px;
}

.service-odd {
    background: #eeeeee;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
    height: 36px;
}
/*.mandatory-txt {
	position: relative;
	top: -36px;
	left: -17px;
	font-size: 11px;
	color: #AFADAD;
	width: 38%;
}*/
.alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
    width: 100%;
    clear: both;
    /*position: relative;
left: -21px;*/
}

@-moz-document url-prefix() {
    .ips select;

{
    padding: 9px 31px 0 5px;
}

}


@-moz-document url-prefix() {
    .ips2 select;

{
    padding: 9px 31px 0 5px;
}

}

@-moz-document url-prefix() {
    .ips3 select;

{
    padding: 9px 31px 0 5px;
}

}

@-moz-document url-prefix() {
    .ips4 select;

{
    padding: 9px 31px 0 5px;
}

}
/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }

    .mainmenulink {
        top: 17px;
    }
    /*----------------------------------modalbox popup-----------------------------------------*/
    .form-group-rac {
        margin-bottom: 15px;
        position: relative;
        top: -50px;
    }

    form {
        margin-bottom: -55px !important;
    }

    .modal-dialog {
        width: 750px !important;
        right: auto;
        left: 50%;
        padding-top: 170px;
        padding-bottom: 30px;
    }

    .modal-header-rac {
        min-height: 16.428571429px !important;
        padding: 15px !important;
        border-bottom: 0px solid #e5e5e5 !important;
        ;
    }

    .modal-content-rac {
        position: relative;
        background-color: #edecec;
        border: 1px solid #999;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 0px!important;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
        box-shadow: 0 3px 9px rgba(0,0,0,0.5);
        background-clip: padding-box;
    }

    .form-header-txt {
        color: #3968b1;
        font-size: 24px;
        font-weight: bold;
    }

    .form-headercaption-txt {
        color: #494949;
        font-size: 13px;
        font-weight: normal;
    }

    .form-contact-method {
        color: #494949;
        font-size: 13px;
        font-weight: normal;
        margin: 10px 0 0 0;
    }

    .rac-container {
        overflow: hidden;
        margin: -10px 0 0 0;
    }

    .rac-form-field {
        display: block;
        padding: 0 0 0 11px;
        width: 100%;
        height: 41px;
        margin: 20px 0 0 0px;
        font-size: 13px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .rac-form-field2 {
        display: inline;
        padding: 0 0 0 11px;
        width: 100%;
        height: 41px;
        margin: 20px 0 0 0px;
        font-size: 13px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .rac-form-field3 {
        padding: 0 0 0 11px;
        width: 100%;
        height: 41px;
        margin: 20px 0 0 0px;
        font-size: 13px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .rac-form-field4 {
        display: block;
        padding: 5px 0 0 11px;
        width: 100%;
        height: 80px;
        margin: 20px 0 0 0px;
        font-size: 13px;
        resize: none;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .rac-form-field5 {
        display: block;
        padding: 0 0 0 11px;
        width: 100%;
        height: 41px;
        margin: 20px 0 0 0px;
        font-size: 13px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .col-md-4.rac-left {
        float: left;
        width: 45%;
    }

    .ips select {
        background-color: #fff!important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        color: #9C9C9C;
        background: transparent url("../images/select_downarrow.png");
        height: 30px;
        background-repeat: no-repeat;
        /*	background-position-x: 97%;
	background-position-y: 50%;*/
        background-position: 97%,50%;
        height: 41px;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
    }

    .form-control-select {
        display: block;
        margin: 20px 0 0 0;
        width: 100%;
        height: 34px;
        padding: 6px 6px;
        font-size: 13px;
        line-height: 1.428571429;
        vertical-align: middle;
        border: 1px solid #ccc;
        border-radius: 0px !important;
        /*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    }

    .shipping-txt {
        color: #494949;
        font-size: 14px;
        font-weight: bold;
        margin: 25px 0 0 0;
    }

    .shipping-parag-txt {
        color: #494949;
        font-size: 11px;
        font-weight: bold;
    }

    .rac-radio, .rac-checkbox {
        display: inline;
        min-height: 20px;
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: middle;
    }

        .rac-radio label, .rac-checkbox label {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
        }

    .rac-radio1, .rac-checkbox {
        display: inline;
        min-height: 20px;
        padding-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: middle;
    }

        .rac-radio1 label, .rac-checkbox label {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
        }

    .rac-radio2, .rac-checkbox {
        display: inline;
        min-height: 20px;
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: middle;
    }

        .rac-radio2 label, .rac-checkbox label {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
        }


    .account-txt {
        color: #494949;
        font-size: 14px;
        font-weight: bold;
        margin: 25px 0 0 0;
    }

    .account-selectbox select, select[size] {
        height: 41px;
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
    }


    .goto-link {
        color: #494949;
        font-size: 13px;
        font-weight: normal;
        text-decoration: underline;
    }

    .col-md-1.split {
        margin-left: 10px;
    }

    .col-md-4.rac-right {
        float: left;
        width: 45%;
    }

    .radio-group2 {
        margin: 20px 0 17px 0;
    }

    .ips2 select {
        background-color: #fff!important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #9C9C9C;
        background: url("../images/select_downarrow.png");
        height: 30px;
        background-repeat: no-repeat;
        /*	background-position-x: 97%;
	background-position-y: 50%;*/
        background-position: 97%,50%;
        height: 41px;
        margin: 20px 0 0 0;
        width: 100%;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
    }

    .form-control-select2 {
        display: block;
        margin: 10px 0 0 0;
        width: 97%;
        height: 34px;
        padding: 6px 6px;
        font-size: 13px;
        line-height: 1.428571429;
        vertical-align: middle;
        border: 1px solid #ccc;
        border-radius: 0px !important;
        /*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    }

    .ips3 select {
        background-color: #fff!important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #9C9C9C;
        background: url("../images/select_downarrow.png");
        background-repeat: no-repeat;
        /*	background-position-x: 97%;
	background-position-y: 50%;*/
        background-position: 97%,50%;
        height: 41px;
        margin: 20px 0 0 0;
        width: 100%;
        float: left;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
    }

    orm-control-select3 {
        display: block;
        margin: 10px 0 0 0;
        width: 97%;
        height: 34px;
        padding: 6px 6px;
        font-size: 13px;
        line-height: 1.428571429;
        vertical-align: middle;
        border: 1px solid #ccc;
        border-radius: 0px !important;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
        /*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    }

    .ips4 select {
        background-color: #fff!important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #9C9C9C;
        background: url("../images/select_downarrow.png");
        height: 30px;
        background-repeat: no-repeat;
        /*	background-position-x: 97%;
	background-position-y: 50%;*/
        background-position: 97%,50%;
        height: 41px;
        margin: 11px 0 0 10px;
        width: 95px;
        float: left;
        -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;
    }

    .form-control-select4 {
        display: block;
        margin: 20px 0 0 0;
        width: 100%;
        height: 41px;
        padding: 6px 6px;
        font-size: 13px;
        line-height: 1.428571429;
        vertical-align: middle;
        border: 1px solid #ccc;
        border-radius: 0px !important;
        /*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    }

    .addproducts-btn {
        display: inline-block;
        background: #525151;
        padding: 13px 12px;
        width: 40%;
        margin: 14px 0 8px 172px;
        font-weight: normal;
        font-size: 13px;
        white-space: nowrap;
        border-radius: 3px;
        vertical-align: middle;
        cursor: pointer;
        border: 0px solid transparent;
        -webkit-user-select: none;
        text-transform: uppercase;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #f59c34;
        /*border-color: #285e8e;*/
    }

    .tabpanel {
        position: relative;
        width: 100%;
        float: left;
    }

    .nav-tabs {
        border-bottom: 1px solid #ddd;
        background: #525151;
        height: 24px;
        width: 100%;
        margin: 30px 0 0 0;
    }

        .nav-tabs > li {
            float: left;
            margin-bottom: -1px;
            position: relative;
            top: -8px;
        }

            .nav-tabs > li > a {
                margin-right: 2px;
                line-height: 1.428571429;
                border: 1px solid transparent;
                border-radius: 4px 4px 0 0;
            }

                .nav-tabs > li > a:hover {
                    background: none;
                    border: 1px solid transparent;
                    outline: 0px;
                }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 15px 10px;
        color: #fff;
        font-size: 13px;
        top: -7px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        cursor: default;
        background-color: #FF7000;
        border: 0px;
        border-bottom-color: transparent;
        color: #fff;
        font-size: 13px;
        border-radius: 0;
        line-height: 0px;
        height: 20px;
        position: relative;
        top: 1px;
    }

    .producttab {
        display: block;
        border: 1px solid #CACACA;
        list-style-type: none;
        float: left;
        line-height: 22px;
        background: #fff;
        width: 100%;
        height: 250px;
        overflow: auto;
        margin: -26px 0 0 0;
    }

    .product-even {
        background: #f8f8f8;
        margin: 0 0 0 -40px;
        padding: 10px;
        line-height: 20px;
        font-size: 13px;
    }

    .product-odd {
        background: #eeeeee;
        margin: 0 0 0 -40px;
        padding: 10px;
        line-height: 20px;
        font-size: 13px;
    }

    .servicetab {
        display: block;
        border: 1px solid #CACACA;
        list-style-type: none;
        float: left;
        line-height: 22px;
        background: #fff;
        width: 100%;
        height: 250px;
        overflow: auto;
        margin: -26px 0 0 0;
    }

    .service-even {
        background: #f8f8f8;
        margin: 0 0 0 -40px;
        padding: 10px;
        line-height: 20px;
        font-size: 13px;
        height: 36px;
    }

    .servicelist {
        float: left;
    }

    .bigclose2 {
        float: right;
        padding: 4px;
    }

    .service-odd {
        background: #eeeeee;
        margin: 0 0 0 -40px;
        padding: 10px;
        line-height: 20px;
        font-size: 13px;
        height: 36px;
    }

    .mandatory-txt {
        position: relative;
        top: -36px;
        clear: both;
        font-size: 11px;
        color: #AFADAD;
        width: 38%;
    }

    .col-md-4.logo {
        padding: 12px 0 0 0;
    }

    .carmenus {
        width: 37% !important;
        height: 50px;
        margin: auto;
    }

    .menus {
        width: 950px;
        margin: 0 auto;
    }

    .leftarrow {
        background: url('../images/blue-leftarrow.png') no-repeat transparent;
        width: 9px;
        height: 22px;
        position: absolute;
        top: 6px;
        left: 14px;
    }

    .pl-productname {
        background: #f5f3f3;
        font-size: 11px;
        padding: 36px 22px;
        margin: 0 !important;
        text-align: center;
        border-bottom: 1px solid #a5a5a5;
    }

    .message-form-container {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }


        .message-form-container .form-control {
            font-size: 13px;
            font-weight: 300;
        }

    ul.sub-menu1 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu2 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu3 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu4 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu5 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    .col-md-2.mainmenu1:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu2:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu3:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu4:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu5:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    @media (min-width: 1600px) {
        ul.sub-menu1 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }

        ul.sub-menu2 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }

        ul.sub-menu3 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }

        ul.sub-menu4 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }

        ul.sub-menu5 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }
    }
}


@media (min-width: 992px) {
    .topnav-right {
        display: block;
    }


    .container {
        max-width: 100%;
    }

    .col-md-4.logo {
        padding: 12px 0 0 37px;
    }

    .col-md-1 {
        padding: 0;
    }

    .col-md-2 {
        padding: 0;
    }
    /*.col-md-3 {
	padding: 0;
	}*/
    .col-md-4 {
        padding: 0;
    }
    /*.col-md-5{
	padding: 0;
	}*/
    .col-md-6 {
        padding: 0;
    }
    /*.col-md-7 {
	padding: 0;
	}*/
    /*.col-md-8 {
	padding: 0;
	}*/
    .col-md-9 {
        padding: 0;
    }

    .col-md-10 {
        padding: 0;
    }

    .col-md-11 {
        padding: 0;
    }

    .col-md-12 {
        padding: 0;
    }

    .carmenus {
        width: 70%;
        height: 50px;
        margin: auto;
    }

    .form-control-nl {
        width: 150%;
    }

    .modal-dialog {
        width: 50% !important;
    }
}



@media (min-width: 767px ) and (max-width : 1023px) {



    .topnav-right {
        position: relative;
       
        float: right;
    }


    .mainmenu-icon {
        margin-left: -10px;
    }


    .mainmenu-icon2 {
        margin-left: -10px;
    }

    .mainmenu-icon3 {
        margin-left: -22px;
    }

    .mainmenu-icon4 {
        margin-left: -29px;
    }

    .mainmenu-icon5 {
        margin-left: -8px;
    }




    .container {
        max-width: 100%;
    }





    .subnav_web_templates {
        padding: 0px 84px 10px 0;
        background: #777777;
        color: #E9E9E9;
        font-size: 9px;
        float: right;
    }


    .col-md-2.mainmenu1:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }

    .col-md-2.mainmenu2:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }

    .col-md-2.mainmenu3:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }

    .col-md-2.mainmenu4:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu5:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }


    .col-md-6.newsletter {
        background: #f39a32;
        height: 47px;
        margin: 0 0 0px 0;
        width: 100%;
    }

    .col-md-2.control-label {
        color: #fff;
        width: 37%;
        padding: 14px 0 0 0px;
        margin: 0 0 0 -25%;
    }

    .form-control-nl {
        margin: -27px 0 0 50%;
    }

    .newsletter-btn {
        margin-left: 50%;
    }



    .col-md-4.logo {
        padding: 12px 0 0 37px;
    }

    .col-md-1 {
        padding: 0;
    }

    .col-md-2 {
        padding: 0;
    }

    .col-md-3 {
        padding: 0;
    }
    /*.col-md-4 {
	padding: 0;
	}*/
    /*.col-md-5{
	padding: 0;
	}*/
    .col-md-6 {
        padding: 0;
    }
    /*.col-md-7 {
	padding: 0;
	}*/
    .col-md-8 {
        padding: 0;
    }

    .col-md-9 {
        padding: 0;
    }

    .col-md-10 {
        padding: 0;
    }

    .col-md-11 {
        padding: 0;
    }

    .col-md-12 {
        padding: 0;
    }

    .prog-link {
        background: #3C3C3C;
        width: 76px !important;
        height: 76px;
        color: #fff;
        padding: 14px 0px 0 0px !important;
        margin: 0 0 0 0px;
        text-align: center;
    }

    ul.sub-menu1 {
        left: -76px;
        top: 72px;
        width: 700px;
    }

    ul.sub-menu2 {
        left: -180px;
        top: 72px;
        width: 735px;
    }

    ul.sub-menu3 {
        left: -313px;
        top: 72px;
        width: 735px;
    }

    ul.sub-menu4 {
        left: -446px;
        top: 72px;
        width: 735px;
    }

    ul.sub-menu5 {
        left: -600px;
        top: 70px;
        width: 735px;
    }


    .col-md-10.energymenu {
        width: 85%;
        margin: 0 0 0 0px;
        position: relative;
        top: -3px;
    }

    .mainmenulink {
        left: 0px;
        font-size: 12px;
    }



    .mainmenu-icon6 {
        background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
        height: 81px;
        float: left;
    }

    .col-md-2.mainmenu1 {
        position: relative;
        top: 7px;
        float: left;
        width: 16%;
        padding: 0 3px 0 0px;
    }

    .col-md-2.mainmenu2 {
        position: relative;
        top: 7px;
        float: left;
        width: 20.5%;
        padding: 0 3px 0 0;
    }

    .col-md-2.mainmenu3 {
        position: relative;
        top: 7px;
        float: left;
        width: 21.5%;
        /* padding: 0 3px 0 0; */
    }

    .col-md-2.mainmenu4 {
        position: relative;
        top: 7px;
        float: left;
        width: 17.5%;
        padding: 0 3px 0 0;
    }

    .col-md-2.mainmenu5 {
        position: relative;
        top: 9px;
        width: 19.5%;
        padding: 0 0px 0 0px;
    }

    .search {
        width: 4%;
        float: right;
        position: relative;
        right: 18px;
        top: 0px;
    }



    .search-form-field {
        height: 66px;
        margin: -10px 6px -9px 12px;
    }
}


@media (max-width: 767px) {


    /* Header style */

    .foonav {
        font-size: 9px;
    }

    .container.homepg {
        overflow-x: hidden;
    }

    .col-md-2.mainmenu1, .col-md-2.mainmenu2, .col-md-2.mainmenu3, .col-md-2.mainmenu4, .col-md-2.mainmenu5 {
        width: 100%;
    }

    .row.header {
        height: 100%;
    }

        .row.header .col-xs-12 {
            border-top: 1px solid rgb(167, 162, 162);
        }

    .topnav-right {
        right: 10px;
        float: left;
        margin-top: 10px;
    }

    .prog-link {
        width: 100% !important;
        height: 100%;
        padding: 20px 32px 40px 38px !important;
        margin: 0px;
        position: absolute;
    }

    .col-md-10.energymenu {
        background: white;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 60px;
        padding-bottom: 15px;
    }

    .menu1, .menu2, .menu3 {
        top: 0px;
        float: none;
    }

    .collapsableMenu {
        display: inline;
    }

    .top-icon4 {
        background: url('../images/spritesheet.png') no-repeat 9.433% 60%;
        padding: 14px;
        width: 48px;
        float: left;
    }

    .toplink4 {
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
    }

    .search {
        width: 75px;
        float: right;
        position: absolute;
        right: 0px;
        top: 64px;
    }

        .search .popover {
            height: 39px !important;
        }

        .search .popover-content {
            padding-top: 4px;
        }

    .search-form-field {
        height: 100%;
    }

    .mainmenu-icon6 {
        width: 100%;
        height: 40px;
    }

    .toplink1, .toplink2, .toplink3 {
        display: none;
    }

    .mainnav-home {
        display: none;
        opacity: 1;
        position: relative;
        height: 100%;
        border-top: none;
    }

    .flex-viewport {
        width: 100%;
    }

    .flex-direction-nav {
        display: none;
    }

    .menu-container {
        overflow: scroll;
    }

    .menu:hover {
        background: none;
        color: #333;
    }

    .mainmenulink {
        top: 22px;
    }

    ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5 {
        position: fixed;
        display: block;
        /*left: 0px;*/
        left: 100%;
        top: 0;
        padding: 0px;
        height: 100%;
        opacity: 1;
        background: #444343;
        transition: linear .5s;
    }

    .sub-menu1 li, .sub-menu2 li, .sub-menu3 li, .sub-menu4 li, .sub-menu5 li {
        display: block;
        padding: 0px;
        left: 0px;
    }

    .submenu-btn {
        display: block;
        border-radius: 0px;
    }

    .subBack-btn {
        display: block;
        padding: 7px;
        width: 90px;
        background: black;
        color: white;
        text-align: center;
    }


    /* --Header style-- */

    /* Footer style */
    .col-md-2.control-label {
        color: #fff;
        width: 86%;
        text-align: center;
        /*		margin: 10px 0 10px 0;*/
    }

    .col-md-4.contact-info {
        position: relative;
        top: 0;
        left: 0;
        width: 0;
    }

    .horizontal-line-divider {
        height: 18px;
        width: 100%;
        margin-bottom: 0px;
        background: url(../images/news_bg_horizontal.png) repeat-x;
    }

    .social-container {
        margin: 3px auto;
        width: 64%;
        padding: 0px;
        height: 39px;
    }

    .col-md-6.newsletter {
        background: #f39a32;
        height: 94px;
        width: 100%;
        margin: 61px 0 0 0;
    }

    .phoneno {
        float: left;
        width: 55%;
        position: relative;
        left: -26px;
        top: 15px;
    }

    .catalog {
        float: left;
        position: relative;
        left: 107px;
        top: 12px;
        width: 200px;
    }

    .form-control-nl {
        display: block;
        width: 245px;
        height: 34px;
        padding: 8px;
        margin: 0;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    /* --Footer style-- */
    .leftarrow {
        background-image: url('../images/product-table-arrow.gif');
        width: 37px;
        height: 59px;
        left: inherit;
        right: 0px;
        top: 0;
        background-repeat: no-repeat;
        background-position: left top;
        position: absolute;
        z-index: 9999;
        cursor: pointer;
    }

    .SlideOnn {
        background-position: left bottom;
    }

    /* Footer menus style */


    .footermenu-container {
        width: 100px;
        position: relative;
        top: 17px;
        left: 0px;
    }

    .footer-sub-menu1 {
        position: fixed;
        left: 0px;
        top: 100%;
        padding: 0px;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: #444343;
        transition: linear .5s;
    }

        .footer-sub-menu1 li {
            display: block;
            padding: 0px;
            left: 0px;
        }

    .subnav_web_templates {
        background: #777777;
        color: #CACACA;
        font-size: 10px;
        float: right;
        position: relative;
        right: -15px;
        top: -18px;
        width: 220px;
    }

    .footer-subBack-btn {
        display: block;
        padding: 7px;
        width: 90px;
        background: black;
        color: white;
        text-align: center;
    }

        .footer-subBack-btn:hover {
            color: white;
        }


    /* ____________mobile header footer ends_____________________*/



    /*__________________request a code___________________*/
    .modal-body {
        position: relative;
        padding: 12px;
    }

    .modal-dialog {
        width: auto !important;
    }

    .col-md-4.rac-left {
        clear: both;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .form-group-rac {
        margin-bottom: 15px;
        position: relative;
        top: -52px;
    }

    .rac-form-field {
        width: 100%;
    }

    .rac-form-field2 {
        width: 100%;
    }

    .rac-form-field3 {
        width: 100%;
    }

    .ips select {
        width: 100%;
    }

    .rac-form-field5 {
        width: 100%;
    }

    .rac-form-field4 {
        width: 100%;
    }

    .account-selectbox select, select[size] {
        width: 100%;
    }

    .col-md-1.split {
        display: none;
    }

    .col-md-4.rac-right {
        clear: both;
        width: 100%;
        padding: 0;
    }

    .radio-group2 {
        margin: 26px 0 17px -33px;
    }

    .ips2 select {
        width: 100%;
        margin: 11px 0 0 0;
    }

    .ips3 select {
        margin: 11px 0 0 0px;
        width: 100%;
    }

    .ips4 select {
        margin: 11px 0 0 0px;
        width: 100%;
    }

    .addproducts-btn {
        width: 100%;
        margin: 14px 0 8px 0;
    }

    .tabpanel {
        position: relative;
        left: 0;
        float: left;
        width: 100%;
    }

    .mandatory-txt {
        display: none;
    }

    .nav-tabs {
        width: 100%;
    }

    .producttab {
        width: 100%;
    }

    .servicetab {
        width: 100%;
    }

    .close {
        position: relative;
        left: 9px;
        top: -10px;
    }
}

@media (max-width: 780px) {

    .arrowbtn {
        background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
        padding: 18px 16px 0 16px;
        width: 48px;
        height: 12px;
        position: relative;
        left: 243px;
        top: -15px;
        float: none;
        margin-left: 1%;
    }

    .container.amc-innerpages {
        overflow-x: hidden;
    }

    .headerlabel {
        font-size: 20px;
        font-weight: 600;
        padding: 0 0 0 3%;
    }

    .back-btn {
        top: -40px;
    }

    .container.amc-innerpages {
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .mainnav-subpage {
        display: none;
    }

    .form-group {
        /*width: 92%;
padding-left: 8%;
padding-top: 8%;
left: 0px;*/
    }


    .form-contact-method a {
        padding-left: 3%;
    }


    .breadcrumb {
        display: none;
    }

    /*.back-btn {
top: -218px;
left: 88%;
position:absolute;
}*/

    .offset-top-1 {
        margin-top: 40px;
        padding-left: 15px !important;
        padding-right: 15px;
    }


    .request-quote-text {
        text-align: center;
    }


    .col-md-6.social-left, .col-md-6.newsletter {
        display: none;
    }

    /*.col-md-8.offset-3 {
margin-top: 0px;
}*/


}



@media only screen and (min-width:992px) and (max-width:1500px) {
    .modal-dialog {
        width: 75% !important;
    }
}

@media only screen and (max-width:768px) {
    .modal-dialog {
        width: 100% !important;
    }
}
@media only screen and (max-width:767px) {
}

.mandatory-txt {
    position: relative;
    top: -36px;
    clear: both;
    font-size: 11px;
    color: #AFADAD;
    width: 38%;
}
.form-group p {
    margin-bottom:0;
}