#wrap{
	border:solid #CCCCCC 1px;
	width:203px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:3px;
}

.error {
    color: #cc0000;
    float: left;
    font-size: 12px;
    font-style: italic;
    margin-left: 16px;
    margin-top: -30px;
    width: 200px;
}

.success{ color:#009900; font-size:12px; margin:4px; font-style:italic; width:200px;}

img#refresh{
	float:left;
	margin-top:30px;
	margin-left:4px;
	cursor:pointer;
}

#name,#email{float:left;margin-bottom:3px; height:20px; border:#CCCCCC 1px solid;}

#message{ width:260px; height:100px;float:left;margin-bottom:3px; border:#CCCCCC 1px solid;}

label{  color:#666666; width:80px;}



.col-md-12.security{padding:20px 0px;overflow:hidden; margin:0px;}

/* ______________________ CAPTCHA END ________________ */
/* _____ [1] GLOBAL ________________________________________________________ */

body {
    width: 100%;
    background: #edecec;
    font-family: 'Open Sans', sans-serif;
 
    overflow-x: hidden;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: none !important;
}

a:active, a:hover {
    outline: 0;
}

.padleft1 li {
    list-style-type: disc;
}

#product_content h2{
	padding-bottom:5px;
}

.close {
    /*width: 50px;
    height: 30px;*/
}

.tel.col-md-7 {
    padding-left: 15px;
}

.bigclose2 img {
    vertical-align: text-top;
}
.parsley-error-list {
    padding-left:0;
}
.parsley-error-list li {
    padding-top: 15px;
   list-style-type:none;
    color: #f4911e;
    text-align: left;
    font-size: 12px;
}
/* _________Scroll________________  */
form ::-webkit-scrollbar {
    width: 12px;
}


form ::-webkit-scrollbar-track {
    background: #e3e3e3;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


form ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #4f4f4f;
}

    form ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(227,227,227,0.4);
    }

select::-ms-expand {
    display: none;
}



.form-control-select {
    text-indent: 0.01px;
    text-overflow: "" !important;
}

/* ______________________  */

/* news letter sign up */

.col-md-6.newsletter {
    background: #f39a32;
    height: 47px;
    margin: 0 0 0 -13px;
    width: 48%;
}


.form-group {
    margin-bottom: 15px;
    margin-top: -15px;
}

.col-md-2.control-label {
    color: #fff;
    width: 37% !important;
    padding: 14px 0 0 0;
    margin: 0 0 0 11px;
}

.form-control-nl {
    display: block;
    width: 224px;
    height: 34px;
    padding: 8px;
    margin: 7px 0 0 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.subscription {
    padding: 30px;
    font-size: 13px;
    color: #fff;
}

.closebtn {
    margin-top: -53px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

input[type="submit"].arrowbtn {
    background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
    padding: 18px 16px 0 16px;
    position: relative;
    left: 245px;
    top: -32px;
    cursor: pointer;
    margin-top: 14px;
    margin: 0 auto;
    border: 0px;
}



/* news letter sign up */


/*_________________ search popup ________________*/


.search-form-field {
    display: block;
    padding: 0 0 0 11px;
    width: 100%;
    height: 51px;
    margin: 0 0 -9px 0px;
    font-size: 16px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 0px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-align: right;
}

.popover-content {
    padding: 9px 14px;
    width: 878px;
}

.popover.left .arrow {
    top: 50%;
    right: -6px;
    margin-top: -11px;
    border-left-color: #fff;
    border-right-width: 0;
}

.popover {
    position: absolute;
    top: 0px !important;
    /*	left: -869px !important;*/
    z-index: 1010;
    /*	display: none;*/
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    max-width: 1162% !important;
    height: 76px !important;
    border-radius: 0px !important;
    border: 0px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*_________________ search popup ________________*/






.col-md-12.align-right-1 {
    /*padding-right: 4.4%;
    margin: 0 0 0 -39px;*/
}

.padleft1 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5em;
    width: 75%;
}

.allcaps {
    text-transform: uppercase;
}

.spreadsheets-icon {
    float: left;
    padding-right: 10px;
}

.msd-icon {
    float: left;
    padding-right: 10px;
}


.downloads_section {
    color: #66aad9;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 20px 5px 5px 0;
    /* width:88%; */
    /* padding-left: 30px; */
}

.table div {
    /*display:inline;	*/
}

.table-responsive {
    border: none;
}




#pd-table {
    padding-left: 3px;
    margin-right: 0px;
}

.centered {
    text-align: center;
    /* margin:20px 0 0 0; */
}

.col-md-4.heading-offset {
    padding-left: 2.2%;
}


#mytable {
    width: 700px;
    padding: 0;
    margin: 0;
}



.pd-heading div {
    color: #FFFFFF;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #66aad9 no-repeat;
    height: 60px;
    font-size: 13px;
    font-family: "open sans";
}

.pd-heading {
    margin-left: -40px;
}


.pd-sub-heading {
    margin-left: -40px;
}

.pd-heading div:first-child {
    border-left: 1px solid #C1DAD7;
}

.pd-sub-heading div:first-child {
    border-left: 1px solid #C1DAD7;
}

li.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

.pd-sub-heading div {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #333333;
}


#pd-table td.alt {
    background: #F5FAFA;
    color: #797268;
}

#pd-table th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff no-repeat;
}

#pd-table th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa no-repeat;
    color: #797268;
}




h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    ;
    font-weight: normal;
}

.navbar-inverse {
    background: url('../images/top_bg.png') repeat-x 0% 0%;
    /*height: 77px;*/
    border: 0px !important;
}

.img-thumbnail {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 12.5%;
    float: left;
    border: 1px solid red;
}

#zoom-image {
    width: 100%;
    cursor: url(../images/zoom-cursor.png);
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

#modal-image {
    width: 100%;
}


.center {
   
    margin-left: 42px;
}

.marginleft {
    left: 50px;
}

a.share-icon {
    color: #676666;
    padding-right: 4px;
    font-size: 14px;
}

    a.share-icon:hover {
        color: #f4911e;
    }

.margin-left10 {
    left: 10px;
}

.product-gallery-pad {
    padding: 15px;
    padding: 0px;
}
/*.col-md-3.padding {
	
margin: 20px 0px 40px 0px;
height: 160px;
padding-right:10px;

}*/

.col-md-3.padding2 {
    margin: 20px 0px 40px 0px;
    height: 160px;
    padding-left: 10px;
}

.col-md-4.menu1 {
    position: relative;
    top: 27px;
    float: left;
    width: 20%;
}

.col-md-4.menu2 {
    position: relative;
    top: 27px;
    float: left;
    width: 25%;
}

.col-md-4.menu3 {
    position: relative;
    top: 27px;
    float: left;
    width: 29%;
}

.menu1 {
    position: relative;
    top: 27px;
    float: left;
}

.menu2 {
    position: relative;
    top: 27px;
    float: left;
}

.menu3 {
    position: relative;
    top: 27px;
    float: left;
}

.top-icon {
    background: url('../images/spritesheet.png') no-repeat -3.567% 51.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.top-icon2 {
    background: url('../images/spritesheet.png') no-repeat 8.433% 51.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.top-icon3 {
    background: url('../images/spritesheet.png') no-repeat 18.433% 51.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.toplink {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.topnav {
    margin-bottom: 0;
    list-style: none;
    width: 62%;
}
/*.topnav-right {
	position: relative;
	left: 199px;
}*/
.topnav-right {
    position: relative;
    right: 34px;
    float: right;
}

.mainnav {
    background: #ffffff;
    height: 77px;
    margin: 11px 0 0 0;
    position: relative;
}
/*.col-md-2.mainmenu1 {
	position: relative;
	top: 4px;
	float: left;

}*/
.col-md-2.mainmenu1 {
    position: relative;
    top: 4px;
    float: left;
    width: 17%;
    padding: 0 2px 0 0;
}

.mainmenu-icon {
    background: url('../images/spritesheet.png') no-repeat -3.567% -10.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon2 {
    background: url('../images/spritesheet.png') no-repeat 9.433% -10.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon3 {
    background: url('../images/spritesheet.png') no-repeat 21.433% -10.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon4 {
    background: url('../images/spritesheet.png') no-repeat 33.433% -10.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon5 {
    background: url('../images/spritesheet.png') no-repeat 44.433% -10.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon6 {
    background: url('../images/spritesheet.png') no-repeat 99.433% 101.273%;
    padding: 14px;
    width: 48px;
    height: 81px;
    float: left;
}

.search {
    width: 4%;
    float: right;
    position: absolute;
    right: 38px;
    top: 0px;
}

.car-menu {
    background: #e9e8e8;
    height: 52px;
    margin: -52px 0 0 0;
    position: relative;
}

.carmenus {
    width: 70%;
    height: 50px;
    margin: auto;
}

ul .menusession {
    width: 90%;
    margin: 0 auto;
}

.menu {
    float: left;
    padding: 0px 15px 0 20px;
    border-right: 1px solid #ccc;
    height: 31px;
    position: relative;
    top: 12px;
}

.menulast {
    border-right: none;
    float: left;
    padding: 0px 15px 0 20px;
    height: 31px;
    position: relative;
    top: 12px;
}

.caro-menulink {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 11px;
}

.menu-container {
    width: 100%;
    margin: 0 auto;
}

.am_conversion {
    background: #f4911e;
    height: 240px;
    margin: -20px 0 0 0;
}

.am-container {
    width: 64%;
    margin: 0 auto;
    text-align: center;
}

.am-header {
    padding: 12px;
    width: 61%;
    margin: 20px auto;
    margin-bottom: 28px;
    color: #fff;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}

.dot {
    background: url('../images/spritesheet.png') no-repeat 54.433% 58.273%;
    padding: 14px;
    width: 48px;
    height: 49px;
    position: relative;
    top: -26px;
}

.yourone-txt {
    color: #fff;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 14px;
    margin-right: 13px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-default {
    color: #FC9B0B !important;
    background-color: #525151 !important;
    font-size: 16px !important;
}

.arrowicon {
    background: url('../images/spritesheet.png') no-repeat 86.433% 50.273%;
    padding: 29px;
    width: 51px;
    height: 51px;
}

.programs-container {
    background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
    background-size: 100%;
    height: 404px;
}
/*.col-md-6.social-left {
	background: #ccc;
	height: 47px;
	margin: -7px 0 0 0;
}*/
.social-container {
    position: relative;
    top: 18px;
    left: 12px;
    width: 130%;
}

.p-icon {
    background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
    padding: 17px;
    width: 48px;
    height: 49px;
}

.t-icon {
    background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
    padding: 17px 17px 13px 17px;
    width: 48px;
    height: 49px;
}

.f-icon {
    background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
    padding: 17px;
    width: 48px;
    height: 49px;
    margin-left: 5px;
}

.col-md-4.contact-info {
    position: relative;
    top: -6px;
    left: 171px;
    width: 100%;
}

.bs-example.twinbtn {
    width: 102%;
}

.phoneno {
    float: left;
    width: 30%;
}

.catalog {
    float: left;
}

.bottom-icon1 {
    background: url('../images/spritesheet.png') no-repeat 31.433% 51.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.bottom-icon2 {
    background: url('../images/spritesheet.png') no-repeat 42.433% 51.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.col-md-6.newsletter {
    background: #f39a32;
    height: 47px;
    margin: -7px 0 0 0;
}

.col-md-4.control-label {
    color: #fff;
    padding: 15px 0 0 24px;
    font-size: 13px;
}

.col-md-2.control-label {
    color: #fff;
    width: 37% !important;
    padding: 14px 0 0 0;
    margin: 0 0 0 11px;
}

.form-control {
    display: block;
    width: 224px;
    height: 34px;
    margin: 7px 0 0 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.content-top-container {
    height: 146px;
    /*width: 1024px;
	*/
    background-color: #56a1d5;
}

.product-details-top-container {
   
    margin-top: 0px;
    background-color: #edecec;
}

@-moz-document url-prefix() {
    .product-details-top-container2;

{
    margin-top: 120px;
    height: 76px;
    background-color: #edecec;
}

}

#pd-table {
    /*margin-left: 17px;*/
}

.product-details-top-container2 {
    height: 10px;
    background-color: #edecec;
}

.content-bg-container {
    height: 21px;
    /*width: 1024px;
	*/
    background-color: #edecec;
}

.gallery-left {
    width: 145px;
    margin: 0 0 0 21px;
    height: 275px;
    margin: 0 0 0 21px;
    /*width: 1024px;
	*/
    background-color: #edecec;
}

.gallery-center {
    height: 275px;
    /*width: 1024px;
	*/
    background-color: #ddd;
}

.gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8 {
    width: 219px;
    height: 189px;
    background-color: #ddd;
}



.pdf-download {
    display:block;
    background: #fff;
    padding: 15px 20px;
    border-bottom: 2px solid #ccc;
}


.content-offset {
    padding-left: 16%;
}



.pd-gallery {
    width: 219px;
    height: 189px;
    background-color: #ddd;
    margin: auto;
}

.gallery {
    width: 219px;
    height: 189px;
    background-color: #ddd;
}

.energy_image {
}

.pad {
    margin-top: 15px;
    font-size: 12px;
    color: #FFFFFF;
}

.pad2 {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 14px;
    color: #676666;
}

.view-category {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    /*padding: 30px 30px;	*/
    margin: 5px 5px;
    text-align: center;
}

.productdetails-content1 {
    color: #525151;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    padding: 5px 20px 5px 0;
}

.productdetails-content3 {
    color: #525151;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5em;
    padding: 5px 20px 5px 0;
}

.img-shadow {
    height: 100%;
    margin-bottom:25px;
}

.img-shadow2 {
    border: 3px solid #a5a5a5;
    height: 189px;
    z-index: auto;
}

.productdetails-content-heading-po {
    color: #66aad9;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    margin: 20px 0 15px 0;
}


.productdetails-content-heading3 {
    color: #66aad9;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 20px 5px 5px 0;
}


.productdetails-content-heading4 {
    color: #66aad9;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 20px 5px 5px 6%;
}

.offset-1 {
    margin-left: 10%;
}


.content .col-md-1, .content .col-md-2, .content .col-md-3, .content .col-md-4, .content .col-md-5, .content .col-md-6, .content .col-md-7, .content .col-md-8, .content .col-md-9, .content .col-md-10, .content .col-md-11, .content .col-md-12 {
    /*	
position: relative;
min-height: 1px;
padding-right:15px;
padding-left: 15px;*/
}



.one-edge-shadow-2 {
    -webkit-box-shadow: 0 8px 6px -6px #a5a5a5;
    -moz-box-shadow: 0 8px 6px -6px #a5a5a5;
    box-shadow: 0 8px 6px -6px #a5a5a5;
    position: relative;
    width: 220px;
    height: 275px;
}


.one-edge-shadow-1 {
    -webkit-box-shadow: 0 8px 6px -6px #a5a5a5;
    -moz-box-shadow: 0 8px 6px -6px #a5a5a5;
    box-shadow: 0 8px 6px -6px #a5a5a5;
    position: absolute;
    width: 100%;
    height: 100%;
}


.pd-thumb {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-bottom: 1px solid #a5a5a5;
}

.pl-btn.btn-primary:hover {
    background: #f4911e;
}

.pl-btn.btn-primary {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.pl-btn {
    display: inline-block;
    padding: 6px 12px;
    width: 100%;
    height: 42px;
    margin: 0 0 8px 0;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 3px;
    -webkit-user-select: none;
}

.btn-primary {
    color: #fff;
    background-color: #525151;
    border-color: #525151;
}

.productdetails-content-grey-heading {
    color: #525151;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    padding: 5px 5px 5px 0;
}

.pd-shareicon-link {
    color: #525151;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    margin: 26px 0px 0px 0px;
}

img.share-icon-image {
    margin-left: 20px;
    /* margin-right: 10px; */
    padding-top: 0;
    float: left;
}

.productdetails-content2 {
    color: #f4911e;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 5px 5px 5px 70px;
}

.pd-content-heading-top {
    color: #f4911e;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
 
   
  
}

.productdetails-content-heading {
    color: #f4911e;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0px 15px 0;
}

.productdetails-content-heading2 {
    color: #66aad9;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 20px 5px 5px 14%;
}

.productdetails-content {
    color: #666;
    font-size: 11px;
    font-weight: 300;
    text-decoration: none;
    padding: 15px 5px 15px 0px;
}



/* breadcrumb */

.col-md-6.bcs {
    color: #494949;
    font-size: 11px;
    font-weight: 300;
    /* padding: 18px 0 0px 0px; */
    /* vertical-align: middle; */
    
   
 
}

.col-md-8.breadcrumbs {
    color: #494949;
    font-size: 11px;
    font-weight: 300;
    text-align: right;
    right: 16px;
    top: 15px;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #414141;
    content: ">\00a0";
}

.breadcrumb {
    margin-top: -13px;
    list-style: none;
    background-color: transparent !important;
    border-radius: 4px;
    position: relative;
    
}

    .breadcrumb li a {
        color: #494949;
    }

    .breadcrumb > .active {
        color: #56a1d5 !important;
    }

/* breadcrumb */

.gallery-image {
    left: 0px;
    top: 0px;
    /*width: 219px;
    height: 189px;*/
    /*width: 1024px;
	*/
    background-color: #ddd;
    /*background: url('../images/02-AMC_Product-page_final_27092013_05.png');*/
}

.related-gallery-image {
    left: 0px;
    top: 0px;
    width: 219px !important;
    height: 177px !important;
    background-color: #ddd;
}


.desc {
    position: relative;
    
    background-color: #edecec;
    margin: auto;
	padding: 20px 0;
}

.category-mouseover-btn {
    width: 149px;
    height: 41px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #DCDCDC;
    background-color: #F4911E;
    -webkit-box-shadow: #cccccc 2px 2px 2px;
    -moz-box-shadow: #cccccc 2px 2px 2px;
    box-shadow: #cccccc 2px 2px 2px;
    position: relative;
    left: 50px;
    top: 50px;
}

.quote-btn-hover {
    width: 170px;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #DCDCDC;
    background-color: #F4911E;
    -webkit-box-shadow: #cccccc 2px 2px 2px;
    -moz-box-shadow: #cccccc 2px 2px 2px;
    box-shadow: #cccccc 2px 2px 2px;
    position: relative;
}

.quote-btn {
    width: 170px;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #DCDCDC;
    background-color: #525151;
    -webkit-box-shadow: #cccccc 2px 2px 2px;
    -moz-box-shadow: #cccccc 2px 2px 2px;
    box-shadow: #cccccc 2px 2px 2px;
    position: relative;
}

.quotebuttons {
    padding-left: 0px;
}

.gallery-content {
    color: #525151;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    /*padding: 30px 30px;	*/
    margin: 5px 5px;
    text-align: center;
}

.gallery-content-heading {
    color: #525151;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    margin: 5px 5px;
    /*padding: 30px 30px;	
	*/
    text-align: center;
}

.center {
    margin: 0 auto;
    /*margin-left: 10px;*/
}

.col-md-12.pushright {
    margin: 0 0 0 20px;
}




.align-left {
    margin-left: 0px;
    position: absolute;
    top: 100px;
    left: 42px;
}

.align-left3 {
    left: -30px;
}

.align-right {
    left: auto;
}

.align-left4 {
    padding-left: 100px;
}

.share-icon-position {
    padding-left: 100px;
}


.align-left2 {
    left: 40px;
}

.row.bgfill {
    background-color: #edecec;
}

.topspacer {
    margin-top: 21px;
}

.related-products {
    margin: 20px 0px 30px 20px;
}

.spacer-top {
    top: 20px;
}

.col-md-2.gallery-spacer {
    position: relative;
    float: left;
    width: 20%;
    padding: 0 2px 0 0;
    margin: 0 0 0 22px;
}

.content-top {
    text-align: center;
    margin: 30px 30px;
}

.content-main {
    text-align: center;
    margin-top: 10px;
    padding: 0px 25px;
}

.subheader-content-heading {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 11px;
    left: 7px;
    width: 100%;
    text-align: center;
}

.subheader-content {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding: 30px 30px;
    margin: 10px 50px;
    text-align: center;
}

.row.footerbg {
    background: #777777;
}

.foot-container {
    /*	background: #777777;*/
    height: 44px;
}
/*..bot ul {
	list-style: none;
	background-color: #777777;
	height: 46px;
}*/
.bot {
    float: left;
    padding: 12px 0 0 0;
    color: #b3b3b3;
    font-size: 11px;
    margin-left: -27px;
}

.foonav {
    padding: 0 0 0 0;
    display: inline;
    color: #b3b3b3;
    font-size: 9px;
}

    .foonav a {
        color: #b3b3b3;
        padding-right: 2px;
    }

        .foonav a:hover {
            color: #f4911e;
            padding-right: 2px;
        }

.subnav_web_templates {
    padding: 12px;
    /*	background: #777777;*/
    color: #b3b3b3;
    font-size: 11px;
    float: right;
    line-height: 9px;
}
/*------------------------  carousel  -----------------------------------------------*/
.img_container {
    width: 960px;
    margin: 0 auto;
}

.picture_a {
    /*position: absolute;*/
}

.clearfix {
    float: none;
    clear: both;
}

a.prev, a.next, .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
    background: url('../images/spritesheet.png') no-repeat transparent;
    width: 48px;
    height: 49px;
    top: 50%;
    margin-top: -24px;
}

a.prev, .flex-direction-nav .flex-prev {
    background-position: -242px 0px;
    text-indent: -999em;
}

a.next, .flex-direction-nav .flex-next {
    background-position: -288px 0px;
    text-indent: -999em;
}


/* _____  header secsion________________________________________________________ */

.container.amc-innerpages {
    background: #edecec;
    overflow-x: hidden;
}

.row.header {
    border-bottom: 1px solid #a3a2a2;
    height: 76px;
}

.topnav-right {
    position: relative;
    right: 40px;
    float: right;
}

.col-md-4.menu1 {
    position: relative;
    top: 27px;
    float: left;
    width: 20%;
}

.col-md-4.menu2 {
    position: relative;
    top: 27px;
    float: left;
    width: 25%;
}

.col-md-4.menu3 {
    position: relative;
    top: 27px;
    float: left;
    width: 29%;
}

.menu1 {
    position: relative;
    top: 27px;
    float: left;
}

.menu2 {
    position: relative;
    top: 27px;
    float: left;
}

.menu3 {
    position: relative;
    top: 27px;
    float: left;
}

.menu4 {
    position: relative;
    top: 27px;
    float: left;
}

.top-icon {
    background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.top-icon2 {
    background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.top-icon3 {
    background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.top-icon6 {
    background: url('../images/spritesheet.png') no-repeat 8.433% 58.273%;
    padding: 11px;
    width: 46px;
    float: left;
}

.toplink1 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.toplink2 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.toplink3 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.toplink6 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.mainnav-home {
    background: #FFFFFF;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    height: 76px;
    margin: 0 0 0 0;
    position: absolute;
    z-index: 4;
    width: 99.99%;
}

.mainnav-subpage {
    background: #FFFFFF;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    height: 76px;
    margin: 0 0 0 0;
    position: relative;
    z-index: 4;
    width: 99.99%;
}

.prog-link {
    background: #3C3C3C;
    width: 142px !important;
    height: 76px;
    color: #fff;
    padding: 20px 32px 0 38px !important;
    margin: 0 0 0 40px;
}

.col-md-1.prog-link:hover {
    background: #f4911e;
    color: #fff;
}

.prog-link:hover {
    background: #f4911e;
    color: #fff;
}

.col-md-10.energymenu {
    width: 72%;
    /*	margin: 0 9px;*/
    position: relative;
    top: -3px;
}

.col-md-2.mainmenu1 {
    position: relative;
    top: 7px;
    float: left;
    width: 17%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu2 {
    position: relative;
    top: 7px;
    float: left;
    width: 19.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu3 {
    position: relative;
    top: 7px;
    float: left;
    width: 19.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu4 {
    position: relative;
    top: 7px;
    float: left;
    width: 22.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu5 {
    position: relative;
    top: 7px;
    float: left;
    width: 19.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu1:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 14px;
}

.col-md-2.mainmenu2:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 14px;
}

.col-md-2.mainmenu3:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 14px;
}

.col-md-2.mainmenu4:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 19px;
}

.col-md-2.mainmenu5:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 19px;
}

.mainmenu-icon {
    background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon2 {
    background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon3 {
    background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon4 {
    background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon5 {
    background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
}

.mainmenu-icon6 {
    background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
    padding: 14px;
    width: 48px;
    height: 81px;
    float: left;
}

.mainmenulink {
    color: #020202;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    top: 6px;
    left: 7px;
    width: 100%;
}

.search {
    width: 8%;
    float: right;
    position: relative;
    right: 9px;
}
/*_______dropdown menu _________________________________________________________________*/

.sub-menu1 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }

ul.sub-menu1 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu2 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu3 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu4 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu5 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: Alpha(Opacity=90);
    width: 92.5%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

.col-md-2.mainmenu1:hover ul.sub-menu1 {
    display: block;
}


.sub-menu2 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }
/*ul.sub-menu2 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -274px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu2:hover ul.sub-menu2 {
    display: block;
}

.sub-menu3 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }
/*ul.sub-menu3 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -416px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu3:hover ul.sub-menu3 {
    display: block;
}

.sub-menu4 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }
/*ul.sub-menu4 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -557px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu4:hover ul.sub-menu4 {
    display: block;
}

.sub-menu5 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }
/*ul.sub-menu5 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -720px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu5:hover ul.sub-menu5 {
    display: block;
}

.row.headersession {
    background: #edecec;
    height: 38px;
}

.headerlabel {
    color: #f4911e;
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 0 44px;
    margin-top: 8px;
}

.col-md-5.breadcrumbs {
    color: #494949;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    right: 17px;
    top: 4px;
}

.breadcrumb > li + li:before {
    position: relative;
    top: 3px;
    background: url('../images/breadcrumbs-arrow.png') no-repeat;
    content: "";
    margin: 0 6px;
}

.breadcrumb > .active {
    color: #3968b1 !important;
}

/* _____________footersection_________________________*/
.horizontal-line-divider {
    height: 13px;
    width: 100%;
    margin-bottom: 0px;
    background: url(../images/news_bg_horizontal2.png) repeat-x;
}

.row.socialfooter {
    background: #edecec;
}

.col-md-6.social-left {
    background: #edecec;
    height: 47px;
}

.social-container {
    position: relative;
    top: 15px;
    left: 39px;
    width: 130%;
}

.p-icon {
    background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
    padding: 17px;
    width: 48px;
    height: 49px;
}

.t-icon {
    background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
    padding: 17px 17px 13px 17px;
    width: 48px;
    height: 49px;
}

.f-icon {
    background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
    padding: 17px;
    width: 48px;
    height: 49px;
    margin-left: 5px;
}

.p-icon:hover {
    background-position: -197px -82px;
}

.t-icon:hover {
    background-position: -241px -82px;
}

.f-icon:hover {
    background-position: -292px -82px;
}

.col-md-4.contact-info {
    position: relative;
    top: -6px;
    left: 160px;
    width: 100%;
}

.phoneno {
    float: left;
    width: 30%;
}

.bottom-icon1 {
    background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.toplink4 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.catalog {
    float: left;
}

.bottom-icon2 {
    background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.toplink5 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.col-md-6.newsletter {
    background: #f39a32;
    height: 47px;
    margin: 0 0 0 -13px;
    width: 48%;
}

.form-group {
    margin-bottom: 15px;
}

.col-md-2.control-label {
    color: #fff;
    width: 37% !important;
    padding: 14px 0 0 0;
    margin: 0 0 0 11px;
}

.form-control-nl {
    display: block;
    width: 224px;
    height: 34px;
    padding: 8px;
    margin: 7px 0 0 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.row.footerbg {
    background: #777777;
}

.foot-container {
    height: 44px;
}

.bot {
    float: left;
    padding: 17px 0 0 0;
    color: #b3b3b3;
    font-size: 10px;
    width: 104%;
}

.foonav {
    padding: 0 0 0 0;
    display: inline;
    color: #b3b3b3;
    font-size: 9px;
}

    .foonav a {
        color: #E9E9E9;
        padding-right: 2px;
    }

.subnav_web_templates {
    padding: 17px 36px 0 0;
    background: #777777;
    color: #E9E9E9;
    font-size: 10px;
    float: right;
}





/*----------------------------------modalbox popup-----------------------------------------*/
.form-group-rac {
    margin-bottom: 15px;
    position: relative;
    top: -50px;
}

form {
    margin-bottom: -55px !important;
}

.modal-dialog {
    width: 50% !important;
    right: auto;
    left: 50%;
    padding-top: 170px;
    padding-bottom: 30px;
}

.modal-header-rac {
    min-height: 16.428571429px !important;
    padding: 15px !important;
    border-bottom: 0px solid #e5e5e5 !important;
    ;
}

.modal-content-rac {
    position: relative;
    background-color: #edecec;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0px!important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}

.form-header-txt {
    color: #3968b1;
    font-size: 24px;
    font-weight: bold;
}

.form-headercaption-txt {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
}

.form-contact-method {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
    margin: 10px 0 0 0;
}


.rac-container {
    overflow: hidden;
    margin: -10px 0 0 0;
}

.rac-form-field {
    display: block;
    padding: 0 0 0 11px;
    width: 100%;
    height: 41px;
    margin: 18px 0 0 0px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field2 {
    display: inline;
    padding: 0 0 0 11px;
    width: 100%;
    height: 41px;
    margin: 22px 15px 0 0px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.rac-form-field3 {
  
    padding: 0 0 0 11px;
    width:100%;
    height: 41px;
    margin: 22px 0 0 0;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field4 {
    display: block;
    padding: 5px 0 0 11px;
    width: 100%;
    height: 80px;
    margin: 20px 0 0 0px;
    font-size: 13px;
    resize: none;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field5 {
    display: block;
    padding: 0 0 0 11px;
    width: 100%;
    height: 41px;
    margin: 20px 0 0 0px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.col-md-4.rac-left {
    /*float: left;
    width: 45%;
	padding:0;*/
}

.ips select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: transparent url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    background-position: 97%,50%;
    height: 41px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    text-indent: 0.01px;
    text-overflow: "" !important;
    padding: 0px 31px 0 5px;
}
@-moz-document url-prefix() {
    .ips select;

{
    padding: 9px 31px 0 5px;
}

}

.form-control-select {
    display: block;
    margin: 20px 0 0 0;
    width: 100%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
}

.shipping-txt {
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 0 0;
}

.shipping-parag-txt {
    color: #494949;
    font-size: 11px;
    font-weight: bold;
}

.rac-radio, .rac-checkbox {
    display: inline;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

    .rac-radio label, .rac-checkbox label {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

.rac-radio1, .rac-checkbox {
    display: inline;
    min-height: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

    .rac-radio1 label, .rac-checkbox label {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

.rac-radio2, .rac-checkbox {
    display: inline;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

    .rac-radio2 label, .rac-checkbox label {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

.radio-group {
    margin: 5px 0 0 0;
}

.account-txt {
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 0 0;
}

.account-selectbox select, select[size] {
    /*height: auto;*/
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}


.goto-link {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
}

/*.col-md-1.split {
    margin-left: 10px;
}*/



.radio-group2 {
    margin: 13px 0 17px 0;
}

.ips2 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    /*	background-position-x: 97%;
	background-position-y: 50%;*/
    background-position: 97%,50%;
    height: 41px;
    margin: 11px 0 0 0;
    width: 100%;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    text-indent: 0.01px;
    padding: 0px 31px 0 5px;
}

@-moz-document url-prefix() {
    .ips2 select;

{
    padding: 9px 31px 0 5px;
}

}

.form-control-select2 {
    display: block;
    margin: 10px 0 0 0;
    width: 97%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    /*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.ips3 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    /*	background-position-x: 97%;
	background-position-y: 50%;*/
    background-position: 97%,50%;
    height: 41px;
    margin: 20px 0 0 0;
    width: 100%;
    float: left;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    text-indent: 0.01px;
    text-overflow: "" !important;
    padding: 0px 31px 0 5px;
}

@-moz-document url-prefix() {
    .ips3 select;

{
    padding: 9px 31px 0 5px;
}

}

.form-control-select3 {
    display: block;
    margin: 10px 0 0 0;
    width: 97%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    /*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.ips4 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    /*	background-position-x: 97%;
	background-position-y: 50%;*/
    background-position: 97%,50%;
    height: 41px;
    margin: 11px 0 0 10px;
    width: 95px;
    float: left;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    text-indent: 0.01px;
    text-overflow: "" !important;
    padding: 0px 31px 0 5px;
}

@-moz-document url-prefix() {
    .ips4 select;

{
    padding: 9px 31px 0 5px;
}

}

.form-control-select4 {
    display: inline;
    margin: 20px 0 0 0;
    width: 100%;
    float:right;
    height: 41px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.addproducts-btn {
    display: inline-block;
    background: #525151;
    padding: 13px 12px;
    width: 40%;
    min-width:120px;
    margin: 20px 0 8px 0;
    float:right;
    font-weight: normal;
    font-size: 13px;
    white-space: nowrap;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    border: 0px solid transparent;
    -webkit-user-select: none;
    text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #f59c34;
    /*border-color: #285e8e;*/
}
/* ______Tab Panel ____________________________________________________________________*/

.tabpanel {
    position: relative;
   width:100%;
    float: left;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    background: #525151;
    height: 24px;
    width: 100%;
    margin: 30px 0 0 0;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        cursor: default;
        background-color: #FF7000;
        border: 0px;
        border-bottom-color: transparent;
        color: #fff;
        font-size: 13px;
        border-radius: 0;
        line-height: 0px;
        height: 20px;
        position: relative;
        top: 1px;
    }

    .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
        position: relative;
        top: -8px;
    }

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px;
    color: #fff;
    font-size: 13px;
    top: -7px;
}

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: transparent;
        border: 1px solid transparent;
    }

.producttab {
    display: block;
    border: 1px solid #CACACA;
    list-style-type: none;
    float: left;
    line-height: 22px;
    background: #fff;
    width: 100%;
    height: 250px;
    overflow: auto;
    margin: -26px 0 0 0;
}

.product-even {
    background: #f8f8f8;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
}

.product-odd {
    background: #eeeeee;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
}

.servicetab {
    display: block;
    border: 1px solid #CACACA;
    list-style-type: none;
    float: left;
    line-height: 22px;
    background: #fff;
    width: 100%;
    height: 250px;
    overflow: auto;
    margin: -26px 0 0 0;
}

.service-even {
    background: #f8f8f8;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
    height: 36px;
}

.service-odd {
    background: #eeeeee;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
    height: 36px;
}

.servicelist {
    float: left;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    width: 91%;
    white-space: nowrap;
    overflow: hidden;
}

.bigclose2 {
    float: right;
    padding: 4px;
}

.mandatory-txt {
    position: relative;
    top: -36px;
   clear:both;
    font-size: 11px;
    color: #AFADAD;
    width: 38%;
}

.search {
    float: right;
    position: relative;
    right: 37px;
    top: 0px;
    width: auto;
}

.menu-primary_footer_menu-container {
    margin-left: 28px;
}

.close {
    /*width: 50px;
    height: 30px;
    position: relative;
    top: -13px !important;
    right: -22px !important;*/
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  clear:both;
    width: 100%;
}


/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */

@media (min-width: 1200px) {



    /*   menu  visible for desktop   */
    .pd-content-heading-top {
        color: #f4911e;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
     
        /*margin-top: 10px;*/
        width: auto;
    }

    /*.col-md-12.align-right-1 {
        margin: 0 0 0 -77px;
    }*/

    

    .container {
        max-width: 100% !important;
    }

    .col-md-4.logo {
        padding: 12px 0 0 0;
    }

    .carmenus {
        width: 37%!important;
        height: 50px;
        margin: auto;
    }

    ul.sub-menu1 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu2 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu3 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu4 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu5 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: Alpha(Opacity=90);
        width: 94.2%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    .col-md-2.mainmenu1:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu2:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu3:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu4:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu5:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .subnav_web_templates {
        padding: 17px 52px 0 0;
        background: #777777;
        color: #E9E9E9;
        font-size: 10px;
        float: right;
    }

    @media (min-width: 1600px) {
        ul.sub-menu1 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }

        ul.sub-menu2 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }

        ul.sub-menu3 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }

        ul.sub-menu4 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }

        ul.sub-menu5 {
            display: none;
            background: #616161;
            opacity: .90;
            filter: Alpha(Opacity=90);
            width: 96%;
            position: fixed;
            left: 40px;
            top: 150px;
            z-index: 10;
        }
    }
}

@media (min-width: 992px) {
    /*.container {
		max-width: 100% !important;
		overflow-x:hidden
	}*/

    .topnav-right {
        display: block;
    }

    .col-md-4.logo {
        padding: 12px 0 0 37px;
    }

    .col-md-1 {
        padding: 0;
    }

    .col-md-2 {
        padding: 0;
    }
    /*.col-md-3 {
	padding: 0;
	}*/
    /*.col-md-4 {
        padding: 0;
    }*/

    /*.col-md-5 {
        padding: 0;
    }*/

    /*.col-md-6 {
        padding: 0;
    }*/

    /*.col-md-7 {
        padding: 0;
    }*/

    .col-md-8 {
        padding: 0;
    }

    .col-md-9 {
        padding: 0;
    }

    .col-md-10 {
        padding: 0;
    }

    .col-md-11 {
        padding: 0;
    }
    /*.col-md-12 {
	padding: 0;
	}*/
    .carmenus {
        width: 70%;
        height: 50px;
        margin: auto;
    }
}

@media (min-width: 1024px) {

    /*table.table-prddisplay {
        margin-left:27px;
    }*/
   
   
   
}


@media (min-width: 767px ) and (max-width : 1023px) {


    /*.topnav-right {
        position: relative;
        height: 10px;
        right: 40px;
        top: -64px;
        float: right;
    }*/



    .container {
        max-width: 100%;
        overflow-x: hidden;
    }

    .col-md-4.heading-offset {
        padding-left: 2%;
    }

   

    


   

   

   

    .productdetails-content-heading2 {
        padding-left: 2%;
    }

    .productdetails-content3 {
        padding-left: 2%;
    }

   

    .offset-1 {
        margin-left: 0%;
    }

   

    

    .form-group {
        margin-top: 0px;
    }


    .pad {
        margin-left: 0px;
    }

    .heading-offset3 {
        margin-left: 0px;
    }

    .margin-left10 {
        left: 0px;
    }

    img.share-icon-image {
        padding-top: 0px;
    }

    .col-md-3.margin-left10 {
        left: 86%;
        top: 47px;
    }

    .table {
        margin-left: 0px;
    }


    .product-options .row {
        margin-left: 0;
        margin-right: 0;
    }

    /*.center {
        margin: 0 auto;
        width: 98% !important;
        margin-top: 0px;
    }*/


    .closebtn {
        margin-top: -69px;
        margin-right: 56px;
        float: right;
        cursor: pointer;
    }

    .subscription {
        padding-top: 10px;
        padding-left: 40px;
        font-size: 13px;
        color: #fff;
    }



    .mainmenu-icon {
        margin-left: -10px;
    }


    .mainmenu-icon2 {
        margin-left: -10px;
    }

    .mainmenu-icon3 {
        margin-left: -22px;
    }

    .mainmenu-icon4 {
        margin-left: -29px;
    }

    .mainmenu-icon5 {
        margin-left: -8px;
    }




    .container {
        max-width: 100%;
    }





    .subnav_web_templates {
        padding: 0px 84px 10px 0;
        background: #777777;
        color: #E9E9E9;
        font-size: 9px;
        float: right;
    }


    .col-md-2.mainmenu1:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }

    .col-md-2.mainmenu2:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }

    .col-md-2.mainmenu3:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }

    .col-md-2.mainmenu4:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu5:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }


    .col-md-6.newsletter {
        background: #f39a32;
        height: 47px;
        margin: 0 0 0px 0;
        width: 100%;
        overflow-x: hidden;
    }

    .col-md-6.social-left {
        overflow-x: hidden;
    }

    .row.footerbg {
        overflow-x: hidden;
    }

    .col-md-2.control-label {
        color: #fff;
        width: 37%;
        padding: 14px 0 0 0px;
        margin: 0 0 0 -25%;
    }

    .form-control-nl {
        margin: -27px 0 0 50%;
    }

    .newsletter-btn {
        margin-left: 50%;
    }



    .col-md-4.logo {
        padding: 12px 0 0 37px;
    }

    .col-md-1 {
        padding: 0;
    }

    .col-md-2 {
        padding: 0;
    }
    /*.col-md-3 {
	padding: 0;
	}*/
    /*.col-md-4 {
        padding: 0;
    }*/

    .col-md-5 {
        padding: 0;
    }
    /*.col-md-6{
	padding: 0;
	}*/
    .col-md-7 {
        padding: 0;
    }

    .col-md-8 {
        padding: 0;
    }

    .col-md-9 {
        padding: 0;
    }

    .col-md-10 {
        padding: 0;
    }

    .col-md-11 {
        padding: 0;
    }

    .col-md-12 {
        padding: 0;
    }

    .prog-link {
        background: #3C3C3C;
        width: 76px !important;
        height: 76px;
        color: #fff;
        padding: 14px 0px 0 0px !important;
        margin: 0 0 0 0px;
        text-align: center;
    }

    ul.sub-menu1 {
        left: -76px;
        top: 72px;
        width: 700px;
    }

    ul.sub-menu2 {
        left: -180px;
        top: 72px;
        width: 735px;
    }

    ul.sub-menu3 {
        left: -313px;
        top: 72px;
        width: 735px;
    }

    ul.sub-menu4 {
        left: -446px;
        top: 72px;
        width: 735px;
    }

    ul.sub-menu5 {
        left: -600px;
        top: 70px;
        width: 735px;
    }


    .col-md-10.energymenu {
        width: 85%;
        margin: 0 0 0 0px;
        position: relative;
        top: -3px;
    }

    .mainmenulink {
        left: 0px;
        font-size: 12px;
    }



    .mainmenu-icon6 {
        background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
        height: 81px;
        float: left;
    }

    .col-md-2.mainmenu1 {
        position: relative;
        top: 7px;
        float: left;
        width: 16%;
        padding: 0 3px 0 0px;
    }

    .col-md-2.mainmenu2 {
        position: relative;
        top: 7px;
        float: left;
        width: 20.5%;
        padding: 0 3px 0 0;
    }

    .col-md-2.mainmenu3 {
        position: relative;
        top: 7px;
        float: left;
        width: 21.5%;
        /* padding: 0 3px 0 0; */
    }

    .col-md-2.mainmenu4 {
        position: relative;
        top: 7px;
        float: left;
        width: 17.5%;
        padding: 0 3px 0 0;
    }

    .col-md-2.mainmenu5 {
        position: relative;
        top: 9px;
        width: 19.5%;
        padding: 0 0px 0 0px;
    }

    .search {
        width: 4%;
        float: right;
        position: relative;
        right: 18px;
        top: 0px;
    }




    .search-form-field {
        height: 66px;
        margin: -10px 6px -9px 12px;
    }
}

#product_content {
    padding-left: 0 !important;
}
.watersense_logo {
    margin-bottom: 12px;
}


@media (max-width: 851px) {
    #product_content {
        padding-left: 2% !important;
    }
}

@media (min-width: 992px) {
    .productlisting-container.container {
        max-width: 100% !important;
        overflow-x: hidden;
    }
}

@media (max-width: 767px) {
	#product_content h1, h2, h3, h4{
		padding: 15px 5px 10px 0% !important;
	}
	#product_content{
		padding: 5px 0 !important;
	}
	.quotebuttons{
	margin-top: 20px;
	}
	.productdetails-content-heading3{
		padding: 15px 0 10px 0;
	}
	.nw_amcpop_btn{
	margin-left: 15px;
	}
    /* Header style */

    .foonav {
        font-size: 9px;
    }

    .container.homepg {
        overflow-x: hidden;
    }

    .col-md-2.mainmenu1, .col-md-2.mainmenu2, .col-md-2.mainmenu3, .col-md-2.mainmenu4, .col-md-2.mainmenu5 {
        width: 100%;
    }

    .row.header {
        height: 100%;
    }

        .row.header .col-xs-12 {
            border-top: 1px solid rgb(167, 162, 162);
        }

    .topnav-right {
        right: 10px;
        float: left;
        margin-top: 10px;
    }

    .prog-link {
        width: 100% !important;
        height: 100%;
        padding: 20px 32px 40px 38px !important;
        margin: 0px;
        position: absolute;
    }

    .col-md-10.energymenu {
        background: white;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 60px;
        padding-bottom: 15px;
    }

    .menu1, .menu2, .menu3 {
        top: 0px;
        float: none;
    }

    .collapsableMenu {
        display: inline;
    }

    .top-icon4 {
        background: url('../images/spritesheet.png') no-repeat 9.433% 60%;
        padding: 14px;
        width: 48px;
        float: left;
    }

    .toplink4 {
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
    }

    .search {
        width: 75px;
        float: right;
        position: absolute;
        right: -16px;
        top: 54px;
    }

        .search .popover {
            height: 39px !important;
        }

        .search .popover-content {
            padding-top: 4px;
        }

    .search-form-field {
        height: 100%;
    }

    .mainmenu-icon6 {
        width: 100%;
        height: 40px;
    }

    .toplink1, .toplink2, .toplink3 {
        display: none;
    }

    .mainnav-home {
        display: none;
        opacity: 1;
        position: relative;
        height: 100%;
        border-top: none;
    }

    .flex-viewport {
        width: 100%;
    }

    .flex-direction-nav {
        display: none;
    }

    .menu-container {
        overflow: scroll;
    }

    .menu:hover {
        background: none;
        color: #333;
    }

    .mainmenulink {
        top: 22px;
    }

    ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5 {
        position: fixed;
        display: block;
        /*left: 0px;*/
        left: 100%;
        top: 0;
        padding: 0px;
        height: 100%;
        opacity: 1;
        background: #444343;
        transition: linear .5s;
    }

    .sub-menu1 li, .sub-menu2 li, .sub-menu3 li, .sub-menu4 li, .sub-menu5 li {
        display: block;
        padding: 0px;
        left: 0px;
    }

    .submenu-btn {
        display: block;
        border-radius: 0px;
    }

    .subBack-btn {
        display: block;
        padding: 7px;
        width: 90px;
        background: black;
        color: white;
        text-align: center;
    }
    /*.mainmenu1 li:first-child, .mainmenu2 li:first-child, .mainmenu3 li:first-child, .mainmenu4 li:first-child, .mainmenu5 li:first-child{
		margin-top: 41px;
	}
	.sub-menu2:before {
		content: "Back";
		width: 100px;
		height: 100px;
		background: black;
		position: absolute;
		padding-left: 35px;
		padding-top: 10px;
		color: white;
	}*/

    /* --Header style-- */

    /* Footer style */
    .col-md-2.control-label {
        color: #fff;
        width: 86%;
        text-align: center;
        /*		margin: 10px 0 10px 0;*/
    }

    .col-md-4.contact-info {
        position: relative;
        top: 0;
        left: 0;
        width: 0;
    }

    .horizontal-line-divider {
        height: 18px;
        width: 100%;
        margin-bottom: 0px;
        background: url(../images/news_bg_horizontal.png) repeat-x;
    }

    .social-container {
        margin: 3px auto;
        width: 64%;
        padding: 0px;
        height: 39px;
    }

    .col-md-6.newsletter {
        background: #f39a32;
        height: 94px;
        width: 100%;
        margin: 61px 0 0 0;
    }

    .phoneno {
        float: left;
        width: 55%;
        position: relative;
        left: -26px;
        top: 15px;
    }

    .catalog {
        float: left;
        position: relative;
        left: 107px;
        top: 12px;
        width: 200px;
    }

    .form-control-nl {
        display: block;
        width: 245px;
        height: 34px;
        padding: 8px;
        margin: 0;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    /* --Footer style-- */
    .leftarrow {
        background-image: url('../images/product-table-arrow.gif');
        width: 37px;
        height: 59px;
        left: inherit;
        right: 0px;
        top: 0;
        background-repeat: no-repeat;
        background-position: left top;
        position: absolute;
        z-index: 9999;
        cursor: pointer;
    }

    .SlideOnn {
        background-position: left bottom;
    }

    /* Footer menus style */


    .footermenu-container {
        width: 100px;
        position: relative;
        top: 17px;
        left: -17px;
    }

    .footer-sub-menu1 {
        position: fixed;
        left: 0px;
        top: 100%;
        padding: 0px;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: #444343;
        transition: linear .5s;
    }

        .footer-sub-menu1 li {
            display: block;
            padding: 0px;
            left: 0px;
        }

    .subnav_web_templates {
        background: #777777;
        color: #CACACA;
        font-size: 10px;
        float: right;
        position: relative;
        right: -15px;
        top: -18px;
        width: 220px;
    }

    .footer-subBack-btn {
        display: block;
        padding: 7px;
        width: 90px;
        background: black;
        color: white;
        text-align: center;
    }

        .footer-subBack-btn:hover {
            color: white;
        }


    /* _________________________________*/

    .center {
        margin: 0 auto;
        width: 100% !important;
        margin-top: 0px;
    }



    /*__________________request a code___________________*/
    .modal-body {
        position: relative;
        padding: 12px;
    }

    .modal-dialog {
        width: auto !important;
    }

    .col-md-4.rac-left {
        clear: both;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .form-group-rac {
        margin-bottom: 15px;
        position: relative;
        top: -52px;
    }

    .rac-form-field {
        width: 100%;
    }

    .rac-form-field2 {
        width: 100%;
    }

    .rac-form-field3 {
        width: 100%;
		margin-left: 0;
    }
	.tel.col-md-7{
	width: 100%;
	}
	
    .ips select {
        width: 100%;
    }

    .rac-form-field5 {
        width: 100%;
    }

    .rac-form-field4 {
        width: 100%;
    }

    .account-selectbox select, select[size] {
        width: 100%;
    }

    .col-md-1.split {
        display: none;
    }

    .col-md-4.rac-right {
        clear: both;
        width: 100%;
        padding: 0;
    }

    .radio-group2 {
        margin: 26px 0 17px 0;
    }

    .ips2 select {
        width: 100%;
        margin: 11px 0 0 0;
    }

   

    .addproducts-btn {
        width: 100%;
        margin: 14px 0 8px 0;
    }

    .tabpanel {
        position: relative;
        left: 0;
        float: left;
        width: 100%;
    }

    .mandatory-txt {
        display: none;
    }

    .nav-tabs {
        width: 100%;
    }

    .producttab {
        width: 100%;
    }

    .servicetab {
        width: 100%;
    }

    .close {
        position: relative;
        left: 9px;
        top: -10px;
    }

    .container.amc-innerpages {
        overflow-x: hidden;
    }

    .headerlabel {
        padding: 0 0 0 11px;
    }

    .breadcrumb {
        margin-bottom: 0px;
        padding: 0;
    }

        .breadcrumb li + li {
            display: none;
        }

  

    .pd-content-heading-top {
        padding: 0 0 0 41px;
        margin: 0;
    }

    .col-md-4.heading-offset {
        width: 80%;
    }

    .col-md-6.bcs {
        top: -20px;
    }

    .center {
        margin: 0;
    }

    .col-md-6 #zoom-image {
        border-bottom: 2px solid #a5a5a5;
        border-right: 1px solid #e0dedf;
    }

    .product-gallery-pad {
        display: inline-block;
        width: 100%;
    }

    /*.productdetails-content-heading-po {
        padding: 15px 5px 5px 17px;
    }*/

    .quotebuttons .pad {
        margin: 0 15px;
    }

    .quotebuttons .margin-left10 {
        left: inherit;
    }

    .quotebuttons > div {
        padding: 0;
        margin: 0;
    }

    .productdetails-content3 {
        padding: 0;
    }

    .productdetails-content-heading3 {
        margin: 0;
       
    }

    .productdetails-content-heading2,
    .productdetails-content-grey-heading,
    .productdetails-content1,
    .downloads_section,
    .productdetails-content-heading {
        margin: 0;
        padding: 15px 0 0 0;
    }
    .downloads_section {
        margin-bottom:15px;
    }

    #pd-table .table {
        margin: 0;
        padding: 0;
    }

        /*#pd-table .table .row,
        .row ul {
            margin: 0;
            padding: 0;
			margin-left:20px;
			
        }*/

    .product-details-top-container2 {
        height: 25px;
    }

    .table div {
        display: block;
    }

    #pd-table .col-md-12 {
        margin: 0;
        padding: 0;
    }

    .table-responsive {
        overflow: hidden;
    }

    .pd-heading div {
        font-size: 11px;
    }

    .table-responsive {
        width: inherit;
        margin: 0 15px 0 0;
    }

    .col-md-6 > div > .col-md-12 {
        padding: 0;
    }

    .offset-1 {
        margin: 0;
    }

    .col-md-12 > .col-md-1 {
        line-height: 10px;
        height: 10px;
    }

    .specsheets_bg .col-md-3,
    .specsheets_bg .col-md-2 {
        padding: 0 10px 0 0;
        display: inline-block;
        float: left;
    }

    .productdetails-content-grey-heading {
        width: 55%;
    }

    .quotebuttons .col-md-3.margin-left10 {
        position: absolute;
        right: 0;
        width: 100%;
    }

    img.share-icon-image {
        padding-top: 0;
        margin: 0;
    }

    .pd-shareicon-link {
        margin: 17px 0px 0px 0px;
    }

    .content-offset {
        padding-left: 15px;
    }

    .pd-heading div {
        padding: 6px;
    }

    .gallery-image {
        width: 100%;
        height: auto;
    }

    .pd-gallery {
        width: 100%;
        height: auto;
        float: left;
        border-right: 1px solid #e0dedf;
    }

    .col-xs-6 {
    }


    .desc {
        width: 100%;
      
        margin: 0 0 20px;
        float: left;
        border-bottom: 2px solid #a5a5a5;
        border-right: 1px solid #e0dedf;
    }

    .gallery-content-heading {
        font-size: 11px;
    }
}

.table-prddisplay th {
    color: #fff;
    background-color: #66aad9;
    font-size: 13px;
    border-bottom: 0px !important;
}

.table thead > tr > th, .table tbody > tr > td {
    padding: 2% 0;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #D5D2D2;
}

    .table thead > tr > th.first.last, .table tbody > tr > td.first.last {
        border-right: 0 none;
    }

.row-prd-option {
    padding-top: 30px;
}

/*.col-md-12.align-right-1 {
margin: 0 0 0 -37px;
}*/


@media (max-width: 992px) {
    .quotebuttons {
        padding-left:0;
    }
}
.nw_amcpop_btn{cursor:pointer;}
.nw_amc_pop_bx{width:155px; height:60px; position:absolute; background: url('../images/amc-share-popup-bg.png') no-repeat 0px 0px; display:none; left:-23px; top: 49px;}
.nw_amc_pop_in{float:left; padding:20px 0 0 10px;}
.nw_amc_pop_social{float:left; background: url('../images/amc-share-popup-bg.png') no-repeat; width:32px; height:32px; margin-right:3px; cursor:pointer;}
.nw_amc_pop_fb{background-position:-2px -60px;}
.nw_amc_pop_twitt{background-position:-72px -60px;}
.nw_amc_pop_pin{background-position:-37px -60px;}
.nw_amc_pop_gplus{background-position:-107px -60px;}
.nw_amc_pop_fb:hover{background-position:-2px -93px;}
.nw_amc_pop_twitt:hover{background-position:-72px -93px;}
.nw_amc_pop_pin:hover{background-position:-37px -93px;}
.nw_amc_pop_gplus:hover{background-position:-107px -93px;}
.nw_amcpop_btn{float:left;padding-top:25px;}
.nw_amcpop_img{float:left;}
.nw_amcpop_txt{float:left; }


.breadcrumb{ margin:0;}
@media only screen and (min-width: 1024px){
.products {
/*margin: 0 24px !important;*/
padding: 0;
}
}
@media only screen  and (min-width:768px) and (max-width:1023px){
.products {
/*margin-left: 15px;
margin-right: 15px;
padding: 0;*/
}
}

@media only screen and (min-width:992px) and (max-width:1500px) {
    .modal-dialog {
        width:75% !important;
    }
}
 .split {
        text-align:center;
    }
.ips3 {
    overflow:hidden;
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .center {
       
    }
}
.product_zoom{background:url(../images/product_zoom.png); width:16px; height:16px; float:right;margin: -31px 51px 0 0px; z-index: 10;position: relative; display:none;}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { .product_zoom{display:block;}}
@media only screen and (max-device-width : 768px) and (orientation : portrait)  { .product_zoom{display:block;margin: -31px 181px 0 0px;}}
@media only screen and (max-device-width : 767px)   { .product_zoom{display:block;margin: -31px 10px 0 0px;}}


.row.headersession.head-com{
display:none;
}
.desc{
 border-bottom:2px solid #a5a5a5;
}
.prd-det-imgwr{ -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.075);
        box-shadow: 0px 3px 3px rgba(0,0,0,0.075); -moz-box-shadow:0px 3px 3px rgba(0,0,0,0.075); margin-bottom:20px;}
