/* _____ [1] GLOBAL ________________________________________________________ */
/*.bgalign {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .6;
	display: block;

}*/
body {
	width: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
}
li{
	list-style-type: none;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;;
	font-weight: normal;
}
a:hover, a:focus {
color: #2A6496;
text-decoration: none !important;
}
a:active, a:hover {
outline: 0;
}

.col-md-4.logo {
	padding: 10px 0 0 41px !important;
}
.col-md-10.energymenu {
	width: 72%;
	margin: 0 9px;
	position: relative;
	top: -3px;
}
.navbar-inverse{	
	background: url('../images/top_bg.png') repeat-x 0% 0%;
	/*height: 77px;*/
	border:0px !important;
}
.col-md-4.menu1 {
	position: relative;
	top: 27px;
	float: left;
	width: 20%;
}
.col-md-4.menu2 {
	position: relative;
	top: 27px;
	float: left;
	width: 25%;
}
.col-md-4.menu3 {
	position: relative;
	top: 27px;
	float: left;
	width: 29%;
}
.menu1 {
	position: relative;
	top: 27px;
	float: left;

}
.menu2 {
	position: relative;
	top: 27px;
	float: left;

}
.menu3 {
	position: relative;
	top: 27px;
	float: left;

}
.top-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
	
}

.top-icon2 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}

.top-icon3 {
	background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink1{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink2{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink3{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink4{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink5{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.toplink5 a{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}


.toplink6 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.top-icon6 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 58.273%;
	padding: 11px;
	width: 46px;
	float: left;
}

	
.menu4 {
	position: relative;
	top: 27px;
	float: left;
}


.topnav {
	margin-bottom: 0;
	list-style: none;
	width: 62%;
}

.mainnav{
	background: #e9e8e8;
	height: 77px;
	margin: 11px 0 0 0;
	position: relative;

}
	.col-md-2.mainmenu1 {
		position: relative;
		top: 7px;
		float: left;
		width: 17%;
		padding: 0 3px 0 0;
	}
	.col-md-2.mainmenu2 {
		position: relative;
		top: 7px;
		float: left;
		width: 19.5%;
		padding: 0 3px 0 0;

	}
	.col-md-2.mainmenu3 {
		position: relative;
		top: 7px;
		float: left;
		width: 19.5%;
		padding: 0 3px 0 0;

	}
	.col-md-2.mainmenu4 {
		position: relative;
		top: 7px;
		float: left;
		width: 22.5%;
		padding: 0 3px 0 0;

	}
	.col-md-2.mainmenu5 {
		position: relative;
		top: 7px;
		float: left;
		width: 19.5%;
		padding: 0 3px 0 0;

	}
	.col-md-2.mainmenu1:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 12px;
	}
	.col-md-2.mainmenu2:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 12px;
	}
	.col-md-2.mainmenu3:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 12px;
	}
	.col-md-2.mainmenu4:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 17px;
	}
	.col-md-2.mainmenu5:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 17px;
	}
	ul.sub-menu1 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -150px;
		top: 70px;
		z-index: 10;
	}
	ul.sub-menu2 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -384px;
		top: 70px;
		z-index: 10;
	}
	ul.sub-menu3 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -651px;
		top: 70px;
		z-index: 10;
	}
	ul.sub-menu4 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -917px;
		top: 70px;
		z-index: 10;
	}
	ul.sub-menu5 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -1227px;
		top: 70px;
		z-index: 10;
	}
.col-md-5.breadcrumbs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 17px;
	top: 4px;
}
.mainmenu-icon{
	background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon2{
	background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon3{
	background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon4{
	background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon5{
	background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon6 {
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
	padding: 14px;
	width: 48px;
	height: 81px;
	float: left;
}
.mainmenulink {
	color: #525151;
	font-size: 13px;
	font-weight:normal;
	text-decoration: none;
	position: relative;
	top: 6px;
	left: 7px;
	width: 100%;
}

.prog-link {
	background: #525151;
	width: 142px !important;
	height: 76px;
	color: #fff;
	padding: 20px 32px 0 38px !important;
	margin: 0 0 0 40px;
}
.prog-link:hover {
	background: #f4911e;
	color:#fff;
}
.search {
	width: 8%;
	float: right;
	position: relative;
	right: 9px;
	/*top: 0px;*/
}
.car-menu {
	background: #e9e8e8;
	height: 52px;
	margin: -52px 0 0 0;
	position: relative;

}
.carmenus {
	width:70%;
	height: 50px;
	margin: auto;
}
ul
.menusession{
 	width:90%;
 	margin:0 auto;
}
.menu {
	float: left;
	padding: 0px 15px 0 20px;
	border-right: 1px solid #ccc;
	height: 31px;
	position: relative;
	top: 12px;
}
.menulast {
	border-right: none;
	float: left;
	padding: 0px 15px 0 20px;
	height: 31px;
	position: relative;
	top: 12px;
}
.topnav-right {
	position: relative;
	right: 40px;
	float: right;
	}

.breadcrumb>li+li:before {
	position: relative;
	top: 3px;
	background: url('../images/breadcrumbs-arrow.png') no-repeat;
	content: "";
	margin: 0 6px;
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
}
.breadcrumb li a {
	color: #494949;
}

.breadcrumb>.active {
	color: #3968b1 !important;
}
.headerlabel {
	color: #3968b1;
	font-size: 24px;
	font-weight: normal;
	padding: 0 0 0 44px;
	margin-top: 8px;
}
.col-md-12.aboutbanner {
	padding: 0 41px 0 41px;
	background: #d0d2d3;
	margin: 2px 0 0 0;
}
.aboutmenu-container {
	height: 35px;
	background: #8e8e8e;
	font-size: 12px;
}
.menus {
	width: 95%;
	margin: 0 auto;
}
.abtmenu {
	float: left;
/*	padding: 0px 12px 0 12px;*/
	position: relative;
	top: 9px;
}
ul li.abtmenu-active a {
	color: #fff;
	font-size: 12px;
	background: orange;
	padding: 9px 12px 9px 12px;
	float: left;
	text-decoration: none;
}
ul.menus li.abtmenu a {
	color: #fff;
	padding: 9.2px 14px;
}
ul li.abtmenu a:hover {
	background: orange;
	text-decoration: none;
}
.row.headersession {
	background: #fff;
	height: 38px;
}
.col-md-12.aboutbanner img {
	width:100%;
}
.caro-menulink {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 11px;
}
.menu-container{
	width:100%;
	margin:0 auto;
}
.am_conversion {
	background: #f4911e;
	height: 240px;
	margin: -20px 0 0 0;
}
.am-container{
	width: 64%;
	margin: 0 auto;
	text-align: center;
}
.am-header {
	padding: 12px;
	width: 61%;
	margin: 20px auto;
	margin-bottom: 28px;
	color: #fff;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}
.dot {
	background: url('../images/spritesheet.png') no-repeat 54.433% 58.273%;
	padding: 14px;
	width: 48px;
	height: 49px;
	position: relative;
	top: -26px;
}
.yourone-txt {
	color: #fff;
	font-size: 16px;
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	margin-top: 14px;
	margin-right: 13px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-default {
	color: #FC9B0B !important;
	background-color: #525151 !important;
	font-size: 16px !important;
}
.arrowicon {
	background: url('../images/spritesheet.png') no-repeat 86.433% 50.273%;
	padding: 29px;
	width: 51px;
	height: 51px;
}
.programs-container{
	background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
	background-size: 100%;
	height: 404px;	
}
.horizontal-line-divider {
	height: 13px;
	width: 100%;
	margin-bottom: 0px;
	background: url(../images/news_bg_horizontal2.png) repeat-x;
}
.col-md-6.social-left {
	background: #ccc;
	height: 47px;
}
.social-container{
    position:relative;
    top:15px;
    left: 39px;
    width: 130%;

}
.p-icon{
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon{
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;	
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
background-position: -197px -82px;
}
.t-icon:hover {
background-position: -241px -82px;
}
.f-icon:hover {
background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 160px;
	width: 100%;
}
.bs-example.twinbtn {
	width: 102%;
}
.phoneno{
	float:left;
	width:30%;
}
.catalog{
	float:left;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.bottom-icon2{
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.col-md-4.control-label {
	color: #fff;
	padding: 15px 0 0 24px;
	font-size: 13px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37% !important;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	margin: 7px 0 0 -2px;
	padding:8px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.row.footerbg {
	background: #777777;
}
.foot-container{
	height: 44px;
}

.bot {
	float:left;
	padding: 12px 0 0 0;
	color: #b3b3b3;
	font-size: 11px;
}
.foonav {
	padding: 0 0 0 0;
	display: inline;
	color: #b3b3b3;
	font-size:9px;
}
.foonav a {
	color: #b3b3b3;
	padding-right: 2px;
}

.foonav a:hover{
	color: #f4911e;
	padding-right: 2px;
}.subnav_web_templates {
	padding: 12px 35px 0 0;
/*	background: #777777;*/
	color: #b3b3b3;
	font-size: 11px;
	float: right;
	line-height: 18px;
}

.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.container.amc-innerpages{
	background:#fff;
}
.mainnav-subpage {
	background: #FFFFFF;
	height: 77px;
	margin: 0 0 0 0;
	position: relative;
}


/*          content          */

.gallery-offset{
    
	margin-top:20px;
    margin-left:42px;	
	padding:0px;
	
}

.content .col-md-3{
	
position: relative;
min-height: 1px;
padding-right:15px;
padding-left: 15px;
}

.horizontal-line-divider{
	height:13px;
	width: 100%;
	margin-bottom:0px;
	background:url(../images/news_bg_horizontal.png) repeat-x;
}



.content-top-container{	
	margin-top:-15px;
	padding-top:15px;
	 height: 146px;
   width: 100%;
  	background-color: #56a1d5;	
}

.content-bg-container{	
	
	 height: 21px;
    /*width: 1024px;
	*/
  	background-color: #edecec;	
}

.gallery-left{	
	
	width: 145px;



	margin: 0 0 0 21px;
	
	
	 height: 275px;
	 margin: 0 0 0 21px;
    
  	background-color: #edecec;
}

.gallery-center{	
	
	 height: 275px;
    /*width: 1024px;
	*/
  	background-color: #ddd;	
}

.gallery1,.gallery2,.gallery3,.gallery4,.gallery5,.gallery6,.gallery7,.gallery8{
	
   	background-color: #fff;	
	
	
	
		
}


.view-category{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	padding: 10px 0px;	
	text-align:center;
	
}

.image-container{
	
	width: 218px;
	height:120px;
	padding:1px;
	

	
}


.gallery-image{	
	position:absolute;
	left:0px;
	top:0px;
    margin: 0 auto;
	
border-top:2px solid #dcdcdc;
border-left:2px solid #dcdcdc;
border-right:2px solid #dcdcdc;
border-bottom:2px solid #dcdcdc;
	
	
    /*width: 1024px;
	*/
  	background-color: #fff;	
	/*background: url('../images/02-AMC_Product-page_final_27092013_05.png');*/
}



.desc{
	position: relative;		
	height: 86px;
	width: 216px;
	background-color: #edecec;
}

.category-mouseover-btn{
	width:149px;height:41px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;border:1px solid #DCDCDC;background-color:#F4911E;-webkit-box-shadow: #cccccc 2px 2px 2px;-moz-box-shadow: #cccccc 2px 2px 2px; box-shadow: #cccccc 2px 2px 2px;position:relative;left:35px;top:75px;
	
}



.gallery-content {
	color: #525151;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	/*padding: 30px 30px;	*/
	margin: 5px 5px;
	text-align:center;
	
}

.gallery-content-heading {
	color: #525151;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	margin: 5px 5px;
	/*padding: 30px 30px;	
	*/
	text-align:center;
	
}

. tl-offset-bottom{
	
	margin-top:20px;
}


.row.bgfill{
	background-color: #fff;
	margin-bottom:-12px;
}


.space-above-footer{
	margin-top:20px;
	background-color: #fff;
}




.topspacer{
	margin-top:20px;
}


.col-md-12.topspacer{
	margin-top:20px;
	
}

.topspacer2{
	margin-top:30px;
}





.col-md-2.gallery-spacer {
	position: relative;
	
	float: left;
	width: 20%;
	padding: 0 2px 0 0;
	margin: 0 0 0 22px;
}
.content-top{	
	text-align:center;
	
	margin: 30px 30px;
    

}
.content-main{	
	text-align:center;
	
	margin-top: 10px;
	padding: 0px 25px;
    

}

p.subheader-content-heading {
	color: #fff;
	font-size: 20px;
	font-weight:bold;
	
	position: relative;
	top: 11px;	
	width: 100%;
	text-align:center;
	
}

p.subheader-content {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	
	position: relative;
	padding-top: 14px;
padding-right:8.7%;
	padding-left:8.7%;

	text-align:center;
	
}

.row.header {
border-bottom: 1px solid #a3a2a2;
height: 76px;
}

/*_________________ search popup ________________*/


.search-form-field {
	display: block;
	padding: 0 0 0 11px;
	width: 100%;
	height: 51px;
	margin: 4px 0 -9px 0px;
	font-size: 16px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 0px solid #ccc;
	border-radius: 0px;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.popover-content {
	padding: 9px 14px;
	width: 878px;
}

.popover.left .arrow {
	top: 50%;
	right: -6px;
	margin-top: -11px;
	border-left-color: #fff;
	border-right-width: 0;
}
.popover {
	position: absolute;
	top: 0px !important;
/*	left: -869px !important;*/
	z-index: 1010;
/*	display: none;*/
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	background-clip: padding-box;
	max-width: 1162% !important;
	height: 76px !important;
	border-radius: 0px !important;
	border: 0px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*_________________ search popup ________________*/
/*_______dropdown menu _________________________________________________________________*/
.sub-menu1 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
ul.sub-menu1 {
	display: none;
	background: #616161;
	opacity: .90;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -151px;
	top: 69px;
	z-index: 10;
}
.col-md-2.mainmenu1:hover ul.sub-menu1{
    display:block;
}


.sub-menu2 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
ul.sub-menu2 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -274px;
	top: 70px;
	z-index: 10;
}
.col-md-2.mainmenu2:hover ul.sub-menu2{
    display:block;
}




.sub-menu3 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
ul.sub-menu3 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -416px;
	top: 70px;
	z-index: 10;
}
.col-md-2.mainmenu3:hover ul.sub-menu3{
    display:block;
}

.sub-menu4 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
ul.sub-menu4 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -557px;
	top: 70px;
	z-index: 10;
}
.col-md-2.mainmenu4:hover ul.sub-menu4{
    display:block;
}

.sub-menu5 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
ul.sub-menu5 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -720px;
	top: 70px;
	z-index: 10;
}
.col-md-2.mainmenu5:hover ul.sub-menu5{
    display:block;
}




/* news letter sign up */

.col-md-6.newsletter {
background: #f39a32;
height: 47px;
margin: 0 0 0 -13px;
width: 48%;
}


.form-group {
margin-bottom: 15px;
margin-top: -15px;
}

.col-md-2.control-label {
color: #fff;
width: 37% !important;
padding: 14px 0 0 0;
margin: 0 0 0 11px;
}

.form-control-nl {
display: block;
width: 224px;
height: 34px;
padding: 8px;
margin: 7px 0 0 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.subscription {
padding: 30px;
font-size: 13px;
color: #fff;
}

.closebtn {
margin-top: -53px;
margin-right: 10px;
float: right;
cursor: pointer;
}

.arrowbtn {
background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
padding: 18px 16px 0 16px;
position: relative;
left: 245px;
top: -32px;
cursor: pointer;
margin-top: 14px;
margin: 0 auto;
border: 0px;
}



/* news letter sign up */

/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */

@media (min-width: 1200px){
	.container {
		max-width: 100%;
	}
	.col-md-4.logo{
		padding:12px 0 0 0;
	}
	.carmenus {
		width: 37% !important;
		height: 50px;
		margin: auto;
	}
	.menus {
		width: 950px;
		margin: 0 auto;
	}
	.leftarrow {
		background: url('../images/blue-leftarrow.png') no-repeat transparent;
		width: 9px;
		height: 22px;
		position: absolute;
		top: 6px;
		left: 14px;
	}
	.pl-productname {
		background: #f5f3f3;
		font-size: 11px;
		padding: 36px 22px;
		margin: 0 !important;
		text-align: center;
		border-bottom: 1px solid #a5a5a5;
	}
	.contact-form-container {
		width: 60%;
		margin: 0 auto;
		position: relative;
		left: 63px;
	}
	.col-md-2.mainmenu1:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 17px;
	}
	.col-md-2.mainmenu2:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 17px;
	}
	.col-md-2.mainmenu3:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 17px;
	}
	.col-md-2.mainmenu4:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 17px;
	}
	.col-md-2.mainmenu5:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 17px;
	}
	ul.sub-menu1 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -150px;
		top: 70px;
		z-index: 10;
	}
	ul.sub-menu2 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -384px;
		top: 70px;
		z-index: 10;
	}
	ul.sub-menu3 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -651px;
		top: 70px;
		z-index: 10;
	}
	ul.sub-menu4 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -917px;
		top: 70px;
		z-index: 10;
	}
	ul.sub-menu5 {
		display: none;
		background: #6D6D6D;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 1823px;
		position: absolute;
		left: -1227px;
		top: 70px;
		z-index: 10;
	}
}	
@media (min-width: 768px){
	.container {
		max-width: 100%;
	}
	.col-md-4.logo{
		padding: 12px 0 0 37px;
	}

	.col-md-1 {
	padding: 0;
	}
	.col-md-2 {
	padding: 0;
	}
	.col-md-3 {
	padding: 0;
	}	
	.col-md-4 {
	padding: 0;
	}
	.col-md-5{
	padding: 0;
	}
	.col-md-6{
	padding: 0;
	}
	.col-md-7 {
	padding: 0;
	}	
	.col-md-8 {
	padding: 0;
	}	
	.col-md-9 {
	padding: 0;
	}
	.col-md-10 {
	padding: 0;
	}
	.col-md-11 {
	padding: 0;
	}	
	.col-md-12 {
	padding: 0;
	}	
/*	.carmenus {
	width: 70%;
	height: 50px;
	margin: auto;
	}*/
}
@media (max-width: 767px){

	.topnav-right {
		display:none;
	}

	.mainnav-subpage {
		display:none;
	}
	.headerlabel {
		color: #3968b1;
		font-size: 20px;
		font-weight: normal;
		padding: 0;
		margin-top: 8px;
	}
	.breadcrumb {
		display:none;
	}
	.content .col-md-3 {
		position: relative;
		min-height: 1px;
		padding-right: 2px;
		padding-left: 2px;
	}
	.gallery-offset {
		margin-top: 20px;
		margin-left: 0;
		padding: 0px;
	}	
	.col-md-3.col-padding {
		float: left;
		width: 49%;
		margin: 10px 0 0 2px;
	}
	.image-container {
		
		border-top: 2px solid #dcdcdc;
		border-left: 2px solid #dcdcdc;
		border-right: 2px solid #dcdcdc;
		border-bottom: 2px solid #dcdcdc;
	}
	.gallery-image {
		position: relative;
		margin-left: 0px;
		margin-top: 0px;
		width: 100%;
	}
	
	
	.gallery1{
		
	}
	
	
	.row.bgfill.content {
		background-color: #fff;
		margin-bottom: -20px;
	}
	.col-md-4.back-btn {
		top: -33px;
		right: -39px;
		left: 45px;
	}	
	.col-md-4.back-btn a {
		color:#000;
	}
}