.mainnav-subpage form{ margin:0 !important;}	
@media (min-width: 992px){
.col-md-7,
.col-md-5  {
padding-left:15px;
padding-right:15px;
}
}
.alert{
width: auto;
}
button.close{
width:auto; 
height:auto;left: 0 !important;
top: 0 !Important;
margin-top: 0;
margin-right: 0;
}
@media (max-width: 767px) {
    .aboutmenu-container {
        overflow: scroll;
        height: 34px;
        background: #8e8e8e;
        font-size: 12px;
    }

    .menus {
        width: 960px;
    }

    .col-md-2.graybg {
        margin-bottom: 10px;
        margin-left: 5%;
    }
}



.mainnav-subpage {
    background: #FFFFFF;
    background-color: rgba(255,255,255,0.9);
    /*opacity: 0.9;
filter: Alpha(Opacity=90);*/
    height: 74px;
    margin: 0 0 0 0;
    position: relative;
    z-index: 9;
    width: 100%;
}

.mainnav-home {
    background-color: rgba(255,255,255,0.9);
}

.mainnav-subpage {
    filter: none;
    opacity: 1;
    -ms-filter: none;
}

.mainnav-home form {
    margin: 0 !important;
    height: 100%;
}


.top-bar li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    padding-bottom: 0;
    height: 100%;
}

.am-container {
    width: auto;
    margin: 0 15px;
    text-align: center;
}

.page-footer .row .row {
    margin: 0;
}

h2.am-header {
    /*width: 257px;*/
}

.top-bar {
    margin: 0 0 0 135px;
    padding: 0;
    height: 74px;
    overflow: hidden;
}

    .top-bar li a {
        color: #020202;
        font-size: 13px;
        font-weight: normal;
        text-decoration: none;
        display: block;
        padding: 0 0 0 45px;
        height: 100%;
        line-height: 18px;
    }

    .top-bar li.top-prog a {
    }

    .top-bar li.top-search a {
        background: none;
        padding: 0;
    }

    .top-bar li.top-search form {
        margin: 0;
    }

    .top-bar li a {
        background: url('../images/sprite-new.png') no-repeat 0 center;
        border-bottom: 4px solid transparent;
    }

        .top-bar li a.top-menu1 {
            background-position: 0 center;
            padding-left: 30px;
        }

        .top-bar li a.top-menu2 {
            background-position: -484px center;
        }

        .top-bar li a.top-menu3 {
            background-position: -959px center;
            padding-left: 30px;
        }

        .top-bar li a.top-menu4 {
            background-position: -1451px center;
        }

        .top-bar li a.top-menu5 {
            background-position: -1968px center;
        }

        .top-bar li a.top-menu6 {
            background-position: -2420px center;
        }

        .top-bar li a span {
            display: block;
            vertical-align: middle;
            padding-top: 27px;
        }

    .top-bar li ul {
        display: none;
        background: #000;
        margin-bottom: 0;
    }

    .top-bar li:hover a {
        border-bottom: 4px solid #f4911e;
    }

    .top-bar li:hover ul li a {
        border-bottom: none;
    }

.leftarrow {
    display: none;
}

.no-touch .top-bar li:hover ul {
    display: block;
    background: url('../images/submenu_bg.png') repeat 0 center;
    /*
background:#616161;    
opacity: 9;
filter: Alpha(Opacity=90);*/
    position: absolute;
    left: 0;
    margin: 0;
    padding: 10px 0 0;
    width: 100%;
    color: #fff;
    top: 100%;
    margin: 0 0;
}

.top-bar li ul li a {
    behavior: url("PIE.htc");
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
}

.top-bar li:hover ul li a {
    background: #444343;
    padding: 7px;
    color: #fff;
    line-height: 18px;
}

    .top-bar li:hover ul li a:hover {
        background: #f6a548;
    }

.top-bar li ul li {
    padding-bottom: 0;
    margin: 0 0 10px 10px;
    width: auto;
}

.mainmenu-icon6 {
    background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
    padding: 0;
    width: 46px;
    height: 77px;
    display: inline-block;
    vertical-align: middle;
}

.topnav-right {
    right: 0;
	margin: 27px 0 0;
	top:0;
	height: auto;
}

.search {
    width: 46px  !important;
    height: 74px  !important;
    right: 0  !important;
    position: absolute  !important;
}


.search-panel {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    z-index: 3;
    padding: 0 41px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    margin: 0 0 0 -41px;
    display: none;
}

    .search-panel .search-form-field {
        height: 100%;
        margin: 0;
        padding: 0;
        padding-right: 60px;
		text-align: right !important;
    }

.search-arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;
    top: 50%;
    left: -3px;
    margin: -11px 0 0;
    border-left-color: #fff;
    border-right-width: 0;
    display: none;
}

.top-prog {
    width: 132px;
    position: absolute;
    top: 0;
    left: 0;
}

    .top-prog a {
        background: #3C3C3C;
        padding: 19px 30px 19px 30px;
        color: #fff;
        display: block;
        line-height: 18px;
    }

.top-bar li a.top-menu1 {
    padding-left: 33px;
}

.top-search {
    position: absolute;
    top: 0;
    right: 0;
    background: url('../images/spritesheet.png') no-repeat -432px -50px;
    z-index: 4;
    width: 47px;
    height: 74px;
    cursor: pointer;
}

.top-bar-wrap {
    margin: 0 15px;
    position: relative;
}

.top-mob-menu {
    display: none;
}

.search .popover .arrow {
    margin-left: -6px;
}

.search-form-field, .search .popover {
    height: 72px;
    outline: none;
}

.prog-link {
    padding-left: 15px !important;
}

.newlet_right {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.newlet_left {
    display: inline-block;
    vertical-align: middle;
}

.arrowbtn.newsletter-btn {
}

.foot-form .subscription {
    padding: 6px 0 4px 20px;
    font-size: 13px;
    color: #fff;
    line-height: 21px;
    margin: 0;
    margin-right: 42px !important;
}

.foot-form #closeButton {
    position: absolute;
    right: 20px;
    top: 12px;
}

.foot-form {
    position: relative;
}

    .foot-form .closebtn {
        margin-top: 0;
        margin-right: 0;
        float: right;
        cursor: pointer;
    }



.contact-container {
    margin-bottom: 0;
}

.breadcrumb {
    text-align: right;
}

    .breadcrumb li a, .breadcrumb li {
        color: #494949;
        font-size: 11px;
    }

.pd-content-heading-top, .headerlabel {
}

.prd-listing {
    width: 100%;
    margin: 0;
    position: relative;
}

.headerlabel, .pd-content-heading-top {
    padding: 20px 0;
    margin: 0;
    float: none;
}

.breadcrumb {
    padding: 20px 0;
    margin: 0;
}

.foot-bot-left {
    text-align: center;
}


@media only screen and (max-width:1368px) and (min-width:1179px) {
    .top-bar li a {
        padding: 0 0 0 45px;
    }

    .top-bar li {
    }

        .top-bar li a.top-menu1 {
            width: 135px;
        }

        .top-bar li a.top-menu2 {
            width: 176px;
        }

        .top-bar li a.top-menu3 {
            width: 157px;
        }

        .top-bar li a.top-menu4 {
            width: 144px;
        }

        .top-bar li a.top-menu5 {
            width: 133px;
        }

        .top-bar li a span {
            padding-top: 18px;
        }
}

@media only screen and (max-width:1178px) and (min-width:1025px) {
    .top-bar li a {
        padding: 0 0 0 31px;
    }

    .top-bar li a {
        background: url('../images/sprite-new1.png') no-repeat 0 center;
        font-size: 12px;
    }

    .top-bar li {
        margin: 0 0 0 10px;
    }

        .top-bar li a.top-menu1 {
            background-position: 0 center;
            padding-left: 20px;
            width: 70px;
        }

        .top-bar li a.top-menu2 {
            background-position: -362px center;
            width: 100px;
        }

        .top-bar li a.top-menu3 {
            background-position: -719px center;
            padding-left: 25px;
            width: 95px;
        }

        .top-bar li a.top-menu4 {
            background-position: -1088px center;
            width: 110px;
        }

        .top-bar li a.top-menu5 {
            background-position: -1476px center;
            width: 103px;
        }
		.top-bar li a.top-menu6{
			background-position: -1827px center;
			padding-left: 38px;
		}
		.top-bar li a.top-menu6 span{
		padding-top:0px;
		}

        .top-bar li a.top-menu1 {
            width: 115px;
        }

        .top-bar li a.top-menu2 {
            width: 152px;
        }

        .top-bar li a.top-menu3 {
            width: 140px;
        }

        .top-bar li a.top-menu4 {
            width: 123px;
            padding-left: 35px;
        }

        .top-bar li a.top-menu5 {
            width: 115px;
        }

        .top-bar li a span {
            padding-top: 18px;
        }
}

@media  (min-width:600px) and (max-width:1024px) {
    /*body {
        display:none;
    }*/
	.col-md-5.col-sm-12.breadcrumbs {
	top:0;
	}
    .top-bar-wrap {
        display: block;
    }
	.topnav-right{
		
	   display:block;	
	   right:0;
	   top:0;
	}

    .top-bar li a {
        padding: 0 0 0 32px;
    }

    .top-bar-wrap {
    }

    .top-bar li a {
        background: url('../images/sprite-new1.png') no-repeat 0 center;
        font-size: 11px;
    }

    .top-bar li {
        margin: 0 0 0 10px;
    }

        .top-bar li a.top-menu1 {
            background-position: 0 center;
            padding-left: 20px;
            width: 70px;
        }

        .top-bar li a.top-menu2 {
            background-position: -362px center;
            width: 100px;
        }

        .top-bar li a.top-menu3 {
            background-position: -719px center;
            padding-left: 25px;
            width: 95px;
        }

        .top-bar li a.top-menu4 {
            background-position: -1088px center;
            width: 110px;
        }

        .top-bar li a.top-menu5 {
            background-position: -1476px center;
            width: 103px;
        }
		
		.top-bar li a.top-menu6{
			background-position: -1827px center;
			padding-left: 38px;
		}
		.top-bar li a.top-menu6 span{
		padding-top:23px;
		}

        .top-bar li a span {
            padding-top: 8px;
        }

        .top-bar li a.top-menu4 span, .top-bar li a.top-menu5 span {
            padding-top: 17px;
        }
    /*.top-bar li ul{ display:none; background:#000;}*/


}

@media (max-width:1024px) and (min-width:903px) {

    
    
    .top-bar li a {
        font-size: 12px;
        padding: 0px 0 0px 32px;
    }

        .top-bar li a.top-menu1 {
            width: 115px;
        }

        .top-bar li a.top-menu2 {
            width: 155px;
        }

        .top-bar li a.top-menu3 {
            width: 140px;
        }

        .top-bar li a.top-menu4 {
            width: 127px;
        }

        .top-bar li a.top-menu5 {
            width: 115px;
        }

        .top-bar li a span {
            padding-top: 19px;
        }

        .top-bar li a.top-menu4 span, .top-bar li a.top-menu5 span {
            padding-top: 19px;
        }
}

@media only screen and (max-width:970px) and (min-width:902px) {
    .top-bar li a.top-menu1 {
        width: 89px;
    }

    .top-bar li a.top-menu2 {
        width: 130px;
    }

    .top-bar li a.top-menu3 {
        width: 122px;
    }

    .top-bar li a span {
        padding-top: 9px;
    }
}

@media only screen and (max-width:818px) and (min-width:600px) {
    .top-prog {
        width: 88px;
        font-size: 12px;
    }

        .top-prog a {
            padding: 19px 12px;
        }

    .top-bar {
        margin: 0 0 0 88px;
    }
}

/*ipad*/
@media (max-width: 767px) {
    .mainnav-home {
        display: block;
        z-index: 15;
    }

    .top-bar-wrap {
        display: block;
    }
}

@media only screen and (max-width:600px) {
    .top-bar-wrap {
        display: none;
    }

    .mainnav-home {
        display: none;
    }

    .mainmenu-icon6 {
        width: 59px;
        height: 40px;
    }

    .search {
        width: 59px;
        height: 40px;
        padding: 0;
        top: 54px;
    }
}


.content-top-container {
    margin-top: 0;
}

.row.careerscontent,
.row.cr,
.row.creditcontent {
    margin-bottom: 0;
}

.content {
    margin-bottom: 10px;
}

/*category listing*/



@media only screen and (max-width:1200px) and (min-width:600px) {
    .gallery-offset .col-md-3 {
        width: 25%;
        float: left;
    }

    .row.footerbg .col-md-9 {
        width: 100%;
    }

    .subnav_web_templates {
        padding: 0px 41px 10px 0px;
    }
}

@media only screen and (min-width:992px) {

    .subnav_web_templates {
        font-size: 11px;
    }
}

@media only screen and (max-width:1200px) {
    /*.image-container {
        width: 100%;
        height: 100%;
    }

    .gallery-image {
        position: relative;
        left: 0;
        right: 0;
        width: 100% !important;
        height: auto !important;
        margin: 0;
    }

    .gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8 {
        height: auto;
        width: 100%;
    }*/




    .category-mouseover-btn {
        width: 120px;
        height: 30px;
        padding: 0 10px;
        left: 50%;
        text-align: center;
        margin-left: -60px;
        margin-top: -60px;
        top: 50%;
        position: absolute;
    }

    /*.view-category {
        line-height: 27px;
        margin-bottom: 0;
        font-size: 12px;
        text-align: center;
        padding: 0;
    }*/
}
.breadcrumbs{
		right:0 !important;
		}
@media only screen and (max-width:767px) {
    .desc {
        top: 0;
    }
	.breadcrumb {
            display: block;
			text-align: left;
			padding: 0 0 20px;
			right:0 !important;
        }
		
    .gallery-offset {
        margin: 0 10px;
        left: 0;
        width: auto;
    }

        .gallery-offset .col-md-3.col-padding {
            padding-right: 10px;
            padding-left: 10px;
        }

    .leftarrow {
        display: block;
    }

    .breadcrumb {
        text-align: left !important;
    }

    .headerlabel {
        padding-bottom: 0;
    }
   
}

@media only screen and (max-width:400px) {
    .gallery-offset .col-md-3 {
        width: 100%;
        float: left;
    }

    .desc {
        min-height: 10px;
        height: auto;
    }
}


.staticpages-menu {
    opacity: 1;
    height: 30%;
    border-top: none;
    z-index: 500;
    position: absolute;
    display: none;
}

.sub-menu-links li:hover {
    background: orange;
    cursor: pointer;
}

.submenu-button {
    background: #525151;
    padding: 0;
    margin-right: 0;
    color: #fff;
    border-bottom: 1px solid white;
	list-style:none;
}

    .submenu-button a {
        padding: 15px;
        display: block;
        color: #fff;
    }

    .submenu-button a {
        color: #fff;
    }



.col-md-4.logo {
    height: auto;
    padding: 15px 15px !important;
}

.row.header {
    height: auto;
	background:#edecec;
}
/*.am_conversion{margin: -20px 0 0;}*/
.carmenus {
    padding: 0;
    text-align: left;
}

.search-form-field {
    z-index: 9;
    position: relative;
}

.search .popover-content {
    padding: 0 12px !important;
}

.popover {
    height: 74px !important;
}




/*footer*/

.foot-social {
    font-size: 0;
    margin-right: 15px;
}

    .foot-social li {
        width: 31px;
        height: 31px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 11px 0 0;
    }

        .foot-social li a {
            display: block;
            height: 100%;
            background: url('../images/spritesheet.png') no-repeat 0;
            margin: 0;
        }

            .foot-social li a.pin-icon {
                background-position: -342px -3px;
            }

                .foot-social li a.pin-icon:hover {
                    background-position: -198px -91px;
                }

            .foot-social li a.twi-icon {
                background-position: -388px -3px;
            }

                .foot-social li a.twi-icon:hover {
                    background-position: -244px -91px;
                }

            .foot-social li a.fb-icon {
                background-position: -435px -3px;
            }

                .foot-social li a.fb-icon:hover {
                    background-position: -292px -91px;
                }

.foot-social,
.foot-contact {
    padding: 0;
    float: left;
    vertical-align: middle;
    margin-bottom: 8px;
    margin-top: 12px;
    margin-left: 15px;
}

    .foot-contact li {
        display: inline-block;
        margin: 0 25px 0 0;
    }

        .foot-contact li a,
        .foot-contact li {
            font-weight: 600;
            font-size: 12px;
            color: #525151;
        }

            .foot-contact li a:hover,
            .foot-contact li:hover {
                color: #f4911e;
                text-decoration: none;
            }

            .foot-contact li span {
                background: url('../images/spritesheet.png') no-repeat 0;
                width: 23px;
                height: 23px;
                display: inline-block;
                vertical-align: middle;
                margin: 0 7px 0 0;
            }

                .foot-contact li span.f-cont-icon {
                    background-position: -149px -52px;
                }

                .foot-contact li span.f-quote-icon {
                    background-position: -199px -52px;
                }

.foot-top-left.col-md-6 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.col-md-9.foot-bot-left {
}

.foot-top-right {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #f39a32;
    float: right;
}
/*product details*/
.pd-gallery {
    width: 100%;
    background-color: #fff;
    text-align: center;
    height: auto;
}

@media only screen and (max-width: 990px) {
    .pd-gallery {
       
        background-color: #fff;
        margin: auto;
    }
}

@media (min-width: 781px) {

    .foot-top-left.col-md-6,
    .col-md-9.foot-bot-left,
    .foot-top-right.col-md-6 {
        /*padding-left: 0;
        padding-right: 0;*/
    }
}

@media (min-width:981px) and (max-width: 1050px) {

    .foot-contact li {
        margin: 0 12px 0 0;
    }

    .foot-form .form-control-nl {
        width: 170px !important;
        font-size: 11px;
    }

    .col-md-6.foot-top-left {
        width: 50%;
        float: left;
    }
}

.foot-social {
    margin-right: 10px;
    margin: 8px 0;
}

.foot-top-right .control-label {
    color: #fff;
}

.foot-top-right form {
    margin: 0 !important;
}

.col-md-3.foot-bot-right {
    /*padding-left: 0;
    padding-right: 0;*/
}

.foot-form label,
.foot-form .form-control-nl {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.foot-form label {
    margin-left: 20px;
    margin-right: 7px;
}

.foot-form .form-control-nl {
    height: 31px;
    width: 224px;
    padding: 4px;
}

.foot-form .newsletter-btn {
    background: url('../images/spritesheet.png') no-repeat -388px -51px;
    width: 29px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}

    .foot-form .newsletter-btn:hover {
        background-position: -388px -131px;
    }

.page-footer-bottom {
    background: #777777;
}

.page-footer-top {
    background: #edecec;
}

.foot-bot-left ul.menu {
    float: none;
    padding: 0;
    border-right: none;
    height: auto;
    position: relative;
    top: 0;
}

    .foot-bot-left ul.menu:hover {
        background: none;
    }

.foot-bot-left ul.menu {
    margin: 0 0 0 0;
    padding: 15px 0 15px 0;
    font-size: 0;
}

    .foot-bot-left ul.menu li {
        display: inline-block;
        font-size: 0;
        padding: 0 4px 0 0;
        margin: 0 0 0 4px;
        border-right: 1px solid #E9E9E9;
        vertical-align: middle;
        line-height: 17px;
    }

        .foot-bot-left ul.menu li.border-none {
            border-right: none;
        }

        .foot-bot-left ul.menu li:last-child {
            border-right: none;
        }

        .foot-bot-left ul.menu li a {
            display: block;
            font-size: 11px;
            color: #E9E9E9;
        }

            .foot-bot-left ul.menu li a:hover {
                color: #f4911e;
            }

.foot-bot-left ul li.abtmenu-active a {
    background: none;
    color: orange;
    padding: 0;
    float: none;
}


.foot-copy {
    color: #E9E9E9;
    font-size: 11px;
    line-height: 17px;
    padding: 0 0 15px 0;
    text-align: center;
    margin: 0;
}



/*sticky footer*/

html, body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0;
}

.homepg .page-footer {
    height: auto;
}

.container {
    max-width: 100%;
}



/*footer*/
.foot-top-right {
    float: right;
    margin: 0;
    height: auto;
}

.container-foot {
    padding-left: 15px;
    padding-right: 15px;
}
/*product desc*/
.container {
    max-width: 100%;
}

.rc-container {
    margin-bottom: 0;
}


@media only screen and (max-width:980px) {
    .page-footer .col-md-6,
    .page-footer .col-md-12,
    .page-footer .col-md-3,
    .page-footer .col-md-9 {
        width: 100%;
        text-align: center;
    }

    .foot-top-right {
        float: none;
        width: auto;
        margin: 0 -15px;
    }

    .foot-social, .foot-contact {
        display: inline-block;
        float: none;
    }

    .foot-copy {
        text-align: center;
    }

    .page-footer-bottom, .page-footer-top {
        padding: 0 0;
    }

    .foot-social, .foot-copy {
        margin-left: 20px;
    }

    .foot-bot-left ul.menu {
        margin-left: 16px;
    }
}

@media only screen and (max-width:520px) {
    .foot-social, .foot-contact {
        margin-left: 0;
        display: block;
    }

    .foot-contact {
        margin: 15px 0 0;
    }

    .foot-top-right .control-label {
        display: block;
        margin: 0 0 7px 0;
    }

    .foot-bot-left ul.menu {
        margin-left: -4px;
    }

        .foot-bot-left ul.menu li {
            margin-bottom: 8px;
        }

    .foot-copy {
        margin-left: 0;
    }
}

@media only screen and (max-width:360px) {
    .foot-contact li {
        display: block;
        margin: 0 0 15px;
    }

    .foot-form .form-control-nl {
        width: 190px;
        font-size: 11px;
    }

    .foot-form .newsletter-btn {
        margin-left: 4px;
    }
}



.menu-primary_footer_menu-container {
    margin-left: 0;
}

@media (max-width: 767px) {
    .col-md-6.foot-top-right {
        margin: 0;
        height: auto;
    }
	
}

.breadcrumb > li + li:before {
    top: 4px;
}

/* style for ie x mark remove*/
input::-ms-clear {
    display: none;
}



.categog-second .space {
    padding: 0 15px;
    clear: both;
}


@media (max-width: 1023px) and (min-width: 600px) {

    .col-md-6.bcs {
        top: 0;
    }
}

.energy-star {
    color: #66aad9 !important;
    font-weight: bold;
    margin: 0 0 0 7px;
}

.ips select,
.ips2 select,
.ips3 select {
    padding-top: 9px;
    padding-top: 0\0/;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
}





@media screen and (min-width:1200px) {
    .ips select,
    .ips2 select,
    .ips3 select {
        background: none\9 !important;
    }
}


    .faqcontent-container {
        margin-bottom: 0;
    }

    .ips select,
    .ips2 select,
    .ips3 select {
        text-overflow: "" !important;
    }

    .ips2 select {
        margin-left: 0;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .ips select,
        .ips2 select,
        .ips3 select {
            padding-top: 0;
        }
    }

    /*.topnav-right {
    height: auto;
    top: 0;
}*/

    /*ipad, min-ipad- potrait - 600px*/
    /*ipad, min-ipad - landsacpe - 1024px*/
    .staticpages-menu {
        right: 0;
		display:none;
    }

    @media only screen and (min-width:600px) and (max-width:1023px) {
        .foot-bot-left ul.menu {
            padding-left: 0;
        }
		.toplink1, .toplink2, .toplink3, .toplink6{
		margin-right:10px;
		font-size:11px;
		}
		.top-icon6{
			margin-left: 10px;
		}

      

        .mainnav-subpage {
            display: block;
        }

        ul {
            padding: 0;
        }

        /*.col-md-4.logo {
        padding: 12px 15px 12px !important;
        height: auto;
    }*/

        .row.header .col-md-8,
        .row.header .col-md-6 {
            padding-left: 15px;
            padding-right: 15px;
        }

        /*.topnav-right {
        float: none;
        text-align: right;
        right: 0;
        margin: 16px 0 0;
    }*/

        .row.header {
            height: auto;
        }

        /*.menu1,
    .menu2,
    .menu3,
    .menu4 {
        top: 0;
        float: none;
        display: inline-block;
        vertical-align: middle;
    }*/

        .toplink1,
        .toplink2,
        .toplink3,
        .toplink4 {
            display: block;
            float: left;
        }

        .top-icon1,
        .top-icon2,
        .top-icon3,
        .top-icon4 {
            float: none;
            float: left;
        }

        .top-bar-wrap {
            margin: 0 15px;
        }

        .col-md-12.aboutbanner,
        .col-md-12.faqbanner {
            padding: 0 !Important;
        }

        .row.headersession {
            height: auto;
        }





        /*rewritten overriddenn bootstarp classes in inner pages*/
        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-6.pns_left,
        .col-md-6.pns_right,
        .container,
        .categog-second .col-md-3.space,
        .categog-second .col-md-12.space {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .row.content-session,
        .products,
        .row.bgfill.content {
            /*width:auto;
	margin-left:-15px;
	margin-right:-15px;*/
        }
        /*inner middle pages*/
        /*.back-btn {
        display: none;
    }*/
        .row.content-session {
            margin: 0 -15px;
        }

        .abt-caption,
        .abt-parag,
        * .faq-caption,
        .cs-drop-shadow {
            width: auto;
        }

        ul.menus li.abtmenu a,
        ul li.abtmenu-active a,
        ul.menus li.abtmenu a:hover {
            padding: 9px 7px 9px 7px;
        }

        ul.cr-ulist,
        ul.cr-ulist2,
        .careers-content-1 ul,
        #programs_services ul,
        #product_content ul {
            padding: 0 0 0 21px;
        }

        .cr-headertxt3,
        .cr-headertxt4,
        .suggest-txt,
        .cs-content-1,
        .cs-drop-shadow,
        .cs-content-align1,
        .pns-headertxt,
        .readmore_link {
            margin-left: 0;
            margin-right: 0;
        }

        .row.careerscontent,
        .cs-content-1,
        .cs-content-heading2,
        .careers-content-1 li,
        .pns-paragtxt,
        .pns-headertxt,
        #programs_services ul li,
        .container .mainnav-subpage,
        .categog-second .space {
            padding-left: 0;
            padding-right: 0;
			margin-left: 0;
            margin-right: 0;
        }

        #product_content {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        /*.career_linktext,
    .pns-paragtxt,
    #programs_services h2,
    #programs_services h3,
    .gallery-offset,
    .headerlabel {
        padding-left: 0;
        padding-right: 0;
        width: auto;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }*/

        .menus {
            margin-left: 0;
            width: 1024px;
        }

        .aboutmenu-container {
            padding-left: 15px;
            padding-right: 15px;
            display: block;
        }
        
        /*request catalog*/
        .rc-form-field,
        .rc-form-field2 {
            width: 100%;
        }

        .rc-form-container {
            position: relative;
            left: auto;
            width: auto;
        }

        .placerequest-btn {
            right: auto;
        }
        /*casestudies*/
        .md-form {
            display: block;
        }

        .col-md-1.divider.md-form {
            display: none;
        }

        .login-form-container {
            width: auto;
            left: 0;
        }

        .row.headersession {
            margin-top: 0;
        }

        
    }
    .mainnav-subpage, .topnav-right {
            display: block;
        }
    @media only screen and (min-width:992px) and (max-width:1024px) {
        .col-md-4.logo {
            height: auto;
        }
    }

   

    img {
        max-width: 100%;
    }

    @media only screen and (min-width:1200px) {
        .foot-bot-left ul.menu li a {
            font-size: 12px;
        }

        .prd-listing {
            /*width: 98%;
            margin: 0 0 0 2%;*/
            position: relative;
        }
    }

    @media (min-width:1024px) {
        .wrapper {
            margin-bottom: -129px;
        }
		
        .page-sticky-push,
        .page-footer {
            height: 129px;
        }

        /*.headerlabel,
    .pd-content-heading-top {
        padding-left: 0;
        padding-right: 24px;
        margin-left: 0;
        margin-right: 0;
    }*/

        .breadcrumb {
            padding-left: 0;
            padding-right: 0;
        }

        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-6.pns_left,
        .col-md-6.pns_right,
        .container,
        .categog-second .col-md-3.space,
        .categog-second .col-md-12.space {
            padding-left: 15px;
            padding-right: 15px;
        }



            .col-md-6.bcs,
            .breadcrumb {
                /*padding-left: 10px;
        padding-right:0;*/
                /*text-align: right;*/
            }

        .row.products {
            margin-left: -15px;
        }

        .split {
            text-align: center;
        }

        .products {
            /*margin: 0 -15px;*/
            padding: 0;
        }



        .productlisting-container .categog-second .products {
            margin: 0 0;
        }

        .productlisting-container .align-right-1 .products, .productlisting-container .rac-container .products {
            margin: 0;
        }


        /*.col-md-4.back-btn {
        display: none;
    }*/

        .col-md-5.breadcrumbs {
            right: 0;
        }

        .row.headersession {
            margin-top: 0;
            height: auto;
        }
    }

    @media only screen and (min-width:1150px) {
        .wrapper {
            margin-bottom: -139px;
        }

        .page-sticky-push,
        .page-footer {
            height: 139px;
        }
    }

    .parsley-error-list {
        padding-left: 0;
    }

    .btn:focus {
        background: #f39a32 !important;
    }

    .bs-example .btn:focus {
        background: #fff !important;
    }

    ul.parsley-error-list {
        padding: 0;
        margin: 0;
    }

    .alert {
        clear: both !important;
    }

    .rac-container .addproducts-btn {
        margin-bottom: 20px;
    }

    .button.close {
        position: relative;
        z-index: 100;
    }


    @media only screen and (max-width:991px) {
        .col-md-5.breadcrumbs {
            right: auto;
            top: 0;
            text-align: left;
        }
		.breadcrumb{
		text-align: left;
		padding:0 0 20px;
		}

        /*.breadcrumb {
       padding:0;
        display: block;
    }*/
    }

    @media only screen and (min-device-width:600px) {
        /* for non touch device added no-toch so here the style should need*/
        .top-bar li:hover ul {
            display: none;
        }
		.top-bar litop-li-5 last:hover ul {
			display:none;
		}
    }

    .parsley-error-list li {
        margin: 0 0 -10px 0 !important;
        padding: 0 !important;
        color: /*#f4911e*/ #F0211D;
        font-size: 11px;
		font-family: tahoma;
    }

    .prd-desc-list li {
        list-style: none;
    }

    .aboutmenu-container #menu-middle-menu {
        overflow: hidden;
    }

        .aboutmenu-container #menu-middle-menu li {
            line-height: 35px;
        }

            .aboutmenu-container #menu-middle-menu li a {
                padding: 0 7px;
                display: inline-block;
            }

    .abtmenu {
        top: 0;
    }

    .col-md-12.aboutbanner {
        margin: 0;
        padding: 0 15px;
    }

    ul.products {
        padding: 0;
    }

   

    .mandatory-txt {
        color: #000;
    }

    @media only screen and (min-width:767px) {
        .back-btn {
            display: none;
        }

        .breadcrumb {
            display: block;
			
        }
    }

    @media only screen and (max-width:991px) {
        .bodyrow {
            margin-bottom: 30px;
        }
    }
.product-even,
.product-odd  {
    margin-left:0 !important;
}
 ul.producttab {
        padding-left:0;
    }
	
	.top-icon,
.top-icon2,
.top-icon3{
padding:0 !important;

}
.top-icon{
width:18px;
height:19px;
background-position:-2px -52px !important;

}
.top-icon:hover{
background-position:-2px -131px !important;
}
.top-icon2{
width:22px;
height:19px;
background-position:-52px -51px !important;
}
.top-icon2:hover{
background-position:-52px -130px !important;
}
.top-icon3{
width:18px;
height:19px;
background-position:-99px -51px !important; 
}
.top-icon3:hover{
background-position:-99px -130px !important;
}
.top-icon6{
width:18px;
height:19px;
background-position:-53px -92px !important; 
float:none;
padding:0;
}
.top-icon, .top-icon2, .top-icon3, .top-icon6{
display:inline-block;
vertical-align:middle;
float:none;
}
.toplink1, .toplink2, .toplink3, .toplink6{
display:inline-block;
vertical-align:middle;
float:none;
margin: 0 17px 0 5px;	
}
.top-icon6{
margin-left:17px;
}
.toplink6{
margin-right:0;
}
.toplink3{
margin-right:0;
}
.menu1,
.menu2,
.menu3,
.menu4{
	top:0; float:none;
	display:inline-block;
}
.welcome-links{ text-align: right;
margin: 12px 0 -20px 0 !important;}
.userlinks a{
padding: 0 0 0 0 !important;
}
.username{
margin-right: 10px;
}

@media only screen and (max-width: 974px) and (min-width: 893px){
.wrapper {
            margin-bottom: -186px;
        }

        .page-sticky-push,
        .page-footer {
            height: 186px;
        }

}
@media only screen and (max-width: 894px) and (min-width: 600px){
.wrapper {
            margin-bottom: -203px;
        }

        .page-sticky-push,
        .page-footer {
            height: 203px;
        }

}

.bodyrow {
display: block;
}
.accordion-toggle .panel-headding{
background:none !Important;
}
.accordion-toggle.collapsed h4.panel-title {
background: url('../images/accordion-downarrow.png') no-repeat 97% 50%;
}
.staticpages-menu ul{list-style:none;}
.imgBg,
.pd-thumb { /*background:#fff;
            solid #a5a5a5;*/
            border-bottom:2px 
            
          }

.alert-warning {
color: #38630A;
background-color: #DEF7CC;
border-color: #CCF0C7;
}
.alert-danger {
color: #C4120F;
background-color: #FDEDED;
border-color: #eed3d7;


}
.alert-warning button.close,
.alert-danger button.close{
font-family: 'Open Sans';
margin-top: 0;
margin-right: 0;
left: 0 !important;
top: 0 !Important;
}
@media only screen and (max-width: 992px) and (min-width: 600px){
.product-odd ,
.service-odd,
.service-even,
.product-even{
margin-left:0
}
}

@media (max-width: 992px) {
.cleardiv{
clear:both;
}
}

/*.modal{
overflow:hidden;
}

.modal-dialog{
padding-top:0;

}*/
.back-btn a,
.userlinks a,
.panel-body.accordion a{
color:#333;
}

.place-password{
position:absolute;
top:7px;
left:13px;
color:#555;
font-size:13px;
z-index:1;
}


.passwrap{
position:relative;
}
.passwrap input{ background:none !important; background:transparent !important; position:relative; z-index:2;}

.topnav-right a .top-icon7 {
    background: url('../images/house-icon.png') no-repeat;
    padding: 12px;
    width: 38px;
    float: left;
	background-size:22px;
	background-position: bottom right;
}
.topnav-right a .top-icon8 {
    background: url('../images/quote-icon.png') no-repeat 18.433% 33.273%;
    padding: 14px;
    width: 28px;
    float: left;
	background-size:22px;
	background-position: bottom right;
	cursor: pointer;
}
.topnav-right a .top-icon7, .topnav-right a .top-icon8{
display:inline-block;
vertical-align:middle;
float:none;
}
.topnav-right a .toplink7,.topnav-right a .toplink8 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.topnav-right a.menu7, .topnav-right a.menu8 {
 color: #525151;
}
.topnav-right a.menu8 {
cursor:pointer;
}
.energy-star.waterSense {
  font-size: 16px;
}

@media only screen and (max-width:700px) {
.non_mobile_dev .top-bar li{margin: 0 0 0 0;}
.non_mobile_dev .top-prog{ font-size:11px; width:75px;}
.non_mobile_dev .top-bar-wrap{ margin: 0 0;}
.non_mobile_dev .top-bar{ margin-left:80px;}
.non_mobile_dev .px-BtmBox{top: 50px !important;}
.non_mobile_dev .px-phoneimgwrap{height: 700px;}
.non_mobile_dev .px-phoneimg{ height:700px;}
.non_mobile_dev .px-ImageBg{ width:auto; height:100%;}
.non_mobile_dev .touch .px-phoneimgwrap .btn.btn-warning.btn-touch{ top:85.5%;}
.non_mobile_dev .top-bar-wrap {display: block;}
.non_mobile_dev .mainnav-home {display: block;}
.non_mobile_dev .col-md-4.logo{ float:none;}
.non_mobile_dev .topnav-right{ margin-top:0px; margin-bottom:15px}
.non_mobile_dev .welcome-links {text-align: left;margin: 0 0 13px !important;}
.non_mobile_dev .leftarrow {height:51px;}
}
html {
    -ms-overflow-style: scrollbar;
}
.car-menu {
    overflow:hidden;
}

.ie-all #fat-menu{ padding-right:0;}

/*.col-md-3.space {
    padding-top:0 !important;
}*/


@media (min-width:768px) and (max-width: 1024px){
.mandatory-txt {
width: auto;
}
.headerlabel{
padding:20px 0;
}

}

.sub_newsletter.top-prog a {
    display: block;
    font-size: 17px;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
.sub_newsletter.top-prog a  span{
	display: block;
    font-size: 12px;
}
.topnav-right .sub_newsletter.top-prog {
	display: inline-block;
    margin-left: 15px;
	position: relative;
    top: 10px;
    width: 110px;
}
.topnav-right .sub_newsletter.top-prog a {
    font-size: 12px;
    line-height: 14px;
}
.topnav-right .sub_newsletter.top-prog a span {
    font-size: 10px;
}
@media only screen and (min-width: 768px) and (max-width:1024px) {
	.topnav-right {
		margin: 6px 0 0;
	}
}
@media only screen and (min-width: 768px) and (max-width:971px) {
	.topnav-right .sub_newsletter.top-prog {
		float: none;
		margin: 0;
		padding: 0;
		top: 6px;
		width: 95px;
	}
	.topnav-right .sub_newsletter.top-prog a {
		font-size: 10px;
		line-height: 12px;
	}
	.topnav-right .sub_newsletter.top-prog a span {
		font-size: 8px;
	}
	.container.productlisting-container .header > .col-md-8.col-sm-8 {
		padding: 0 !important;
	}
	.container.productlisting-container .topnav-right {
		right: 8px;
		top: 0;
	}
	.productlisting-container .topnav-right .toplink1, .productlisting-container .topnav-right .toplink2, 
	.productlisting-container .topnav-right .toplink3, .productlisting-container .topnav-right .toplink6 {
		margin: 0 5px 0 0;
	}
	.productlisting-container .topnav-right .collapsableMenu .top-icon6 {
		margin-left: 0;
	}
}
@media only screen and (min-width: 972px) and (max-width:1024px) {
	.topnav-right .sub_newsletter.top-prog {
		top: -5px;
	}
	.homepg .topnav-right {
		margin: 27px 0 0;
	}
	.productlisting-container .topnav-right .sub_newsletter.top-prog {
		top: 10px;
	}
}
@media only screen and (min-width: 320px) and (max-width:340px) {
	.productlisting-container .topnav-right .collapsableMenu .top-icon6 {
		margin:10px 0 0 0;
	}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.topnav-right .sub_newsletter.top-prog {
		float: none;
	}
}