@media only screen and (max-width:700px) {
    

    .mainmenu-icon6 {
        width: 59px;
        height: 40px;
    }

    .search {
        width: 59px;
        height: 40px;
        padding: 0;
        top: 54px;
    }
}
@media (max-width: 767px) {
.top-bar-wrap {
        display: none;
    }

    .mainnav-home {
        display: none;
    }
.col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-6.pns_left,
    .col-md-6.pns_right,
    .container,
    .categog-second .col-md-3.space,
    .categog-second .col-md-12.space {
        padding-left: 15px;
        padding-right: 15px;
    }
.foot-top-right {
padding-left:15px;
padding-right:15px;
margin-left:0;
	margin-right:0;
}
/*inner page middle menu*/
.aboutmenu-container #menu-middle-menu li a {
padding: 8px 7px;
}
ul.innermenu li.abtmenu-active a, ul.innermenu li.abtmenu a	{
padding: 8px 7px 8px 7px;
display: block;
font-size: 13px;
}
ul.innermenu li.abtmenu.abtmenu{
top:0;
z-index:5;
}
.aboutmenu-container {
height: 51px;
font-size: 13px;
}
.menus.innermenu{
padding: 0 0;
overflow: hidden;
}

.mainmenu-icon{
background-position:-1.567% -5.727%;
}
.col-md-2.mainmenu1,
.col-md-2.mainmenu2,
.col-md-2.mainmenu3,
.col-md-2.mainmenu4,
.col-md-2.mainmenu5,
.col-md-2.mainmenu6{
border-bottom: 4px solid #fff;
padding:0 0 10px 0;
}

.col-md-2.mainmenu1:hover,
.col-md-2.mainmenu2:hover,
.col-md-2.mainmenu3:hover,
.col-md-2.mainmenu4:hover,
.col-md-2.mainmenu5:hover,
.col-md-2.mainmenu6:hover{
padding:0 0 10px;
}

.row.bgfill{
height:auto;
margin-bottom: 15px !important;

}
.innner-menu-panel{
position:relative;
}
.footlinetop.horizontal-line-divider{
height:13px;
margin-bottom: 0;
background-color:#fff;
}
.homfoot.footlinetop.horizontal-line-divider{
position: absolute !important;
top: -13px;
left: 0;
background-color:transparent;
}
.socialfooter .horizontal-line-divider{
height:13px;
margin-bottom:0;
margin-top:-8px;
}
.footermenu-container{
left:0;
}


.contact-form-container{
padding-top: 0;

}
.headerlabel{
padding-left: 15px;
padding-right: 15px;
}
.contact-form-container .form-group {
width: auto;
margin: auto;
padding: 0 30px 0 15px;
}
.login-form-container .form-group {
width: auto;
margin: auto;
padding: 0 ;
}
.search{
top: 0;
width: 47px;
height: 46px !Important;

}
.search-area{
position:absolute;
right:0;
top:0;
width: 47px;
height:46px;
}
.top-search{
background-position:-432px -64px;
}
.col-md-4.logo{
padding:7px 15px !important;
text-align:center;
}
.form-group {
padding: 0 0;
width: auto;
}

.content .col-md-1, .content .col-md-2, .content .col-md-3, .content .col-md-4, .content .col-md-5, .content .col-md-6, .content .col-md-7, .content .col-md-8, .content .col-md-9, .content .col-md-10, .content .col-md-11, .content .col-md-12{
padding-right:15px;
padding-left:15px;
}
.form-control{
width:100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;

}
.radio-group{
margin: 5px 0 0 0;
}
.fp-submit-btn{
margin-left:0;
}
.offset-top-1{
padding-left:0 !important;
padding-right:0;
margin-left:0;
}
.form-contact-method a{
padding:0;
}
.rac-radio.col-md-3{
padding-left:0;
}
.row.bgfill.content{
width:100%;
}
.login-form-container{
width:auto;
left:0;
top:0;
}
.contact-form-container{
width:auto;
left:0;
top:0;
}
.contact-form-container .col-md-8.text-align1{
padding: 0 !important;
}
.login-form-container .col-xs-12.text-align1 {
padding-left:0;
}
.login-form-container .col-md-4.text-align1 {
padding-left: 0;
padding-right: 0;
margin-right: 15px;
}
#frm_message_us_online .col-md-4.text-align1 {
padding-left: 0;
}

/*heaer for all*/
.row.header{
/*height: 122px;*/
height: auto;
}
.topnav-right{
margin-top: 12px;
margin-bottom: 12px;
}
.col-md-6.social-left, .col-md-6.foot-top-right{
display:block;
}
.mainmenu-icon6{
height: 46px;
margin-top: 1px;
}
.col-md-4.logo{
height:auto;
}
.col-md-4.logo img{
margin: 0 0 0 0;
}
.row.header .col-md-8.col-xs-12{
border-top: 1px solid rgb(167, 162, 162);
float: left;
width: 100%;
border-bottom:1px solid rgb(167, 162, 162);
background: #edecec;
display: inline-block;
position:relative;
}
.row.header
{
border-bottom:0;
background: #edecec;
z-index: 9;
}
.row.headersession{
background: #edecec;
}
.row.headersession{
/*height: 45px;*/
height: auto;


}

.back-btn{
margin-top: 17px;

}
.col-md-4.back-btn{
position: absolute;
top: 0;
right: 0;
z-index:9;
font-size: 12px;
left:auto;
padding-top:0;
}

.col-md-4.back-btn.forgrtpass{
right:30px;
display:none;
}
.headerlabel {
font-size: 18px !important;
font-weight: 300  !important;
line-height:26px !important;
}
.col-md-4.back-btn img{

margin-top: -2px;

}
.collapsablefooterMenu .top-icon4{
margin-left: 0;
}
.row.headersession{
margin-top:0;
position:relative;
}

/*privacy policy & credit */
.cs-content-align1{
margin-right: 15px;
margin-left: 15px
}
.cs-drop-shadow{
margin: 0 0 15px;
width: auto;
}
.row.careerscontent  .cs-top-spacer-1 .cs-content-heading2{
padding-left:0;
}

.cs-top-spacer-1{
margin-left:0
}
.content-container {
width: auto;
margin: 0 0;
margin-bottom: 20px;
}

/*energy-and-water-associates*/
.row.bgfill.content{
width: auto;
margin:-15px;
}
.col-md-11.gallery-offset .col-md-12{
padding-right: 0;
}
.col-md-11.gallery-offset .col-md-3.col-padding{
margin:0 0 15px 0;
padding-left:15px;
padding-right:15px;
}
.gallery-offset{
margin:0;
}
.headerlabel{
margin-left:0;
padding:12px 45px 12px 0;
line-height: 26px;
float: none;
width: auto;
height: auto;

position: relative;
}
.col-md-6.bcs.inBread,
.breadcrumbs.inBread{
display:none;
}
.topspacer{
margin-top: 15px;
padding-top: 20px
}
/*news----------------footer copy*/
.page-spacing{
padding:0;
}
.headerlabel1, 
.careers-content-1 li{
padding-left:0;
}
.cs-content-heading2.page-spacing{
padding-left:0;
}
.headerlabel2{
padding: 0;
}
.div-line2,
.div-line{
width:100%;
}
.col-md-12.aboutbanner{
padding: 0 15px;

margin: 0 -15px;
}
.foot-bot-left ul li.abtmenu-active a{
padding: 9px 15px 9px 15px;
float: none;
font-size:14px;
}
.foot-bot-left ul li.abtmenu-active a:hover{
padding: 9px 15px 9px 15px;
}
.footer-sub-menu1 li.menu-item,
.footer-sub-menu1 li.submenu-btn{
padding: 0;
color:#fff;
}
.footer-sub-menu1 li.menu-item a,
.footer-sub-menu1 li.submenu-btn a{
padding: 7px 15px;
color:#fff;
display:block;
}
.footer-sub-menu1 li.menu-item a:hover,
.footer-sub-menu1 li.submenu-btn a:hover{
padding: 7px 15px;
}
.career_linktext {

width: auto;
display: block;
}
.careers-content-1{
margin-bottom: 30px;
}

/*t&c*/
.mainnav-subpage, .topnav-right{
display: block;
}
.topnav-right{
top: 0;
float: left;
}

/*case*/
.cs-content-1{
padding-left:0;
}
.suggest-txt{
padding-bottom:15px;
}
.cr-paragtxt1,
.cr-paragtxt3{
width: 100%;
}
.cr-divider{
width: 100%;
margin: 10px 0 0 0;
}
.cr-divider img{
width: 100%;
left:0;
top:0;
}
/*footer*/
.footermenu-container{
top:0;
width:auto;
padding-top:10px;
padding-bottom:10px;
}
.top-icon4{
padding: 14px;
width: 18px;
float: none;
height: 19px;
padding: 0;

background-position: -53px -92px;
}
.collapsablefooterMenu{
display:inline-block;
}
.footer-sub-menu1{
z-index: 14;
}
.toplink4,
.top-icon4{
display:inline-block;
vertical-align:middle;
}
.foot-copy{
margin:0;
padding:0;
}
.page-footer{
position:relative;
}
.page-footer .col-md-3.foot-bot-right{
float: right;
width: auto;
padding-top: 17px;
line-height: 16px;
margin: 0;
padding-right: 15px;
}
.page-footer .col-md-9.foot-bot-left{
width: auto;
padding-top: 13px;
padding-bottom: 13px;
float:left;
padding-right:0;
}
.footermenu-container{
top: 0;
padding:0;

}
.foot-social{
margin-right: 0;
text-align: center;
display:block;

}
.foot-contact{
margin-top:15px;
text-align: center;
}
.foot-social, .foot-contact{
display:block;
}
.foot-top-right .control-label{
display: block;
margin: 0 7px 0 0
}
.footeline2.horizontal-line-divider{
margin-bottom: 0;
margin: 0 -15px;
width: auto;
float: none;
}
.foot-top-left.col-md-6{
padding-top: 8px;
}
.foot-contact li{
display:inline-block;
margin: 0 15px 0 0;
}
.foot-form{
text-align:center;
}
.foot-top-right.col-md-6{
padding-bottom: 11px;
}
.foot-form .form-control-nl{
width: 100%;
}
.foot-form{
display: block;
padding-right: 0;
position: relative;
}
.foot-form .newsletter-btn{
position: absolute;
top: 1px;
right: 0;
}
/*pands*/
.col-md-6.pns_left {
margin: 0;

padding-top: 15px;
}
.col-md-6.pns_right{
margin: 0;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
}
.col-md-12.aboutbanner{
display:block;
}

#programs_services h2{
margin: 0 !important;
padding: 0;
width: auto !important;
float: none;
}
#programs_services ul{
padding:0 0 15px 19px ;
}
#programs_services h3{
margin: 15px 0 0  !important;
padding: 0;
width: auto !important;
float: none;
}
.contactdetail-txt{
width: 100%;
margin: 0;
}

/*beadcrump*/
.breadcrumb{
display:none;
}
.aboutmenu-container{
display:block;
position: relative;
z-index: 3;
}
.am_conversion{
margin:0;}

/*home middle menu*/
.car-menu{
margin: -50px 0 0 0;
}
.leftarrow{
height:51px;
background-position: left -3px;
}
.leftarrow-inner{background-image: url('../images/product-table-arrow.gif') ; width:38px; height:51px; left:inherit; right:0px; top:0; background-repeat:no-repeat; background-position:left top; position: absolute; z-index:4; cursor:pointer;}
.SlideOnn {
background-position: left -61px;
}
.slider{
margin-left:-15px;
margin-right:-15px;
}

/*header*/
.topnav-right{
margin-right: 0;
right:auto;
height:auto;
width: 100%;
display: inline-block;
}
.menu1, .menu2, .menu3, .topnav-right .collapsableMenu{
display:inline-block;
vertical-align:middle;
margin-right:13px;
top:0;
}

.topnav-right .collapsableMenu{
float: right;
margin-right: 40px
}
.top-icon,
.top-icon2,
.top-icon3{
padding:0 !important;

}
.top-icon{
width:18px;
height:19px;
background-position:-2px -52px;

}
.top-icon:hover{
background-position:-2px -131px;
}
.top-icon2{
width:22px;
height:19px;
background-position:-52px -51px;
}
.top-icon2:hover{
background-position:-52px -130px;
}
.top-icon3{
width:18px;
height:19px;
background-position:-99px -51px;
}
.top-icon3:hover{
background-position:-99px -130px;
}
.mainmenu-icon6{
width:46px;
}
/*about*/
.aboutcontent-container{
margin-bottom: 0;
}
.contact-container{
margin-bottom:20px;
margin-left: 0;
margin-right: 0;
}
/*alert*/
.alert-warning{ 
width:auto;
}
.alert {
width: auto;
margin: 25px 0 25px;
}

/*footer*/
.newlet_right{
display: block;
margin: 7px 0 0;
padding: 0 35px 0 0;
position: relative;
}

.container{
padding-right:15px;
padding-left:15px;
}

.page-footer .col-md-6, .page-footer .col-md-3, .page-footer .col-md-9{
text-align:left;
}
.row.content-session{
width: auto;
margin: 20px -15px;
}
.col-md-9.topspace,
.col-md-3.space,
.col-md-9.space,
.products .col-xs-12.col-sm-12{
padding-left:15px;
padding-right:15px;
}

.headerrow{
margin-top:0;
}

.leftarrow{
z-index:14;
}
.am-header{
margin-top:0;
}
.modal-dialog{
padding-top: 15px;
}
.am-header{
margin-bottom: 15px;
}
.dot{
top: 3px;
}
.foot-form #closeButton{
right: -5px;
top: 0;
}
/*conservation energy*/
.cr_data1 {
width: 50%;
margin: 0 0;
}
.cr_data2{
display: none;
margin: 0 0;
}
.cr-headertxt3{
padding-left: 0;
padding-right: 15px;
}
.col-md-12.cr_right{
padding-left: 0;
padding-right: 0;
}
.leftarrow{display:block;}
.product_pad{padding-left:0; padding-right:0px; overflow:hidden;}
.prd-listing{margin:10px 0;}
.modal-header-rac .close{width:30px; height:30px;}
}

.search-panel .search-form-field{
text-align:right !important;
}
@media (max-width: 780px) and (min-width: 400px){

/*energy-and-water-associates*/
.col-md-3.col-padding{
width: 50%;
}

}
@media (max-width: 767px){
.container .container{ 
	padding-left:0;
	padding-right:0;
}
/*inner middle pages*/
.back-btn{ display:block;}
.abt-caption,
.abt-parag,
* .faq-caption,
.cs-drop-shadow{
	width:auto;
}

ul.cr-ulist,
ul.cr-ulist2,
.careers-content-1 ul,
#programs_services ul ,
#product_content ul{
	padding: 0 15px 0 18px;
}
.cr-headertxt3,
.cr-headertxt4,
.suggest-txt,
.cs-content-1,
.cs-drop-shadow,
.cs-top-spacer-1,
.cs-content-align1,
.pns-headertxt,
.readmore_link{
	margin-left:0;
	margin-right:0;
}
.row.careerscontent,
.cs-content-1,
.cs-content-heading2,
.careers-content-1 li,
.pns-paragtxt,
.pns-headertxt,
#programs_services ul li,
.container .mainnav-subpage,
.categog-second .space

{
	padding-left:0;
	padding-right:0;
}
#product_content{
	padding-left:0 !important;
	padding-right:0 !important;
	font-size: 13px;
}
#product_content ul li{ margin:0 ;}
.career_linktext,
.pns-paragtxt,
#programs_services h2,
#programs_services h3,
.gallery-offset,
{
	padding-left:0;
	padding-right:0;
	width:auto;
	margin-left:0 !important; 
	margin-right:0  !important;
}


ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5{
width: 100% !important;
}
}
/*8 Jan 2014 by deen*/
.menu_pos{position:relative;}
.midmenu-Back-btn {display: block;padding: 7px;width: 90px;background: black;color: white;text-align: center;}
a.midmenu-Back-btn:hover{color:#fff;}
.menu-on{ left:0 !important;}
.menu-off{left:100%;}
.f-menu-on{ right:0 !important; margin:0 !important;}
.f-menu-off{ right:100% !important; margin:0 !important;}
.modal-content-rac {min-height: 226px;}
/*10 jan 2014 by deen*/
.nw_amcpop_btn{margin-left:38%; float:left; width:85px;}

.nw_amc_pop_bx{left: 26%;top: 38px;}
.close{z-index:1;}

.bodyrow {display: block;}
.panel-title{ width:100%;}
.bodyrow{ padding-left:15px; padding-right:15px;}
.panel-body.accordion{padding-left:0;}
.compare-container{font-size:9px;}
.compare-container .addlabel{ top:3px;}
.btn.btn-default.home1 {
width: 100%;
padding: 0px;
padding-top: 10px;
padding-bottom: 10px;
}
.am-header{font-size: 22px;}
.col-md-12.parallexbg{padding: 0 15px;height: 410px;}

.px-phoneimg{padding: 0 15px;}
.product-even,
.product-odd{white-space: normal;
text-overflow: inherit;}
.footer-sub-menu1{
margin:0;
top:0 !important;
right: 100%;
left: auto;
}

.footer-sub-menu1 {overflow: scroll;
overflow-x: hidden;}

.contact-form-field,
.contact-form-field2{
margin-bottom:20px;
}
ul.parsley-error-list {
padding: 0;
margin: 0 0 15px 0;
width: 100%;
float: left;
}

.parsley-error-list li {
    margin:0 0 0 0 !important;
    padding:0 !important;
}
.rac-radio, .rac-checkbox{
padding-right: 20px;
padding-left: 0;
}
.panelAccordTitle .panel-title,
.panelAccordTitle.collapsed .panel-title{
margin: 1px 0;
}

.faq-mob-cont .panel-body{
padding-right: 0;
padding-left: 0;
}
.faq-mob-cont .panel-heading{
padding-right: 0;
padding-left: 0;
}
.testimonials  .cs-pos-content-heading1{
padding-left: 0;
padding-bottom: 15px;
}
.testimonials  .modal-body{
top:0;
}
.testimonials  .modal-header-rac{
padding: 0 15px !important;
}
.write_testimonials{
margin-right: 15px;
margin-left: 15px;
width: auto;
}
.rc-form-container{
width:auto;
left: 0;
}

.accordion-toggle.collapsed h4.panel-title{
background: url('../images/accordion-downarrow.png') no-repeat 97% 50%;
}
.pd-content-heading-top{
padding: 12px 45px 12px 0;
}
.product-details-top-container{
position:relative;
}
.productdetails-content-heading-po{
padding: 0;
margin:10px 0;
}
.table-prddisplay-container{
padding-left:0;
}
.quotebuttons .pad{
margin:0;
}
.productdetails-content-grey-heading{
width:auto;
}
.col-md-9.space .col-md-2{
padding: 0 15px;
}
.leftarrow {
right: 0 !important;
}
.login-form-container.logmobile{
padding: 20px 0 0;
}
.prd-desc-list ul.products{
	padding:0;
	width:100%; float:left;
}
.prd-desc-list li{
padding-left:15px !important;
padding-right:15px  !important;
}
.prd-desc-list .pd-gallery {
width: 100%;
height: auto;
}
#product_main_image{
max-width: 100% !important;
border-bottom: 2px solid #B8B8B8;
}
.productdetails-content-heading3{
color: #f4911e;
font-weight: bold;
}
.bigclose2{
padding:0;
}
.rc-container {
padding-top: 20px;
padding-bottom: 20px;
}
.row.compare{
width:auto;
margin: 0 -15px;
margin-bottom: 20px;
}
.headerlabel .back_btn{
position: absolute;
right: 0;
}
.gallery-offset{
padding-top: 20px;
}
.gallery-offset {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
.contact-form-field3{
margin-top: 0;
}	
.row.header .col-xs-12.dashboard{
border-top:none;
display: inline-block;
}
span.userlinks{
display: inline-block;
padding-bottom: 10px;

}
.userlinks a{
font-size: 13px;}
span.username{
display: block;
padding: 5px 15px;
border-top: 1px solid #ccc;
margin: 0 -15px;
font-size: 13px;
font-weight: bold;
}
.toplink1,
.toplink2,
.toplink3{
display:none;
}
.userlinks a{
padding: 0 0;
}
.panel-group .panel{
margin-bottom:0;
}
}

.modal
{
z-index: 9999;
}
.modal-dialog{
z-index:10000;
}

@media (max-width: 767px){
.product-compare-container {
height: inherit;
padding: 17px 5px;
}

}

