/* _____ [1] GLOBAL ________________________________________________________ */

body {
	width: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;;
	overflow-x:hidden;
}
li{
	list-style-type: none;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;;
	font-weight: normal;
}

-----------------------------------------------------------------------------
.logo {
	padding: 12px 0 0 0 !important;
}

.navbar-inverse{	
	background: url('../images/top_bg.png') repeat-x 0% 0%;
	/*height: 77px;*/
	border:0px !important;
}
.col-md-4.menu1 {
	position: relative;
	top: 27px;
	float: left;
	width: 20%;
}
.col-md-4.menu2 {
	position: relative;
	top: 27px;
	float: left;
	width: 25%;
}
.col-md-4.menu3 {
	position: relative;
	top: 27px;
	float: left;
	width: 29%;
}
.menu1 {
	position: relative;
	top: 27px;
	float: left;

}
.menu2 {
	position: relative;
	top: 27px;
	float: left;

}
.menu3 {
	position: relative;
	top: 27px;
	float: left;

}
.top-icon{
	background: url('../images/spritesheet.png') no-repeat -3.567% 51.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.top-icon2{
	background: url('../images/spritesheet.png') no-repeat 8.433% 51.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.top-icon3{
	background: url('../images/spritesheet.png') no-repeat 18.433% 51.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.topnav {
	margin-bottom: 0;
	list-style: none;
	width: 62%;
}
/*.topnav-right {
	position: relative;
	left: 199px;
}*/
.topnav-right {
	position: relative;
	right: 34px;
	float: right;
}
.mainnav{
	background: #e9e8e8;
	height: 77px;
	margin: 11px 0 0 0;
	position: relative;

}
/*.col-md-2.mainmenu1 {
	position: relative;
	top: 4px;
	float: left;

}*/
.col-md-2.mainmenu1 {
	position: relative;
	top: 4px;
	float: left;
	width: 17%;
	padding: 0 2px 0 0;
	margin: 0 0 0 9px;
}
.mainmenu-icon{
	background: url('../images/spritesheet.png') no-repeat -3.567% -10.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon2{
	background: url('../images/spritesheet.png') no-repeat 9.433% -10.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon3{
	background: url('../images/spritesheet.png') no-repeat 21.433% -10.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon4{
	background: url('../images/spritesheet.png') no-repeat 33.433% -10.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon5{
	background: url('../images/spritesheet.png') no-repeat 44.433% -10.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon6{
	background: url('../images/spritesheet.png') no-repeat  99.433% 101.273%;
	padding: 14px;
	width: 48px;
	height: 81px;
	float: left;
}
.mainmenulink {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 11px;
	left: 7px;
	width: 100%;
}

.prog-link {
	background: #525151;
	width: 145px;
	height: 77px;
	color: #fff;
	padding: 20px 36px 0 44px !important;
	margin: 0 0 0 21px;
}
.search {
	width: 4%;
	float: right;
	position: absolute;
	right: 38px;
	top: 0px;
}
.car-menu {
	background: #e9e8e8;
	height: 52px;
	margin: -52px 0 0 0;
	position: relative;

}
.carmenus {
	width:70%;
	height: 50px;
	margin: auto;
}
ul
.menusession{
 	width:90%;
 	margin:0 auto;
}
.menu {
	float: left;
	padding: 0px 15px 0 20px;
	border-right: 1px solid #ccc;
	height: 31px;
	position: relative;
	top: 12px;
}
.menulast {
	border-right: none;
	float: left;
	padding: 0px 15px 0 20px;
	height: 31px;
	position: relative;
	top: 12px;
}
.caro-menulink {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 11px;
}
.menu-container{
	width:100%;
	margin:0 auto;
}
.am_conversion {
	background: #f4911e;
	height: 240px;
	margin: -20px 0 0 0;
}
.am-container{
	width: 64%;
	margin: 0 auto;
	text-align: center;
}
.am-header {
	padding: 12px;
	width: 61%;
	margin: 20px auto;
	margin-bottom: 28px;
	color: #fff;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}
.dot {
	background: url('../images/spritesheet.png') no-repeat 54.433% 58.273%;
	padding: 14px;
	width: 48px;
	height: 49px;
	position: relative;
	top: -26px;
}
.yourone-txt {
	color: #fff;
	font-size: 16px;
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	margin-top: 14px;
	margin-right: 13px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-default {
	color: #FC9B0B !important;
	background-color: #525151 !important;
	font-size: 16px !important;
}
.arrowicon {
	background: url('../images/spritesheet.png') no-repeat 86.433% 50.273%;
	padding: 29px;
	width: 51px;
	height: 51px;
}
.programs-container{
	background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
	background-size: 100%;
	height: 404px;	
}
.col-md-6.social-left {
	background: #ccc;
	height: 47px;
	margin: -7px 0 0 0;
}
.social-container{
    position:relative;
    top:18px;
    left: 12px;
    width: 130%;

}
.p-icon{
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon{
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;	
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 171px;
	width: 100%;
}
.bs-example.twinbtn {
	width: 102%;
}
.phoneno{
	float:left;
	width:30%;
}
.catalog{
	float:left;
}
.bottom-icon1{
	background: url('../images/spritesheet.png') no-repeat 31.433% 51.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.bottom-icon2{
	background: url('../images/spritesheet.png') no-repeat 42.433% 51.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: -7px 0 0 0;
}
.col-md-4.control-label {
	color: #fff;
	padding: 15px 0 0 24px;
	font-size: 13px;
}
.col-md-2.control-label {
	color: #fff;
	width: 34%;
	padding: 14px 0 0 0;
	margin: 0 0 0 24px;
}
.form-control {
	display: block;
	width: 224px;
	height: 34px;
	margin: 7px 0 0 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 104.273%;
	padding: 30px;
	width: 51px;
	height: 51px;
	position: relative;
	left: 234px;
}

.content-top-container{	
	
	 height: 146px;
    /*width: 1024px;
	*/
  	background-color: #56a1d5;	
}

.content-bg-container{	
	
	 height: 21px;
    /*width: 1024px;
	*/
  	background-color: #edecec;	
}

.gallery-left{	
	
	width: 145px;



	margin: 0 0 0 21px;
	
	
	 height: 275px;
	 margin: 0 0 0 21px;
    /*width: 1024px;
	*/
  	background-color: #edecec;
}

.gallery-center{	
	
	 height: 275px;
    /*width: 1024px;
	*/
  	background-color: #ddd;	
}

.gallery1,.gallery2,.gallery3,.gallery4,.gallery5,.gallery6,.gallery7,.gallery8{
	 width: 219px;
	height: 189px;
   	background-color: #ddd;	
	
	
	
		
}


.view-category{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	/*padding: 30px 30px;	*/
	margin: 5px 5px;
	text-align:center;
	
}



.gallery-image{	
	position:absolute;
	left:0px;
	top:0px;
	 width: 219px;
	height: 189px;
    /*width: 1024px;
	*/
  	background-color: #ddd;	
	/*background: url('../images/02-AMC_Product-page_final_27092013_05.png');*/
}



.desc{
	position: relative;		
	height: 86px;
	width: 219px;
	background-color: #edecec;
}

.category-mouseover-btn{
	width:149px;height:41px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;border:1px solid #DCDCDC;background-color:#F4911E;-webkit-box-shadow: #cccccc 2px 2px 2px;-moz-box-shadow: #cccccc 2px 2px 2px; box-shadow: #cccccc 2px 2px 2px;position:relative;left:50px;top:50px;
	
}



.gallery-content {
	color: #525151;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	/*padding: 30px 30px;	*/
	margin: 5px 5px;
	text-align:center;
	
}

.gallery-content-heading {
	color: #525151;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	margin: 5px 5px;
	/*padding: 30px 30px;	
	*/
	text-align:center;
	
}

.row.bgfill{
	background-color: #edecec;
}

.topspacer{
	margin-top:21px;
}

.col-md-2.gallery-spacer {
	position: relative;
	
	float: left;
	width: 20%;
	padding: 0 2px 0 0;
	margin: 0 0 0 22px;
}
.content-top{	
	text-align:center;
	
	margin: 30px 30px;
    

}
.content-main{	
	text-align:center;
	
	margin-top: 10px;
	padding: 0px 25px;
    

}

.subheader-content-heading {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 11px;
	left: 7px;
	width: 100%;
	text-align:center;
	
}

.subheader-content {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	padding: 30px 30px;	
	margin: 10px 50px;
	text-align:center;
	
}

.row.footerbg {
	background: #777777;
}
.foot-container{
/*	background: #777777;*/
	height: 44px;
}
/*..bot ul {
	list-style: none;
	background-color: #777777;
	height: 46px;
}*/
.bot {
	float:left;
	padding: 12px 0 0 0;
	color: #b3b3b3;
	font-size: 11px;
	margin-left: -27px;
}
.foonav {
	padding: 0px 0 0 3px;
	display: inline;
	color: #b3b3b3;
}
.foonav a {
	color: #b3b3b3;
	padding-right: 4px;
}
.subnav_web_templates {
	padding: 12px;
/*	background: #777777;*/
	color: #b3b3b3;
	font-size: 11px;
	float: right;
	line-height: 9px;
}
/*------------------------  carousel  -----------------------------------------------*/
.img_container{
	width:960px;
	margin:0 auto;
}
.picture_a{
	/*position: absolute;*/
}

.clearfix {
	float: none;
	clear: both;
}
a.prev, a.next, .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
	background: url('../images/spritesheet.png')  no-repeat transparent;
	width: 48px;
	height: 49px;
	
	top: 50%; margin-top:-24px; 
}
a.prev, .flex-direction-nav .flex-prev {
	
	background-position: -242px 0px;text-indent:-999em;
}
a.next , .flex-direction-nav .flex-next{
	
	background-position: -288px 0px;text-indent:-999em;
}


/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */

@media (min-width: 1200px){
	.container {
		max-width: 100%;
	}
	.col-md-4.logo{
		padding:12px 0 0 0;
	}
	.carmenus {
		width: 37%!important;
		height: 50px;
		margin: auto;
	}
/*	.col-md-4.mainmenu1 {
		position: relative;
		top: 27px;
		float: left;
		width: 28%;
	}*/
}	
@media (min-width: 992px){
	.container {
		max-width: 100%;
	}
	.col-md-4.logo{
		padding:12px 0 0 16px;
	}

	.col-md-1 {
	padding: 0;
	}
	.col-md-2 {
	padding: 0;
	}
	.col-md-3 {
	padding: 0;
	}	
	.col-md-4 {
	padding: 0;
	}
	.col-md-5{
	padding: 0;
	}
	.col-md-6{
	padding: 0;
	}
	.col-md-7 {
	padding: 0;
	}	
	.col-md-8 {
	padding: 0;
	}	
	.col-md-9 {
	padding: 0;
	}
	.col-md-10 {
	padding: 0;
	}
	.col-md-11 {
	padding: 0;
	}	
	.col-md-12 {
	padding: 0;
	}	
	.carmenus {
	width: 70%;
	height: 50px;
	margin: auto;
	}
}	
