#mcts1 
{
    

	width:100%;
    height:400px;
  /*  margin: 0 auto;*/
    padding:0px 0px;
   /* border:1px solid #dedcb4; background:#f2f1ea url(loading.gif) no-repeat 50% 50%;
    box-shadow: 0px 1px 11px #CCCCCC;*/
   
    
    /* Do not alter the below settings */
    white-space:nowrap;
    position:relative;
    font-size:0px;
	z-index:1;
	margin-left: 9%;
/*margin-right: 4.5%;*/
}

#mcts1>* {display:none;}
  
/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item 
{
    padding: 7px;
    margin-right:0px; /* this specifies the distance between each thumbnail */
    /*background-color:White;*/
    /*border:1px solid #ddd;*/
    text-align:center;
    position:relative;
}


#mcts1 img 
{
    border:none;
	
}


/*---------built-in navigation buttons-------*/
.nav-Prev, .nav-Next,.nav-PrevDisabled, .nav-NextDisabled
{
    width:40px; height:40px; 
/*	position:absolute;  */
    background:url(../images/nav_buttons.png); 
    display:inline-block; z-index:5; cursor:pointer;
	}
/*#mcts1 .navPrev {background-position:0 -22px;top:60px;left:-40px;}
#mcts1 .navPrev:hover {background-position:0 -44px;}
#mcts1 .navPrevDisabled, #mcts1 .navPrevDisabled:hover {background-position:0 0;cursor:default;}*/

.nav-Prev {

background-position: 0px 41px;
}



.nav-Prev:hover {
	
	background-position:0px 82px;

/*visibility:hidden;*/
}
.nav-PrevDisabled, .nav-PrevDisabled:hover {
width:40px; height:40px; 
	background-position:0px 0px;cursor:default;
	/*visibility:hidden;*/
	}

 .nav-Next {
	
	background-position: 41px 41px;

	/*visibility:hidden;*/
	
	} 
 .nav-Next:hover {
		background-position:41px 82px;

	/*visibility:hidden;*/} 
 .nav-NextDisabled, #mcts1 .nav-NextDisabled:hover {
	 
	
	background-position: 41px 0px; width: 40px;  height: 40px;
	cursor:default;
	/*visibility:hidden;*/} 

#mcts1 .navPause, #mcts1 .navPlay {left:360px;top:130px;}
#mcts1 .navPause {background-position:0 -66px;} 
#mcts1 .navPause:hover {background-position:0 -88px;} 
#mcts1 .navPlay {background-position:-16px -66px;} 
#mcts1 .navPlay:hover {background-position:-16px -88px;} 

.nav-Prev, .navPlay, .navPause, .nav-Next 
{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}
       
/*---------built-in navigation bullets--------*/
/* Note: the navBullets won't be available when "scrollByEachThumb" was set to false in the Javascript.*/
#mcts1 .navBullets
{
    display:none;
}

/*--------- class1 that is for the slide with HTML content------------*/
.class1 
{
    width:150px;
    height: 400px;   
    text-align:center;    
    font:normal 11px/14px Arial;
    white-space:normal;
}

.class1 p
{
    margin-top:0;
    margin-bottom:6px;
    padding-top:6px;
    font:bold 13px Verdana;
    color:#F90;
}


/* --------- Others ------- */
#mcts1
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}


