#wrap{
	border:solid #CCCCCC 1px;
	width:203px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:3px;
}

.error {
    color: #cc0000;
    float: left;
    font-size: 12px;
    font-style: italic;
    margin-top: -30px;
    width: 200px;
}

.success{ color:#009900; font-size:12px; margin:4px; font-style:italic; width:200px;}

img#refresh{
	float:left;
	margin-top:30px;
	margin-left:4px;
	cursor:pointer;
}

#name,#email{float:left;margin-bottom:3px; height:20px; border:#CCCCCC 1px solid;}

#message{ width:260px; height:100px;float:left;margin-bottom:3px; border:#CCCCCC 1px solid;}

label{  color:#666666; width:80px;}

/* ______________________ CAPTCHA END ________________ */


/* Scroll Bar Master Styling Starts Here */
/* All comments can be freely removed from the css */


@-moz-document url-prefix() { 

	.text-align1{

		float:left;
	}

  .image-container1 {
		position: relative;
		top: 220px;
		opacity:0;

		
  }

  


}

.scrollgeneric {
line-height: 1px;
font-size: 1px;
position: absolute;
top: 0; left: 0;
}

.vscrollerbase {
width: 10px;
background-color: #ccc;

}
.vscrollerbar {
width: 10px;
background-color: #888;
}
.hscrollerbase {
height: 10px;
background-color: #ccc;
}
.hscrollerbar {
height: 10px;
background-color: #888;
}

.scrollerjogbox {
width: 10px;
height: 10px;
top: auto; left: auto;
bottom: 0px; right: 0px;
background-color: gray;
}

select::-ms-expand {
    display: none;
}


/* Scroll Bar Master Styling Ends Here */

/* _________Scroll________________  */
#mcts1 ::-webkit-scrollbar {
    width: 12px;
}
 

#mcts1 ::-webkit-scrollbar-track {
    background: #ccc;
   
}
 

#mcts1 ::-webkit-scrollbar-thumb {
	
background: #888;

}
#mcts1 ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(227,227,227,0.4); 
}


.modal-body {

top: 10px;
}

.ts-submit-btn:focus{
	background: #428bca !important;
	color:#fff;
}

.ts-submit-btn:active{
	background: #428bca !important;
	color:#fff;
}




/* ______________________  */

/*-----------------------------------------------------------------------------*/
#mcts1 {
	width:100%;
	height:400px;
	/*  margin: 0 auto;*/
    padding:0px 0px;
	/* border:1px solid #dedcb4; background:#f2f1ea url(loading.gif) no-repeat 50% 50%;
    box-shadow: 0px 1px 11px #CCCCCC;*/
   
    
    /* Do not alter the below settings */
    white-space:nowrap;
	position:relative;
	font-size:0px;
	z-index:1;
	margin-left: 120px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	/* No support for these yet, use at own risk */
  -o-user-select: none;

	/*margin-right: 4.5%;*/
	
}
#mcts1>* {
	display:none;
}
/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item {
	width:180px;
	padding: 7px;
	margin-right:0px; /* this specifies the distance between each thumbnail */
	/*background-color:White;*/
    /*border:1px solid #ddd;*/
    text-align:center;
	position:relative;
}
#mcts1 img {
	border:none;
}
/*---------built-in navigation buttons-------*/


.nav-Prev, .nav-Next, .nav-PrevDisabled, .nav-NextDisabled {
	width:40px;
	height:40px;
	/*	position:absolute;  */
    background:url(../images/nav_buttons.png);
	display:inline-block;
	z-index:5;
	cursor:pointer;
}
/*#mcts1 .navPrev {background-position:0 -22px;top:60px;left:-40px;}
#mcts1 .navPrev:hover {background-position:0 -44px;}
#mcts1 .navPrevDisabled, #mcts1 .navPrevDisabled:hover {background-position:0 0;cursor:default;}*/



.nav-Prev {
	background-position: 0px 81px;
}
.nav-Prev:hover {
	background-position:0px 40px;/*visibility:hidden;*/
}

a.nav-PrevDisabled{

	padding-left:10px;
}
.nav-PrevDisabled, .nav-PrevDisabled:hover {
	width:40px;
	height:40px;
	background-position:0px 0px;
	cursor:default;/*visibility:hidden;*/
	}
.nav-Next {
	background-position: 41px 81px;/*visibility:hidden;*/
	
	}
.nav-Next:hover {
	background-position:41px 40px;
/*visibility:hidden;*/}
.nav-NextDisabled, #mcts1 .nav-NextDisabled:hover {
	background-position: 41px 0px;
	width: 40px;
	height: 40px;
	cursor:default;
/*visibility:hidden;*/}
#mcts1 .navPause, #mcts1 .navPlay {
	left:360px;
	top:130px;
}
#mcts1 .navPause {
	background-position:0 -66px;
}
#mcts1 .navPause:hover {
	background-position:0 -88px;
}
#mcts1 .navPlay {
	background-position:-16px -66px;
}
#mcts1 .navPlay:hover {
	background-position:-16px -88px;
}
.nav-Prev, .navPlay, .navPause, .nav-Next {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
}
/*---------built-in navigation bullets--------*/
/* Note: the navBullets won't be available when "scrollByEachThumb" was set to false in the Javascript.*/
#mcts1 .navBullets {
	display:none;
}
/*--------- class1 that is for the slide with HTML content------------*/
.class1 {
	width:150px;
	height: 400px;


	text-align:center;
	font:normal 11px/14px Arial;
	white-space:nowrap;
}
.class1 p {
	margin-top:0;
	margin-bottom:6px;
	padding-top:6px;
	font:bold 13px Verdana;
	color:#F90;
}
button.close {
	background:url("../images/transparent_bg.gif");
	width:30px;
	height:30px;
}
/* --------- Others ------- */
#mcts1 {
	transform: translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-o-transform:translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-user-select: none;
}


.dd-list {
margin-top: -30px;
clear:both;
}

.tl-container {
    margin-top: 10%;
}

:required {
 -webkit-box-shadow:inset 0 0 7px #ccc;
 
 box-shadow:inset 0 0 7px #ccc;
 font-size:13px;
 font-weight:400 !important;
 font-variant:normal !important;
}

.content-title {
	font-weight:bold;
	padding-left:0px;
	padding-top:5px;
	color:white;
}
.ts-parag-txt-2 {
	margin-top: 20px;
}
#fat-menu {
	/*top: 203px;
	left: 41px;*/
	border: 2px solid orange;
	width: 80px;
	padding: 0 10px;
	z-index: 10;	
	 -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
background: white url("../images/select_downarrow.png") ;
background: white\9; /* IE8 and below */  
background-repeat: no-repeat;
background-position-x: 97%;
background-position-y: 50%;
background-position: 97% 50%;
-webkit-appearance: none;

}

select::-ms-expand {
    display: none;
}







select {
    
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

textarea {
    resize: none;
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 


	 .image-container1 {
		padding-top: 10px;
		position: relative;
		top: 190px;		
		/*left: 85%;*/
		z-index:1000;

	}

	

}

.image-container1 {
	padding-top: 10px;
	/*top: 190px;*/
	/*left: 85%;*/
	z-index:1000;
	width: 86px;
	padding-left:5px;
}
  .image-container1 {
		position: relative\9;
		top: 190px\9;
		right: 0%\9;
		width:86px\9;		
		left:90%\9;
		/*margin-left:-80px\9;*/
  }
    .image-container1 {
		position: relative\0;
		top: 190px\0;
		right: 0%\0;
		width:86px\0;
		/*margin-left:-80px\0;*/
  }

a#drop3 {
	color: #525151;
}
.dropdown-menu>li>a:hover {
	background: orange;
}
.content .col-md-1, .content .col-md-2, .content .col-md-3, .content .col-md-4, .content .col-md-5, .content .col-md-6, .content .col-md-7, .content .col-md-8, .content .col-md-9, .content .col-md-10, .content .col-md-11, .content .col-md-12 {
	position: relative;
	min-height: 1px;
	padding-right:15px;
	padding-left: 15px;
}
.slide {
	margin:200px 20px;
}
.class1 {
	height:300px;
	display:block;
	margin:50px 20px;
}
.tl-container {
	margin-top:5%;/*width: 90%;
	height: 60%;
	margin:auto;*/
}
.t1-selector {
	position: relative;
	top: -210px;
	border-bottom: 2px solid #f59c34;
	height: 2px;
	width: 100%;
}
.tl-icon1 {
	margin: 0px 0px 0px 0px;
}
.tl-icon2 {
	margin: 0px 0px 0px 0px;
}
.tl-icon3 {
	margin: 0px 0px 0px 0px;
}
.tl-icon4 {
	margin: 0px 0px 0px 0px;
}
.tl-btn-block {
	position:absolute;
}
.tl-offset-bottom {
	margin: 20px 0px 0px 0px;
	padding-top:0px;
	height:50px;
	z-index:-1;
}
#mcts1 .popover.grey {
	background-color:#525151;
}
#mcts1 .popover.orange {
	background-color:#f59c34;
}
.opac {
	opacity:0.3;
}
#mcts1 .popover {
	width:272px !important;
	font-size:13px;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
	
	background-color:#f59c34;
	border-radius: 0px;
	line-height: 18px;
	height: auto !important;/*overflow:scroll;*/
}
.ts-content img {
	/*	*/
	z-index:100;
	margin-top : 70px;
	margin-left: 100px;
	margin-right: 100px;
	top: 118px;
	left: -71px;
	/*top: 220px;*/
	position: absolute;
}
.write_testimonials a {
	color:white;
	cursor:pointer;
}
.write_testimonials a:hover {
	color:#f5911f;
}
.write_testimonials {
	width:25%;
	height:45px;
	border: 10px 10px 10px 10px solid #003;
	background-color:#525151;
	color:white;
	text-align: center;
	padding-top:12px;
	margin: 0 auto;
	text-transform:uppercase;
	border-radius: 3px;
	margin-bottom:30px;
	cursor:pointer;
}
.class1 img {
	margin-top: 65px;
}
 .offset-spacer {
 margin-top:20px;
 margin-bottom:20px;
}
#mcts1 .popover-title {
	display:block;/*
position: relative;
bottom: -158px;
padding: 0px 0px 0px 12px;
margin: 0;
font-size: 14px;
font-weight: normal;
line-height: 18px;
color: white;
background:none;
border-bottom:none;*/
}
.bgchange {
	background-color:#F90;
}
#mcts1 .popover-content {
	width : auto !important;
	height: 116px;
	overflow: auto;
}
#mcts1 {
}
#mcts1>div>div {
}
#mcts1 .popover.top .arrow {
	left: 12%;
}



#mcts1 .popover.bottom .arrow {
	top: -11px;
	left: 12%;
}
#mcts1 .popover.top {
	margin-top: 25px;
	margin-left: 2px;
}
table {
/* overflow-x:hidden;  */



}
#mcts1 .popover.bottom {
	
	margin-left: 2px;
	
}
/*.popover.top  .popover-content{
		padding: 9px 14px;
padding-bottom: 24px 
 }
*/
/*	$(".ts-content .item:nth-child(3n-2) .popover").css("background", "#525251");
		$(".ts-content .item:nth-child(3n-2) .popover-content").css("color", "#FFFFFF");*/
	
	.ts-content .item:nth-child(3n-2) .popover {
	/*background : #525251 !important;*/
}
.ts-content .popover-content {
	color : #FFFFFF !important;
}
.ts-content .item .popover.ar_orange > .arrow:after {
	border-top-color : #f59c34 !important;
	border-bottom-color : #f59c34 !important;
}
.ts-content .item  .popover.ar_grey > .arrow:after {
	border-top-color : #525151 !important;
	border-bottom-color : #525151 !important;
}
.cs-pos-content-heading1 {
	color: #3968b1;
	font-size: 20px;
	font-weight:600;
	text-decoration: none;
	padding-bottom: 3%;/*padding: 20px 5px 5px 70px;*/
		
}
.ts-submit-btn:hover {
	background: #f4911e !important;
	color:#fff;
}

.ts-submit-btn:focus {
	background: #66aad9 !important;
	color:#fff;
}
.ts-submit-btn {
	display: inline-block;
	background: #525151 !important;
	width:100%;
	height:38px;
	margin:0 auto;
	font-weight: 300;
	padding-right:15px;
	font-size: 14px;
	margin-top:0px;	
	color:#fff;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	-webkit-user-select: none;
	text-transform: uppercase;
}
.btn {
	padding:0;
	color:#fff;
}
/*----------------------------------modalbox popup-----------------------------------------*/
.form-group-rac {
	margin-bottom: 15px;
	position: relative;
	top: -50px;
}
form {
	margin-bottom: -55px !important;
}
.modal-dialog {
	width: 750px !important;
	right: auto;
	left: 50%;
	padding-top: 170px;
	padding-bottom: 30px;
}
.modal-header-rac {
	min-height: 16.428571429px !important;
	padding: 15px !important;
	border-bottom: 0px solid #e5e5e5 !important;
	;
}
.modal-content-rac {
	position: relative;
	background-color: #edecec;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px!important;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	background-clip: padding-box;
}
.form-header-txt {
	color: #3968b1;
	font-size: 24px;
	font-weight: bold;
}
.form-headercaption-txt {
	color: #494949;
	font-size: 13px;
	font-weight: normal;
}
.form-contact-method {
	color: #494949;
	font-size: 13px;
	font-weight: normal;
	margin:10px 0 0 0;
}
.rac-container {
	overflow: hidden;
	margin: -10px 0 0 0;
}
.col-md-4.rac-left {
	float: left;
	width: 45%;
}
.ips select {
	background-color: #fff!important;
	-webkit-appearance: none;
	color: #9C9C9C;
	background: url("../images/select_downarrow.png");
	height: 30px;
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 50%;
	height: 41px;
}

#mcts1 .top.popover .arrow:after{

border-top-color : #f59c34;
}

#mcts1 .bottom.popover .arrow:after{

border-bottom-color : #f59c34;
}



.form-control-select {
	display: block;
	margin: 10px 0 0 0;
	width: 97%;
	height: 34px;
	padding: 6px 6px;
	font-size: 13px;
	line-height: 1.428571429;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 0px !important;/*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}
.shipping-txt {
	color: #494949;
	font-size: 14px;
	font-weight: bold;
	margin:25px 0 0 0;
}
.shipping-parag-txt {
	color: #494949;
	font-size: 11px;
	font-weight: bold;
}
.rac-radio, .rac-checkbox {
	display: inline;
	min-height: 20px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
}
.rac-radio label, .rac-checkbox label {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}
.radio-group {
	margin: 5px 0 0 -18px;
}
.account-txt {
	color: #494949;
	font-size: 14px;
	font-weight: bold;
	margin:25px 0 0 0;
}
.account-selectbox select[multiple], select[size] {
	height: auto;
	width: 300px;
	padding:5px;
	margin-bottom:20px;
}
.goto-link {
	color: #494949;
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}
.col-md-1.split {
	margin-left: 10px;
}
.col-md-4.rac-right {
	float: left;
	width: 45%;
}
.radio-group2 {
	margin: 26px 0 17px -43px;
}
.ips2 select {
	background-color: #fff!important;
	-webkit-appearance: none;
	color: #9C9C9C;
	background: url("../images/select_downarrow.png");
	height: 30px;
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 50%;
	height: 41px;
	margin: 11px 0 0 -24px;
	width: 320px;
}
.form-control-select2 {
	display: block;
	margin: 10px 0 0 0;
	width: 97%;
	height: 34px;
	padding: 6px 6px;
	font-size: 13px;
	line-height: 1.428571429;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 0px !important;/*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}
.ips3 select {
	background-color: #fff!important;
	-webkit-appearance: none;
	color: #9C9C9C;
	background: url("../images/select_downarrow.png") 97% 50% no-repeat;
	height: 30px;
	/* background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 50%;
	
	*/
	height: 41px;
	margin: 11px 0 0 -24px;
	width: 214px;
	float: left;
}
.form-control-select3 {
	display: block;
	margin: 10px 0 0 0;
	width: 97%;
	height: 34px;
	padding: 6px 6px;
	font-size: 13px;
	line-height: 1.428571429;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 0px !important;/*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}
.ips4 select {
	background-color: #fff!important;
	-webkit-appearance: none;
	color: #9C9C9C;
	background: url("../images/select_downarrow.png") 97% 50% no-repeat;
	height: 30px;
	background-repeat: no-repeat;
	height: 41px;
	margin: 11px 0 0 10px;
	width: 95px;
	float: left;
}
.form-control-select4 {
	display: block;
	margin: 10px 0 0 0;
	width: 97%;
	height: 34px;
	padding: 6px 6px;
	font-size: 13px;
	line-height: 1.428571429;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 0px !important;/*	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}
.addproducts-btn {
	display: inline-block;
	background: #525151;
	padding: 13px 12px;
	width: 40%;
	margin: 14px 0 8px 172px;
	font-weight: normal;
	font-size: 13px;
	white-space: nowrap;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	-webkit-user-select: none;
	text-transform: uppercase;
}
/* ______Tab Panel ____________________________________________________________________*/

.tabpanel {
	position: relative;
	left: -21px;
	float: left;
}
.nav-tabs {
	border-bottom: 1px solid #ddd;
	background: #525151;
	height: 24px;
	width: 316px;
	margin: 30px 0 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	cursor: default;
	background-color: #FF7000;
	border: 0px;
	border-bottom-color: transparent;
	color: #fff;
	font-size: 13px;
	border-radius: 0;
	line-height: 0px;
	height: 20px;
	position: relative;
	top: 1px;
}
.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
	position: relative;
	top: -8px;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 15px 10px;
	color: #fff;
	font-size:13px;
	top:-7px;
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent;
	border:1px solid transparent;
}
.producttab {
	display: block;
	border:1px solid #CACACA;
	list-style-type: none;
	float: left;
	line-height: 22px;
	background: #fff;
	width: 316px;
	height:250px;
	overflow: auto;
	margin: -26px 0 0 0;
}
.product-even {
	background: #f8f8f8;
	margin: 0 0 0 -40px;
	padding: 10px;
	line-height: 20px;
	font-size: 13px;
}
.product-odd {
	background: #eeeeee;
	margin: 0 0 0 -40px;
	padding: 10px;
	line-height: 20px;
	font-size: 13px;
}
.servicetab {
	display: block;
	border:1px solid #CACACA;
	list-style-type: none;
	float: left;
	line-height: 22px;
	background: #fff;
	width: 316px;
	height:250px;
	overflow: auto;
	margin: -26px 0 0 0;
}
.service-even {
	background: #f8f8f8;
	margin: 0 0 0 -40px;
	padding: 10px;
	line-height: 20px;
	font-size: 13px;
	height:36px;
}
.service-odd {
	background: #eeeeee;
	margin: 0 0 0 -40px;
	padding: 10px;
	line-height: 20px;
	font-size: 13px;
	height:36px;
}
.servicelist {
	float: left;
}
.bigclose {
	float: right;
	padding: 4px;
}
.mandatory-txt {
	position: relative;
	top: -36px;
	left: -17px;
	font-size: 11px;
	color: #AFADAD;
}
/*-----------------------------------------------------------------------------*/


/* _____ [1] GLOBAL ________________________________________________________ */
/*.bgalign {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .6;
	display: block;

}*/
body {
	width: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;/*
	overflow-x:hidden;	
	overflow-y:hidden;
	*/

}
.table {
}
li {
	list-style-type: none;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
	;
	font-weight: normal;
}
a:hover, a:focus {
	color: #2A6496;
	text-decoration: none !important;
}
a:active, a:hover {
	outline: 0;
}

.col-md-10.energymenu {
	width: 73%;
}
.navbar-inverse {
	background: url('../images/top_bg.png') repeat-x 0% 0%;
	/*height: 77px;*/
	border:0px !important;
}
.col-md-4.menu1 {
	position: relative;
	top: 27px;
	float: left;
	width: 20%;
}
.col-md-4.menu2 {
	position: relative;
	top: 27px;
	float: left;
	width: 25%;
}
.col-md-4.menu3 {
	position: relative;
	top: 27px;
	float: left;
	width: 29%;
}
.menu1 {
	position: relative;
	top: 27px;
	float: left;
}
.menu2 {
	position: relative;
	top: 27px;
	float: left;
}
.menu3 {
	position: relative;
	top: 27px;
	float: left;
}
.top-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.top-icon2 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.top-icon3 {
	background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink1 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink2 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink3 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink4 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink5 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.topnav {
	margin-bottom: 0;
	list-style: none;
	width: 62%;
}
.mainnav {
	background: #e9e8e8;
	height: 77px;
	margin: 11px 0 0 0;
	position: relative;
}
.col-md-2.mainmenu1 {
	position: relative;
	top: 4px;
	float: left;
	width: 19.5%;
	padding: 0 1px 0 0;
}
.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 20px;
}
.col-md-5.breadcrumbs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 17px;
	top: 4px;
}
.mainmenu-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon2 {
	background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon3 {
	background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon4 {
	background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon5 {
	background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon6 {
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
	padding: 14px;
	width: 48px;
	height: 81px;
	float: left;
}

/*_________________ search popup ________________*/


.search-form-field {
	display: block;
	padding: 0 0 0 11px;
	width: 100%;
	height: 51px;
	margin: 0 0 -9px 0px;
	font-size: 16px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 0px solid #ccc;
	border-radius: 0px;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	text-align:right;	
}
.search .popover-content {
	padding: 9px 14px;
	width: 878px;
}
.search .popover.left .arrow {
	top: 50%;
	right: -6px;
	margin-top: -11px;
	border-left-color: #fff;
	border-right-width: 0;
}
.search .popover {
	position: absolute;
	top: 0px !important;
	z-index: 1010;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	background-clip: padding-box;
	max-width: 1162% !important;
	height: 76px !important;
	border-radius: 0px !important;
	border: 0px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.car-menu {
	background: #e9e8e8;
	height: 52px;
	margin: -52px 0 0 0;
	position: relative;
}
.carmenus {
	width:70%;
	height: 50px;
	margin: auto;
}
ul .menusession {
	width:90%;
	margin:0 auto;
}
.menu {
	float: left;
	padding: 0px 15px 0 20px;
	border-right: 1px solid #ccc;
	height: 31px;
	position: relative;
	top: 12px;
}
.menulast {
	border-right: none;
	float: left;
	padding: 0px 15px 0 20px;
	height: 31px;
	position: relative;
	top: 12px;
}
.topnav-right {
	position: relative;
	right: 40px;
	float: right;
}
.breadcrumb>li+li:before {
	position: relative;
	top: 3px;
	background: url('../images/breadcrumbs-arrow.png') no-repeat;
	content: "";
	margin: 0 6px;
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
}
.breadcrumb li a {
	color: #494949;
}
.breadcrumb>.active {
	color: #3968b1 !important;
}
.headerlabel {
	color: orange;
	font-size: 20px;
	font-weight: normal;
	padding: 0 0 0 44px;
	margin-top: 8px;
}
.col-md-12.aboutbanner {
	padding: 0 41px 0 41px;
	background: #d0d2d3;
	margin: 2px 0 0 0;
}
.aboutmenu-container {
	height: 35px;
	background: #8e8e8e;
	font-size: 12px;
}
.menus {
	width: 95%;
	margin: 0 auto;
}
.abtmenu {
	float: left;
	/*	padding: 0px 12px 0 12px;*/
	position: relative;
	top: 9px;
}
ul li.abtmenu-active a {
	color: #fff;
	font-size: 12px;
	background: orange;
	padding: 9px 12px 9px 12px;
	float: left;
	text-decoration: none;
}
ul.menus li.abtmenu a {
	color: #fff;
	padding: 9.2px 14px;
}
ul li.abtmenu a:hover {
	background: orange;
	text-decoration: none;
}
.row.headersession {
	background: #edecec;
	height: 38px;
}
.col-md-12.aboutbanner img {
	width:100%;
}
.caro-menulink {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 11px;
}
.menu-container {
	width:100%;
	margin:0 auto;
}
.am_conversion {
	background: #f4911e;
	height: 240px;
	margin: -20px 0 0 0;
}
.am-container {
	width: 64%;
	margin: 0 auto;
	text-align: center;
}
.am-header {
	padding: 12px;
	width: 61%;
	margin: 20px auto;
	margin-bottom: 28px;
	color: #fff;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}
.dot {
	background: url('../images/spritesheet.png') no-repeat 54.433% 58.273%;
	padding: 14px;
	width: 48px;
	height: 49px;
	position: relative;
	top: -26px;
}
.yourone-txt {
	color: #fff;
	font-size: 16px;
}
.btn {
	display: inline-block;
	/*padding: 12px 20px;*/
	margin-top: 14px;
	margin-right: 13px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;

}
.btn-default {
	color: #FC9B0B !important;
	background-color: #525151 !important;
	font-size: 16px !important;
}
.arrowicon {
	background: url('../images/spritesheet.png') no-repeat 86.433% 50.273%;
	padding: 29px;
	width: 51px;
	height: 51px;
}
.programs-container {
	background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
	background-size: 100%;
	height: 404px;
}
.col-md-6.social-left {
	background: #ccc;
	height: 47px;
}
.social-container {
	position:relative;
	top:15px;
	left: 39px;
	width: 130%;
}
.p-icon {
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon {
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
	background-position: -197px -82px;
}
.t-icon:hover {
	background-position: -241px -82px;
}
.f-icon:hover {
	background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 171px;
	width: 100%;
}
.bs-example.twinbtn {
	width: 102%;
}
.phoneno {
	float:left;
	width:30%;
}
.catalog {
	float:left;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.bottom-icon2 {
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.col-md-4.control-label {
	color: #fff;
	padding: 15px 0 0 24px;
	font-size: 13px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37% !important;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	margin: 7px 0 0 -2px;
	padding:8px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
	padding: 18px 18px 0 18px;
	width: 48px;
	height: 12px;
	position: relative;
	left: 243px;
	top: -15px;
}
.row.footerbg {
	background: #777777;
}
.foot-container {
	height: 44px;
}
.bot {
	float:left;
	padding: 12px 0 0 0;
	color: #b3b3b3;
	font-size: 11px;
}
.foonav {
	padding: 0 0 0 0;
	display: inline;
	color: #b3b3b3;
	font-size:9px;
}
.foonav a {
	color: #b3b3b3;
	padding-right: 2px;
}
.foonav a:hover {
	color: #f4911e;
	padding-right: 2px;
}
.subnav_web_templates {
	padding: 12px 35px 0 0;
	/*	background: #777777;*/
	color: #b3b3b3;
	font-size: 11px;
	float: right;
	line-height: 18px;
}
/* _____  header secsion________________________________________________________ */

.container.amc-innerpages {
	background:#edecec;
	overflow-x:hidden;
	-webkit-user-select: none;
}
.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.topnav-right {
	position: relative;
	right: 40px;
	float: right;
}
.col-md-4.menu1 {
	position: relative;
	top: 27px;
	float: left;
	width: 20%;
}
.col-md-4.menu2 {
	position: relative;
	top: 27px;
	float: left;
	width: 25%;
}
.col-md-4.menu3 {
	position: relative;
	top: 27px;
	float: left;
	width: 29%;
}
.menu1 {
	position: relative;
	top: 27px;
	float: left;
}
.menu2 {
	position: relative;
	top: 27px;
	float: left;
}
.menu3 {
	position: relative;
	top: 27px;
	float: left;
}
.top-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.top-icon2 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.top-icon3 {
	background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink1 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink2 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink3 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.mainnav-home {
	background: #FFFFFF;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	height: 76px;
	margin: 0 0 0 0;
	position: relative;
	border-top: 1px solid #fff;
	z-index: 4;
	width: 100%;
}
.mainnav-subpage {
	background: #FFFFFF;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	height: 76px;
	margin: 0 0 0 0;
	position: relative;
	z-index: 4;
	width: 100%;
}
.prog-link {
	background: #3C3C3C;
	width: 142px !important;
	height: 76px;
	color: #fff;
	padding: 20px 32px 0 38px !important;
	margin: 0 0 0 40px;
}
.col-md-10.energymenu {
	width: 72%;
	margin: 0 9px;
	position: relative;
	top: -3px;
}
.col-md-2.mainmenu1 {
	position: relative;
	top: 7px;
	float: left;
	width: 17%;
	padding: 0 3px 0 0;
}
.col-md-2.mainmenu2 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;
}
.col-md-2.mainmenu3 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;
}
.col-md-2.mainmenu4 {
	position: relative;
	top: 7px;
	float: left;
	width: 22.5%;
	padding: 0 3px 0 0;
}
.col-md-2.mainmenu5 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;
}
.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu2:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu3:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu4:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu5:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.mainmenu-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon2 {
	background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon3 {
	background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon4 {
	background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon5 {
	background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon6 {
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
	padding: 14px;
	width: 48px;
	height: 81px;
	float: left;
}
.mainmenulink {
	color: #020202;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	top: 6px;
	left: 7px;
	width: 100%;
}

.prog-link {
	background: #525151;
	width: 142px !important;
	height: 76px;
	color: #fff;
	padding: 20px 32px 0 38px !important;
	margin: 0 0 0 40px;
}
.prog-link:hover {
	background: #f4911e;
	color:#fff;
}
/*_______dropdown menu _________________________________________________________________*/

.sub-menu1 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn {
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover {
	background: orange;
	padding: 7px;
	color: #fff;
}
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter:Alpha(Opacity=90);
		width: 92.5%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter:Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter:Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter:Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter:Alpha(Opacity=90);
	width: 92.5%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
.col-md-2.mainmenu1:hover ul.sub-menu1 {
	display:block;
}
.sub-menu2 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn {
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover {
	background: orange;
	padding: 7px;
	color: #fff;
}
.col-md-2.mainmenu2:hover ul.sub-menu2 {
	display:block;
}
.sub-menu3 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn {
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover {
	background: orange;
	padding: 7px;
	color: #fff;
}
.col-md-2.mainmenu3:hover ul.sub-menu3 {
	display:block;
}
.sub-menu4 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn {
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover {
	background: orange;
	padding: 7px;
	color: #fff;
}
.col-md-2.mainmenu4:hover ul.sub-menu4 {
	display:block;
}
.sub-menu5 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn {
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover {
	background: orange;
	padding: 7px;
	color: #fff;
}
.col-md-2.mainmenu5:hover ul.sub-menu5 {
	display:block;
}
.row.headersession {
	background: #edecec;
	height: 38px;
}
.headerlabel {
	color: #f4911e;
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 0 44px;
	margin-top: 8px;
}
.col-md-5.breadcrumbs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 17px;
	top: 4px;
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
}
.breadcrumb>li+li:before {
	position: relative;
	top: 3px;
	background: url('../images/breadcrumbs-arrow.png') no-repeat;
	content: "";
	margin: 0 6px;
}
.breadcrumb>.active {
	color: #3968b1 !important;
}
/* _____________footersection_________________________*/
.horizontal-line-divider {
	height: 13px;
	width: 100%;
	margin-bottom: 0px;
	background: url(../images/news_bg_horizontal.png) repeat-x;
}
.row.socialfooter {
	background: #edecec;
}
.col-md-6.social-left {
	background: #edecec;
	height: 47px;
}
.social-container {
	position: relative;
	top: 15px;
	left: 39px;
	width: 130%;
}
.p-icon {
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon {
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
	background-position: -197px -82px;
}
.t-icon:hover {
	background-position: -241px -82px;
}
.f-icon:hover {
	background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 160px;
	width: 100%;
}
.phoneno {
	float: left;
	width: 30%;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink4 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.catalog {
	float: left;
}
.bottom-icon2 {
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink5 {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.form-group {
	margin-bottom: 15px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37% !important;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	padding: 8px;
	margin: 7px 0 0 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.arrowbtn {
	display: block;
background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
padding: 18px 16px 0 16px;
position: relative;
left: 245px;
top: -32px;
cursor: pointer;
margin-top: 14px;
margin: 0 auto;
border: 0px;
width: 32px;
height: 38px;
	float:left;
}
.row.footerbg {
	background: #777777;
}
.foot-container {
	height: 44px;
}
.bot {
	float: left;
	padding: 17px 0 0 0;
	color: #b3b3b3;
	font-size: 10px;
	width: 104%;
}
.foonav {
	padding: 0 0 0 0;
	display: inline;
	color: #b3b3b3;
}
.foonav a {
	color: #E9E9E9;
	padding-right: 2px;
}
.subnav_web_templates {
	padding: 17px 35px 0 0;
	background: #777777;
	color: #E9E9E9;
	font-size: 10px;
	float: right;
}
/*_______contact us ___________________________________________________________________*/
.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.container.amc-innerpages {
	background:#fff;
}
.mainnav-subpage {
	background: #FFFFFF;
	height: 77px;
	margin: 0 0 0 0;
	position: relative;
}
.contact-container {
	background: #fff;
	overflow: hidden;
}
.col-md-2.divider {
	padding: 15px 80px;
}
.contact-get-txt {
	color: #3968b1;
	font-size: 24px;
	font-weight: normal;
	font-family: 'myriad Pro', sans-serif;
}
.contact-parag-txt {
	color:#494949;
	font-size: 13px;
	font-weight: normal;
}
.contact-form-container {
	width: 80%;
	margin: 0 auto;
	position: relative;
	left: 10%;
	top: 8px;
}
.contact-form-field {
	display: block;
	padding: 0 0 0 11px;
	width: 300px;
	height: 41px;
	margin: 22px 0 -9px 0px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.contact-form-field2 {
	display: block;
	padding: 5px 0 0 11px;
	width: 300px;
	margin: 22px 0 0 0px;
	font-size: 13px;
	resize: vertical;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.contact-parag-txt2 {
	color:#494949;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	margin:5px 0 0 0;
}
.submit-btn {
	display: inline-block;
	background: #f4911e;
	padding: 13px 12px;
	width: 40%;
	margin: 37px 0 0 68px;
	font-weight: normal;
	font-size: 13px;
	white-space: nowrap;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	text-transform: uppercase;
	-webkit-user-select: none;
}
b, strong {
	font-weight: bold;
	font-size: 13px;
}
p {
	margin: 0 0 10px;
	font-size: 13px;
}
.search {
	float: right;
	position: relative;
	right: 37px;
	top: 0px;
	width: auto;
}

/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */

@media (min-width: 1200px) {


.container {
	max-width: 100%;
}
.col-md-4.logo {
	padding:12px 0 0 0;
}
/*.col-md-1.search {
	position: relative;
	left: 0.3%;
}*/
.carmenus {
	width: 37% !important;
	height: 50px;
	margin: auto;
}
.menus {
	width: 950px;
	margin: 0 auto;
}
.leftarrow {
	background: url('../images/blue-leftarrow.png') no-repeat transparent;
	width: 9px;
	height: 22px;
	position: absolute;
	top: 6px;
	left: 14px;
}
.pl-productname {
	background: #f5f3f3;
	font-size: 11px;
	padding: 36px 22px;
	margin: 0 !important;
	text-align: center;
	border-bottom: 1px solid #a5a5a5;
}
.contact-form-container {
	width: 60%;
	margin: 0 auto;
	position: relative;
	left: 63px;
}
.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu2:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu3:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu4:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu5:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter: Alpha(Opacity=90);
		width: 94.2%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width:94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	.mainmenulink {
	top: 17px;
	}
	
@media (min-width: 1600px){

	
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter:Alpha(Opacity=90);
		width: 96%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}


}


}
 @media (min-width: 992px) {

 

#mcts1 .popover.bottom {

	margin-top:30px !important;
}


.container {
	max-width: 100%;
}
.col-md-4.logo {
	padding: 12px 0 0 37px;
}
.col-md-1 {
	padding: 0;
}
.col-md-2 {
	padding: 0;
}
.col-md-3 {
	padding: 0;
}
.col-md-4 {
	padding: 0;
}
.col-md-5 {
	padding: 0;
}
.col-md-6 {
	padding: 0;
}
.col-md-7 {
	padding: 0;
}
.col-md-8 {
	padding: 0;
}
.col-md-9 {
	padding: 0;
}
.col-md-10 {
	padding: 0;
}
.col-md-11 {
	padding: 0;
}
.col-md-12 {
	padding: 0;
}
.carmenus {
	width: 70%;
	height: 50px;
	margin: auto;
}

.tl-container {
margin-top: 0;
}


}
 @media (max-width: 320px) {
.col-md-12.aboutbanner img {
	height:61px;
	min-width:221px;
}
}


@media (min-width: 767px )  and (max-width : 1023px) {
	
	

.topnav-right {
position: relative;

right: 40px;

float: right;
}	

.aboutmenu-container {
font-size: 11px;
overflow-x: hidden;
}

.menus {
	

margin-left: -30px;
width: 1024px;
}
ul.menus li.abtmenu a {

padding: 9.2px 8px;
}

.col-md-5.breadcrumbs {

right: 18px;
top: -32px;
}



.closebtn {
margin-top: -72px;
margin-right: 56px;
float: right;
cursor: pointer;
}

.subscription {

padding-top: 10px;
padding-left: 40px;
font-size: 13px;
color: #fff;

}

.mainmenu-icon {

margin-left: -10px;
}




.col-md-6.social-left {
height: 57px;
}

.col-md-6.social-left,.col-md-6.newsletter{
	display:block;
}



.mainmenu-icon {

margin-left: -10px;
}


.mainmenu-icon2{
	
margin-left: -10px;
}
.mainmenu-icon3{
	
margin-left: -22px;

}
.mainmenu-icon4{
	
margin-left: -29px;
}
.mainmenu-icon5{
	
margin-left: -8px;
}



	
	.container {
		max-width: 100%;
	}
	

	
	
	
	.subnav_web_templates {
padding: 0px 84px 10px 0;
background: #777777;
color: #E9E9E9;
font-size: 9px;
float: right;
}


	.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}
.col-md-2.mainmenu2:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}
.col-md-2.mainmenu3:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}
.col-md-2.mainmenu4:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu5:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}

	
	.col-md-6.newsletter {
background: #f39a32;
height: 47px;
margin: 0 0 0px 0;
width: 100%;
}

.col-md-2.control-label {
color: #fff;
width: 37%;
padding: 14px 0 0 0px;
margin: 0 0 0 -25%;

}

.form-control-nl {

margin: -27px 0 0 50%;
}

.newsletter-btn {
margin-left: 50%;
}



	.col-md-4.logo {
	padding: 12px 0 0 37px;
	}


	
	
	.prog-link {
background: #3C3C3C;
width: 76px !important;
height: 76px;
color: #fff;
padding: 14px 0px 0 0px !important;
margin: 0 0 0 0px;
text-align: center;
}

ul.sub-menu1 {

left: -76px;
top: 72px;
width:700px;

}

ul.sub-menu2 {

left: -180px;
top: 72px;
width:735px;

}

ul.sub-menu3 {

left: -313px;
top: 72px;
width:735px;
}

ul.sub-menu4 {

left: -446px;
top: 72px;
width:735px;
}

ul.sub-menu5 {

left: -600px;
top: 70px;
width:735px;
}


.col-md-10.energymenu {
width: 85%;
margin: 0 0 0 0px;
position: relative;
top: -3px;
}

.mainmenulink {

left: 0px;
font-size: 12px;

}



.mainmenu-icon6{
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;

height: 81px;
float: left;
	

}

.col-md-2.mainmenu1 {
	position: relative;
top: 7px;
float: left;
width: 16%;
padding: 0 3px 0 0px;
}
.col-md-2.mainmenu2 {
	position: relative;
top: 7px;
float: left;
width: 20.5%;
padding: 0 3px 0 0;

}
.col-md-2.mainmenu3 {
	position: relative;
top: 7px;
float: left;
width: 21.5%;
	/* padding: 0 3px 0 0; */

}
.col-md-2.mainmenu4 {
position: relative;
top: 7px;
float: left;
width: 17.5%;
padding: 0 3px 0 0;

}
.col-md-2.mainmenu5 {
	position: relative;
top: 9px;

width: 19.5%;
padding: 0 0px 0 0px;

}
.search {
width: 4%;
float: right;
position: relative;
right: 18px;
top: 0px;
}




.search-form-field {

height: 66px;
margin: -10px 6px -9px 12px;

}



	






	
}	

 @media (max-width: 767px) {

/* Header style */

		.foonav {

font-size: 9px;
}
	.container.homepg {
		overflow-x:hidden;
	}
	.col-md-2.mainmenu1, .col-md-2.mainmenu2, .col-md-2.mainmenu3, .col-md-2.mainmenu4, .col-md-2.mainmenu5{
		width: 100%;
	}
	.row.header {
		height: 100%;
	}
	.row.header .col-xs-12 {
		border-top: 1px solid rgb(167, 162, 162);
	}
	.topnav-right {
		right: 10px;
		float: left;
		margin-top: 10px;
	}
	.prog-link {
		width: 100% !important;
		height: 100%;
		padding: 20px 32px 40px 38px !important;
		margin: 0px;
		position: absolute;
	}
	.col-md-10.energymenu {
		background: white;
		width: 100%;
		margin: 0;
		position: absolute;
		top: 60px;
		padding-bottom: 15px;
	}
	.menu1, .menu2, .menu3 {
		top: 0px;
		float: none;
	}
	.collapsableMenu {
		display: inline;
	}
	.top-icon4{
		background: url('../images/spritesheet.png') no-repeat 9.433% 60%;
		padding: 14px;
		width: 48px;
		float: left;
	}
	.toplink4 {
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
	}
	.search {
		width: 75px;
		float: right;
		position: absolute;
		right: -16px;
		top: 54px;
	}
	.search .popover{
		height: 39px !important;
	}
	.search .popover-content {
		padding-top: 4px;
	}
	.search-form-field{
		height: 100%;
	}
	.mainmenu-icon6 {
		width: 100%;
		height: 40px;
	}
	.toplink1, .toplink2, .toplink3 {
		display: none;
	}
	.mainnav-home {
		display: none;
		opacity: 1;
		position: relative;
		height: 100%;
		border-top: none;
	}
	.flex-viewport{
		width: 100%;
	}
	.flex-direction-nav {
		display: none;
	}
	.menu-container {
		overflow: scroll;
	}
	.menu:hover {
		background: none;
		color: #333;
	}
	.mainmenulink {
		top: 22px;
	}
	ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5{
		position: fixed;
		display: block;
		/*left: 0px;*/
		left: 100%;
		top: 0;
		padding: 0px;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
	}
	.sub-menu1 li, .sub-menu2 li , .sub-menu3 li, .sub-menu4 li, .sub-menu5 li{
		display: block;
		padding: 0px;
		left: 0px;
	}
	.submenu-btn {
		display: block;
		border-radius: 0px;
	}
	.subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}

	
	/* --Header style-- */
	
	/* Footer style */
	.col-md-2.control-label {
		color: #fff;
		width: 86%;
		text-align: center;
/*		margin: 10px 0 10px 0;*/
	}
	
	.col-md-4.contact-info {
		position: relative;
		top: 0;
		left: 0;
		width: 0;
	}
	.horizontal-line-divider {
		height: 18px;
		width: 100%;
		margin-bottom: 0px;
		background: url(../images/news_bg_horizontal.png) repeat-x;
	}
	.social-container {
		margin: 3px auto;
		width: 64%;
		padding: 0px;
		height: 39px;
	}
	.col-md-6.newsletter {
		background: #f39a32;
		height: 94px;
		width: 100%;
		margin: 61px 0 0 0;
	}
	.phoneno {
		float: left;
		width: 55%;
		position: relative;
		left: -26px;
		top: 15px;
	}
	.catalog {
		float: left;
		position: relative;
		left: 107px;
		top: 12px;
		width: 200px;
	}
	.form-control-nl {
		display: block;
		width: 245px;
		height: 34px;
		padding: 8px;
		margin: 0;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555;
		vertical-align: middle;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	/* --Footer style-- */
.leftarrow{background-image: url('../images/product-table-arrow.gif') ; width:37px; height:59px; left:inherit; right:0px; top:0; background-repeat:no-repeat; background-position:left top; position: absolute; z-index:9999; cursor:pointer;}
	.SlideOnn{background-position:left bottom; }

	/* Footer menus style */
	
	
	.footermenu-container {
		width: 100px;
		position: relative;
		top: 17px;
		left: 0px;
	}

	.footer-sub-menu1 {
		position: fixed;
		left:0px;
		top: 100%;
		padding: 0px;
		width: 100%;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
	}
	.footer-sub-menu1 li {
		display: block;
		padding: 0px;
		left: 0px;
	}
	.subnav_web_templates {
		background: #777777;
		color: #CACACA;
		font-size: 10px;
		float: right;
		position: relative;
		right: -15px;
		top: -18px;
		width: 220px;
	}
	.footer-subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}
	.footer-subBack-btn:hover {
		color: white;
	}
	
	#fat-menu{
		
		/*left:0% !important;*/
		
	}
	
	
		/* ____________mobile header footer ends_____________________*/
 }
 
 @media (max-width: 780px) {
	 

 	.dd-list {
margin-top: 0px;
margin-bottom:25px;
}

 	.write_testimonials {
	width:50%;
	
}

#mcts1 .popover.bottom {

	top:33px !important;
}
.class1 img {
margin-top: -100px;
}
.ts-content{margin-top:10px; height:200px;}
#mcts1 .item{

	width:310px !important;
}




/* Header style */
	.col-md-2.mainmenu1, .col-md-2.mainmenu2, .col-md-2.mainmenu3, .col-md-2.mainmenu4, .col-md-2.mainmenu5 {
	width: 100%;
}


.row.header {
	height: 100%;
}
.row.header .col-xs-12 {
	border-top: 1px solid rgb(167, 162, 162);
}
.topnav-right {
right: 10px;


top: 0px;
}
.prog-link {
	
	width: 100% !important;
	
	padding: 20px 32px 41px 38px !important;
	margin: 0px;
}
.col-md-10.energymenu {
	
}

.collapsableMenu {
	display: inline;
}
.search {
	width: 75px;
	float: right;
	position: absolute;
	right: -16px;
	top: -40px;
}
.search .popover {
	height: 39px !important;
}
.search .popover-content {
	padding-top: 4px;
}
.search-form-field {
	height: 100%;
}
.mainmenu-icon6 {
	width: 100%;
	height: 40px;
}
.toplink1, .toplink2, .toplink3 {
	display: none;
}
.mainnav-home {
	position: relative;
	height: 100%;
	border-top: none;
}
.flex-viewport {
	width: 100%;
}
.flex-direction-nav {
	display: none;
}
.menu-container {
	overflow: scroll;
}
.menu:hover {
	background: none;
	color: #333;
}
.mainmenulink {
	top: 22px;
}
ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5 {
	position: fixed;
	/*left: 0px;*/
		left: 100%;
	top: 0;
	padding: 0px;
	transition: linear .5s;
}
.sub-menu1 li, .sub-menu2 li, .sub-menu3 li {
	display: block;
	padding: 0px;
	left: 0px;
}
.submenu-btn {
	display: block;
}
.mainmenu2 li:first-child {
	
}
.sub-menu2:before {
	content: "Back";
	width: 100px;
	height: 100px;
	background: black;
	position: absolute;
	padding-left: 35px;
	padding-top: 10px;
	color: white;
}
.am_conversion {
	height: 100%;
}
/* --Header style-- */
	
.t1-selector {
	top: -331px;
}
.tl-offset-bottom {
	display: none;
}
#fat-menu {
	
	margin: auto;
	padding: 0px 10px;
	z-index: 10;
	height: 30px;


background: url("../images/select_downarrow.png")  no-repeat scroll 97% 0% white;
background-repeat: no-repeat;
background-position-x: 97%;
background-position-y: 50%;
}
.class1 {
	width: 300px;
	margin: 50px 0px;
}
.item {
	height: 187px;
}
.t1-selector{top:-175px; }
#mcts1 > div {
	width: 100%;
	overflow-x: hidden;
	margin : auto;
	height:200px !important;
	}
#mcts1 {
	margin-left: 0%;
	height:auto !important;
	/*top: -120px;pointer-events:none;top: -100px;*/
}
.back-btn {
	top: -31px;
	left: -23px;
	
}
.back-btn a {
	color:#525151;
}
.back-btn a:hover {
	color: #3968b1;
}
.mainnav-subpage {
 display:none; 
}
.content-container {
	width: 94%;
	margin: auto;
	margin-bottom: 20px;
}
.content li {
	margin-left: -15px;
}
.headerlabel {
	font-size: 18px;
	font-weight:300;
	padding: 0 0 0 3%;
}
.image-container {
	width: 130px;
}
.image-container1 {
	position: relative;
	z-index: 590;
	padding-top: 10px;
	margin-top: -6%;
	width: 86px;
	background: none;
	display:none;
}
.category-mouseover-btn {
	left: 16px;
	top: 37px;
	width: 80%;
}
.desc {
	width: auto;
	top: -83px;
}
.col-md-3.col-xs-6.col-padding {
	margin-bottom: 10px;
}
.abt-caption {
	width:100%;
}
.abt-caption2 {
	width:100%;
}
.abt-parag {
	width:100%;
}
.aboutmenu-container {
	display:none;
}
.container.amc-innerpages {
	width:100%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.mainnav-subpage {
	display:none;
}
.form-group {
	width: auto;
	padding-left: 0;
	left: 0px;
}
.form-contact-method a {
	padding-left: 3%;
}
.breadcrumb {
	display:none;
}
.offset-top-1 {
	margin-top: 40px;
	padding-left: 15px !important;
	padding-right: 15px;
}
.cr-container {
	width: 100%;
	left: 0px;
}
.image-2 {
	padding-left: 0px;
}
.content-top-container {
	margin-top: 0px;
	padding-bottom: 15px;
	height: auto;
}
.gallery-content {
	padding-top: 10px;
}
.gallery-content-heading {
	padding: 10px 0px;
}
.gallery-offset {
	margin-top: 20px;
	width: 90%;
	left: -10px;
	margin: 0 auto;
}
.request-quote-text {
	text-align:center;
}
.centered1 {
	margin-left: 3%;
	margin-right: 3%;
}
.col-md-6.social-left, .col-md-6.newsletter {
	display:none;
}
.col-md-8.offset-3 {
	margin-top: 0px;
}
.cs-pos-content-heading1 {
	padding-left: 0;
	padding-bottom:20px;
}


.write_testimonials {
	width: 50%;
	height:10%;
	background-color: #525151;
	color: white;
	text-align: center;
	padding: 2%;
	margin-left: 25%;
	text-transform: uppercase;
	margin-right: 35%;
	margin-bottom: 30px;
	cursor:pointer;
}
.modal-dialog {
	width: auto !important;
}
}

@media (max-width: 780px){

}

@media only screen  and (min-width:768px) and (max-width:1023px){
.row.menu_pos{
	z-index: 10;
	position: relative;
}
.write_testimonials {
width: 300px;
margin-left: -150px;
margin-right: 0;
left: 50%;
position: relative;;
}
}

.popover-title{
background:none;
color:#f7f7f7;
border-bottom: none;
font-weight: bold;
padding-bottom: 0;
}
	
#mcts1 div.item{
}


/* TESTIMONIAL NEW STYLE GOES HERE */

.authname {
    font-weight:bold;
}

.list_carousel {
	/*padding: 15px 0 15px 40px;*/
}
.select-container{
position:absolute;
top:47%;
left:2%;

}

.caroufredsel_wrapper {
	top: -3px !important;
	left:-1px !important;
}

	.test .caroufredsel_wrapper:first-child {
		top: 10px !important;
		 left:0 !important;
	}
	
	.authname{
	display:block;
	padding:5px 0;
	}
	

.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.list_carousel li {
	margin: 30px 50px 30px 0;
	float: left;
	font-size: 30px;
	color: #666;
  height:175px;
	font-size: 13px;
	color: #fff;
	position: relative;
	padding:10px 0 10px 10px;
}



	.list_carousel li div.description  {
		height: 155px;
		
		/*padding: 10px;*/
		padding-right:20px;
		overflow-y: auto;
		position:absolute;
	}
	

.no-touch .list_carousel li div.description  {
	 overflow: hidden;
}

.clearfix {
	float: none;
	clear: both;
}

.testimonial-arrow {
	position: absolute;
	left: 20px;
	z-index: 10;
	width: 25px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: left top;
}

.topsec .testimonial-arrow {
	bottom: -30px;
}

.bottomsec .testimonial-arrow {
	top: -30px;
}

#wrap {
}

.list_carousel {
	background: url('../images/amc-devider.png') repeat-x left center;
	position: relative;
	padding-bottom: 10px;
}

a.prev, a.next {
	position: absolute;
	top: 50%;
	bottom: auto;
	z-index: 12;
	margin-top: -42px;
	width: 40px;
height: 40px;
background: #525251 url('../images/carousel-arrow.png') no-repeat;



z-index: 5;
cursor: pointer;
}
a.next {
right: 15px;
background-position: 18px -72px;
}
a.prev {
right: 56px;
background-position: 16px 12px;
}

a.next:hover, a.prev:hover{
background-color:#f59c34;
}



	a.prev.disabled, a.next.disabled,a.prev.disabled:hover, a.next.disabled:hover {
		background-color:#8e8e8e;
		cursor: default;
	}

@media (max-width: 767px) {
	.caroufredsel_wrapper:first-child {
		top:0;
	}
	li.evenli {
		background-color: #525251;
	}

	li.oddli {
		background-color: #f59c34;
	}
	.list_carousel {
		background-position:left 17px;
	}
	.list_carousel li {
		margin:30px 15px;
	}
	.testimonial-arrow {
		 top:-30px;
	}
	.evenli .testimonial-arrow {
		background:url(../images/testimonial-arrow-bottom.png) no-repeat left top;
	   
	}
	.oddli .testimonial-arrow {
		background:url(../images/testimonial-arrow-yellow-bottom.png) no-repeat left top;
	   
	}
	.mobile-container{
	padding-top:60px;
	position:relative;
    z-index:1000;

	}
	#fat-menu {
	width:50%;
	min-width:150px;
	}
	.select-container {
		
		top: 15px;
		left: 50%;
		margin-left:-16%;
	}
.caroufredsel_wrapper {
top: 10px !important;
}	
}
@media (min-width:768px) and (max-width:991px){
.select-container{

left:1%;

}


}