/* _____ [1] GLOBAL ________________________________________________________ */

body {
	width: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;;
	overflow-x:hidden;
}
li{
	list-style-type: none;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;;
	font-weight: normal;
}
a:hover, a:focus {
color: #2A6496;
text-decoration: none !important;
}
a:active, a:hover {
outline: 0;
}

/*.logo {
	padding: 12px 0 0 0 !important;
}*/

.navbar-inverse{	
	background: url('../images/top_bg.png') repeat-x 0% 0%;
	/*height: 77px;*/
	border:0px !important;
}
.col-md-4.menu1 {
	position: relative;
	top: 27px;
	float: left;
	width: 20%;
}
.col-md-4.menu2 {
	position: relative;
	top: 27px;
	float: left;
	width: 25%;
}
.col-md-4.menu3 {
	position: relative;
	top: 27px;
	float: left;
	width: 29%;
}
.menu1 {
	position: relative;
	top: 27px;
	float: left;

}
.menu2 {
	position: relative;
	top: 27px;
	float: left;

}
.menu3 {
	position: relative;
	top: 27px;
	float: left;

}
.menu4 {
	position: relative;
	top: 27px;
	float: left;

}
.top-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
	
}

.top-icon2 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}

.top-icon3 {
	background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.top-icon6 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 58.273%;
	padding: 11px;
	width: 46px;
	float: left;
}
.toplink1{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink2{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink3{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink4{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink5{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink6{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.topnav {
	margin-bottom: 0;
	list-style: none;
	width: 62%;
}

.topnav-right {
	position: relative;
	right: 40px;
	float: right;
}
.mainnav{
	background: #e9e8e8;
	height: 77px;
	margin: 11px 0 0 0;
	position: relative;

}
.col-md-2.mainmenu1 {
	position: relative;
	top: 4px;
	float: left;
	width: 19.5%;
	padding: 0 1px 0 0;
/*	margin: 0 0 0 9px;*/
}
.mainmenu-icon{
	background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon2{
	background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon3{
	background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon4{
	background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon5{
	background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon6 {
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
	padding: 14px;
	width: 48px;
	height: 81px;
	float: left;
}
.mainmenulink {
	color: #525151;
	font-size: 12px;
	font-weight:normal;
	text-decoration: none;
	position: relative;
	top: 11px;
	left: 7px;
	width: 100%;
}

.prog-link {
	background: #525151;
	width: 142px !important;
	height: 77px;
	color: #fff;
	padding: 20px 32px 0 38px !important;
	margin: 0 0 0 40px;
}
.col-md-10.energymenu {
	width: 73%;
}
.search {
	width: 8%;
	float: right;
	position: relative;
	right: 9px;
}
/*_________________ search popup starts ________________*/


.search-form-field {
	display: block;
	padding: 0 0 0 11px;
	width: 100%;
	height: 51px;
	margin: 0 0 -9px 0px;
	font-size: 16px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 0px solid #ccc;
	border-radius: 0px;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	text-align:right;	
}

.popover-content {
	padding: 9px 14px;
	width: 878px;
}

.popover.left .arrow {
	top: 50%;
	right: -6px;
	margin-top: -11px;
	border-left-color: #fff;
	border-right-width: 0;
}
.popover {
	position: absolute;
	top: 0px !important;
/*	left: -869px !important;*/
	z-index: 1010;
/*	display: none;*/
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	background-clip: padding-box;
	max-width: 1162% !important;
	height: 76px !important;
	border-radius: 0px !important;
	border: 0px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*_________________ search popup ends ________________*/
.row.headersession {
	background: #edecec;
	height: 38px;
}
.car-menu {
	background: #e9e8e8;
	height: 52px;
	margin: -52px 0 0 0;
	position: relative;

}
.carmenus {
	width:70%;
	height: 50px;
	margin: auto;
}
ul
.menusession{
 	width:90%;
 	margin:0 auto;
}
.menu {
	float: left;
	padding: 0px 15px 0 20px;
	border-right: 1px solid #ccc;
	height: 31px;
	position: relative;
	top: 12px;
}
.menulast {
	border-right: none;
	float: left;
	padding: 0px 15px 0 20px;
	height: 31px;
	position: relative;
	top: 12px;
}
.col-md-5.breadcrumbs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 16px;
	top: 15px;
}
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #414141;
	content: ">\00a0";
}
.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
}
.breadcrumb li a {
	color: #494949;
}

.breadcrumb>.active {
	color: #56a1d5 !important;
}
.headerlabel {
	color: orange;
	font-size: 20px;
	font-weight: normal;
	padding: 0 0 0 44px;
	margin-top: 8px;
}
.col-md-12.aboutbanner {
	padding: 0 25px 0 25px;
}
.aboutmenu-container {
	height: 45px;
	background: #8e8e8e;
	font-size: 12px;
}
.col-md-12.aboutbanner img {
	width:100%;
}
.caro-menulink {
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 11px;
}
.menu-container{
	width:100%;
	margin:0 auto;
}
.am_conversion {
	background: #f4911e;
	height: 240px;
	margin: -20px 0 0 0;
}
.am-container{
	width: 64%;
	margin: 0 auto;
	text-align: center;
}
.am-header {
	padding: 12px;
	width: 61%;
	margin: 20px auto;
	margin-bottom: 28px;
	color: #fff;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}
.dot {
	background: url('../images/spritesheet.png') no-repeat 54.433% 58.273%;
	padding: 14px;
	width: 48px;
	height: 49px;
	position: relative;
	top: -26px;
}
.yourone-txt {
	color: #fff;
	font-size: 16px;
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	margin-top: 14px;
	margin-right: 13px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-default {
	color: #FC9B0B !important;
	background-color: #525151 !important;
	font-size: 16px !important;
}
.arrowicon {
	background: url('../images/spritesheet.png') no-repeat 86.433% 50.273%;
	padding: 29px;
	width: 51px;
	height: 51px;
}
.programs-container{
	background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
	background-size: 100%;
	height: 404px;	
}
.horizontal-line-divider2 {
	height: 13px;
	width: 100%;
	margin-bottom: 0px;
	background: url(../images/news_bg_horizontal.png) repeat-x;
}
.col-md-6.social-left {
	background: #ccc;
	height: 47px;
	margin: 0 0 0 0;
}
.social-container {
	position: relative;
	top: 15px;
	left: 39px;
	width: 130%;
}
.p-icon{
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon{
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;	
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
background-position: -197px -82px;
}
.t-icon:hover {
background-position: -241px -82px;
}
.f-icon:hover {
background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 160px;
	width: 100%;
}
.bs-example.twinbtn {
	width: 102%;
}
.phoneno{
	float:left;
	width:30%;
}
.catalog{
	float:left;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.bottom-icon2{
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.col-md-4.control-label {
	color: #fff;
	padding: 15px 0 0 24px;
	font-size: 13px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37%;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	padding:8px;
	margin: 7px 0 0 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
	padding: 18px 16px 0 16px;
	width: 48px;
	height: 12px;
	position: relative;
	left: 243px;
	top: -15px;
}
.row.footerbg {
	background: #777777;
}
.foot-container{
/*	background: #777777;*/
	height: 44px;
}
.bot {
	float:left;
	padding: 12px 0 0 0;
	color: #b3b3b3;
	font-size: 11px;
}
.foonav {
	padding: 0 0 0 0 !important;
	display: inline;
	color: #b3b3b3;
	font-size:9px;
}
.foonav a {
	color: #b3b3b3;
	padding-right: 2px;
}

.foonav a:hover{
	color: #f4911e;
	padding-right: 2px;
}.subnav_web_templates {
	padding: 12px 35px 0 0;
/*	background: #777777;*/
	color: #b3b3b3;
	font-size: 11px;
	float: right;
	line-height: 18px;
}




/*_______Programs & Services ___________________________________________________________________*/

.col-md-12.aboutbanner {
	padding: 0 41px 0 41px;
	background: #d0d2d3;
	margin: 2px 0 0 0;
	
}
.col-md-1.prog-link:hover {
	background: #f4911e;
	color: #fff;
}
.col-md-1.prog-link.active {
	background: #f4911e;
}
.row.pns-content {
	background: #fff;
	padding-bottom: 30px;

}
.pns-headertxt {
	color: #3968b1;
	font-size: 24px;
	font-weight: bold;
	font-family: "open sans";
	margin: 40px 0 24px 21px;
}
#programs_services h1 {
	margin: 25px 0 24px 0;
	
}
.pns-paragtxt {
	color: #525151;
	color: #000;
	font-size: 18px;
	font-weight: normal;
	font-family: "open sans";
	margin: 20px 0 0 25px;
	width: 113%;
}
.col-md-10.col-md-offset-2.pns-container {
	/*margin-top: 25px;
	margin-left: 120px;*/
}
.pns-headertxt2 {
	color: #000;
	font-size: 13px;
	font-weight: bold;
	font-family: "open sans";
	margin: 30px 0 0 21px;
	width: 90%;
	line-height: 24px;
}
.pns-ulist li {
	list-style-type: disc !important;
	margin: 17px 0 -5px 0;
	color: #3968b1;
	font-size: 13px;
	font-weight: normal;
	font-family: "open sans";
	line-height: 11px;
	width: 95%;
}
.contactdetail-txt {
	margin: 23px 0 20px 0;
	font-size: 13px;
	
}
.contactdetail-txt b {
	font-size: 17px;
}
.contact-blue {
	color: #56a1d5;
	font-size: 13px;
	font-weight: bold;
}
.back_btn {
	margin: 0 0 0 17px;
}
.back-txt {
	font-size: 13px;
	color: #000;
	position: relative;
	top: 1px;
}
.pns-container .back_btn {
    margin-left:0;
}







.container.productlisting-container{
	background:#edecec;
}
.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.mainnav-subpage {
	background: #FFFFFF;
	height: 77px;
	margin: 0 0 0 0;
	position: relative;
}
.col-md-2.mainmenu2 {
	position: relative;
	top: 4px;
	float: left;
	width: 17%;
	padding: 0 1px 0 0;

}
.col-md-2.mainmenu2:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 18px;
}
.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 18px;
}
.col-md-5.bcs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	padding: 14px 0 7px 24px;
	text-align: right;
	right: 8px;
	top:-5px;
}
.row.content-session {
	width: 99%;
	margin: 0 auto;
}
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #414141;
	content: ">\00a0";
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
	}
.breadcrumb li a {
	color: #494949;
}

.breadcrumb>.active {
	color: #3968b1 !important;
}
.col-md-5.bcs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	padding: 9px 0 14px 24px;
	text-align: right;
	right: 18px;
	top: -5px;
}
.headerrow{
	background: orange;
	padding:5px;
	padding: 7px 0 7px 11px;
	margin: -33px 0 0 0;
	font-size: 16px;
	font-weight:normal;
	color: #fff;
}
.headerrow2{
	background: orange;
	padding:5px;
	padding: 7px 0 7px 11px;
	margin: -33px 0 0 0;
	font-size: 16px;
	font-weight:normal;
	color: #fff;
	margin-bottom: 6px;
}
.bodyrow {
	background: white;
	padding: 5px;
	font-size: 16px; 
	font-weight: normal;
	color: #504E4E;
}
.col-md-3.space {
	padding: 20px;
	clear:both;
}
.col-md-9.space {
	padding: 20px;
}
.panel-body.accordion {
	padding: 0 0 0 15px;
	font-size: 14px;
}
a.accordion-toggle.collapsed h4 {
	color: #494949;
	font-size: 16px;
}
a.accordion-toggle.collapsed h4:hover {
	color: #494949;
	font-size: 16px;
	text-decoration: none;
}
.panel-group .panel {


}
.panel {
	background-color: #fff;
	border: none !important;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	color:#5A5A5A;
	font-size: 16px;
	border: 1px solid #ddd;
	padding: 10px;
	width: 94%;
	margin: 6px auto;
	padding: 10px;
	background-image: url('../images/accordion-uparrow.png');
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

.addtocompare-checkbox {
	display: block;
	vertical-align: middle;
}
.compare-container {
	background: #f59d36;
	font-size: 11px;
	text-transform: uppercase;
	padding: 5px 35px 0px 6px;
	color: #fff;
	width: 92%;
	position: absolute;
	bottom: 0px;
}
.addlabel {
	top: 1px;
	left:-4px;
	position: relative;
}
.addtocompare {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-left: 17px !important;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	float: left;
	margin-left: -20px;
	margin-top: 2px;
}
.pl-productname {
	background: #f5f3f3;
/*	width: 140px;*/
	font-size: 11px;
	padding: 12px;
	margin: 0 0 0 0;
	text-align: center;
	border-bottom: 1px solid #a5a5a5;
}
.product-header{
	background: #66aad9;
	overflow:hidden;

}

.leftarrow{
	background:url('../images/blue-leftarrow.png')  no-repeat transparent;
	width:9px;
	height:22px;
	position: absolute;
	top: 12px;
	left: 3px;
}
.product-heading-container {
	background: #66aad9;
/*	padding: 7px;*/
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	float: left;
	width: 98%;
	margin: 0 0 0 2%;
}
.product-heading1{
    width:15%;
    float: left;
	padding: 2%;
	text-align: center;
}
.product-heading2{
    width:15%;
    float: left;
	padding: 2%;
	text-align: center;
	border-right: 1px solid #B4B1B1;
}
.product-heading3{
    width:25%;
    float: left;
	padding: 2%;
	text-align: center;
	border-right: 1px solid #B4B1B1;
}
.product-heading4{
    width:15%;
    float: left;
	padding: 2%;
	text-align: center;
}
.product-heading5{
    width:30%;
    float: left;
	padding: 2%;
	text-align: center;
}
.blue-leftarrow.png{
	width:100%;
}
img.productcode{
	width:100%;
}
img.small-productcode{
	width:100%;
}
.product-content1 {
	width: 15%;
	float: left;
	padding: 0 0 0 0px;
	margin: -1% 0 0 0%;
	position: relative;
}

.product-content2{
    width:15%;
    float: left;
	padding: 4.4%;
	text-align: center;
	border-right: 1px solid #D5D2D2;
}
.product-content3{
    width:25%;
    float: left;
	padding: 4.4%;
	text-align: center;
	border-right: 1px solid #D5D2D2;
}
.product-content4{
    width:15%;
    float: left;
	padding: 24px 0 0 0;
	text-align: center;
}
.product-content5.btn-primary {
	width: 30%;
	float: left;
}
.pl-btn.btn-primary {
	font-size: 11px;
	margin: 2px;
	text-transform: uppercase;
}
.btn-primary {
	color: #fff;
	background-color: #525151;
	border-color: #525151;
}
.pl-btn {
	display: inline-block;
	padding: 6px 12px;
	width: 28%;
	margin: 0 0 8px 0;
	font-weight: normal;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 3px;
	-webkit-user-select: none;
}
.pl-btn.btn-primary:hover {
	background: #f4911e;
}
.product-content-container {
	background: #FFFFFF;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: 0 0 0 2%;
}
.product-content-container2 {
	background: #e2e2e2;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: 0 0 4% 2%;
/*	border-bottom: 1px solid #818080;*/
}
.product-content-container3 {
	background: #FFFFFF;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: -4% 0 0 2%;
}
.product-content-container4 {
	background: #FFFFFF;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: -4% 0 5% 2%;
	border-bottom: 1px solid #818080;
}
.product-content-container5 {
	background: #e2e2e2;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	float: left;
	width: 98%;
	margin: 0 0 4% 2%;
	border-bottom: 1px solid #818080;
}
.loadingmore-row {
	background: #5D5D5D;
	padding: 7px 0 7px 11px;
	margin: -23px 0 0 0;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	margin-bottom: 6px;
	margin-top: 15px;
	}
.col-md-12.loadmore {
	float: left;
	padding: 20px 0 0 0;
	text-align: center;
}
.col-md-9.topspace {
	padding: 0 20px;
	margin: -12px 0 23px 0;
}	
.product-compare-container {
	background: #66aad9;
	padding: 14px 5px;
	height: 94px;
	position: relative;
}
.col-md-3.graybg {
	background: #525151;
	margin: 0 0 0 7px;
	width: 20%;
	position: relative;
}
.col-md-3.bluebg {
	background: #89cfff;
	margin: 0 0 0 7px;
	width: 20%;
}
.product-img {
	float: left;
}
.product-codeid {
	color: #fff;
	font-size: 13px;
	float: left;
	width: 47%;
	word-break: break-word;
}
.model {
	font-size: 12px;
	font-weight: bold;
}
.codenum {
	font-size: 10px;
	font-weight: normal;
	/*word-wrap: break-word;*/
	float:left;
}
.smallclose {
	position: absolute;
	top: -3px;
	right: 5px;
}
.compare-btn {
	display: inline-block;
	padding: 6px 12px;
	margin: 17px 0 8px 13px;
	font-weight: normal;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	background-color: #525151;
	border: 0px solid transparent;
	border-radius: 3px;
	-webkit-user-select: none;
	text-transform: uppercase;
}
.btn-compare:hover, .btn-compare:focus, .btn-compare:active, .btn-compare.active, .open .dropdown-toggle.btn-compare {
	color: #fff;
	background-color: #f4911e;
	border-color: #dd7c0b;
}
.bigclose {
	position: absolute;
	top: 0px;
	right: 7px;
}
.row.searchcontent{
	background:#fff;
}

.ps_txt {
	font-size: 14px;
	font-weight: bold;
	color: #3968b1;
}
.ps_parag {
	font-size: 12px;
	font-weight: normal;
	color: #525151;
	width: 89%;
}
.readmore {
	font-size: 12px;
	font-weight: normal;
	color: #525151;
	border-bottom: 1px solid #525151;
}
.col-md-10.col-md-offset-2.searchcontainer {
	margin-bottom: 30px;
}

/* _____Programs and Services Education________________________________________________________ */
@media screen and (min-width: 769px) {	
.ty_container{
	position:relative;
	 width: 1000px;
	 margin:100 100 100 100;
	 
	 	}
		

.ty_odd{
    background-color: #ff9900;
	width:70%;
	height:100%;
	float:right;
	position: inherit;
	margin:10% 2% 5% 5%;
	font:normal 18px Arial;
	color:#ffffff;
	border:#ff9900 15px solid;
	line-height:140%;
	text-align:left;
	vertical-align:middle;
		}

	
.ty_even{
    background-color: #666666;
	width:70%;
	height:100%;
	float:right;
	position: inherit;
	margin:10% 2% 5% 5%;
	font:normal 18px Arial;
	color:#ffffff;
	border:#666666 15px solid;
	line-height:140%;
	text-align:left;
	vertical-align:middle;
}




.ty_odd_arrow{
	position: inherit;
	float:right;
	margin-top:15%;
	margin-right:-5%;

		}

.ty_odd_arrow::after{
	content:url(../images/orange_arrow_left.png);

		}

.ty_even_arrow{
	position: inherit;
	float:right;
	margin-top:15%;
	margin-right:-5%;

		}
.ty_even_arrow::after{
	content:url(../images/gray_arrow_left.png);
}		
.ty_odd_img{
	position: inherit;
	float:left;
	margin-left:-3%;


		}

.ty_even_img{
	position: inherit;
	float:left;
	margin-left:-3%;


}
}
	@media screen and (max-width: 768px) {	
.ty_container{
	 width: 768px;
	 margin:50 50 50 50;
	 text-align: center;
	}
.ty_odd{
    background-color: #ff9900;
	width:75%;
	height:100%;
	position: static;
	margin:0 25 50 -40;
	font:normal 18px Arial;
	color:#ffffff;
	border:#ff9900 15px solid;
	line-height:140%;
	text-align:left;
	vertical-align:middle;
		}

	
.ty_even{
    background-color: #666666;
	width:75%;
	height:100%;
	position: static;
	margin:0 25 50 -40;
	font:normal 18px Arial;
	color:#ffffff;
	border:#666666 15px solid;
	line-height:140%;
	text-align:left;
	vertical-align:middle;
}

.ty_odd_arrow{
	float:none;
}

.ty_odd_arrow::after{
	float:none;
	content:url(../images/orange_arrow_bottom.png);

		}
.ty_even_arrow{
	float:none;
}
.ty_even_arrow::after{
	float:none;
	content:url(../images/gray_arrow_bottom.png);

		}
		
.ty_odd_img{
	float:none;

		}
		
.ty_even_img{
	float:none;
	margin-top:10px;


		}
		

	}
	@media screen and (max-width: 480px) {	
.ty_container{
	 position:relative;
	 width: 320px;
	 margin:25 25 25 25;
	 overflow: visible;
	}
.ty_odd{
    background-color: #ff9900;
	width:100%;
	height:100%;
	position: inherit;
	font:normal 18px Arial;
	color:#ffffff;
	border:#ff9900 15px solid;
	line-height:140%;
	text-align:left;
		}

	
.ty_even{
    background-color: #666666;
	width:100%;
	height:100%;
	position: inherit;
	font:normal 18px Arial;
	color:#ffffff;
	border:#666666 15px solid;
	line-height:140%;
	text-align:left;
}

.ty_odd_arrow::after{
	float:none;
	content:url(../images/orange_arrow_bottom.png);
		}


.ty_odd_arrow{
	float:none;
}

.ty_even_arrow::after{
	float:none;
	content:url(../images/gray_arrow_bottom.png);
		}
		
.ty_even_arrow{
	float:none;

		}
		
		
.ty_odd_img{
	float:none;
	margin-top:10px;

		}
		
.ty_even_img{
	float:none;
	margin-top:10px;


		}
		

	}



/* _____  header secsion________________________________________________________ */

.container.amc-innerpages{
	background:#edecec;
}
.row.header {
	border-bottom: 1px solid #a3a2a2;
	height: 76px;
}
.topnav-right {
	position: relative;
	right: 40px;
	float: right;
}
.col-md-4.menu1 {
	position: relative;
	top: 27px;
	float: left;
	width: 20%;
}
.col-md-4.menu2 {
	position: relative;
	top: 27px;
	float: left;
	width: 25%;
}
.col-md-4.menu3 {
	position: relative;
	top: 27px;
	float: left;
	width: 29%;
}
.menu1 {
	position: relative;
	top: 27px;
	float: left;

}
.menu2 {
	position: relative;
	top: 27px;
	float: left;

}
.menu3 {
	position: relative;
	top: 27px;
	float: left;

}
.top-icon {
	background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
	
}

.top-icon2 {
	background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}

.top-icon3 {
	background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink1{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink2{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.toplink3{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.mainnav-home {
	background: #FFFFFF;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	height: 76px;
	margin: 0 0 0 0;
	position: relative;
	border-top: 1px solid #fff;
	z-index: 4;
	width: 100%;
}
.mainnav-subpage{
	background: #FFFFFF;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	height: 76px;
	margin: 0 0 0 0;
	position: relative;
	z-index: 4;
	width: 100%;
}
.prog-link {
	background: #3C3C3C;
	width: 142px !important;
	height: 76px;
	color: #fff;
	padding: 20px 32px 0 38px !important;
	margin: 0 0 0 40px;
}
.col-md-1.prog-link:hover {
	background: #f4911e;
	color: #fff;
}
.col-md-10.energymenu {
	width: 72%;
	margin: 0 9px;
	position: relative;
	top: -3px;
}
.col-md-2.mainmenu1 {
	position: relative;
	top: 7px;
	float: left;
	width: 17%;
	padding: 0 3px 0 0;
}
.col-md-2.mainmenu2 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu3 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu4 {
	position: relative;
	top: 7px;
	float: left;
	width: 22.5%;
	padding: 0 3px 0 0;

}
.col-md-2.mainmenu5 {
	position: relative;
	top: 7px;
	float: left;
	width: 19.5%;
	padding: 0 3px 0 0;

}
.mainmenu-icon{
	background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon2{
	background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon3{
	background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon4{
	background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon5{
	background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
	padding: 14px;
	width: 48px;
	height: 49px;
	float: left;
}
.mainmenu-icon6 {
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
	padding: 14px;
	width: 48px;
	height: 81px;
	float: left;
}
.mainmenulink {
	color: #020202;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	top: 6px;
	left: 7px;
	width: 100%;
}
.search {
	float: right;
	position: relative;
	right: 37px;
	top: 0px;
	width: auto;
}
/*_______dropdown menu _________________________________________________________________*/

.sub-menu1 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu1 {
	display: none;
	background: #616161;
	opacity: .90;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -151px;
	top: 69px;
	z-index: 10;
}*/
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		width: 93%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 93%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 93%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 93%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 93%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu2:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu3:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 14px;
}
.col-md-2.mainmenu4:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu5:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}

.col-md-2.mainmenu1:hover ul.sub-menu1{
    display:block;
}


.sub-menu2 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu2 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -274px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu2:hover ul.sub-menu2{
    display:block;
}
.sub-menu3 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu3 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -416px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu3:hover ul.sub-menu3{
    display:block;
}

.sub-menu4 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu4 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -557px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu4:hover ul.sub-menu4{
    display:block;
}

.sub-menu5 li {
	display:inline-block;
	padding: 14px 3px 14px 3px;
	color: #fff;
	position: relative;
	left: -34px;
}
.submenu-btn{
	background: #444343;
	padding: 7px;
	color: #fff;
	border-radius:4px;
}
.submenu-btn:hover{
	background: orange;
	padding: 7px;
	color: #fff;
}
/*ul.sub-menu5 {
    display:none;
	background: #616161;
	opacity:.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	width: 925px;
	position: absolute;
	left: -720px;
	top: 70px;
	z-index: 10;
}*/
.col-md-2.mainmenu5:hover ul.sub-menu5{
    display:block;
}
.row.headersession {
	background: #edecec;
	height: 38px;
}
.headerlabel {
	color: #f4911e;
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 0 38px;
	margin-top:5px;
}
.productpgtxt {
	color: #000;
}
/*________________checkbox start______________*/

.onoffswitch {
	display: inline-block;
	width: 44px;
	height: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: relative;
	top: 8px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #CCCCCC;
	border-radius: 20px;
	height: 20px;
}
.onoffswitch-inner {
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #d3d3e6; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #d3d3e6; 
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
	width: 18px;
	margin: 3px;
	background: #FA6C00;
	border: 2px solid #cccccc;
	border-radius: 38px;
	position: absolute;
	top: -2px;
	bottom: 0;
	right: 21px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/*________________checkbox end______________*/



.col-md-5.breadcrumbs {
	color: #494949;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	right: 17px;
	top: 4px;
}
.breadcrumb {
	padding: 8px 23px;
	margin-bottom: 0px;
	list-style: none;
	background-color: transparent !important;
	border-radius: 4px;
}
.breadcrumb>li+li:before {
	position: relative;
	top: 3px;
	background: url('../images/breadcrumbs-arrow.png') no-repeat;
	content: "";
	margin: 0 6px;
}

.breadcrumb>.active {
	color: #3968b1 !important;
}

/* _____________footersection_________________________*/

.horizontal-line-divider {
	height: 13px;
	width: 100%;
	margin-bottom: 0px;
	background: #fff url(../images/news_bg_horizontal.png) repeat-x;
}
.row.socialfooter {
	background: #edecec;
}
.col-md-6.social-left {
	background: #edecec;
	height: 47px;
}
.social-container {
	position: relative;
	top: 15px;
	left: 39px;
	width: 130%;
}
.p-icon{
	background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
}
.t-icon{
	background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
	padding: 17px 17px 13px 17px;
	width: 48px;
	height: 49px;	
}
.f-icon {
	background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
	padding: 17px;
	width: 48px;
	height: 49px;
	margin-left: 5px;
}
.p-icon:hover {
	background-position: -197px -82px;
}
.t-icon:hover {
	background-position: -241px -82px;
}
.f-icon:hover {
	background-position: -292px -82px;
}
.col-md-4.contact-info {
	position: relative;
	top: -6px;
	left: 160px;
	width: 100%;
}
.phoneno {
	float: left;
	width: 30%;
}
.bottom-icon1 {
	background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink4{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.catalog {
	float: left;
}
.bottom-icon2 {
	background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
	padding: 14px;
	width: 48px;
	float: left;
}
.toplink5{
	color: #525151;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.col-md-6.newsletter {
	background: #f39a32;
	height: 47px;
	margin: 0 0 0 -13px;
	width: 48%;
}
.form-group {
	margin-bottom: 15px;
}
.col-md-2.control-label {
	color: #fff;
	width: 37%;
	padding: 14px 0 0 0;
	margin: 0 0 0 11px;
}
.form-control-nl {
	display: block;
	width: 224px;
	height: 34px;
	padding: 8px;
	margin: 7px 0 0 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.arrowbtn {
	background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
	padding: 18px 16px 0 16px;
	width: 48px;
	height: 12px;
	position: relative;
	left: 243px;
	top: -15px;
}
.row.footerbg {
	background: #777777;
}
.foot-container {
	height: 44px;
}
.bot {
	float: left;
	padding: 17px 0 0 0;
	color: #b3b3b3;
	font-size: 10px;
	width: 104%;
}
.foonav {
	padding: 0 0 0 0;
	display: inline;
	color: #b3b3b3;
	font-size:9px;
}
.foonav a {
	color: #E9E9E9;
	padding-right: 2px;
}
.subnav_web_templates {
	padding: 17px 35px 0 0;
	background: #777777;
	color: #E9E9E9;
	font-size: 10px;
	float: right;
}
#tps_content h2 {
color: #000000;
font-family: "open sans";
font-size: 14px !important;
font-weight: normal !important;
margin: 20px 0 0 0 !important;
width: 100% !important;
line-height: 18px !important;
}
#programs_services h3{
padding-left:0 !important;
}
#programs_services ul li {
color: #3968B1;
font-family: "open sans";
font-size: 13px;
font-weight: normal;
line-height: 17px !important;
list-style-type: disc !important;
margin: 17px 0 -5px;
width: 95%;
}
.col-md-4.text-center img {
position: relative;
left: -101px;
}

/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */
#programs_services h3 {
       margin-left:0!important;
    }

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }

    .col-md-4.logo {
        padding: 12px 0 0 0;
    }

    #tps_content h2 {
        color: #000000;
        font-family: "open sans";
        font-size: 14px !important;
        font-weight: normal !important;
        margin: 20px 0 0 0 !important;
        width: 100% !important;
        line-height: 18px !important;
    }

    
}

	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter: Alpha(Opacity=90);
		width: 94.2%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 94.2%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	.col-md-2.mainmenu1:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu2:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu3:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu4:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.col-md-2.mainmenu5:hover {
		border-bottom: 4px solid #f4911e;
		padding-bottom: 19px;
	}
	.carmenus {
		width: 37% !important;
		height: 50px;
		margin: auto;
	}
	.leftarrow {
		background: url('../images/blue-leftarrow.png') no-repeat transparent;
		width: 9px;
		height: 22px;
		position: absolute;
		top: 6px;
		left: 14px;
	}
	.pl-productname {
		background: #f5f3f3;
		font-size: 11px;
		padding: 36px 22px;
		margin: 0 !important;
		text-align: center;
		border-bottom: 1px solid #a5a5a5;
	}
	.contact-form-container {
		width: 60%;
		margin: 0 auto;
		position: relative;
		left: 63px;
	}
	.mainmenulink {
	top: 17px;
	}	

@media (min-width: 1600px){
	ul.sub-menu1 {
		display: none;
		background: #616161;
		opacity: .90;
		filter:Alpha(Opacity=90);
		width: 96%;
		position: fixed;
		left: 40px;
		top: 150px;
		z-index: 10;
	}
	ul.sub-menu2 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu3 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu4 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}
	ul.sub-menu5 {
	display: none;
	background: #616161;
	opacity: .90;
	filter: Alpha(Opacity=90);
	width: 96%;
	position: fixed;
	left: 40px;
	top: 150px;
	z-index: 10;
	}

}



}	
@media (min-width: 992px){
	.container {
		max-width: 100%;
	}
	
   
	/*.col-md-1 {
	padding: 0;
	}
	.col-md-2 {
	padding: 0;
	}
	.col-md-3 {
	padding: 0;
	}	
	.col-md-4 {
	padding: 0;
	}
	.col-md-5{
	padding: 0;
	}
	.col-md-6{
	padding: 0;
	}
	.col-md-7 {
	padding: 0;
	}	
	.col-md-8 {
	padding: 0;
	}	
	.col-md-9 {
	padding: 0;
	}
	.col-md-10 {
	padding: 0;
	}
	.col-md-11 {
	padding: 0;
	}	
	.col-md-12 {
	padding: 0;
	}*/	
	.carmenus {
	width: 70%;
	height: 50px;
	margin: auto;
	}
}



@media (min-width: 767px )  and (max-width : 1023px) {
	
.topnav-right {
position: relative;
height: 10px;
right: 40px;
top: -64px;
float: right;
}
	

.mainmenu-icon {

margin-left: -10px;
}


.mainmenu-icon2{
	
margin-left: -10px;
}
.mainmenu-icon3{
	
margin-left: -22px;

}
.mainmenu-icon4{
	
margin-left: -29px;
}
.mainmenu-icon5{
	
margin-left: -8px;
}



	
	.container {
		max-width: 100%;
	}
	

	
	
	
	.subnav_web_templates {
padding: 0px 84px 10px 0;
background: #777777;
color: #E9E9E9;
font-size: 9px;
float: right;
}


	.col-md-2.mainmenu1:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}
.col-md-2.mainmenu2:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}
.col-md-2.mainmenu3:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}
.col-md-2.mainmenu4:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 19px;
}
.col-md-2.mainmenu5:hover {
	border-bottom: 4px solid #f4911e;
	padding-bottom: 17px;
}

	
	.col-md-6.newsletter {
background: #f39a32;
height: 47px;
margin: 0 0 0px 0;
width: 100%;
}

.col-md-2.control-label {
color: #fff;
width: 37%;
padding: 14px 0 0 0px;
margin: 0 0 0 -25%;

}

.form-control-nl {

margin: -27px 0 0 50%;
}

.newsletter-btn {
margin-left: 50%;
}



	.col-md-4.logo {
	padding: 12px 0 0 37px;
	}

	/*.col-md-1 {
	padding: 0;
	}
	.col-md-2 {
	padding: 0;
	}
	.col-md-3 {
	padding: 0;
	}	
	.col-md-4 {
	padding: 0;
	}
	.col-md-5{
	padding: 0;
	}
	.col-md-6{
	padding: 0;
	}
	.col-md-7 {
	padding: 0;
	}	
	.col-md-8 {
	padding: 0;
	}	
	.col-md-9 {
	padding: 0;
	}
	.col-md-10 {
	padding: 0;
	}
	.col-md-11 {
	padding: 0;
	}	
	.col-md-12 {
	padding: 0;
	}*/
	
	.prog-link {
background: #3C3C3C;
width: 76px !important;
height: 76px;
color: #fff;
padding: 14px 0px 0 0px !important;
margin: 0 0 0 0px;
text-align: center;
}

ul.sub-menu1 {

left: -76px;
top: 72px;
width:700px;

}

ul.sub-menu2 {

left: -180px;
top: 72px;
width:735px;

}

ul.sub-menu3 {

left: -313px;
top: 72px;
width:735px;
}

ul.sub-menu4 {

left: -446px;
top: 72px;
width:735px;
}

ul.sub-menu5 {

left: -600px;
top: 70px;
width:735px;
}


.col-md-10.energymenu {
width: 85%;
margin: 0 0 0 0px;
position: relative;
top: -3px;
}

.mainmenulink {

left: 0px;
font-size: 12px;

}



.mainmenu-icon6{
	background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;

height: 81px;
float: left;
	

}

.col-md-2.mainmenu1 {
	position: relative;
top: 7px;
float: left;
width: 16%;
padding: 0 3px 0 0px;
}
.col-md-2.mainmenu2 {
	position: relative;
top: 7px;
float: left;
width: 20.5%;
padding: 0 3px 0 0;

}
.col-md-2.mainmenu3 {
	position: relative;
top: 7px;
float: left;
width: 21.5%;
	/* padding: 0 3px 0 0; */

}
.col-md-2.mainmenu4 {
position: relative;
top: 7px;
float: left;
width: 17.5%;
padding: 0 3px 0 0;

}
.col-md-2.mainmenu5 {
	position: relative;
top: 9px;

width: 19.5%;
padding: 0 0px 0 0px;

}
.search {
width: 4%;
float: right;
position: relative;
right: 18px;
top: 0px;
}




.search-form-field {

height: 66px;
margin: -10px 6px -9px 12px;

}



	






	
}	



		
@media (max-width: 767px){
	
	body {
	width: 100%;
	background: #ECECEC;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	}	
	
/* Header style */

	.foonav {
	font-size: 9px;
	}
	.container.homepg {
		overflow-x:hidden;
	}
	.col-md-2.mainmenu1, .col-md-2.mainmenu2, .col-md-2.mainmenu3, .col-md-2.mainmenu4, .col-md-2.mainmenu5{
		width: 100%;
	}
	.row.header {
		height: 100%;
	}
	.row.header .col-xs-12 {
		border-top: 1px solid rgb(167, 162, 162);
	}
	.topnav-right {
		right: 10px;
		float: left;
		margin-top: 10px;
	}
	.prog-link {
		width: 100% !important;
		height: 100%;
		padding: 20px 32px 40px 38px !important;
		margin: 0px;
		position: absolute;
	}
	.col-md-10.energymenu {
		background: white;
		width: 100%;
		margin: 0;
		position: absolute;
		top: 60px;
		padding-bottom: 15px;
	}
	.menu1, .menu2, .menu3 {
		top: 0px;
		float: none;
	}
	.collapsableMenu {
		display: inline;
	}
	.top-icon4{
		background: url('../images/spritesheet.png') no-repeat 9.433% 60%;
		padding: 14px;
		width: 48px;
		float: left;
	}
	.toplink4 {
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
	}
	.search {
		width: 75px;
		float: right;
		position: absolute;
		right: 0;
		top: 54px;
		padding: 0 0 0 16px;
	}
	.search .popover{
		height: 39px !important;
	}
	.search .popover-content {
		padding-top: 4px;
	}
	.search-form-field{
		height: 100%;
	}
	.mainmenu-icon6 {
		width: 100%;
		height: 40px;
	}
	.toplink1, .toplink2, .toplink3 {
		display: none;
	}
	.mainnav-home {
		display: none;
		opacity: 1;
		position: relative;
		height: 100%;
		border-top: none;
	}
	.flex-viewport{
		width: 100%;
	}
	.flex-direction-nav {
		display: none;
	}
	.menu-container {
		overflow: scroll;
	}
	.menu:hover {
		background: none;
		color: #333;
	}
	.mainmenulink {
		top: 22px;
	}
	ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5{
		position: fixed;
		display: block;
		/*left: 0px;*/
		left: 100%;
		top: 0;
		padding: 0px;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
		width: 100%;
	}
	.sub-menu1 li, .sub-menu2 li , .sub-menu3 li, .sub-menu4 li, .sub-menu5 li{
		display: block;
		padding: 0px;
		left: 0px;
	}
	.submenu-btn {
		display: block;
		border-radius: 0px;
	}
	.subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}

	
	/* --Header style-- */
	
	/* Footer style */
	.col-md-2.control-label {
		color: #fff;
		width: 86%;
		text-align: center;
		padding: 7px 0 7px 0;
		margin: 0 0 0 11px;
	}
	
	.col-md-4.contact-info {
		position: relative;
		top: 0;
		left: 0;
		width: 0;
	}
	.horizontal-line-divider {
		height: 18px;
		width: 100%;
		margin-bottom: 0px;
		background: url(../images/news_bg_horizontal.png) repeat-x;
	}
	.social-container {
		margin: 3px auto;
		width: 64%;
		padding: 0px;
		height: 39px;
	}
	.col-md-6.newsletter {
		background: #f39a32;
		height: 94px;
		width: 100%;
		margin: 61px 0 0 0;
	}
	.phoneno {
		float: left;
		width: 55%;
		position: relative;
		left: -18px;
		top: 15px;
	}
	.catalog {
		float: left;
		position: relative;
		left: 135px;
		top: 14px;
		width: 200px;
	}
	.arrowbtn {
		background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
		display: block;
		position: relative;
		float: right;
		width: 32px;
		height: 38px;
		top: -31px;
		left: -10px;
		margin-bottom: -32px;
	}
	.form-control-nl {
		display: block;
		width: 80%;
		height: 34px;
		padding: 8px;
		margin: 0 auto;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555;
		vertical-align: middle;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		margin-left: 15px;
	}
	/* --Footer style-- */
.leftarrow{background-image: url('../images/product-table-arrow.gif') ; width:37px; height:59px; left:inherit; right:0px; top:0; background-repeat:no-repeat; background-position:left top; position: absolute; z-index:9999; cursor:pointer;}
	.SlideOnn{background-position:left bottom; }

	/* Footer menus style */
	
	
	.footermenu-container {
		width: 100px;
		position: relative;
		top: 17px;
/*		left: -17px;*/
	}

	.footer-sub-menu1 {
		position: fixed;
		left:0px;
		top: 100%;
		padding: 0px;
		width: 100%;
		height: 100%;
		opacity: 1;
		background: #444343;
		transition: linear .5s;
	}
	.footer-sub-menu1 li {
		display: block;
		padding: 0px;
		left: 0px;
	}
	.subnav_web_templates {
		background: #777777;
		color: #CACACA;
		font-size: 10px;
		float: right;
		position: relative;
		right: -15px;
		top: -18px;
		width: 220px;
	}
	.footer-subBack-btn {
		display: block;
		padding: 7px;
		width: 90px;
		background: black;
		color: white;
		text-align: center;
	}
	.footer-subBack-btn:hover {
		color: white;
	}
	
	
		/* ____________mobile header footer ends_____________________*/
		
		
		
	.container.productlisting-container {
	 	overflow-x: hidden;
	}
	
	
	.mainnav-subpage {
		display:none;
	}
	.aboutmenu-container {
		display:none;
	}
	.row.headersession {
		background: #edecec;
	}
	.mainnav-subpage {
		display: none;
	}
	.aboutmenu-container {
		display: none;
	}
	.col-md-12.aboutbanner {
		display:none;
	}
	.headerlabel {
		color: #f4911e;
		font-size: 20px;
		font-weight: normal;
		margin-top: 8px;
		padding:0px;
		overflow: hidden;
		height:40px;
		margin: 6px 0 0 7px;
	}
	.breadcrumb {
		display:none;
	}
	.row.pns-content {
		background: #edecec;
		padding-bottom: 30px;
	}
	.col-md-10.col-md-offset-2.pns-container {
		margin-top: 20px;
		margin-left:-4px;
	}
	.pns-headertxt {
		color: #3968b1;
		font-size: 22px;
		font-weight: bold;
		font-family: "open sans";
		margin: 40px 0 8px 4px;
	}
	.pns-paragtxt {
		color: #000;
		font-size: 17px;
		font-weight: normal;
		font-family: "open sans";
		margin: 5px 0 0 -14px;
		width: 106%;
	}
	.col-md-10.col-md-offset-1 {
		margin-top: -15px;
		margin-left: -23px;
	}
	.pns-headertxt2 {
		color: #000;
		font-size: 13px;
		font-weight: bold;
		font-family: "open sans";
		margin: 30px 0 0 21px;
		width: 90%;
		line-height: 16px;
	}
	.pns-ulist li {
		list-style-type: disc !important;
		margin: 17px 0 -8px 0;
		color: #3968b1;
		font-size: 13px;
		font-weight: normal;
		font-family: "open sans";
		line-height: 14px;
		width: 95%;
	}
	.col-md-4.back-btn {
	top: -42px;
	right: -23px;
	}
	.col-md-4.back-btn a {
		color:#000;
	}	
	.back_btn {
		display: none;
	}
	#programs_services h2 {
	color: #000000;
	font-family: "open sans";
	font-size: 13px !important;
	font-weight: bold !important;
	margin: 20px 0 0 18px;
	width:92% !important;
	}
	#programs_services h3 {
	color: #000000;
	font-family: "open sans";
	font-size: 13px !important;
	font-weight: normal !important;
	line-height: 24px;
	margin: 30px 0 0 6px;
	width: 90%;
	}
	.contactdetail-txt {
	margin: 23px;
	font-size: 13px !important;
	width: 77%;
	margin: 30px 0 0 43px;
	}
}
@media (min-width: 992px) {
    .col-md-4.logo {
        padding: 12px 0 0 37px ;
    }
}
@media (max-width: 991px) {
    .col-md-4.logo {
        padding: 12px 0 0 0 ;
    }
}