/* Global/Helpers/Clears */
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.woocommerce_message,
.info,
.woocommerce_error,
.woocommerce_info {
  	margin-bottom: 20px;
	width: auto;
	padding: 8px;
	padding-left:30px;
	-webkit-border-radius: 2px;
	 -moz-border-radius: 2px;
	 -ms-border-radius: 2px;
	 -o-border-radius: 2px;
	 border-radius: 2px;
	   border: 1px solid #EDEDED;
	font-size: 12px;
}

.woocommerce_error:before,
 {
  content: "";
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  top: 8px;
  left: 10px;
  margin-left:10px;
  margin-top:12px;
  background-color: white;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.woocommerce_message .button,
.info .button,
.woocommerce_error .button,
.woocommerce_info .button {
  float: right;
}
.woocommerce_message li,
.info li,
.woocommerce_error li,
.woocommerce_info li {
  list-style: none outside;
}
.woocommerce_message:after,
.info:after,
.woocommerce_error:after,
.woocommerce_info:after {
  content: "";
  display: block;
  clear: both;
}
.woocommerce_message:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAAN0lEQVQIHXWMQQ4AMAjCxv7/ZxZIanbYPIhSUbbXo2Jqf0BsA4mjgU1ioAVpSSrDVbPzFgPt7QH7qwoJ3MDCYgAAAABJRU5ErkJggg==) center no-repeat #8fae1b;
}
.info:before,
.woocommerce_info:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAFCAYAAABvsz2cAAAAG0lEQVQIHWP8DwQMQMACxIwwBliECcQDATgDAMHrBQqJ6tMZAAAAAElFTkSuQmCC) center no-repeat #18919c;
}
.woocommerce_error:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAFCAYAAABvsz2cAAAAHUlEQVQIHWP8DwQMQMAEIkAAzmABchhBIiAGWA0Ar6MFCigWCYMAAAAASUVORK5CYII=) center no-repeat #b81c23;
}
p small {
  color: #999;
}
p.demo_store {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  background: #f7f5c6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f5c6), to(#eeeac1));
  background: -webkit-linear-gradient(#f7f5c6, #eeeac1);
  background: -moz-linear-gradient(center top, #f7f5c6 0%, #eeeac1 100%);
  background: -moz-gradient(center top, #f7f5c6 0%, #eeeac1 100%);
  padding: 8px 0;
  border: 1px solid #EEEAC1;
  color: #747165;
  z-index: 999999;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
}
small.note {
  display: block;
  color: #999;
  font-size: 11px;
  line-height: 21px;
  margin-top: 10px;
}


/* =Cart Sidebar
-------------------------------------------------------------- */
ul.cart_list,
ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
ul.cart_list li,
ul.product_list_widget li {
  padding: 4px 0;
  margin: 0;
  list-style: none;
}
ul.cart_list li:after,
ul.product_list_widget li:after {
  content: "";
  display: block;
  clear: both;
}
ul.cart_list li a,
ul.product_list_widget li a {
  display: block;
}
ul.cart_list li img,
ul.product_list_widget li img {
  float: right;
  margin-left: 4px;
  width: 32px;
  height: auto;
  padding:2px;
  border:1px solid #ddd;
}
ul.cart_list li dl,
ul.product_list_widget li dl {
  margin: 0;
  font-size: 0.8751em;
}
ul.cart_list li dl dt,
ul.product_list_widget li dl dt {
  float: left;
  clear: left;
  margin-right: .25em;
}
ul.cart_list li dl dd,
ul.product_list_widget li dl dd {
  margin-bottom: .5em;
}
ul.cart_list li .star-rating,
ul.product_list_widget li .star-rating {
  float: none;
}
.widget_shopping_cart .total {
  border-top: 3px double #ddd;
  padding: 4px 0 0;
}
.widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.widget_shopping_cart .buttons:after {
  content: "";
  display: block;
  clear: both;
}



/* =Layered Nav Widget
-------------------------------------------------------------- */
.widget_layered_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}
.widget_layered_nav ul li {
  padding: 0 0 1px;
  list-style: none;
}
.widget_layered_nav ul li:after {
  content: "";
  display: block;
  clear: both;
}
.widget_layered_nav ul li a,
.widget_layered_nav ul li span {
  padding: 1px 0;
  float: left;
}
.widget_layered_nav ul li.chosen a {
  padding: 0 6px 0 18px;
  border: 1px solid #3399cc;
  background: #3399cc url(../images/cross_white.png) no-repeat 6px center;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget_layered_nav ul small.count {
  float: right;
  margin-left: 6px;
  font-size: 1em;
  padding: 1px 0;
  color: #999;
}

.shop_attributes p {padding-bottom:0}
.shop_attributes th {padding-right:16px}


dl.variation dt {float:left;margin-right:4px}