/*
 * jQuery FlexSlider v1.8
 * 
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.widget ul.slides li a {padding:0}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {width: 100%; margin: 0; padding: 0;margin-top:0px !important;}
.flexslider .slides > li {display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; height: auto;margin:0 auto;}
.single .flexslider .slides img {}
.single-product .flexslider .slides img {margin:0; padding:6px; border: 1px solid #DDD; background: #FFF;}
.single-product .flexslider .slides img:hover {opacity:0.9;}
.single-portfolio .flexslider .slides img { border:0; padding:0; }
.flex-pauseplay span {text-transform: capitalize;}
#ss_wrap {width: 100%;position: relative;} 
.single-portfolio #ss_wrap {margin:14px 0} 
.hs_wrap {width: 100%;height: 100%;position: relative;margin-top: 0px;}


/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: transparent; border: 0; position: relative; zoom: 1;float:left;}
.flexslider .slides {zoom: 1;width:100%;margin-top:0px !important;}
.home .flexslider .slides {width:100%;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

.post-full .flexslider ul li {margin:0; list-style:none;}
.post-full .flexslider ul.thumbs-nav li {margin-left:10px;}
/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 0; margin: 0; position: absolute; left: 0; bottom: 0; background: transparent; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px; padding:2%;background:rgba(0,0,0,.3);}

#featured .flex-caption { width:100%; padding:0; background:transparent;}
/* Direction Nav */
.flex-direction-nav { height: 0; }
.flex-direction-nav li a {width: 50px; height: 50px; display: block; position: absolute; top: 42%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}



/*
Pagination
*/
.flexslider .pagination {
	margin: 0 0 40px;
	width: 100%;
	min-height: 63px;
	display: block;
	float:left;
	margin-top:16px;
}
.flexslider .pagination li {
	float: left;
	margin: 0 3px 3px 0;
	list-style: none;
}
.flexslider .pagination li:first-child {
	margin-left: 0
}
.flexslider .pagination li a {
	display: block;
	width: 50px;
	height: 50px;
	padding: 3px;
	background: #fff;
	border: 1px solid #dadada;
	overflow: hidden;
	float: left;
}
.flexslider .pagination li.current a {
	border: 1px solid #ccc;
	background: #eaeaea;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
}
.flexslider .pagination li a img {
	width: 50px;
	height: 50px;
	opacity: .50 !important;
	filter: alpha(opacity=50);
	filter: "alpha(opacity=50)";
}
.flexslider .pagination li a.active img, .flexslider .pagination li:hover a img {
	opacity: 1 !important;
	filter: alpha(opacity=100);
	filter: "alpha(opacity=100)";
}   


.flex-control-nav {
width: 100%;
position: absolute;
bottom: -7px;
text-align: center;
}
.flex-control-nav {
margin: 0;
padding: 0;
list-style: none;
}
.flex-control-nav li {
margin: 0 2px !important;
display: inline-block;
zoom: 1;
width:auto !important;
}
.flex-control-nav li a {
width: 12px;
height: 12px;
display: block;
background: #fff;
cursor: pointer;
text-indent: -9999px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
.flex-control-nav li a:hover, .flex-control-nav li a.active {
background: #333;
background: rgba(0,0,0,0.15);
}
ul.products .flexslider {
	padding-bottom:20px;
}
