.mainmenulink {
	top: 17px;
}
.px-BtmBox-hotspot{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	display:inline-block;
}
.px-BtmBox-hotspot:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}