/* _____ GLOBAL ________________________________________________________ */
@font-face {
    font-family: 'open_sanslight';
    src: url('../../fonts/OpenSans-Light-webfont.eot');
    src: url('../../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans ', sans-serif;
    font-weight: normal;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: none !important;
}

a:active, a:hover {
    outline: 0;
    color: inherit;
}
/*--------------------------menu collapse ---------------------------------*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: #C08429!important;
}

.navbar-toggle {
    position: none !important;
    float: none !important;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: rgb(223, 127, 23);
    border-radius: 4px;
}


.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(107, 105, 98);
}

.navbar-inverse {
    background: url('../images/top_bg.png') repeat-x 0% 0%;
    /*height: 77px;*/
    border: 0px !important;
}

.col-md-4.menu1 {
    position: relative;
    top: 27px;
    float: left;
    width: 20%;
}

.col-md-4.menu2 {
    position: relative;
    top: 27px;
    float: left;
    width: 25%;
}

.col-md-4.menu3 {
    position: relative;
    top: 27px;
    float: left;
    width: 29%;
}

.menu1 {
    position: relative;
    
    float: left;
}

.menu2 {
    position: relative;
    
    float: left;
}

.menu3 {
    position: relative;
    
    float: left;
}

.collapsableMenu {
    display: none;
}

.top-icon {
    background: url('../images/spritesheet.png') no-repeat -3.567% 33.273%;
    padding: 14px;
    width: 48px;
    float: left;
	margin-right: -5px;
}
/*
a.menu1:hover .top-icon {
    background-position: -3.567% 86.273% !important;
}
*/
.top-icon2 {
    background: url('../images/spritesheet.png') no-repeat 8.433% 33.273%;
    padding: 14px;
    width: 48px;
    float: left;
	margin-right: 1px;
}
/*
a.menu2:hover .top-icon2 {
    background-position: 8.433% 86.273% !important;
}
*/
.top-icon3 {
    background: url('../images/spritesheet.png') no-repeat 18.433% 33.273%;
    padding: 14px;
    width: 48px;
    float: left;
}
/*
a.menu3:hover .top-icon3 {
    background-position: 18.433% 86.273% !important;
}
*/
.toplink1 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
	margin-right:15px;
}

.toplink2 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
	margin-right:9px;
}

.toplink3 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.toplink4 {
    color: #525151;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.toplink5 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.topnav {
    margin-bottom: 0;
    list-style: none;
    width: 62%;
}

.topnav-right {
    position: relative;
    right: 40px;
    float: right;
}

.mainnav-home {
    /* opacity: .9;
    filter: Alpha(Opacity=90);*/
    height: 74px;
    margin: 0 0 0 0;
    /*  border-top: 1px solid #fff;*/
    position: absolute;
    z-index: 99;
    width: 99.99%;
}

ul.slides p {
    font-family: 'open_sanslight';
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    z-index: 10;
}


:root ul.slides .text_bg {
    /*margin-left: 36%\9;
   margin-top: 4%\9;*/
}

:root ul.slides p {
    /*margin-left:10%\9;
    width: 26%\9;*/
}




ul.slides .text_bg {
    /*behavior: url("PIE.htc");
    filter:alpha(opacity=30); 
    background-color: #1daef2;*/
    /*border-radius: 50px 50px 50px 50px;
    border-radius: 100%\9;*/
    width: 311px;
    height: 311px;
    /*margin-left: 3.1%;*/
    position: absolute;
    z-index: 8;
    overflow: hidden;
    left: 50%;
    margin-left: -156px;
    padding: 0 30px;
    /*opacity:0.6;*/
    /*max-width:464px;
	max-height:464px;*/
    background: url('../../images/home-blue-circle.png') no-repeat left top;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: visible;
    position: relative;
    /*min-height:450px;*/
}



.modal-body {
    top: 20px;
}

.close {
    width: 100px;
    height: 30px;
}


.col-md-2.mainmenu1 {
    position: relative;
    top: 7px;
    float: left;
    width: 17%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu2 {
    position: relative;
    top: 7px;
    float: left;
    width: 19.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu3 {
    position: relative;
    top: 7px;
    float: left;
    width: 19.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu4 {
    position: relative;
    top: 7px;
    float: left;
    width: 22.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu5 {
    position: relative;
    top: 7px;
    float: left;
    width: 19.5%;
    padding: 0 3px 0 0;
}

.col-md-2.mainmenu1:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 19px;
}

.col-md-2.mainmenu2:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 19px;
}

.col-md-2.mainmenu3:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 19px;
}

.col-md-2.mainmenu4:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 19px;
}

.col-md-2.mainmenu5:hover {
    border-bottom: 4px solid #f4911e;
    padding-bottom: 19px;
}

.mainmenu-icon {
    background: url('../images/spritesheet.png') no-repeat -3.567% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
    margin-left: 0px;
}

.mainmenu-icon2 {
    background: url('../images/spritesheet.png') no-repeat 9.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
    margin-left: 0px;
}

.mainmenu-icon3 {
    background: url('../images/spritesheet.png') no-repeat 21.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
    margin-left: 0px;
}

.mainmenu-icon4 {
    background: url('../images/spritesheet.png') no-repeat 33.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
    margin-left: 0px;
}

.mainmenu-icon5 {
    background: url('../images/spritesheet.png') no-repeat 44.433% -5.727%;
    padding: 14px;
    width: 48px;
    height: 49px;
    float: left;
    margin-left: 0px;
}

.mainmenu-icon6 {
    background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
    padding: 14px;
    width: 48px;
    height: 81px;
    float: left;
}

.mainmenulink {
    color: #020202;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    width: 100%;
    display: block;
    /*  line-height: 53px;*/
}

.prog-link {
    background: #3C3C3C;
    display: block;
    width: 142px !important;
    height: 76px;
    color: #fff;
    padding: 20px 32px 0 38px !important;
    margin: 0 0 0 40px;
    float: left;
}

.col-md-1.prog-link:hover {
    background: #f4911e;
    color: #fff;
}

.col-md-10.energymenu {
    width: 72%;
    margin: 0 9px;
    position: relative;
    top: -3px;
    float: left;
}

.search {
    float: right;
    position: relative;
    right: 37px;
    top: 0px;
    width: auto;
}

.car-menu {
    background: #fff;
    opacity: .90;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    height: 51px;
    /*margin: -51px 0 0 0;*/
    margin: -51px 0 0 0;
    position: relative;
    width: 100% !important;
}

.carmenus {
    width: 1150px;
    height: 50px;
    margin: auto;
    position: relative;
	display: inline-block;
    /*  top:-3px;*/
}

.menusession {
    width: 100%;
    margin: 0 auto;
}

.menu {
    float: left;
    padding: 0px 16px 0 14px;
    height: 51px;
    /*  position: relative;
    top: 12px;*/
}

    .menu:hover {
        background: #f4911e;
        text-decoration: none;
        color: #fff;
    }

.caro-menulink {
    /*  color: #525151;*/
    color: inherit;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    top: 16px;
    padding: 10px 0 10px 0;
}
/*.caro-menulink {
    color: #525151;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    top: 7px;
}*/
.menu-container {
    width: 100%;
    margin: 0 auto;
	text-align:center;
}
.sub_newsletter.top-prog {
    display: inline-block;
    width: 135px;
	position:none;
	position:relative;
	top:-11px;
}
.sub_newsletter.top-prog a {
    border-radius: 5px;
    display: block;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}
.sub_newsletter.top-prog a span {
    display: block;
    font-size: 12px;
}

.am_conversion {
    background: #f4911e;
    height: auto;
    /*margin: -28px 0 0 0;*/
    margin: -37px 0 0 0;
}



.col-md-4.logo {
    float: left;
}


.am-container {
    width: 64%;
    margin: 0 auto;
    text-align: center;
}

h2.am-header {
    position: relative;
    top: 22px;
}

.am-header {
    padding: 12px;
    padding-left: 0px;
    padding-right: 0px;
    width: 300px;
    margin: 20px auto;
    margin-bottom: 28px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.dot {
    background: url('../images/spritesheet.png') no-repeat 54.433% 33.273%;
    padding: 14px;
    width: 48px;
    height: 40px;
    position: relative;
    top: -9px;
}

.yourone-txt {
    color: #fff;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 14px;
    margin-right: 13px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 345px;
}

.amctwin-txt1 {
    font-family: "open sans";
    font-weight: normal;
    float: left;
    position: relative;
    left: 51px;
}

.amctwin-txt2 {
    font-family: "open sans";
    font-weight: normal;
    float: left;
    position: relative;
    left: 5px;
}

.tooltip.bottom {
    margin-left: 43px;
	max-width:345px;
}

    .tooltip.bottom .tooltip-arrow {
        left: 88% !important;
    }

    .tooltip.bottom .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -5px;
        border-bottom-color: #f9f4f4;
    }

.tooltip-inner {
    behavior: url("PIE.htc");
    color: #525151;
    font-size: 14px;
    max-width: 250px;
    background-color: #f9f4f4;

}

.btn-default {
    color: #FC9B0B !important;
    background-color: #525151;
    font-size: 16px !important;
}

.arrowicon1 {
    background: url("../images/spritesheet.png") no-repeat scroll 86.433% 36.273% transparent !important;
    height: 39px;
    padding: 13px 35px 0 0px;
    position: relative;
    top: 10px;
    left: 51px;
    width: 48px;
}

.arrowicon2 {
    background: url("../images/spritesheet.png") no-repeat scroll 86.433% 36.273% transparent !important;
    height: 39px;
    padding: 13px 35px 0 0px;
    position: relative;
    top: 9px;
    left: 15px;
    width: 48px;
}

.programs-container-home {
    background: url('../images/pipefitting_bg.png') no-repeat 0% 0%;
    background-size: 100%;
    height: 397px;
}

.horizontal-line-divider {
    height: 13px;
    width: 100%;
    margin-bottom: 0px;
    background: url(../images/news_bg_horizontal.png) repeat-x;
}

.row.socialfooter {
    background: #edecec;
}

.col-md-6.social-left {
    background: #edecec;
    height: 47px;
    /*  margin: -7px 0 0 0;*/
}

.social-container {
    position: relative;
    top: 15px;
    left: 39px;
    width: 130%;
}

.p-icon {
    background: url('../images/spritesheet.png') no-repeat 76.433% -4.727%;
    padding: 17px;
    width: 48px;
    height: 49px;
}

.t-icon {
    background: url('../images/spritesheet.png') no-repeat 86.433% -4.727%;
    padding: 17px 17px 13px 17px;
    width: 48px;
    height: 49px;
}

.f-icon {
    background: url('../images/spritesheet.png') no-repeat 97.433% -4.727%;
    padding: 17px;
    width: 48px;
    height: 49px;
    margin-left: 5px;
}

.p-icon:hover {
    background-position: -197px -82px;
}

.t-icon:hover {
    background-position: -241px -82px;
}

.f-icon:hover {
    background-position: -292px -82px;
}

.col-md-4.contact-info {
    position: relative;
    top: -6px;
    left: 160px;
    width: 100%;
}

.bs-example.twinbtn {
    width: 100%;
    position: relative;
    left: 0;
    padding-bottom: 18px;
}

.phoneno {
    float: left;
    width: 30%;
}

.catalog {
    float: left;
}

.bottom-icon1 {
    background: url('../images/spritesheet.png') no-repeat 31.433% 35.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.bottom-icon2 {
    background: url('../images/spritesheet.png') no-repeat 42.433% 34.273%;
    padding: 14px;
    width: 48px;
    float: left;
}

.col-md-6.newsletter {
    background: #f39a32;
    height: 47px;
    margin: 0 0 0 -13px;
    width: 48%;
}

.col-md-4.control-label {
    color: #fff;
    padding: 15px 0 0 24px;
    font-size: 13px;
}

.col-md-2.control-label {
    color: #fff;
    width: 37%;
    padding: 14px 0 0 0;
    margin: 0 0 0 11px;
}

.form-control-nl {
    display: block;
    width: 224px;
    height: 34px;
    padding: 8px;
    margin: 7px 0 0 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.row.footerbg {
    background: #777777;
}

.foot-container {
    height: 44px;
    background: #777;
}

.bot {
    float: left;
    padding: 17px 0 0 0;
    color: #b3b3b3;
    font-size: 10px;
    width: 104%;
}

.phonelink {
    cursor: default;
}

.foonav {
    padding: 0 0 0 0;
    display: inline;
    color: #c9c9c9;
    font-size: 11px;
}

    .foonav a {
        color: #c9c9c9;
        padding-right: 2px;
    }

        .foonav a:hover {
            color: #f4911e;
            padding-right: 2px;
        }

.subnav_web_templates {
    padding: 17px 35px 0 0;
    background: #777777;
    color: #E9E9E9;
    font-size: 11px;
    float: right;
}

.form-group {
    margin-bottom: 0px !important;
}


/*------------------------  carousel  -----------------------------------------------*/
.img_container {
    width: 960px;
    margin: 0 auto;
}

.picture_a {
    /*position: absolute;*/
}

.clearfix {
    float: none;
    clear: both;
}

a.prev, a.next, .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
    background: url('../images/spritesheet.png') no-repeat transparent;
    width: 48px;
    height: 49px;
    top: 50%;
    margin-top: -24px;
}

a.prev, .flex-direction-nav .flex-prev {
    background-position: -242px 0px;
    text-indent: -999em;
}

a.next, .flex-direction-nav .flex-next {
    background-position: -288px 0px;
    text-indent: -999em;
}

/*______Index page __________________________________________________________________*/
.container.homepg {
    background: #edecec;
}

.row.header {
    border-bottom: 1px solid #a3a2a2;
    height: 76px;
    position:relative;
    z-index:100;
}

/*_______dropdown menu _________________________________________________________________*/
.sub-menu1 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }

ul.sub-menu1 {
    display: none;
    background: #616161;
    opacity: .90;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    width: 96% !important;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu2 {
    display: none;
    background: #616161;
    opacity: .90;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    width: 96%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu3 {
    display: none;
    background: #616161;
    opacity: .90;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    width: 96%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu4 {
    display: none;
    background: #616161;
    opacity: .90;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    width: 96%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

ul.sub-menu5 {
    display: none;
    background: #616161;
    opacity: .90;
    filter: alpha(opacity=90);
    width: 96%;
    position: fixed;
    left: 40px;
    top: 150px;
    z-index: 10;
}

.col-md-2.mainmenu1:hover ul.sub-menu1 {
    display: block;
}


.sub-menu2 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }
/*ul.sub-menu2 {
    display:none;
    background: #616161;
    opacity:.90;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    width: 925px;
    position: absolute;
    left: -274px;
    top: 70px;
    z-index: 10;
}*/
.col-md-2.mainmenu2:hover ul.sub-menu2 {
    display: block;
}

.sub-menu3 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }
/*ul.sub-menu3 {
    display:none;
    background: #616161;
    opacity:.90;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    width: 925px;
    position: absolute;
    left: -416px;
    top: 70px;
    z-index: 10;
}*/
.col-md-2.mainmenu3:hover ul.sub-menu3 {
    display: block;
}

.sub-menu4 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }
/*ul.sub-menu4 {
    display:none;
    background: #616161;
    opacity:.90;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    width: 925px;
    position: absolute;
    left: -557px;
    top: 70px;
    z-index: 10;
}*/
.col-md-2.mainmenu4:hover ul.sub-menu4 {
    display: block;
}

.sub-menu5 li {
    display: inline-block;
    padding: 14px 3px 14px 3px;
    color: #fff;
    position: relative;
    left: -34px;
}

.submenu-btn {
    background: #444343;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

    .submenu-btn:hover {
        background: orange;
        padding: 7px;
        color: #fff;
    }
/*ul.sub-menu5 {
    display:none;
    background: #616161;
    opacity:.90;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    width: 925px;
    position: absolute;
    left: -720px;
    top: 70px;
    z-index: 10;
}*/
.col-md-2.mainmenu5:hover ul.sub-menu5 {
    display: block;
}
/*____________toolpopup___________________________________*/
.popover {
    position: absolute;
    top: 0px !important;
    /*left: -869px !important;*/
    z-index: 1010;
    display: none;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    max-width: 1162% !important;
    height: 74px !important;
    border-radius: 0px !important;
    border: 0px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.popover-content {
    padding: 9px 14px;
    /*width: 878px;*/
}

.popover.left .arrow {
    top: 50%;
    right: -6px;
    margin-top: -11px;
    border-left-color: #fff;
    border-right-width: 0;
}

.search-form-field {
    display: block;
    padding: 0 0 0 11px;
    width: 100%;
    height: 51px;
    margin: 0px 0 -9px 0px;
    font-size: 16px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 0px;
    /*  -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;*/
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-align: right;
}

.btn.btn-default.home:after {
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 12px solid red;
    content: " ";
    margin-top: 32px;
    margin-left: 26px;
    position: absolute;
    display: none;
}
/*.homeowner {
    display: none;
    position: relative;
    background: #f9f4f4;
    border-radius: 5px;
    bottom: -80px;
    color: #000;
    font-size:13px;
    content: attr(title);
    left: 17%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 245px;
}
.homeowner:before {
    border: solid;
    border-color: #fff ;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;

}
.homeowner:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;

}*/
/* ___________Tooptip   ___________________________________ */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

/*Paralax Effects*/
.col-md-12.parallexbg {
    height: 370px;
    background: url(../images/parallex_bg.png) no-repeat;
    background-size: 100%;
    padding: 0px;
}

.px-phoneimgwrap {
    height: 450px;
}

.px-phoneimg {
    height: 450px;
    position: relative;
    overflow: hidden;
}

.px-ImageBg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
}

.px-BtmBox {
    margin-top: -25px;
    padding-bottom: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    top: 25px;
    border: 1px solid #e2e2e2;
    /*height:auto !important;*/
	overflow: hidden;
}

    .px-BtmBox span {
        padding: 20px 0;
        text-align: center;
        color: #f2911e;
        display: block;
        font-weight: bold;
        font-size: 16px;
        background: url(../images/span-bg.png) center bottom no-repeat;
        margin: 0 10px;
    }

        .px-BtmBox span.border-pic {
            margin: 0;
            padding: 0;
            position: absolute;
            left: 0;
            bottom: 25px;
            height: 15px;
            width: 100%;
        }

    .px-BtmBox p {
        margin: 10px 10px 40px;
        text-align: center;
        color: #696969;
        line-height: 25px;
        /*background: url(../images/span-bg.png) center bottom no-repeat;*/
        padding: 0 0 35px;
        white-space: pre-wrap;
		position:relative;
    }

#px-Program {
    top: 600px;
}

#px-Testimonial {
    top: 1200px;
}

#px-Talktous {
    left: inherit;
    top: 1800px;
}

.px-BtmBox-hotspot div {
    position: absolute;
    background: #68abd9;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: Alpha(Opacity=80);
}

.px-BtmBox-hotspot > .btn.btn-warning {
    position: relative;
    width: auto;
    left: 50%;
    margin-left: -55px;
    border-radius: 5px;
}

.px-BtmBox-hotspot {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .px-BtmBox-hotspot:hover {
        opacity: 1;
    }

/* news letter sign up */

.col-md-6.newsletter {
    background: #f39a32;
    height: 47px;
    margin: 0 0 0 0px;
    width: 50%;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 0px;
}

.col-md-2.control-label {
    color: #fff;
    width: 37%;
    padding: 14px 0 0 0;
    margin: 0 0 0 11px;
}

.form-control-nl {
    display: block;
    width: 224px;
    height: 34px;
    padding: 8px;
    margin: 7px 0 0 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.subscription {
    padding: 30px;
    font-size: 13px;
    color: #fff;
}

.closebtn {
    margin-top: -53px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}



input[type="submit"].arrowbtn {
    background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
    padding: 18px 16px 0 16px;
    position: relative;
    left: 245px;
    top: -32px;
    cursor: pointer;
    margin-top: 14px;
    margin: 0 auto;
    border: 0px;
}

.subscription {
    margin-top: -15px;
    padding: 30px;
    font-size: 13px;
    color: #fff;
}

/*----------------------------------modalbox popup-----------------------------------------*/
.form-group-rac {
    margin-bottom: 15px;
    position: relative;
    top: -50px;
}

form {
    margin-bottom: -55px !important;
}

.modal-dialog {
    width: 750px !important;
    right: auto;
    left: 50%;
    padding-top: 170px;
    padding-bottom: 30px;
}

.modal-header-rac {
    min-height: 16.428571429px !important;
    padding: 15px !important;
    border-bottom: 0px solid #e5e5e5 !important;
    ;
}

.modal-content-rac {
    position: relative;
    background-color: #edecec;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0px!important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}

.form-header-txt {
    color: #3968b1;
    font-size: 24px;
    font-weight: bold;
}

.form-headercaption-txt {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
}

.form-contact-method {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
    margin: 10px 0 0 0;
}

.rac-container {
    overflow: hidden;
    margin: -10px 0 0 0;
}

.rac-form-field {
    display: block;
    padding: 0 0 0 11px;
    width: 300px;
    height: 41px;
    margin: 18px 0 -9px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field2 {
    display: inline;
    padding: 0 0 0 11px;
    width: 200px;
    height: 41px;
    margin: 22px 15px -9px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field3 {
    display: line;
    padding: 0 0 0 11px;
    width: 80px;
    height: 41px;
    margin: 22px 0 -9px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field4 {
    display: block;
    padding: 5px 0 0 11px;
    width: 300px;
    height: 80px;
    margin: 12px 0 0 0px;
    font-size: 13px;
    resize: none;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rac-form-field5 {
    display: block;
    padding: 0 0 0 11px;
    width: 300px;
    height: 41px;
    margin: 10px 0 10px 0px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.col-md-4.rac-left {
    float: left;
    width: 45%;
}

.ips select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: transparent url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    /*  background-position-x: 97%;
    background-position-y: 50%;*/
    background-position: 97%,50%;
    height: 41px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
}

.form-control-select {
    display: block;
    margin: 10px 0 0 0;
    width: 97%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    /*  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.shipping-txt {
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 0 0;
}

.shipping-parag-txt {
    color: #494949;
    font-size: 11px;
    font-weight: bold;
}

.rac-radio, .rac-checkbox {
    display: inline;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

    .rac-radio label, .rac-checkbox label {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

.rac-radio1, .rac-checkbox {
    display: inline;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

    .rac-radio1 label, .rac-checkbox label {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

.rac-radio2, .rac-checkbox {
    display: inline;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

    .rac-radio2 label, .rac-checkbox label {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

.radio-group {
    margin: 5px 0 0 -18px;
}

.account-txt {
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 0 0;
}

.account-selectbox select[multiple], select[size] {
    height: auto;
    width: 300px;
    padding: 5px;
    margin-bottom: 20px;
}


.goto-link {
    color: #494949;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
}

.col-md-1.split {
    margin-left: 10px;
}

.col-md-4.rac-right {
    float: left;
    width: 45%;
}

.radio-group2 {
    margin: 26px 0 17px -43px;
}

.ips2 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    /*  background-position-x: 97%;
    background-position-y: 50%;*/
    background-position: 97%,50%;
    height: 41px;
    margin: 11px 0 0 -24px;
    width: 320px;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
}

select::-ms-expand {
    display: none;
}



.form-control-select, .form-control-select2, .form-control-select3, .form-control-select4 {
    text-indent: 0.01px;
    text-overflow: "" !important;
}


.form-control-select2 {
    display: block;
    margin: 10px 0 0 0;
    width: 97%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    /*  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.ips3 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    /*  background-position-x: 97%;
    background-position-y: 50%;*/
    background-position: 97%,50%;
    height: 41px;
    margin: 11px 0 0 -24px;
    width: 214px;
    float: left;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
}

.form-control-select3 {
    display: block;
    margin: 10px 0 0 0;
    width: 97%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
    /*  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.ips4 select {
    background-color: #fff!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #9C9C9C;
    background: url("../images/select_downarrow.png");
    height: 30px;
    background-repeat: no-repeat;
    /*  background-position-x: 97%;
    background-position-y: 50%;*/
    background-position: 97%,50%;
    height: 41px;
    margin: 11px 0 0 10px;
    width: 95px;
    float: left;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    -moz-box-shadow: inset 0 0 7px #ccc;
    box-shadow: inset 0 0 7px #ccc;
}

.form-control-select4 {
    display: block;
    margin: 10px 0 0 0;
    width: 97%;
    height: 34px;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    /*  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.addproducts-btn {
    display: inline-block;
    background: #525151;
    padding: 13px 12px;
    width: 40%;
    margin: 14px 0 8px 172px;
    font-weight: normal;
    font-size: 13px;
    white-space: nowrap;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    border: 0px solid transparent;
    -webkit-user-select: none;
    text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #f59c34;
    /*border-color: #285e8e;*/
}

/* ______Tab Panel ____________________________________________________________________*/

.tabpanel {
    position: relative;
    left: -21px;
    float: left;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    background: #525151;
    height: 24px;
    width: 316px;
    margin: 30px 0 0 0;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        cursor: default;
        background-color: #FF7000;
        border: 0px;
        border-bottom-color: transparent;
        color: #fff;
        font-size: 13px;
        border-radius: 0;
        line-height: 0px;
        height: 20px;
        position: relative;
        top: 1px;
    }

    .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
        position: relative;
        top: -8px;
    }

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px;
    color: #fff;
    font-size: 13px;
    top: -7px;
}

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: transparent;
        border: 1px solid transparent;
    }

.producttab {
    display: block;
    border: 1px solid #CACACA;
    list-style-type: none;
    float: left;
    line-height: 22px;
    background: #fff;
    width: 316px;
    height: 250px;
    overflow: auto;
    margin: -26px 0 0 0;
}

.product-even {
    background: #f8f8f8;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
}

.product-odd {
    background: #eeeeee;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
}

.servicetab {
    display: block;
    border: 1px solid #CACACA;
    list-style-type: none;
    float: left;
    line-height: 22px;
    background: #fff;
    width: 316px;
    height: 250px;
    overflow: auto;
    margin: -26px 0 0 0;
}

.service-even {
    background: #f8f8f8;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
    height: 36px;
}

.service-odd {
    background: #eeeeee;
    margin: 0 0 0 -40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
    height: 36px;
}

.servicelist {
    float: left;
}

.bigclose2 {
    float: right;
    padding: 4px;
}

.mandatory-txt {
    position: relative;
    top: -36px;
    left: -17px;
    font-size: 11px;
    color: #AFADAD;
    width: 38%;
}

.parsley-error-list li {
    padding-top: 10px;
    color: #f4911e;
}

/* _________Scroll________________  */
form ::-webkit-scrollbar {
    width: 12px;
}


form ::-webkit-scrollbar-track {
    background: #e3e3e3;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


form ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #4f4f4f;
}

    form ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(227,227,227,0.4);
    }


.amctwin-txt2 a {
    color: #FC9B0B;
}


/* ______________________  */

/* _____ [8] CSS MEDIA QUERIES ________________________________________________________ */


@media (min-width: 992px) and (max-width: 1199px) {
    ul.slides .text_bg {
        margin-top: 12px;
    }

    :root ul.slides .text_bg {
        height: 70%\9 !important;
        margin-top: 10px\9;
    }
}


@media (min-width: 1200px) {
    ul.slides .text_bg {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        background: url('../../images/home-blue-circle-big.png') no-repeat left top;
    }

    .flex-viewport {
        top: 0;
    }

    .car-menu {
        margin: -51px 0 0 0;
    }

    .px-BtmBox-hotspot div {
        height: 100%;
    }

    .px-BtmBox li p {
        height: 75px;
        margin-bottom:20px;
    }

    :root ul.slides .text_bg {
        /*height: 70%\9 !important;
  margin-top: 40px\9;*/
    }

    .mainmenulink {
        top: 17px;
    }

    .container {
        max-width: 100%;
    }

    .col-md-4.logo {
        /*      padding:12px 0 0 0;*/
        float: left;
    }

    .foonav {
        font-size: 11px !important;
    }

    .subnav_web_templates {
        font-size: 11px !important;
    }

    .popover {
        position: absolute;
        top: 0px !important;
        /*left: -1765px !important;*/
        z-index: 1010;
        display: none;
        padding: 1px;
        text-align: left;
        white-space: normal;
        background-color: #fff;
        background-clip: padding-box;
        max-width: 1168% !important;
        height: 74px !important;
        border-radius: 0px !important;
        border: 0px solid #ccc;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .popover-content {
        padding: 0 14px;
        /*width: 1775px !important;*/
    }

    .search-form-field {
        display: block;
        padding: 0 0 0 11px;
        /*      width: 96.5%;*/
        height: 51px;
        margin: 0px 0 -9px 0px;
        font-size: 16px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 0px solid #ccc;
        border-radius: 0px;
        /*  -webkit-box-shadow: inset 0 0 7px #ccc;
        -moz-box-shadow: inset 0 0 7px #ccc;
        box-shadow: inset 0 0 7px #ccc;*/
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .col-md-2.mainmenu1:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu2:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu3:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu4:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu5:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    ul.sub-menu1 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: alpha(opacity=90);
        width: 96% !important;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu2 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: alpha(opacity=90);
        width: 96%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu3 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: alpha(opacity=90);
        width: 96%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu4 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: alpha(opacity=90);
        width: 96%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }

    ul.sub-menu5 {
        display: none;
        background: #616161;
        opacity: .90;
        filter: alpha(opacity=90);
        width: 96%;
        position: fixed;
        left: 40px;
        top: 150px;
        z-index: 10;
    }


    .leftarrow {
        background: url('../images/blue-leftarrow.png') no-repeat transparent;
        width: 9px;
        height: 22px;
        position: absolute;
        top: 6px;
        left: 14px;
    }

    .pl-productname {
        background: #f5f3f3;
        font-size: 11px;
        padding: 36px 22px;
        margin: 0 !important;
        text-align: center;
        border-bottom: 1px solid #a5a5a5;
    }

    .subnav_web_templates {
        padding: 17px 53px 0 0;
        background: #777777;
        color: #fff;
        font-size: 10px;
        float: right;
    }
}


@media (min-width: 992px ) {

    .arrowbtn {
        display: block;
        background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
        padding: 18px 16px 0 16px;
        position: relative;
        left: 245px;
        top: -32px;
        cursor: pointer;
        margin-top: 14px;
        margin: 0 auto;
        border: 0px;
        width: 32px;
        height: 38px;
        float: left;
    }

    .foonav {
        font-size: 10px;
    }

    .subnav_web_templates {
        font-size: 10px;
    }

    .container {
        max-width: 100%;
    }

  
}


/*@media (min-width: 1024px )  and (max-width : 1200px) {
    
    



#px-Testimonial{
    
    height: 400px;  
}

#px-Program{ height: 400px;}

#px-Talktous{ height: 350px;}




.btn.btn-warning {width:110px;position: relative;top: -30px;z-index:9;left:50%; margin-left:-55px; margin-bottom:20px;}

    
}*/

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

    .px-BtmBox span {
        color: #000;
    }

    #px-Testimonial {
        height: 400px;
    }

    #px-Program {
        height: 400px;
    }

    #px-Talktous {
        height: 350px;
    }


    .btn.btn-warning {
        width: 108px;
        position: relative;
        top: -30px;
        z-index: 9;
        left: 50%;
        margin-left: -54px;
        margin-bottom: 20px;
    }
}


@media (min-width: 768px ) and (max-width : 1023px) {

    .btn-container {
        bottom: 10px;
    }

    .slide-content .slide-author {
        bottom: 40px;
    }

    .mainmenu-icon {
        margin-left: -10px;
    }


    .mainmenu-icon2 {
        margin-left: -10px;
    }

    .mainmenu-icon3 {
        margin-left: -20px;
    }

    .mainmenu-icon4 {
        margin-left: -29px;
    }

    .mainmenu-icon5 {
        margin-left: -8px;
    }


    .car-menu {
        margin: -49px 0 0 0;
    }



    #px-Testimonial {
        height: 400px;
    }

    #px-Program {
        height: 400px;
    }

    #px-Talktous {
        height: 350px;
    }





    .btn.btn-warning {
        width: 108px;
        position: relative;
        z-index: 9;
        left: 50%;
        margin-left: -54px;
        margin-bottom: 20px;
    }



    .container {
        max-width: 100%;
    }



    .am_conversion {
        overflow-x: hidden;
    }

    .subnav_web_templates {
        padding: 0px 84px 10px 0;
        background: #777777;
        color: #E9E9E9;
        font-size: 9px;
        float: right;
    }


    .col-md-2.mainmenu1:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }

    .col-md-2.mainmenu2:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }

    .col-md-2.mainmenu3:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }

    .col-md-2.mainmenu4:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 19px;
    }

    .col-md-2.mainmenu5:hover {
        border-bottom: 4px solid #f4911e;
        padding-bottom: 17px;
    }


    .col-md-6.newsletter {
        background: #f39a32;
        height: 47px;
        margin: 0 0 0px 0;
        width: 100%;
    }

    .col-md-2.control-label {
        color: #fff;
        width: 37%;
        padding: 14px 0 0 0px;
        margin: 0 0 0 -25%;
    }

    .form-control-nl {
        margin: -27px 0 0 50%;
    }

    .newsletter-btn {
        margin-left: 50%;
    }


    ul.slides p {
        font-size: 16px;
    }

    .container {
        max-width: 100%;
    }

    .col-md-4.logo {
        padding: 12px 0 0 37px;
    }

   
    .prog-link {
        background: #3C3C3C;
        width: 76px !important;
        height: 76px;
        color: #fff;
        padding: 14px 0px 0 0px !important;
        margin: 0 0 0 0px;
        text-align: center;
    }

    ul.sub-menu1 {
        left: -76px;
        top: 72px;
        width: 700px;
    }

    ul.sub-menu2 {
        left: -180px;
        top: 72px;
        width: 735px;
    }

    ul.sub-menu3 {
        left: -313px;
        top: 72px;
        width: 735px;
    }

    ul.sub-menu4 {
        left: -446px;
        top: 72px;
        width: 735px;
    }

    ul.sub-menu5 {
        left: -600px;
        top: 70px;
        width: 735px;
    }

    ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5 {
        left: 0 !important;
        width: 100% !important;
    }

    .col-md-10.energymenu {
        width: 85%;
        margin: 0 0 0 0px;
        position: relative;
        top: -3px;
    }

    .mainmenulink {
        left: 0px;
        font-size: 12px;
    }



    .mainmenu-icon6 {
        background: url('../images/spritesheet.png') no-repeat 99.433% 50.273%;
        height: 81px;
        float: left;
    }

    .col-md-2.mainmenu1 {
        position: relative;
        top: 7px;
        float: left;
        width: 16%;
        padding: 0 3px 0 0px;
    }

    .col-md-2.mainmenu2 {
        position: relative;
        top: 7px;
        float: left;
        width: 20.5%;
        padding: 0 3px 0 0;
    }

    .col-md-2.mainmenu3 {
        position: relative;
        top: 7px;
        float: left;
        width: 20.5%;
        /* padding: 0 3px 0 0; */
    }

    .col-md-2.mainmenu4 {
        position: relative;
        top: 7px;
        float: left;
        width: 17.5%;
        padding: 0 3px 0 0;
    }

    .col-md-2.mainmenu5 {
        position: relative;
        top: 9px;
        width: 19.5%;
        padding: 0 0px 0 0px;
    }

    .search {
        width: 4%;
        float: right;
        position: relative;
        right: 18px;
        top: 0px;
    }




    .search-form-field {
        height: 66px;
        margin: -10px 6px -9px 12px;
    }

    .am_conversion {
        height: auto;
    }



    .flex-viewport {
        width: 100%;
        top: 0;
    }

    .menu-container {
        overflow: scroll;
    }




    @-moz-document url-prefix() {
        .flex-viewport;

{
    top: 0px;
}

}

/*.btn.btn-warning {
width: 110px;
position: relative;
top: 0px;
z-index: 9;
left: 50%;
margin-left: -55px;
margin-bottom: 20px;
}
*/

}

@media (min-width: 680px ) and (max-width : 900px) {

    ul.slides .text_bg {
        width: 222px;
        height: 222px;
        margin-left: -111px;
        padding: 0 30px;
        background: url('../../images/home-blue-circle-tablet.png') no-repeat left top;
    }

    ul.slides p {
        font-size: 15px;
    }
}

@media (min-width: 768px ) and (max-width : 1000px) {
    .px-phoneimgwrap, .px-phoneimg {
        height: 570px;
    }

    .px-phoneimg {
        background-color: #fff;
    }
}

@media (min-device-width: 768px ) and (max-device-width : 1200px) {
    .px-BtmBox {
        top: 50px !important;
    }

    .contentslider .flex-direction-nav .flex-prev, .contentslider .flex-direction-nav .flex-next {
        width: 60px;
        height: 60px;
    }

    
}

@media (min-width: 900px ) and (max-width : 1023px) {

    ul.slides .text_bg {
        width: 275px;
        height: 275px;
        margin-left: -138px;
        padding: 0 30px;
        background: url('../../images/home-blue-circle-landscape.png') no-repeat left top;
    }

    ul.slides p {
        font-size: 18px;
    }
}

@media (min-width: 768px ) and (max-width : 1199px) {



    .topnav-right {
        position: relative;
        /*height: 10px;*/
       
        float: right;
    }
    .px-BtmBox .contentslider p {
       min-height:190px;
       overflow:hidden;
       padding-bottom:10px;
    }
}



@media (max-width: 767px) {

    /*  .welcome-links {
    position: relative;
    top: 66px;
    border-bottom: 1px solid #ddd;
    }*/

    .welcome-links {
        margin: 26px 0 0 5px !important;
    }


    /* Header style */

    .foonav {
        font-size: 9px;
    }

    

    .col-md-2.mainmenu1, .col-md-2.mainmenu2, .col-md-2.mainmenu3, .col-md-2.mainmenu4, .col-md-2.mainmenu5 {
        width: 100%;
    }

    .row.header {
        height: 100%;
    }

        .row.header .col-xs-12 {
            border-top: 1px solid rgb(167, 162, 162);
        }

    .topnav-right {
        right: 10px;
        float: left;
        margin-top: 10px;
    }

    .prog-link {
        width: 100% !important;
        height: 100%;
        padding: 20px 32px 40px 38px !important;
        margin: 0px;
        position: absolute;
    }

    .col-md-10.energymenu {
        background: white;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 60px;
        padding-bottom: 15px;
    }

    .menu1, .menu2, .menu3 {
        top: 0px;
        float: none;
    }

    .collapsableMenu {
        display: inline;
    }

    .top-icon4 {
        background: url('../images/spritesheet.png') no-repeat 9.433% 60%;
        padding: 14px;
        width: 48px;
        float: left;
    }

    .toplink4 {
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
    }

    .search {
        width: 75px;
        float: right;
        position: absolute;
        right: 0;
        top: 66px;
        padding: 0 0 0 16px;
    }

        .search .popover {
            height: 39px !important;
        }

        .search .popover-content {
            padding-top: 4px;
        }

    .search-form-field {
        height: 100%;
    }

    .mainmenu-icon6 {
        width: 100%;
        height: 40px;
    }

    .toplink1, .toplink2, .toplink3 {
        display: none;
    }

    .mainnav-home {
        display: none;
        /*opacity: 1;*/
        position: relative;
        height: 100%;
        border-top: none;
    }

    .flex-viewport {
        width: 100%;
    }

    .flex-direction-nav {
        display: none;
    }
	#homeslider .flex-control-nav{
	bottom: 51px;
	}
	.flex-control-paging li a{
	color:transparent;
	}
	.flex-control-nav{
	bottom: -38px;
	
	}
    .menu-container {
        overflow: scroll;
    }

    .menu:hover {
        background: none;
        color: #333;
    }

    .mainmenulink {
        top: 22px;
    }

    ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4, ul.sub-menu5 {
        position: fixed;
        display: block;
        /*left: 0px;*/
        left: 100%;
        top: 0;
        padding: 0px;
        height: 100%;
        opacity: 1;
        background: #444343;
        transition: linear .5s;
        width: 100%;
    }

    .sub-menu1 li, .sub-menu2 li, .sub-menu3 li, .sub-menu4 li, .sub-menu5 li {
        display: block;
        padding: 0px;
        left: 0px;
    }

    .submenu-btn {
        display: block;
        border-radius: 0px;
    }

    .subBack-btn {
        display: block;
        padding: 7px;
        width: 90px;
        background: black;
        color: white;
        text-align: center;
    }
    /*.mainmenu1 li:first-child, .mainmenu2 li:first-child, .mainmenu3 li:first-child, .mainmenu4 li:first-child, .mainmenu5 li:first-child{
        margin-top: 41px;
    }
    .sub-menu2:before {
        content: "Back";
        width: 100px;
        height: 100px;
        background: black;
        position: absolute;
        padding-left: 35px;
        padding-top: 10px;
        color: white;
    }*/

    /* --Header style-- */
    .am-container {
        width: 90%;
    }

    .am_conversion {
        height: 100%;
    }

    .am-header {
        width: 100%;
    }

    .bs-example.twinbtn {
        width: 100%;
        left: 0px;
    }

    .arrowicon1, .arrowicon2 {
        left: 0px;
    }

    .btn.btn-default.home {
        width: 100%;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .amctwin-txt1 {
        left: 0px;
        float: none;
        font-size: 12px;
    }

    .btn.btn-default.professional {
        /*margin-bottom: 20px;*/
        width: 100%;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
	.btn.btn-default.requestquote {
	  margin-bottom: 20px;
	  padding: 14px 0;
	  width: 100%;
	  font-family: "open sans";
	  font-weight: normal;
	  font-size: 12px !important;
	}
    .amctwin-txt2 {
        left: 0px;
        float: none;
        font-size: 12px;
        white-space: normal;
    }

    .arrowicon1 {
        background: url("../images/spritesheet.png") no-repeat scroll 86.433% 36.273% transparent;
        height: 39px;
        padding: 13px 35px 0 0px;
        position: relative;
        top: 10px;
        left: 45px !important;
        width: 48px;
    }

    .arrowicon2 {
        background: url("../images/spritesheet.png") no-repeat scroll 86.433% 36.273% transparent;
        height: 39px;
        padding: 13px 35px 0 0px;
        position: relative;
        top: 9px;
        left: 12px !important;
        width: 48px;
    }
    /* Footer style */
    /*  .col-md-2.control-label {
        color: #fff;
        width: 86%;
        text-align: center;
    }*/
    .col-md-2.control-label {
        color: #fff;
        width: 95%;
        padding: 14px 0 0 0;
        margin: 0 0 0 11px;
        text-align: center;
    }

    .col-md-4.contact-info {
        position: relative;
        top: 0;
        left: 0;
        width: 0;
    }

    .horizontal-line-divider {
        height: 18px;
        width: 100%;
        margin-bottom: 0px;
        background: url(../images/news_bg_horizontal.png) repeat-x;
    }

    .social-container {
        margin: 3px auto;
        width: 64%;
        padding: 0px;
        height: 39px;
    }

    .col-md-6.newsletter {
        background: #f39a32;
        height: 105px;
        width: 100%;
        margin: 61px 0 0 0;
    }

    .phoneno {
        float: left;
        width: 55%;
        position: relative;
        left: -26px;
        top: 15px;
    }

    .catalog {
        float: left;
        position: relative;
        left: 107px;
        top: 12px;
        width: 200px;
    }

    .arrowbtn {
        background: url('../images/spritesheet.png') no-repeat 86.433% 35.273%;
        display: block;
        position: relative;
        float: right;
        width: 32px;
        height: 38px;
        top: -31px;
        margin-bottom: -32px;
    }

    .form-control-nl {
        display: block;
        width: 80%;
        height: 34px;
        padding: 8px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        margin-left: 15px;
    }
    /* --Footer style-- */
    .leftarrow {
        background-image: url('../images/product-table-arrow.gif');
        width: 37px;
        height: 59px;
        left: inherit;
        right: 0px;
        top: 0;
        background-repeat: no-repeat;
        background-position: left top;
        position: absolute;
        z-index: 9999;
        cursor: pointer;
    }
	
    .SlideOnn {
        background-position: left bottom;
    }

    /* Footer menus style */

    .footermenu-container {
        width: 100px;
        position: relative;
        top: 17px;
        left: -17px;
    }

    .footer-sub-menu1 {
        position: fixed;
        left: 0px;
        top: 100%;
        padding: 0px;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: #444343;
        transition: linear .5s;
        z-index: 2;
    }

        .footer-sub-menu1 li {
            display: block;
            padding: 0px;
            left: 0px;
        }

    .subnav_web_templates {
        background: #777777;
        color: #CACACA;
        font-size: 10px;
        float: right;
        position: relative;
        right: -15px;
        top: -18px;
        width: 220px;
        z-index: 1;
    }

    .footer-subBack-btn {
        display: block;
        padding: 7px;
        width: 90px;
        background: black;
        color: white;
        text-align: center;
    }

        .footer-subBack-btn:hover {
            color: white;
        }


    ul.slides p {
        font-size: 14px;
    }
	

    ul.slides .text_bg {
        background-size: 230px 230px;
        left: 50%;
        width: 230px;
        height: 230px;
        margin: 0 0 0 -115px;
		top:-25px;
    }

    #px-Program {
        top: 0px;
    }

    #px-Testimonial {
        top: 0px;
    }

    #px-Talktous {
        left: inherit;
        top: 0px;
    }

    #secondary-slider {
    }

    .px-BtmBox-hotspot {
        opacity: 1;
    }





    .px-BtmBox2 span {
        color: #000;
    }

    .px-BtmBox2 {
        min-height: 150px; /*position:absolute;*/
        background: rgba(255, 255, 255, 0.8);
        0 /* top:25px;*/ border:1px solid #e2e2e2;
        width: 100%;
    }

        .px-BtmBox2 span {
            padding: 20px 0;
            text-align: center;
            color: #f2911e;
            display: block;
            font-weight: bold;
            background: url('../images/span-bg.png') center bottom no-repeat;
            margin: 0 10px;
        }

    .btn.btn-warning {
        width: 108px;
        position: relative;
        top: 0px;
        z-index: 9;
        left: 50%;
        margin-left: -54px;
        margin-bottom: 20px;
    }

    .px-BtmBox2 p {
        margin: 0px 10px 0px !important;
        text-align: center;
        color: #696969 !important;
        line-height: 25px;
        background: url('../images/span-bg.png') center bottom no-repeat;
        padding: 0 0 25px;
        width: 95% !important;
        position: relative !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-size: 14px !important;
        top: 0 !important;
    }
}

.col-md-4.logo {
    padding: 12px 0 0 37px;
    height: 94px;
}

.ptBox-touch.px-BtmBox {
    text-align: center;
}

.ptBox-touch .btn.btn-warning {
    width: 150px;
    margin: 0 0 20px 0;
    left: auto;
}
/* Testimonial page Slider */
.contentslider .slides li {
    float: left;
    width: auto;
}

.px-BtmBox .contentslider p {
    color: #000;
}

.contentslider {
    position: relative;
    overflow: hidden;
}

.px-BtmBox-hotspot {
    z-index: 11;
}

.flex-direction-nav {
    z-index: 12;
}

.contentslider .flex-direction-nav .flex-prev, .contentslider .flex-direction-nav .flex-next {
    width: 48px;
    height: 49px;
    top: -35px;
    left: 0;
    z-index: 12;
    opacity: 1;
}

.contentslider .flex-direction-nav .flex-next {
    right: 0;
    left: auto;
}



.contentslider .flex-direction-nav a.flex-prev,
.contentslider .flex-direction-nav a.flex-next {
    width: 11px !important;
    height: 21px !important;
    bottom: 0;
    top: auto;
    bottom: 13px;
}

.contentslider .flex-direction-nav a.flex-prev {
    background: url('../images/testi-arrow-left.png') no-repeat transparent;
    left: 14px;
}

.contentslider .flex-direction-nav a.flex-next {
    background: url('../images/testi-arrow-right.png') no-repeat transparent;
    right: 14px;
    
}



.px-BtmBox .contentslider p {
    background: none;
    font-size: 14px;
    overflow:hidden;
    padding-bottom:0;
}
.px-BtmBox .contentslider p a,.px-BtmBox .contentslider p a:hover{
    color:#696969
}

.slide-content {
    position: relative;
}

    .slide-content .btn-warning {
        left: 0;
        margin: 0;
        width: auto;
        border-radius: 5px;
    }

.btn-container {
    text-align: center;
    /*position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;*/
}

.slide-content .slide-author {
    /*position: absolute;
    bottom: 70px;
    width: 100%;*/
    text-align: center;
    padding:5px 0 11px 0;
    /*left: 0;*/
}
.flexslider {
    position:relative;
}
.no-touch .px-phoneimgwrap .btn.btn-warning.btn-touch{
display:none;
}
.touch .px-phoneimgwrap .btn.btn-warning.btn-touch{width:130px;
position: absolute;
top: 82.5%;
left: 50%;
margin: 0 0 0 -65px;
padding:10px 15px;overflow:hidden;
height:40px;
display:block;
}

.touch .bs-example.twinbtn .tooltip{ display:none !important;  }
.touch .px-BtmBox-hotspot{ display:none;}
.bs-example.twinbtn .tooltip{ }

@media only screen and (min-width: 767px) and (max-width: 768px) {
.touch .px-BtmBox{height: 490px !important;}
}
@media only screen and (min-width: 1023px) and (max-width: 1024px) {
.touch .contentslider .flex-direction-nav a.flex-prev, .touch .contentslider .flex-direction-nav a.flex-next {
bottom:30px;
}
html { -webkit-text-size-adjust: none; -webkit-font-smoothing: auto; /*-webkit-transform: translate3d(0,0,0);*/}
}
@media only screen and (max-width: 1024px) and (min-width: 992px){
.touch .px-phoneimgwrap .btn.btn-warning.btn-touch{
top: 77.5%;
}

}

@media only screen and (max-width: 992px) and (min-width: 768px){
.leftarrow {
background-image: url('../images/product-table-arrow.gif');
height: 51px;
background-position: left -3px;
z-index: 14;
display: block !important;
right: 0 !important;
width: 37px;
position: absolute;
background-repeat: no-repeat;
cursor: pointer;
top: 0;
}
.SlideOnn {
background-position: left -61px;
}
}
@media only screen and (max-width: 767px){
.px-phoneimgwrap{}
.px-BtmBox2{
height: 362px;
}
}

.contentslider .flex-direction-nav a.flex-prev, .contentslider .flex-direction-nav a.flex-next {

bottom: 30px;
}
@media only screen and (max-width: 1024px) and (min-width: 600px){
.contentslider .flex-direction-nav a.flex-prev, .contentslider .flex-direction-nav a.flex-next {
bottom: 30px;
}
.touch .contentslider{
height:80%;
}
.touch .flex-viewport,
.touch .slides,
.touch .contentslider .slides li,
.touch .slide-content
{
height:100%;
}
.touch .slide-content .slide-author{
bottom:30px;
left:0;
width:100%;
position:absolute;
}
}
.touch .slide-content .slide-author strong{
display: block;
padding: 0 25px;
}

.no-touch .contentslider{
height:70%;
}
.no-touch .flex-viewport,
.no-touch .slides,
.no-touch .contentslider .slides li,
.no-touch .slide-content
{
height:100%;
}
.no-touch .slide-content .slide-author{
bottom:30px;
left:0;
width:100%;
position:absolute;
}
.position {
    display: inline-block;
    width: 1150px;
}

@media (min-width: 1025px){
.touch .px-BtmBox{ margin-top:25px;}
.touch .px-phoneimgwrap .btn.btn-warning.btn-touch{top: 75.5%;}
}
@media (max-width :1100px){
.menu-container{ width:90%; float:left; overflow:hidden;}
.sub_newsletter.top-prog{ float:right; top:2px; margin-right: 3px;}
.car-menu .menusession{ width:100%;}
.position{position:relative;width: 77%;float:left;}
.non_mobile_dev .sub_newsletter.top-prog{width:135px;}
.leftarrow {
	display: block;
	background-image: url("../images/product-table-arrow.gif");
    background-position: left -3px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block !important;
    height: 51px;
    position: absolute;
    right: 0 !important;
    top: 0;
    width: 37px;
    z-index: 14;
}
}

.menusession{ text-align:center; width:80%;}
.menu-container{ display:inline-block;}

/*Request a Quote form Front Page*/
.modified_form  .modal-dialog{width: 50% !important;}
.modified_form .rac-form-field{width:100%;margin: 18px 0 0;}
.modified_form .form-control-select{width:100%;margin: 20px 0 0;}
.modified_form .radio-group2 { margin: 13px 0 17px;}
.modified_form .rac-radio1,.modified_form .rac-checkbox{padding-left:0px;}
.modified_form .form-control-select4 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 !important;
    box-shadow: 0 0 7px #ccc inset;
    display: inline;
    font-size: 13px;
    height: 41px;
    line-height: 1.42857;
    margin: 20px 0 0;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.modified_form .ips3 select{margin: 20px 0 0;width:100%;}
.modified_form .addproducts-btn{float:right;}
.modified_form .tabpanel {
    float: left;
    position: relative;
    width: 100%;
}
.modified_form .col-md-12.security {
    float: left;
    margin: 0;
    padding: 20px 0;
}
.modified_form #wrap {
    border: 1px solid #cccccc;
    border-radius: 10px;
    float: left;
    padding: 3px;
    width: 203px;
}
.modified_form img#refresh {
    cursor: pointer;
    float: left;
    margin-left: 4px;
    margin-top: 30px;
}
.modified_form .radio-group {
    margin: 5px 0 0;
}
.modified_form form {
    margin-bottom: 0px !important;
}
.modified_form .rac-form-field3, .modified_form .rac-form-field4, .modified_form  .rac-form-field5 , .modified_form  .ips2 select{
  width: 100%;
}
.modified_form .rac-form-field5 {
  margin: 20px 0 0;
}
.modified_form #code {  
  border: 1px solid #ccc; 
  box-shadow: 0 0 7px #ccc inset;
  color: #555;
  width:86%;
  padding:5px;
}
.modified_form .error {
  color: #cc0000;
  float: left;
  font-size: 12px;
  font-style: italic;
  margin-top: -30px;
  width: 200px;
}
.modified_form .tel  .parsley-error-list li {
  padding-top: 10px !important;
  width: 200px;
}
.modified_form .ips select {
  color: #9c9c9c;
}
.requestquote .arrowicon3 {
  background: url("../images/spritesheet.png") no-repeat scroll 86.433% 36.273% transparent;
  height: 39px;
  left: 12px !important;
  padding: 18px 35px 0 0; 
  position: relative;
  top: 14px;
  width: 48px;
}
/*Top header icons*/
.top-icon7 {
    background: url('../images/house-icon.png') no-repeat;
    padding: 12px;
    width: 38px;
    float: left;
	background-size:22px;
	background-position: bottom right;
}
.top-icon8 {
    background: url('../images/quote-icon.png') no-repeat 18.433% 33.273%;
    padding: 14px;
    width: 28px;
    float: left;
	background-size:22px;
	background-position: bottom right;
	cursor: pointer;
}
.top-icon7, .top-icon8{
display:inline-block;
vertical-align:middle;
float:none;
}
.toplink7,.toplink8 {
    color: #525151;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.menu8 {
cursor:pointer;
}
